<li id="club-item-<%= club.id %>" class="col-md-6 club-item">
  
  <%= link_to club do %>

    <div class="club-item-image", 
         style="background-image: url(
                 '<%= club.cover_photo.url() if 
                      club.cover_photo.exists? %>')">
      <div class="club-item-location-container">
        <span class="club-item-location">
          <%= club.city %>, <%= club.state %>
        </span>
      </div>
    </div>
      
    <span class="club-item-name">
      <%= club.name %>
    </span>

    <span class="club-item-conversations">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
      <%= pluralize(Post.where(club_id: club.id).count, "Conversation") %>
    </span>

    <span class="club-item-members">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <%= pluralize(club.memberships.count, "Member") %>
    </span>
  <% end %>
</li>