<li id="searched-club-item-<%= club.id %>" class="searched-club-item">
  
  <%= link_to club do %>
    <div class="row vertical-align searched-club-item-content hidden-xs">
      
      <div class="col-xs-3">
        <div class="searched-club-item-image", 
             style="background-image: url(
                     '<%= club.cover_photo.url() if 
                          club.cover_photo.exists? %>')"></div>
      </div>
      
      <div class="col-xs-9">
        
        <span class="searched-club-item-name">
          <%= club.name %>
        </span>
        
        <span class="searched-club-item-location">
          <%= club.city %>, <%= club.state %>
        </span>
        
        <span class="searched-club-item-conversations">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <%= pluralize(Post.where(club_id: club.id).count, "Conversation") %>
        </span>
        
        <span class="searched-club-item-members">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <%= pluralize(club.memberships.count, "Member") %>
        </span>
      </div>
    </div>
  <% end %>
</li>