<li id="backend-question-item-<%= question.id %>" 
    class="row backend-question-item">
  
  <div class="col-md-4 vertical-align">
    
    <div class="avatar-and-name">
      
      <% if question.is_anonymous == true %>
        <div class="backend-question-avatar avatar-general", 
             style="background-image: url(
                     https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
        </div>
        
      <% else %>
      
        <%= link_to question.user do %>
          <div class="backend-question-avatar avatar-general", 
               style="background-image: url(
                       '<%= question.user.avatar.url(:thumb) %>')">
          </div>
        <% end %>
      
        <% if question.user.online? %>
          <div class="online online-md-quinary hidden-xs"></div>
        <% end %>
      <% end %>
    </div>
    
    <div class="backend-question-detail">
      
      <% if question.is_anonymous == true %>
        <span class="backend-question-name">Anonymous</span>
        
      <% else %>
        <%= link_to question.user.full_name, 
                    question.user,
                    class: "backend-question-name" %>
      <% end %>
  
      <span class="backend-question-date">
        <%= time_ago_in_words(question.created_at).capitalize %> ago
      </span>
    </div>
  </div>
  
  <div class="col-md-8">
    
    <div class="backend-question">

      <span class="backend-question-content"><%= question.content %></span>
      
      <span id="backend-answer-number-<%= question.id %>"
            class="backend-answer-number">
        <%= pluralize(question.answers.count, "Comment") %>
      </span>
    
      <%= link_to question.vehicle.listing_name,
                  question.vehicle,
                  class: "backend-question-vehicle" %>
    </div>
                  
    <% if question.answers.exists? %>
      <ol id="backend-answers-list-<%= question.id %>"
          class="backend-answers-list">
        
        <% question.answers.each do |answer| %>
          <li id="backend-answer-item-<%= answer.id %>" 
              class="backend-answer-item">
            
            <div class="avatar-and-online">
              
              <%= link_to answer.user do %>
                <div class="backend-answer-avatar avatar-general", 
                     style="background-image: url(
                             '<%= answer.user.avatar.url(:thumb) %>')">
                </div>
              <% end %>
              
              <% if answer.user.online? %>
                <div class="online online-sm-primary hidden-xs"></div>
              <% end %>
            </div>
            
            <div class="backend-answer-detail">
              
              <%= link_to answer.user.full_name, 
                          answer.user, 
                          class: "backend-answer-name" %>
                          
              <span class="backend-answer-content"><%= answer.content %></span>
              
              <span class="backend-answer-date">
                <%= time_ago_in_words(question.created_at).capitalize %> ago
              </span>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
                
    <div class="backend-answer-form">
    
      <%= form_for @answer do |f| %>
      
        <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
        
        <div class="avatar-and-online">
          
          <%= link_to user_path(current_user) do %>
            <div class="backend-answer-form-avatar avatar-general", 
                 style="background-image: url(
                         '<%= current_user.avatar.url(:thumb) %>')">
            </div>
          <% end %>
          
          <% if current_user.online? %>
            <div class="online online-sm-secondary hidden-xs"></div>
          <% end %>
        </div>
        
        <div class="backend-answer-form-container">
          
          <%= f.text_field :content, 
                           placeholder: "Write a comment / answer.",
                           class: "form-control answer-form-control" %>
              
          <%= f.hidden_field :question_id, value: question.id %>
          
          <div class="answer-submit-container">
            <%= f.submit "Answer!", class: "answer-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // slideToggle
    
      $('#backend-answer-number-<%= question.id %>').click(function() {
        $('#backend-answers-list-<%= question.id %>').slideToggle();
      });
  });
</script>