<div class="question-form">
  <%= form_for @question do |f| %>
  
    <!--<(perc)= render 'shared/error_messages', object: f.object %>-->

    <%= image_tag (@question.user.avatar.url, class: "question-form-avatar") %>

    <div class="question-form-container">
  
      <%= f.text_field :content, 
                       placeholder: "Write your question here.", 
                       class: "form-control question-form-control" %>
      
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
      
      <div class="question-submit-container">
        <%= f.submit "Ask!", class: "question-submit" %>
      </div>
    </div>
  <% end %>
</div>