<div class="question-form">
  <%= form_for @question do |f| %>
  
    <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
    
    <% if logged_in? %>
      <div class="avatar-and-online">
        
        <%= link_to current_user do %>
          <div class="question-form-avatar avatar-general", 
               style="background-image: url(
                       '<%= current_user.avatar.url(:thumb) %>')">
          </div>
        <% end %>
        
        <% if current_user.online? %>
          <div class="online online-sm-primary hidden-xs"></div>
        <% end %>
      </div>
    
    <% else %>
      <div class="question-form-avatar avatar-general"
           style="background-image: url(
                   'https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg')">
      </div>
    <% end %>
    
    <div class="question-form-container">
  
      <%= f.text_field :content, 
                       placeholder: "Write your question here.", 
                       class: "form-control question-form-control" %>
                       
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
      
      <table class="question-controls-container">
        <tr>
          
          <td>
            <%= f.check_box :is_anonymous %>
            <%= f.label :is_anonymous, 
                        "Post Anonymously", 
                        class: "checkbox-anonymous" %>
          </td>
          
          <td class="question-submit-container">
            <%= f.submit "Ask!", class: "question-submit" %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>