<!--completed-->

<li id="question-item-<%= question.id %>" class="question-item">
  <div class="question-item-content">

    <div class="avatar-and-online">
      
      <%= link_to question.user do %>
        <div class="question-avatar avatar-general", 
                     style="background-image: url(
                             '<%= question.user.avatar.url(:thumb) %>')">
        </div>
      <% end %>
      
      <% if question.user.online? %>
        <div class="online online-sm-primary"></div>
      <% end %>
    </div>

    <div class="question-details">
      
      <%= link_to question.user.full_name, 
                  question.user, 
                  class: "question-name" %>

      <span class="question-content"><%= question.content %></span>
      
      <table class="question-date-container">
        <tr>
          
          <td class="answer-number">
            <%= pluralize(question.answers.count, "Comment") %>
          </td>
          
          <td class="question-date">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </td>
        </tr>
      </table>
    </div>
  </div>

  <% if question.answers.exists? %>
    <ol class="answers-list">
      
      <% question.answers.each do |answer| %>
        <li id="answer-item-<%= answer.id %>" class="answer-item">
          
          <div class="avatar-and-online">
            
            <%= link_to answer.user do %>
              <div class="answer-avatar avatar-general", 
                   style="background-image: url(
                           '<%= answer.user.avatar.url(:thumb) %>')">
              </div>
            <% end %>
                        
            <% if answer.user.online? %>
              <div class="online online-sm-primary"></div>
            <% end %>
          </div>
          
          <div class="answer-details">
            
            <%= link_to answer.user.full_name, 
                        answer.user, 
                        class: "answer-name" %>

            <span class="answer-content"><%= answer.content %></span>
            
            <div class="answer-date-container">
              <span class="answer-date">
                <%= time_ago_in_words(question.created_at).capitalize %> ago
              </span>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
  
  <% if logged_in? %>
    <div class="answer-form">
      
      <%= form_for @answer do |f| %>
      
        <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
        
        <div class="avatar-and-online">
          
          <%= link_to user_path(current_user) do %>
            <div class="answer-form-avatar avatar-general", 
                 style="background-image: url(
                         '<%= current_user.avatar.url(:thumb) %>')">
            </div>
          <% end %>
          
          <% if current_user.online? %>
            <div class="online online-sm-primary hidden-xs"></div>
          <% end %>
        </div>
        
        <div class="answer-form-container">
          
          <%= f.text_field :content, 
                           placeholder: "Write a comment / answer.",
                           class: "form-control answer-form-control" %>
              
          <%= f.hidden_field :question_id, value: question.id %>
          
          <div class="answer-submit-container">
            <%= f.submit "Answer!", class: "answer-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</li>