<!--completed-->

<li id="question-item-<%= question.id %>" class="question-item">
  <div class="question-item-content">

    <div class="avatar-and-online">
      
      <div class="question-avatar">
        <%= link_to (image_tag question.user.avatar.url), 
                    question.user %>
      </div>
      
      <% if question.user.online? %>
        <div class="online online-sm-primary"></div>
      <% end %>
    </div>

    <div class="question-details">
      
      <%= link_to question.user.name, question.user, class: "question-name" %>

      <span class="question-content"><%= question.content %></span>
      
      <table class="question-date-container">
        <tr>
          
          <td class="reply-number">
            <%= pluralize(question.replies.count, "Comment") %>
          </td>
          
          <td class="question-date">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </td>
        </tr>
      </table>
    </div>
  </div>

  <% if question.replies.exists? %>
    <ol class="replies-list">
      
      <% question.replies.each do |reply| %>
        <li id="reply-item-<%= reply.id %>" class="reply-item">
          
          <div class="avatar-and-online">
            
            <%= link_to (image_tag reply.user.avatar.url), 
                        reply.user, 
                        class: "reply-avatar" %>
                        
            <% if reply.user.online? %>
              <div class="online online-sm-primary"></div>
            <% end %>
          </div>
          
          <div class="reply-details">
            
            <%= link_to reply.user.name, reply.user, class: "reply-name" %>

            <span class="reply-content"><%= reply.content %></span>
            
            <div class="reply-date-container">
              <span class="reply-date">
                <%= time_ago_in_words(question.created_at).capitalize %> ago
              </span>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
  
  <% if logged_in? %>
    <div class="reply-form">
      
      <%= form_for @reply do |f| %>
      
        <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
        
        <div class="avatar-and-online">
          
          <div class="reply-form-avatar">
            <%= link_to (image_tag current_user.avatar.url), 
                        user_path(current_user) %>
          </div>
          
          <% if current_user.online? %>
            <div class="online online-sm-primary hidden-xs"></div>
          <% end %>
        </div>
        
        <div class="reply-form-container">
          
          <%= f.text_field :content, 
                           placeholder: "Write a comment / answer.",
                           class: "form-control reply-form-control" %>
              
          <%= f.hidden_field :question_id, value: question.id %>
          
          <div class="reply-submit-container">
            <%= f.submit "Reply!", class: "reply-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</li>