<!--completed-->

<%= form_for([@discussion, @discussion.discussion_comments.build]) do |f| %>

  <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
  
  <div class="row vertical-align discussion-comment-header">
    
    <div class="col-md-2 col-xs-3 avatar-and-online">
      
      <%= link_to current_user do %>
        <div class="discussion-comment-avatar avatar-general", 
             style="background-image: url(
                     '<%= current_user.avatar.url(:thumb) %>')">
        </div>
      <% end %>
      
      <% if current_user.online? %>
        <div class="online online-md-quaternary hidden-xs"></div>
      <% end %>
    </div>
    
    <div class="col-md-10 col-xs-9">
      
      <%= link_to current_user.full_name, 
                  current_user, 
                  class: "discussion-comment-title" %> 
      
      <span class="discussion-comment-stats">
        <%= Time.now.strftime("%D") %>
      </span>
    </div>
  </div>
  
  <div class="discussion-comment-form-container">
    
    <%= f.text_area :comment,
                    rows: 3,
                    placeholder: "Post a comment", 
                    class: "form-control discussion-comment-form-control" %>
                    
    <div class="discussion-comment-post-container">
      <%= f.submit "Post my comment", class: "discussion-comment-post" %>
    </div>
  </div>
<% end %>