<li id="customer-item-<%= customer.id %>" class="row customer-item">
  <%= link_to conversation_messages_path(customer.conversation) do %>
  
    <div class="col-md-4">
      <div class="row vertical-align">
        
        <div class="col-xs-2 avatar-and-online">
          
          <div class="customer-avatar avatar-general", 
               style="background-image: url(
                       '<%= customer.buyer.avatar.url(:thumb) %>')">
          </div>
        
          <% if customer.buyer.online? %>
            <div class="online online-md-primary hidden-xs"></div>
          <% end %>
        </div>
        
        <div class="col-xs-10">
          
          <span class="customer-name"><%= customer.buyer.full_name %></span>
                
          <span class="customer-listing">
            <%= customer.vehicle.listing_name %>
          </span>
        </div>
      </div>  
    </div>
    
    <div class="col-md-4">
      <div class="row">
        
        <div class="col-xs-2 hidden-md">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-xs-10">
          <p class="customer-address"><%= customer.vehicle.address %></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 customer-contact-container">
      <div class="row">
        
        <div class="col-xs-2 hidden-md">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-xs-10">
          
          <span class="contact-date">
            In <%= time_ago_in_words(customer.date).titleize %> 
            (<%= customer.date.strftime("%D") %>)
          </span>
          
          <span class="contact-status <%= customer.status %>">
            <%= customer.status.capitalize %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</li>