<!--complete-->

<div class="row feed-list">
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed6.jpg')">
          <div class="feed-item-credit">
            <span>Jaguar</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            The Striking Jaguar XK 120 Is a Good Investment for Vintage 
            Car Lovers
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            The Jaguar XK 120 is the perfect example of what a prototype should 
            do.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>2 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>252 Saves | 1 Question</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed8.jpg')">
          <div class="feed-item-credit">
            <span>Chris Ratcliffe, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-tag feed-item-icon" aria-hidden="true"></i>
            Aston Martin Now Has a $4,000 Stroller and a Yacht for Dad
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            The Aston brand can always be in sight. Other items include leather 
            weekend bags (£1,100), laptop holders (£690) and smaller cases 
            (£400). More items are in development.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>30 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>672 Saves | 2 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed9.jpg')">
          <div class="feed-item-credit">
            <span>Timothy Coulter, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-users feed-item-icon" aria-hidden="true"></i>
            Bikes So Beautiful You Have to Wait Months to Get One
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            Caren Hartley works out of Peckham, south London.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>35 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>514 Saves | 2 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row feed-list">
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed2.jpg')">
          <div class="feed-item-credit">
            <span>Cyrill Matter, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-tag feed-item-icon" aria-hidden="true"></i>
            Fall Style
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            Ewan McGregor Rides Again: Twenty years after Trainspotting, the 
            actor opens up about directing for the first time, his passion for 
            motorcycles, and making it to 45 in one piece.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>52 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>18K Saves | 18 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed3.jpg')">
          <div class="feed-item-credit">
            <span>Mathieu Heurtault, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            The Most Expensive Vintage Cars From Amelia Island’s $134 Million 
            Weekend
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            This Model J was considered the crown jewel of the Duesenberg 
            company at the time. It could easily exceed 100 mph, which was very 
            fast for its time, and came with a three-speed manual transmission 
            set at 265hp. The lot was sold by Gooding & Co.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>2 hours ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>5K Saves | 2 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed4.jpg')">
          <div class="feed-item-credit">
            <span>Steve West, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            The Craziest Bikes From the Handbuilt Motorcycle Show
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            A replica board tracker from Olds Motor Vehicle, which was founded 
            by Ransom Olds in 1897 and eventually became General Motors’ 
            Oldsmobile brand.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>2 hours ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>11K Saves | 11 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row feed-list">
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed1.jpg')">
          <div class="feed-item-credit">
            <span>Jim Heimann Collection / TASCHEN</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-tag feed-item-icon" aria-hidden="true"></i>
            These Stylish Vintage Ads Reveal How Much Car Culture Has Changed  
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            Buick was one of the premier car companies at the time of this ad in 
            1946, so it had massive advertising budgets to hire artists to 
            design original sketches and illustrations like this one.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>2 hours minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>8K Saves | 9 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed5.jpg')">
          <div class="feed-item-credit">
            <span>Chris Rovzar, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            France's Annual Cafe Racer Festival Brings Vintage Bikes to Historic 
            Track
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            A driver sits on his BMW R 100 RS motorcycle before the vintage 
            rally.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>3 hours ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>9K Saves | 18 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed7.jpg')">
          <div class="feed-item-credit">
            <span>Hannah Elliott, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            Up Close With the Superformance MKII Slab Side Cobra          
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            The open-top roadsters come with an optional rag-top cover ($2,595).
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>3 hours ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>21K Saves | 18 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>