<!--completed-->

<li id="feed-item-<%= feed_item.id %>" class="col-md-4 feed-item">
  <div class="feed-item-image">
    
    <%= link_to feed_item, target: "_blank" do %>
      <div class="feed-item-image-content", 
           style="background-image: url('<%= feed_item.photos[0].image.url() if 
                                             feed_item.photos.length > 0 %>')">
        
      </div>
    <% end %>
    
    <%= link_to favorite_vehicle_path(feed_item), 
                method: :put do %>
      <i class="fa fa-2x fa-heart-o wish-list-icon" aria-hidden="true"></i>
    <% end %>
    
    <% if feed_item.user.dealership_id.present? %>
      <div class="special-offer" 
           id="feed-item-special-offer-<%= feed_item.id %>">
        
        <i class="fa fa-lg fa-tag special-offer-icon"></i>
        
        <div type="button" 
             class="special-offer-button" 
             data-id="<%= feed_item.id %>"
             data-toggle="modal" 
             data-target="#modal-special-offer">
          Special Offer
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to feed_item, target: "_blank" do %>
    <div class="row">
          
      <div class="col-xs-3 feed-item-user">
          <div class="feed-item-user-content">
            <div class="avatar-and-online">
              
              <div class="feed-item-avatar avatar-general",
                   style="background-image: url(
                     '<%= feed_item.user.avatar.url(:thumb) %>')">
              </div>
            
              <% if feed_item.user.online? %>
                <div class="online online-lg-primary hidden-xs"></div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-xs-9">
          <div class="feed-item-info">
            
            <span class="feed-item-title">
              $<%= feed_item.price %> | <%= feed_item.listing_name %>
            </span>
  
            <div id="average-rating-feed-item-<%= feed_item.id %>", 
                 class="average-rating-feed-item"></div>
            
            <span class="feed-item-review-count">
              <%= pluralize(feed_item.reviews.count, "review") %>
            </span>
            
            <div class="feature-list">
            
              <i class="fa fa-lg fa-info-circle feature-list-icon"></i>
    
              <ol class="feature-list-content">
              
                <li>Motorcycle Features</li>
              
                <% if !feed_item.is_cruise_control && 
                      !feed_item.is_am_fm &&
                      !feed_item.is_cb_radio && 
                      !feed_item.is_navigation_system && 
                      !feed_item.is_heated_seats &&
                      !feed_item.is_heated_hand_grips && 
                      !feed_item.is_alarm_system && 
                      !feed_item.is_saddlebags &&
                      !feed_item.is_trunk && 
                      !feed_item.is_cycle_cover %>
                  <li>No Features Listed</li>      
                <% end %>
              
                <% if feed_item.is_cruise_control %>
                  <li>Cruise Control</li>
                <% end %>
                
                <% if feed_item.is_am_fm %>
                  <li>AM / FM Radio</li>
                <% end %>
                
                <% if feed_item.is_cb_radio %>
                  <li>CB Radio</li>
                <% end %>
                
                <% if feed_item.is_navigation_system %>
                  <li>Navigation System</li>
                <% end %>
                
                <% if feed_item.is_heated_seats %>
                  <li>Heated Seats</li>
                <% end %>
                
                <% if feed_item.is_heated_hand_grips %>
                  <li>Heated Hand Grips</li>
                <% end %>
                
                <% if feed_item.is_alarm_system %>
                  <li>Alarm System</li>
                <% end %>
                
                <% if feed_item.is_saddlebags %>
                  <li>Saddlebags</li>
                <% end %>
                
                <% if feed_item.is_trunk %>
                  <li>Trunk</li>
                <% end %>
                
                <% if feed_item.is_tow_hitch %>
                  <li>Tow Hitch</li>
                <% end %>
                
                <% if feed_item.is_cycle_cover %>
                  <li>Cycle Cover</li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('#average-rating-feed-item-<%= feed_item.id %>');
  
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= feed_item.average_rating %>
      });  
  });
</script>

<!--<div class="feed-item-info">-->
  <!--<div class="feed-item-stats">-->
    
    <!--<div class="feed-item-time">-->
    <!--  <span>-->
    <!--    <(perc)= time_ago_in_words(feed_item.created_at).capitalize %> ago-->
    <!--  </span>-->
    <!--</div>-->
    
    <!--<div class="feed-item-saves pull-right">-->
    <!--  <span>-->
    <!--    <(perc)= pluralize(feed_item.favorited_by.count, "Save") %> | -->
    <!--    <(perc)= pluralize(feed_item.questions.count, "Question") %>-->
    <!--  </span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="feed-item-title">-->
<!--  <p>-->
<!--    <i class="fa fa-tag feed-item-icon" aria-hidden="true"></i>-->
<!--    <(perc)= feed_item.listing_name %>-->
<!--  </p>-->
<!--</div>-->

<!--<div class="feed-item-info">-->
  
<!--  <p><(perc)= feed_item.summary %></p>-->
  
<!--  <div class="feed-item-stats">-->
    
<!--    <div class="feed-item-time">-->
<!--      <span>-->
<!--        <(perc)= time_ago_in_words(feed_item.created_at).capitalize %> ago-->
<!--      </span>-->
<!--    </div>-->
    
<!--    <div class="feed-item-saves pull-right">-->
<!--      <span>-->
<!--        <(perc)= pluralize(feed_item.favorited_by.count, "Save") %> | -->
<!--        <(perc)= pluralize(feed_item.questions.count, "Question") %>-->
<!--      </span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->