<li>
  <%= link_to vehicle_details_path do %>
    <div class="row">
      <div class="list-item-image col-md-4">
        <%= image_tag("jaguar.jpg", :class => "jaguar", :alt => "Jaguar") %>
      </div>
      <div class="list-item-text col-md-5">
        <h3 class="dealership">Les Stanford Jaguar</h3>
        <h2>Jaguar</h2>
        <h3 class="vehicle-description">
          Embrace the Inner West's irresistable creativity in a lively area full of
          alternative
        </h3>
      </div>
      <div class="price-details col-md-3">
        <h3>From</h3>
        <h2>CAD$100</h2>
        <h3>Per Week</h3>
        <div class="btn-list">
          View Vehicle
        </div>
      </div>
    </div>
  <% end %>
</li>

<li>
  <%= link_to root_path do %>
    <div class="row">
      <div class="list-item-image col-md-4">
        <%= image_tag("mercedes.jpg", :class => "jaguar", :alt => "Mercedes") %>
      </div>
      <div class="list-item-text col-md-5">
        <h3 class="dealership">Les Stanford Mercedes</h3>
        <h2>Mercedes</h2>
        <h3 class="vehicle-description">
          Live within walking distance of the universities, amidst interactive
          museums,
        </h3>
      </div>
      <div class="price-details col-md-3">
        <h3>From</h3>
        <h2>CAD$100</h2>
        <h3>Per Week</h3>
        <div class="btn-list">
          View Vehicle
        </div>
      </div>
    </div>
  <% end %>
</li>

<li>
  <%= link_to root_path do %>
    <div class="row">
      <div class="list-item-image col-md-4">
        <%= image_tag("porsche.jpg", :class => "jaguar", :alt => "Porsche") %>
      </div>
      <div class="list-item-text col-md-5">
        <h3 class="dealership">Les Stanford Porsche</h3>
        <h2>Porsche</h2>
        <h3 class="vehicle-description">
          Live amidst the historic cultural venues, top-rated restaurants and 
          scenic public
        </h3>
      </div>
      <div class="price-details col-md-3">
        <h3>From</h3>
        <h2>CAD$100</h2>
        <h3>Per Week</h3>
        <div class="btn-list">
          View Vehicle
        </div>
      </div>
    </div>
  <% end %>
</li>