<!--completed-->
   
<li id="new-question-item-<%= question.id %>" class="new-question-item">
   
  <%= link_to questions_path do %>
    <table class="new-question-item-content">
      <tr>
        
        <td class="avatar-and-online">
          
          <div class="new-question-avatar">
            <%= image_tag question.user.avatar.url %>
          </div>
          
          <% if question.user.online? %>
            <div class="online online-md-primary"></div>
          <% end %>
        </td>
        
        <td>
          <p class="new-question-name"><%= question.user.name %></p>
        </td>
        
        <td class="conversation-content-container">
          <p class="conversation-content">
            <%= question.content %>
          </p>
        </td>
        
        <td>
            <p class="conversation-date">
              <%= time_ago_in_words(question.created_at).capitalize %> ago
            </p>
        </td>
      </tr>
    </table>
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    var newQuestionAvatar = $('.new-question-avatar');
    
    newQuestionAvatar.imagefill();
  })
</script>