<!--completed-->
   
<li id="new-question-item-<%= question.id %>" class="new-question-item">
   
  <%= link_to questions_path do %>
    <table class="new-question-item-content">
      <tr>
        
        <td class="avatar-and-online">
          
          <div class="new-question-avatar avatar-general", 
               style="background-image: url('
                       <%= question.user.avatar.url(:thumb) %>')">
          </div>
          
          <% if question.user.online? %>
            <div class="online online-md-primary hidden-xs"></div>
          <% end %>
        </td>
        
        <td>
          <p class="new-question-name"><%= question.user.full_name %></p>
          
          <p class="conversation-date visible-xs-block">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </p>
        </td>
        
        <td class="conversation-content-container hidden-xs">
          <p class="conversation-content">
            <%= question.content %>
          </p>
        </td>
        
        <td>
          <p class="conversation-date hidden-xs">
            <%= time_ago_in_words(question.created_at).capitalize %> ago
          </p>
        </td>
      </tr>
    </table>
  <% end %>
</li>