<% other = conversation.sender == 
           current_user ? conversation.recipient : conversation.sender %>
           
<%= link_to conversation_messages_path(conversation), 
            class: "conversation-link" do %>
   
  <li id="conversation-item-<%= conversation.id %>" class="conversation-item">           
    <table class="conversation-item-content">
      <tr>
        
        <td>
          <div class="conversation-avatar">
            <%= image_tag other.avatar.url %>
          </div>
        </td>
        
        <td>
          <div class="conversation-detail">
            
            <p class="conversation-name"><%= other.name %></p>
            
            <p class="conversation-date">
              <%= conversation.updated_at.strftime("%D") %>
            </p>
          </div>
        </td>
        
        <td class="conversation-content-container">
          <p class="conversation-content">
            <% if conversation.messages.exists? %>
              <%= conversation.messages.last.content %>
            <% else %>
              (No Messages)
            <% end %>
          </p>
        </td>
      </tr>
    </table>
  </li>
<% end %>