<% provide(:title, 'Dashboard') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path, class: "nav-active" %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %>
      </li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    
    <div class="dashboard-notifications">
      
      <h2 class="dashboard-title">Notifications</h3>
      
      <ul class="nav nav-tabs">
        
        <li class="active">
          <a href="#requests_and_inquiries" data-toggle="tab">
            Requests and Inquiries (<%= @conversations.count %>)
          </a>
        </li>
        
        <li>
          <a href="#questions" data-toggle="tab">
            Questions (<%= @questions.count %>)
          </a>
        </li>
      </ul>
      
      <div class="tab-content">
        
        <div class="tab-pane fade active in" id="requests_and_inquiries">
          <% if @conversations.exists? %>
            <ol class="tab-pane-list">
              <%= render @conversations %>
            </ol>
          
          <% else %>
            <p class="empty-list-info">
              No recent requests or inquiries
            </p> 
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="questions">
          <% if @questions.exists? %>
            <ol class="tab-pane-list">
              <%= render partial:    "new_question", 
                         collection: @questions, 
                         as:         :question %>
            </ol>
          
          <% else %>
            <p class="empty-list-info dashboard-empty-list-info">
              You have not received any questions.
            </p>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="dashboard-test-drives">  
    
      <h2 class="dashboard-title">Customer Test Drives</h2>
      
      <% if @test_drives.exists? %>
        <ol class="dashboard-list">
          <%= render partial:    "test_drive",
                     collection: @test_drives %>
        </ol>
      
      <% else %>
        <div class="empty-list">
            
          <i class="fa fa-tachometer fa-4x empty-list-icon" 
             aria-hidden="true"></i>
             
          <p class="empty-list-info">
            You have not accepted any test drive requests.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--incorporate logged_in into dashboard-->