<% provide(:title, 'Dashboard') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path, class: "nav-active" %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %>
      </li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4">
      </div>
      
      <div class="col-xs-8">
      </div>
    </div>
  </div>
</div>