<!--completed-->

<header class="header-fixed-hidden">
  <%= render 'layouts/header_secondary' %>
</header>

<header class="header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<div class="hero">
  
  <div class="hero-video-container">
    <video class="hero-video" 
           autoplay="autoplay" 
           loop="loop" 
           volume="0">
           poster="/assets/hero-image.jpg"
      <source src="https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/hero-video.mp4" 
              type="video/mp4">
    </video>
  </div>
  
  <div class="hero-detail">
    
    <h1 class="hero-title">Cars Made Easy</h1>
    
    <h2 class="hero-info">
      Search for used vehicles from across the Mid-West
    </h2>
    
    <%= form_tag search_vehicles_path, 
                 method: :get, 
                 class: "search-form-primary" do %>
                 
      <div class="row search-form-primary-content">
        
        <div class="col-xs-3 search-bar-primary">
          
          <%= collection_select :vehicle, 
                                :vehicle_make_id,
                                VehicleMake.all,
                                :id,
                                :name,
                                { include_blank: true,
                                  prompt: "All makes" },
                                class: "form-control
                                        search-select-primary" %>
          
          <i class="fa fa-search fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
             
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-3 search-bar-primary">
          
          <%= grouped_collection_select :vehicle, 
                                        :vehicle_model_id, 
                                        VehicleMake.order(:name),
                                        :vehicle_models,
                                        :name,
                                        :id,
                                        :name,
                                        { prompt: "All models",
                                          include_blank: true }, 
                                        class: "form-control
                                                search-select-secondary" %>
                                                
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-4 search-bar-primary">
          
          <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <%= text_field_tag :city, 
                             params[:city], 
                             placeholder: "City (Eg. Detroit, MI)", 
                             class: "form-control 
                                     search-form-control 
                                     typeahead" %>
        </div>
        
        <div class="col-xs-2 search-button-primary">
          <%= submit_tag "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>
    
    <!--<(perc)= form_tag search_vehicles_path, -->
    <!--             method: :get, -->
    <!--             class: "search-form-primary" do %>-->
                 
    <!--  <div class="row search-form-primary-content">-->
        
    <!--    <div class="col-xs-5 search-bar-primary">-->
          
    <!--      <i class="fa fa-search fa-lg search-bar-primary-icon" -->
    <!--         aria-hidden="true"></i>-->
            
    <!--      <(perc)= text_field_tag :vehicle, -->
    <!--                         params[:vehicle], -->
    <!--                         placeholder: "What are you looking for?", -->
    <!--                         class: "form-control typeahead" %>-->
    <!--    </div>-->
        
    <!--    <div class="col-xs-5 search-bar-primary">-->
          
    <!--      <i class="fa fa-map-pin fa-lg search-bar-primary-icon" -->
    <!--         aria-hidden="true"></i>-->
          
    <!--      <(perc)= text_field_tag :city, -->
    <!--                         params[:city], -->
    <!--                         placeholder: "Enter city", -->
    <!--                         class: "form-control typeahead" %>-->
    <!--    </div>-->
        
    <!--    <div class="col-xs-2 search-button-primary">-->
    <!--      <(perc)= submit_tag "Search", class: "btn btn-search" %>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--<(perc) end %>-->
    
<!--    <div class="row popular-searches">-->
      
<!--      <div class="col-xs-4">-->
<!--        <(perc)= link_to '#feed', class: "popular-searches-link" do %>-->
<!--          <i class="fa fa-image popular-searches-icon" aria-hidden="true"></i>-->
<!--          Photos-->
<!--        <(perc) end %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-4">-->
<!--        <(perc)= link_to posts_path, class: "popular-searches-link" do %>-->
<!--          <i class="fa fa-users popular-searches-icon" aria-hidden="true"></i>-->
<!--          Community Center-->
          <!--Find Pros-->
<!--        <(perc) end %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-4">-->
<!--        <(perc)= link_to '#feed', class: "popular-searches-link" do %>-->
<!--          <i class="fa fa-tag popular-searches-icon" aria-hidden="true"></i>-->
<!--          Products-->
<!--        <(perc) end %>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<div class="offerings">
  <div class="row offerings-content">

      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Transparency</h3>
        
        <h4 class="offerings-info">
          View dealer reviews, price histories, and local-market price analyses
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Detailed Guides</h3>
        
        <h4 class="offerings-info">
          Browse photo galleries and vehicle brochures
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Stress-free Purchasing</h3>
        
        <h4 class="offerings-info">
          Use in-app messaging to negotiate the right price
        </h4>
      </div>
  </div>
</div>

<% if @feed_items.exists? %>
  <div id="feed">
    <div class="feed-content">
      
      <!--<ul class="site-map">-->
        
      <!--  <li><(perc)= link_to "For You", root_path, class: "site-map-active" %></li>-->
  
      <!--  <li>-->
      <!--    <(perc)= link_to "Vehicles", -->
      <!--                'vehicles/search?utf8=✓&vehicle%5Bvehicle_make_id%5D=&city=&commit=Search' %>-->
      <!--  </li>-->
        
      <!--  <li><(perc)= link_to "Advice", posts_path %></li>-->
      <!--</ul>-->
      
      <h3 class="feed-title">Discover Top Content</h3>
      
      <ol id="feed-items">
        <%= render partial: "feed_item", collection: @feed_items %>
      </ol>
      
      <%= will_paginate @feed_items, 
                        previous_label: 
                          '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
                        next_label: 
                          '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
                        inner_window: 1, 
                        outer_window: 0 %>
    </div>
  </div>
<% end %>

<!--<div class="press">-->
  
<!--  <h3 class="press-title">As seen on</h3>-->
  
<!--  <div class="press-logos">-->
<!--    <div class="row">-->
    
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/financial-times.png", size: "144x64"), -->
<!--                    'http://www.ft.com/home/uk', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/forbes.png", size: "144x64"), -->
<!--                    'http://www.forbes.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tech-crunch.png", size: "144x64"), -->
<!--                    'https://techcrunch.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/bloomberg.png", size: "144x64"), -->
<!--                    'http://www.bloomberg.com/', -->
<!--                    target: "_blank" %>    -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
  $(document).ready(function() {
    
    $(window).on('scroll', function() {
        
      // fixed header
      
        var fixedHeader = $('.header-fixed-hidden');
        var scrolltop   = $(this).scrollTop();
        
        if(scrolltop >= 315) {
          fixedHeader.fadeIn(250);
        }
        
        else if(scrolltop <= 310) {
          fixedHeader.fadeOut(250);
        }
    });
  
    // disabled search button
      
      // var cityField    = $('#city');
      // var submitButton = $('input[type="submit"]')
      
      // submitButton.attr('disabled', true);
      
      // cityField.keyup(function(){
        
      //   if (cityField.val() !=  "") 
      //     submitButton.attr('disabled', false);    
          
      //   else
      //     submitButton.attr('disabled', true);   
      // });
  });
</script>