<!--complete-->

<header class="header-fixed-hidden">
  <%= render 'layouts/header_secondary' %>
</header>

<header class="header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<div class="hero">
  
  <div class="hero-video-container">
    <video class="hero-video" 
           autoplay="autoplay" 
           loop="loop" 
           volume="0">
           <!--poster="/assets/hero-image.jpg"-->
      <source src="/assets/hero-video.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="hero-detail">
    
    <h1 class="hero-title">Cars Made Easy</h1>
    
    <h2 class="hero-info">
      Search for used vehicles from across the Mid-West
    </h2>
    
    <%= form_tag search_vehicles_path, 
                 method: :get, 
                 class: "search-form-primary",
                 role: "search" do %>
                 
      <div class="row search-form-primary-content">
        
        <div class="col-xs-10 search-bar-primary">
          
          <i class="fa fa-search fa-lg search-bar-primary-icon" 
            aria-hidden="true"></i>
            
          <%= text_field_tag :search, 
              params[:search], 
              placeholder: "Search by vehicle, dealership, or city", 
              class: "form-control search-form-control" %>
        </div>
        
        <div class="col-xs-2 search-button-primary">
          <%= submit_tag "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>
    
    <!--<div class="row popular-searches">-->
      
    <!--  <div class="col-xs-4">-->
    <!--    <(perc)= link_to '#feed', class: "popular-searches-link" do %>-->
    <!--      <i class="fa fa-image popular-searches-icon" aria-hidden="true"></i>-->
    <!--      Photos-->
    <!--    <(perc) end %>-->
    <!--  </div>-->
      
    <!--  <div class="col-xs-4">-->
    <!--    <(perc)= link_to '#feed', class: "popular-searches-link" do %>-->
    <!--      <i class="fa fa-users popular-searches-icon" aria-hidden="true"></i>-->
    <!--      Find Pros-->
    <!--    <(perc) end %>-->
    <!--  </div>-->
      
    <!--  <div class="col-xs-4">-->
    <!--    <(perc)= link_to '#feed', class: "popular-searches-link" do %>-->
    <!--      <i class="fa fa-tag popular-searches-icon" aria-hidden="true"></i>-->
    <!--      Products-->
    <!--    <(perc) end %>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>

<div class="offerings">
  <div class="row offerings-content">

      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Transparency</h3>
        
        <h4 class="offerings-info">
          View dealer reviews, price histories, and local-market price analyses
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Detailed Guides</h3>
        
        <h4 class="offerings-info">
          Browse photo galleries and vehicle brochures
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Stress-free Purchasing</h3>
        
        <h4 class="offerings-info">
          Use in-app messaging to negotiate the right price
        </h4>
      </div>
  </div>
</div>

<% if @feed_items.exists? %>
  <div id="feed">
    <div class="feed-content">
      
      <h3 class="feed-title">Discover Top Content</h3>
      
      <ol class="feed-list">
        <%= render 'feed_items' %>
      </ol>
    </div>
  </div>
<% end %>

<!--<div class="press">-->
  
<!--  <h3 class="press-title">As seen on</h3>-->
  
<!--  <div class="press-logos">-->
<!--    <div class="row">-->
    
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("financial-times.png", size: "144x64"), -->
<!--                    'http://www.ft.com/home/uk', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("forbes.png", size: "144x64"), -->
<!--                    'http://www.forbes.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("tech-crunch.png", size: "144x64"), -->
<!--                    'https://techcrunch.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("bloomberg.png", size: "144x64"), -->
<!--                    'http://www.bloomberg.com/', -->
<!--                    target: "_blank" %>    -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
  $(document).ready(function() {
    $(window).on('scroll', function() {
      
      // fixed header
      var fixedHeader = $('.header-fixed-hidden');
      
      var scrolltop = $(this).scrollTop();
      if(scrolltop >= 315) {
        fixedHeader.fadeIn(250);
      }
      else if(scrolltop <= 310) {
        fixedHeader.fadeOut(250);
      }
    });
    
    // smooth scroll
    var popularSearchesLink = $(".popular-searches a")
    
    popularSearchesLink.click(function(evn){
      evn.preventDefault();
      $('html, body').scrollTo(this.hash, this.hash, { offset: -50 }); 
    });
  })
</script>

<!--After Launch: Convert mp4 to webm; Insert video-replacement photo-->