<!--completed-->

<header class="hidden-xs header-fixed-hidden">
  <%= render 'layouts/header_secondary' %>
</header>

<header class="hidden-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<!--<header class="visible-xs header-fixed-visible">-->
<!--  <= render 'layouts/header_secondary' %>-->
<!--</header>-->

<header class="visible-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<div class="modal" id="modal-special-offer-desktop" role="dialog">
  <%= render "layouts/modal_special_offer_desktop" %>
</div>

<div class="modal" id="modal-special-offer-mobile" role="dialog">
  <%= render "layouts/modal_special_offer_mobile" %>
</div>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="hidden-xs hero-desktop">
  
  <div class="hero-desktop-video-container">
    <video class="hero-desktop-video" 
           autoplay="autoplay" 
           loop="loop" 
           volume="0">
      <source src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/hero-video.mp4" 
              type="video/mp4">
    </video>
  </div>
  
  <div class="hero-desktop-detail">
    
    <h1 class="hero-desktop-title">Motorcycles Made Easy</h1>
    
    <h2 class="hero-desktop-info hidden-xs">
      Discover bikes in your own backyard
    </h2>
    
    <%= form_for_filterrific @filterrific, 
          url: search_vehicles_path, 
          html: { 
            id:    "filterrific-no-ajax-auto-submit",
            class: "hidden-xs search-form-primary" 
          } do |f| %>
          
      <div class="row search-form-primary-content">
        
        <div class="col-xs-3 search-bar-primary">
                       
          <%= f.collection_select(:with_vehicle_make_id,
                                  VehicleMake.all,
                                  :id,
                                  :name,
                                  { include_blank: true,
                                    prompt: "Select make" },
                                  id: "vehicle-make-home",
                                  class: "form-control 
                                          search-select-primary") %>

          <i class="fa fa-search fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-3 search-bar-primary">
          
          <%= f.grouped_collection_select(:with_vehicle_model_id,
                                          VehicleMake.order(:name),
                                          :vehicle_models,
                                          :name,
                                          :id,
                                          :name,
                                          { include_blank: true,
                                            prompt: "Select model" },
                                          id: "vehicle-model-home",
                                          class: "form-control 
                                                  search-select-secondary") %>
                       
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-4 search-bar-primary">
          
          <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <%= f.text_field :with_city, 
                           placeholder: "City (Eg. San Francisco, CA)", 
                           class: "form-control 
                                   search-form-control 
                                   typeahead" %>
        </div>

        <div class="col-xs-2 search-button-primary">
          <%= f.submit "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="hero-mobile visible-xs">
  <div class="hero-mobile-gradient"></div>
</div>

<div class="hidden-xs offerings">
  <div class="row offerings-content">

      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Transparency</h3>
        
        <h4 class="offerings-info">
          View dealer reviews, price histories, and local-market price analyses
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Detailed Guides</h3>
        
        <h4 class="offerings-info">
          Browse photo galleries and motorcycle brochures
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Stress-free Purchasing</h3>
        
        <h4 class="offerings-info">
          Use in-app messaging to negotiate the right price
        </h4>
      </div>
  </div>
</div>

<div id="feed-container">
  <div class="feed">

    <div class="feed-content">
      
      <h3 class="feed-title">Begin Your Search</h3>
      
      <%= form_for @personalized_search do |f| %>
      
        <div class="personalized-search-list">
          <div class="personalized-search-list-content">
  
            <div class="personalized-search-row">
            
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-a">
                    
                <%= f.check_box :is_classic_vintage %>
                
                <%= f.label :is_classic_vintage do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Classic / Vintage
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-b">
                
                <%= f.check_box :is_cruiser %>
                
                <%= f.label :is_cruiser do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Cruiser
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-c">
                
                <%= f.check_box :is_dual_sport %>
                
                <%= f.label :is_dual_sport do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Dual-Sport
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15
                          personalized-search-checkbox
                          personalized-search-checkbox-d">
                
                <%= f.check_box :is_mini_pocket %>
                
                <%= f.label :is_mini_pocket do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Mini / Pocket
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-e">
                
                <%= f.check_box :is_moped %>
                
                <%= f.label :is_moped do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Moped
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
            </div>
          
            <div class="personalized-search-row">
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-f">
                
                <%= f.check_box :is_sportbike %>
                
                <%= f.label :is_sportbike do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Sportbike
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-g">
                
                <%= f.check_box :is_standard %>
                
                <%= f.label :is_standard do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Standard
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15
                          personalized-search-checkbox
                          personalized-search-checkbox-h">
  
                <%= f.check_box :is_sportbike %>
  
                <%= f.label :is_sportbike do %> 
  
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Sportbike
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
              
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-i">
                
                <%= f.check_box :is_touring %>
                
                <%= f.label :is_touring do %>   
                
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Touring
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                class: "personalized-search-button-icon") %>
                <% end %>
              </div>
               
              <div class="col-md-15 
                          personalized-search-checkbox
                          personalized-search-checkbox-j">
  
                <%= f.check_box :is_trike %>
  
                <%= f.label :is_trike do %> 
  
                  <div class="personalized-search-checkbox-text">
                    
                    <span class="personalized-search-checkbox-title">
                      Trike
                    </span>
                    
                    <span class="personalized-search-checkbox-subtitle">
                      Click to Select
                    </span>
                  </div> 
  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-j.png",
                                class: "personalized-search-checkbox-icon") %>
                <% end %>
              </div>
            </div>
           
            <%= hidden_field_tag :redirect_location,
                                 price_personalized_search_path(@personalized_search) if 
                                   (current_user && 
                                    current_user.personalized_search.present?) %>
          
          </div>
        </div>
        
        <div class="matches-submit-button">
          <%= button_tag(type: "submit", 
                         class: "matches-submit") do %>
            Continue Search
            <i class="fa fa-angle-right" aria-hidden="true"></i> 
          <% end %>
        </div>
      <% end %>
    </div>
    
    <% if @feed_items.exists? %>
      <div class="feed-content">
        
        <h3 class="feed-title">Top-Rated Listings</h3>
      
        <ol class="feed-items hidden-xs">
          <%= render partial: "feed_item", 
                     collection: Vehicle.
                                  # find.
                                  # where(sold_at: nil).
                                  # where.not(posted_at: nil).
                                  # order(bumped_at: :desc).
                                  # where(dealership_id: nil).
                                   includes(:listing_score).
                                   order("listing_scores.overall_score DESC",
                                        "year DESC",
                                        "listing_name ASC").
                                   first(6) %>
        </ol>
        
        <ol class="feed-items-mobile visible-xs">
          <div class="feed-items-mobile-content">
            <%= render partial: "feed_item", 
                       collection: Vehicle.
                                    # find.
                                    # where(sold_at: nil).
                                    # where.not(posted_at: nil).
                                    # order(bumped_at: :desc).
                                    # where(dealership_id: nil).
                                     includes(:listing_score).
                                     order("listing_scores.overall_score DESC",
                                          "year DESC",
                                          "listing_name ASC").
                                     first(3) %>
          </div>
        </ol>
        
        <div class="feed-link">
          <%= link_to search_vehicles_path, 
                      class: "feed-link-content" do %>
            View All Listings (<%= Vehicle.count %>)
            <i class="fa fa-angle-right" aria-hidden="true"></i> 
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="feed-content">
      
      <h3 class="feed-title">Community Connections</h3>
      
      <div class="feed-community">
        <div class="row feed-community-content">  
        
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to discussions_path, class: "feed-forum-item" do %>

              <div class="feed-forum-image"
                   style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-forum.jpg')">
                <h3 class="feed-forum-image-text">Ask For Advice</h3>
              </div>
              
              <span class="feed-forum-title">
                Start A Discussion
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Connect with motorcycle enthusiasts, share stories, and ask for 
                advice.
              </span>
            <% end %>
          </div> 
          
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to clubs_path, class: "feed-forum-item" do %>

              <div class="feed-forum-image"
                   style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-car-clubs.jpg')">
                <h3 class="feed-forum-image-text">Promote Your Club</h3>
              </div>
              
              <span class="feed-forum-title">
                Connect Locally
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Join friends of your own bike club and discuss issues 
                relevant to your group.
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'personalized_searches/form' %>

<!--<div class="press">-->
  
<!--  <h3 class="press-title">As seen on</h3>-->
  
<!--  <div class="press-logos">-->
<!--    <div class="row">-->
    
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/financial-times.png", size: "144x64"), -->
<!--                    'http://www.ft.com/home/uk', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/forbes.png", size: "144x64"), -->
<!--                    'http://www.forbes.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tech-crunch.png", size: "144x64"), -->
<!--                    'https://techcrunch.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/bloomberg.png", size: "144x64"), -->
<!--                    'http://www.bloomberg.com/', -->
<!--                    target: "_blank" %>    -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">

  $(document).ready(function() {
    
    $(window).on('scroll', function() {
        
      // fixed header
      
        var fixedHeader = $('.header-fixed-hidden');
        var scrolltop   = $(this).scrollTop();
        
        if(scrolltop >= 315) {
          fixedHeader.fadeIn(250);
        }
        
        else if(scrolltop <= 310) {
          fixedHeader.fadeOut(250);
        }
    });
  
    // disabled search button
      
      // var cityField    = $('#city');
      // var submitButton = $('input[type="submit"]')
      
      // submitButton.attr('disabled', true);
      
      // cityField.keyup(function(){
        
      //   if (cityField.val() !=  "") 
      //     submitButton.attr('disabled', false);    
          
      //   else
      //     submitButton.attr('disabled', true);   
      // });
  });
</script>
