<!--completed-->

<header class="hidden-xs header-fixed-hidden">
  <%= render 'layouts/header_secondary' %>
</header>

<header class="hidden-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<!--<header class="visible-xs header-fixed-visible">-->
<!--  <= render 'layouts/header_secondary' %>-->
<!--</header>-->

<header class="visible-xs header-static-transparent">
  <%= render 'layouts/header_primary' %>
</header>

<div class="modal" id="modal-special-offer-desktop" role="dialog">
  <%= render "layouts/modal_special_offer_desktop" %>
</div>

<div class="modal" id="modal-special-offer-mobile" role="dialog">
  <%= render "layouts/modal_special_offer_mobile" %>
</div>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="hidden-xs hero-desktop">
  
  <div class="hero-desktop-video-container">
    <video class="hero-desktop-video" 
           autoplay="autoplay"
           muted=true
           loop="loop">
      <source src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/hero-video.mp4" 
              type="video/mp4">
    </video>
  </div>
  
  <!--<div class="hero-desktop-image"></div>-->
  
  <div class="hero-desktop-detail">
    
    <h1 class="hero-desktop-title">Motorcycles Made Easy</h1>
    
    <h2 class="hero-desktop-info">
      Discover bikes in your own backyard
    </h2>
    
    <%= form_for_filterrific @filterrific, 
          url: search_vehicles_path, 
          html: { 
            id:    "filterrific-no-ajax-auto-submit",
            class: "hidden-xs search-form-primary" 
          } do |f| %>
          
      <div class="row search-form-primary-content">
        
        <div class="col-xs-3 search-bar-primary">
                       
          <%= f.collection_select(:with_vehicle_make_id,
                                  VehicleMake.all,
                                  :id,
                                  :name,
                                  { include_blank: true,
                                    prompt: "All makes" },
                                  id: "vehicle-make-home",
                                  class: "form-control 
                                          search-select-primary") %>

          <i class="fa fa-search fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-3 search-bar-primary">
          
          <%= f.grouped_collection_select(:with_vehicle_model_id,
                                          VehicleMake.order(:name),
                                          :vehicle_models,
                                          :name,
                                          :id,
                                          :name,
                                          { include_blank: true,
                                            prompt: "All models" },
                                          id: "vehicle-model-home",
                                          class: "form-control 
                                                  search-select-secondary") %>
                       
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
        
        <div class="col-xs-4 search-bar-primary">
          
          <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
             aria-hidden="true"></i>
          
          <%= f.text_field :with_zip_code, 
                           placeholder: "ZIP Code", 
                           class: "form-control 
                                   search-form-control 
                                   typeahead" %>
        </div>

        <div class="col-xs-2 search-button-primary">
          <%= f.submit "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="hero-mobile visible-xs">
  
  <div class="hero-mobile-detail">
    
    <h1 class="hero-mobile-title">Motorcycles Made Easy</h1>
    
    <h2 class="hero-mobile-info">
      Discover bikes in your own backyard
    </h2>
    
    <div class="hero-mobile-search">
      <%= form_for_filterrific @filterrific, 
          url: search_vehicles_path, 
          html: { 
            id:    "filterrific-no-ajax-auto-submit",
            class: "search-form-primary" 
          } do |f| %>
            
        <div class="row search-form-primary-content">
          
          <div class="col-xs-10 search-bar-primary">
            
            <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
               aria-hidden="true"></i>
            
            <%= f.text_field :with_zip_code, 
                             placeholder: "Search by ZIP Code", 
                             class: "form-control 
                                     search-form-control 
                                     typeahead" %>
          </div>
  
          <div class="col-xs-2 search-button-primary">
            <%= button_tag(type:  "submit", 
                           class: "btn btn-search") do %>
              <i class="fa fa-lg fa-search search-button-icon-mobile"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="hero-mobile-gradient"></div>
</div>

<div class="hidden-xs offerings">
  <div class="row offerings-content">

      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Transparency</h3>
        
        <h4 class="offerings-info">
          View dealer reviews, price histories, and local-market price analyses
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Detailed Guides</h3>
        
        <h4 class="offerings-info">
          Browse photo galleries and motorcycle brochures
        </h4>
      </div>
      
      <div class="col-xs-4 offerings-detail">
        
        <h3 class="offerings-title">Stress-free Purchasing</h3>
        
        <h4 class="offerings-info">
          Use in-app messaging to negotiate the right price
        </h4>
      </div>
  </div>
</div>

<div id="feed-container">
  <div class="feed">
    
    <div class="feed-content">
      
      <h3 class="feed-title">What are you looking for?</h3>
      
      <span class="feed-info">
        Personalize your results by 
        <%= link_to "choosing your own preferences",
                    '#',
                    class: "preferences-link" %>.
      </span>
          
      <div class="personalized-search-list">
        <div class="personalized-search-list-content">

          <div class="personalized-search-row">
          
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Cafe Racer" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-a") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Cafe Racer
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Cruiser" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-b") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Cruiser
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Dirt Bike / Dual-Sport" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-c") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Dirt Bike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Dirt Bike / Dual-Sport" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-d") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Dual-Sport
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Mini / Pocket" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-e") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Mini / Pocket
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
          </div>
          
          <div class="personalized-search-row">
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Moped" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-f") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Moped
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Sportbike" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-g") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Sportbike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Standard" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-h") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Standard
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Touring" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-i") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Touring
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
            
            <div class="col-md-15">
              
              <%= form_for_filterrific @filterrific, 
                                       url: search_vehicles_path, 
                                       html: { 
                                         id: "filterrific-no-ajax-auto-submit",
                                       } do |f| %>
                                       
                <%= f.hidden_field :with_body_style, value: "Trike" %>
                
                <%= button_tag(type:  "submit", 
                               class: "personalized-search-button
                                       personalized-search-button-j") do %>
                  <div class="personalized-search-button-text">
                
                    <span class="personalized-search-button-title">
                      Trike
                    </span>
                    
                    <span class="personalized-search-button-subtitle">
                      View All 
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div> 
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-j.png",
                                class: "personalized-search-button-icon") %> 
                <% end %>
              <% end %>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="feed-content">
      
      <h3 class="feed-title">Find motorcycles in...</h3>
    
      <div class="cities">
        <div class="cities-content">
          <div class="col-md-4 col-xs-4">
            <%= form_for_filterrific @filterrific, 
                                     url: search_vehicles_path, 
                                     html: { 
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
                                     
              <%= f.hidden_field :near_city, value: "Los Angeles, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city",
                             style: "background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/los-angeles-small.jpeg')") do %>
                
                <div class="city-text">
              
                  <span class="city-title">Los Angeles</span>
                  
                  <span class="city-subtitle">
                    
                    <%= pluralize(Vehicle.near('Los Angeles, CA').count(:all), 
                                  "Motorcycle") %> for Sale
                                  
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <div class="city-gradient"></div>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-4 col-xs-4">
            <%= form_for_filterrific @filterrific, 
                                     url: search_vehicles_path, 
                                     html: { 
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
                                     
              <%= f.hidden_field :near_city, value: "San Francisco, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city",
                             style: "background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-francisco-small.jpeg')") do %>
                
                <div class="city-text">
              
                  <span class="city-title">San Francisco</span>
                  
                  <span class="city-subtitle">
                    
                    <%= pluralize(Vehicle.near('San Francisco, CA').count(:all), 
                                  "Motorcycle") %> for Sale
                    
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <div class="city-gradient"></div>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-4 col-xs-4">
            <%= form_for_filterrific @filterrific, 
                                     url: search_vehicles_path, 
                                     html: { 
                                       id: "filterrific-no-ajax-auto-submit",
                                     } do |f| %>
                                     
              <%= f.hidden_field :near_city, value: "San Diego, CA" %>
              
              <%= button_tag(type:  "submit", 
                             class: "city",
                             style: "background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/san-diego-small.jpeg')") do %>
                
                <div class="city-text">
              
                  <span class="city-title">San Diego</span>
                  
                  <span class="city-subtitle">
                    
                    <%= pluralize(Vehicle.near('San Diego, CA').count(:all), 
                                  "Motorcycle") %> for Sale
                                  
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div> 
  
                <div class="city-gradient"></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content">
        
      <h3 class="feed-title">Browse Ducati motorcycles</h3>
      
      <span class="feed-info">Like what you see?</span>
      
      <%= form_for_filterrific @filterrific, 
                               url: search_vehicles_path, 
                               html: { 
                                 id:    "filterrific-no-ajax-auto-submit",
                                 class: "vehicle-make-link"
                               } do |f| %>
                               
        <%= f.hidden_field :with_vehicle_make_id, value: 4 %>
        
        <%= f.submit "Browse all of our Ducati's.", 
                     class: "vehicle-make-link-content" %>
      <% end %>
      
      <ol class="feed-items hidden-xs">
        <%= render partial: "feed_item", 
                   collection: Vehicle.
                                 where(vehicle_make_id: 4).
                                 where(dealership_id: 1..70).
                                 includes(:listing_score).
                                 order("listing_scores.overall_score DESC",
                                      "year DESC",
                                      "listing_name ASC").
                                 first(3) %>
      </ol>
      
      <div class="feed-items-mobile visible-xs"> 
        <ol class="feed-items-mobile-content">
          <%= render partial: "feed_item_mobile",
                     collection: Vehicle.
                                   where(vehicle_make_id: 4).
                                   where(dealership_id: 1..70).
                                   includes(:listing_score).
                                   order("listing_scores.overall_score DESC",
                                         "year DESC",
                                         "listing_name ASC").
                                   first(4) %>
        </ol>
      </div>
    </div> 
    
    <div class="feed-content hidden-xs">
      <div class="feed-listing">
        <div class="feed-listing-content">
          <div class="row vertical-align">
            
            <div class="col-md-5">
              <div class="feed-listing-image"></div>
            </div>
            
            <div class="col-md-7">
              
              <div class="feed-listing-text">
                
                <span class="feed-title">
                  Out with the old; In with the new!
                </span>
                
                <span class="feed-info">
                  List your motorcycle for free using Motominion.
                </span>
                
                <div class="feed-listing-button">
                  <%= link_to new_vehicle_path,
                              class: "btn btn-green" do %>
                    Find Out More
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feed-content visible-xs">
      
      <h3 class="feed-title">Sell Your Motorcycle</h3>
      
      <%= link_to new_vehicle_path, class: "feed-listing-mobile" do %>
        <div class="feed-listing-mobile-image">
          
          <div class="feed-listing-mobile-text">
            
            <span class="feed-listing-mobile-title">List For Free</span>
                  
            <span class="feed-listing-mobile-subtitle">
              
              Join thousands of private listers
                            
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
          </div>

          <div class="feed-listing-mobile-gradient"></div>
        </div>
      <% end %>
    </div>

    <div class="feed-content">
        
      <h3 class="feed-title">Browse Harley Davidson motorcycles</h3>
      
      <span class="feed-info">Like what you see?</span>
      
      <%= form_for_filterrific @filterrific, 
                               url: search_vehicles_path, 
                               html: { 
                                 id:    "filterrific-no-ajax-auto-submit",
                                 class: "vehicle-make-link"
                               } do |f| %>
                               
        <%= f.hidden_field :with_vehicle_make_id, value: 5 %>
        
        <%= f.submit "Browse all of our Harley Davidson's.", 
                     class: "vehicle-make-link-content" %>
      <% end %>
      
      <ol class="feed-items hidden-xs">
        <%= render partial: "feed_item", 
                   collection: Vehicle.
                                 where(vehicle_make_id: 5).
                                 where(dealership_id: 1..70).
                                 includes(:listing_score).
                                 order("listing_scores.overall_score DESC",
                                      "year DESC",
                                      "listing_name ASC").
                                 first(3) %>
      </ol>
      
      <div class="feed-items-mobile visible-xs"> 
        <ol class="feed-items-mobile-content">
          <%= render partial: "feed_item_mobile",
                     collection: Vehicle.
                                   where(vehicle_make_id: 5).
                                   where(dealership_id: 1..70).
                                   includes(:listing_score).
                                   order("listing_scores.overall_score DESC",
                                         "year DESC",
                                         "listing_name ASC").
                                   first(4) %>
        </ol>
      </div>
    </div> 

    <div class="feed-content">
        
      <h3 class="feed-title">Browse Triumph motorcycles</h3>
      
      <span class="feed-info">Like what you see?</span>
      
      <%= form_for_filterrific @filterrific, 
                               url: search_vehicles_path, 
                               html: { 
                                 id:    "filterrific-no-ajax-auto-submit",
                                 class: "vehicle-make-link"
                               } do |f| %>
                               
        <%= f.hidden_field :with_vehicle_make_id, value: 12 %>
        
        <%= f.submit "Browse all of our Triumph's.", 
                     class: "vehicle-make-link-content" %>
      <% end %>
      
      <ol class="feed-items hidden-xs">
        <%= render partial: "feed_item", 
                   collection: Vehicle.
                                 where(vehicle_make_id: 12).
                                 where(dealership_id: 1..70).
                                 includes(:listing_score).
                                 order("listing_scores.overall_score DESC",
                                      "year DESC",
                                      "listing_name ASC").
                                 first(3) %>
      </ol>
      
      <div class="feed-items-mobile visible-xs"> 
        <ol class="feed-items-mobile-content">
          <%= render partial: "feed_item_mobile",
                     collection: Vehicle.
                                   where(vehicle_make_id: 12).
                                   where(dealership_id: 1..70).
                                   includes(:listing_score).
                                   order("listing_scores.overall_score DESC",
                                         "year DESC",
                                         "listing_name ASC").
                                   first(4) %>
        </ol>
      </div>
    </div> 
    
    <div class="feed-content">
      
      <h3 class="feed-title">Community Connections</h3>
      
      <div class="feed-community">
        <div class="row feed-community-content">  
        
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to discussions_path, class: "feed-forum-item" do %>

              <div class="feed-forum-image"
                   style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-forum.jpg')">
                <h3 class="feed-forum-image-text">Ask For Advice</h3>
              </div>
              
              <span class="feed-forum-title">
                Start A Discussion
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Connect with motorcycle enthusiasts, share stories, and ask for 
                advice.
              </span>
            <% end %>
          </div> 
          
          <div class="col-md-6 col-xs-6 feed-forum-item-container">
            <%= link_to clubs_path, class: "feed-forum-item" do %>

              <div class="feed-forum-image"
                   style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/feed-car-clubs.jpg')">
                <h3 class="feed-forum-image-text">Promote Your Club</h3>
              </div>
              
              <span class="feed-forum-title">
                Connect Locally
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
              </span>
              
              <span class="feed-forum-info">
                Join friends of your own bike club and discuss issues 
                relevant to your group.
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <%= render 'personalized_searches/form' %>
</div>

<!--<div class="press">-->
  
<!--  <h3 class="press-title">As seen on</h3>-->
  
<!--  <div class="press-logos">-->
<!--    <div class="row">-->
    
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/financial-times.png", size: "144x64"), -->
<!--                    'http://www.ft.com/home/uk', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/forbes.png", size: "144x64"), -->
<!--                    'http://www.forbes.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tech-crunch.png", size: "144x64"), -->
<!--                    'https://techcrunch.com/', -->
<!--                    target: "_blank" %>-->
<!--      </div>-->
      
<!--      <div class="col-xs-3">-->
<!--        <(perc)= link_to image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/bloomberg.png", size: "144x64"), -->
<!--                    'http://www.bloomberg.com/', -->
<!--                    target: "_blank" %>    -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
  
  $(document).ready(function() {
    
    $(window).on('scroll', function() {
        
      // fixed header
      
        var fixedHeader = $('.header-fixed-hidden');
        var scrolltop   = $(this).scrollTop();
        
        if(scrolltop >= 315) {
          fixedHeader.fadeIn(250);
        }
        
        else if(scrolltop <= 310) {
          fixedHeader.fadeOut(250);
        }
    });
    
    // dependent dropdown
    
      var vehicleModelHome    = $('#vehicle-model-home');
      var vehicleMakeHome     = $('#vehicle-make-home');
      var vehicle_model_home  = vehicleModelHome.html();
  
      if ( vehicleMakeHome.val() == '' ) {
        vehicleModelHome.prop("disabled", true);
      }
      
      else {
        
        vehicleMakeHome.prepend("<option value=''>All makes</option>");
                                      
        var vehicle_make_home = $('#vehicle-make-home :selected').text();
        var escaped_vehicle_make_home = 
          vehicle_make_home.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_home = 
          $(vehicle_model_home).
            filter("optgroup[label=" + escaped_vehicle_make_home + "]").
            html();
        
        if (options_home) {
          vehicleModelHome.html("<option value=''>All models</option>" +
                                "<option value=''></option>" +
                                options_home);
          vehicleModelHome.prop("disabled", false);
        } 
        
        else {
          vehicleModelHome.empty();
          vehicleModelHome.html("<option value=''>All models</option>");
          vehicleModelHome.prop("disabled", true);
        }
      }
      
      vehicleMakeHome.change(function() {
        
        var vehicle_make_home = $('#vehicle-make-home :selected').text();
        var escaped_vehicle_make_home = 
          vehicle_make_home.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_home = 
          $(vehicle_model_home).
            filter("optgroup[label=" + escaped_vehicle_make_home + "]").
            html();
        
        if (options_home) {
          vehicleModelHome.html("<option value=''>All models</option>" +
                                         "<option value=''></option>" +
                                         options_home);
          vehicleModelHome.prop("disabled", false);
        } 
        
        else {
          vehicleModelHome.empty();
          vehicleModelHome.html("<option value=''>All models</option>");
          vehicleModelHome.prop("disabled", true);
        }
      });
  });
</script>