<% provide(:title, "Tour") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="tour-hero">
  <div class="tour-hero-content">

    <h1 class="tour-hero-title">Experience Motominion</h1>

    <h2 class="tour-hero-subtitle">A new way to sell</h2>
    
    <p class="tour-hero-info">
      Motominion consolidates the motorcycle purchasing experience, making your 
      team more productive, less stressed, and just a little bit happier.    
    </p>
  </div>
</div>

<ol class="tour-feature-list">
  
  <li class="tour-feature-container">
    <div class="tour-feature">
      <div class="row tour-feature-content">
        
        <div class="col-md-6 col-md-push-6 feature-image-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-list-your-vehicle.png",
                            class: "feature-image") %>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-md-pull-6 feature-step-container">
          
          <div class="row">
            
            <div class="col-md-10">
              
              <h1 class="feature-title">1. List your vehicle</h1>
              
              <p class="feature-info">
                Before listing, users are required to upload a profile photo meant
                to strengthen buyer-seller trust. Once that is done, include as
                many details in your listing as possible
              </p>
            </div>
            
            <div class="col-md-2">
              <!--intentionally left empty-->
            </div>
          </div>
          
          <div class="feature-step hidden-xs"></div>
        </div>
      </div>
    </div>
  </li>
  
  <li class="tour-feature-container">
    <div class="tour-feature">
      <div class="row tour-feature-content">
        
        <div class="col-md-6 feature-image-container feature-step-container">
          
          <div class="row">
            
            <div class="col-md-10">
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-approve-test-drives.png", 
                            class: "feature-image") %>
            </div>
            
            <div class="col-md-2">
              <!--intentionally left empty-->
            </div>
          </div>
          
          <div class="feature-step hidden-xs"></div>
        </div>
        
        <div class="col-md-6">
          <div class="row">
            
            <div class="col-md-10 col-md-offset-2">
              
              <h1 class="feature-title">
                2. Approve test drives
              </h1>
              
              <p class="feature-info">
                After your motorcycle has been posted, accept or decline all 
                appointments for test drives made by customers. Your response 
                rate will be displayed on your profile page for customers to 
                view.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="tour-feature-container">
    <div class="tour-feature">
      <div class="row tour-feature-content">
        
        <div class="col-md-6 col-md-push-6 feature-image-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-process-orders.png", 
                            class: "feature-image") %>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-md-pull-6 feature-step-container">
          
          <div class="row">
            
            <div class="col-md-10">
          
              <h1 class="feature-title">
                3. Process orders
              </h1>
              
              <p class="feature-info">
                Monitor any orders submitted by customers. Consumers are able
                to purchase motorcycles outside of dealership hours and to 
                select F&I products with their purchase.
              </p>
            </div>
            
            <div class="col-md-2">
              <!--intentionally left empty-->
            </div>
          </div>
          
          <div class="feature-step hidden-xs"></div>
        </div>
      </div>
    </div>
  </li>
  
  <li class="tour-feature-container">
    <div class="tour-feature">
      <div class="row tour-feature-content">
        
        <div class="col-md-6 feature-image-container feature-step-container">
          
          <div class="row">
            
            <div class="col-md-10">
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-remain-engaged.png", 
                            class: "feature-image") %>
            </div>
            
            <div class="col-md-2">
              <!--intentionally left empty-->
            </div>
          </div>
          
          <div class="feature-step hidden-xs"></div>
        </div>
        
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              
              <h1 class="feature-title">
                4. Remain engaged
              </h1>
              
              <p class="feature-info">
                Use in-app messaging to offer post-sale support to consumers. 
                The ability to interact with motorcycle clubs and with bike 
                enthusiasts through motorcycle forums provides a strong social 
                outreach strategy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ol>

<div class="tour-success">
  <div class="tour-success-content">
    
    <div class="success-step hidden-xs">
      <i class="fa fa-check success-step-check" aria-hidden="true"></i>
    </div>
    
    <h1 class="success-title">
      Sold!
    </h1>
    
    <p class="success-info">
      Deliver the motorcycle to your customer and remember to stay connected!
    </p>
    
    <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-sold.png" %>
  </div>
</div>