<% provide(:title, "Vehicle Details") %>

<header class="header-normal">
  <%= render 'layouts/header' %>
</header>

<div id="hero-image"></div>

<!--<div class="img-holder" data-image="hero3"></div>-->
<!--<div id="imageModal" class="modal">-->
<!--  <span class="close" -->
<!--        onclick="document.getElementById('heroModal').style.display='none'">-->
<!--    &times;-->
<!--  </span>-->
<!--  <div class="modal-content">-->
<!--    <div class="hero-image"></div>-->
<!--    <div id="caption">Model X</div>-->
<!--  </div>-->
<!--</div>-->

<div class="secondary-navbar">
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Vehicle details",  '#listing-details-container' %></li>
      <li><%= link_to "Gallery",          '#gallery-primary-row' %></li>
      <li><%= link_to "Reviews",          '#' %></li>
      <li><%= link_to "The Host",         '#' %></li>
    </ul>
    <button class="btn-price">
            <span class="duration">From</span>
            <span class="price">$100</span> 
            <span class="duration">per week</span>
    </button>
  </nav>
</div>

<div class="listing-summary">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag("profile.jpg", :class => "profile-image", :alt => "Nick") %>
        </div>
        <div class="col-md-9">
          <h1>Model X</h1>
          <h2>Les Stanford, (Rating)</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<div id="vehicle-details-container">
  <div class="vehicle-details">
    <div class="vehicle-about">
      <h2>About this listing</h2>
      <h4>
        With Dealership.com, you can find unique vehicles from around the world - 
        from cars and trucks, to vans and SUVs. The listing details below explain 
        what you'll find. If you have any questions, you can contact the seller 
        directly.
      </h4>
      <h3>Contact Host</h3>
    </div>
    <div class="partition"></div>
    <div class="row">
      <div class="col-md-4">
        Features
      </div>
      <div class="col-md-8">
        <div class="col-md-4">
          (Icon) Automatic Transmission
          (Icon) Power Windows
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="partition"></div>
    <div class="row">
      <div class="col-md-4">
        Prices
      </div>
      <div class="col-md-8">
        <div class="col-md-4">
          Cleaning Fee: $75
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gallery-primary-row">
  <div class="image1 col col-md-4"></div>
  <div class="col-md-8">
    <div class="gallery-secondary-row">
      <div class="image2 col col-md-3"></div>
      <div class="image3 col col-md-3"></div>
      <div class="image4 col col-md-6"></div>
    </div>
    <div class="gallery-secondary-row">
      <div class="image5 col col-md-3"></div>
      <div class="image6 col col-md-3"></div>
      <div class="image7 col col-md-3"></div>
      <div class="image8 col col-md-3"></div>
    </div>
  </div>
</div>

<!--<div>-->
<!--  <h2>19 Reviews, (Rating)</h2>-->
<!--  <p>Search Bar</p>-->
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
<!--      Summary-->
<!--    </div>-->
<!--    <div class="col-md-9">-->
<!--      Accuracy, (Rating)-->
<!--    </div>-->
<!--  </div>-->
<!--  <ul>-->
<!--    <li>Profiles</li>-->
<!--  </ul>-->
  
<!--  <div>-->
<!--    <h2>Your Host</h2>-->
<!--    <col-md-3>Profile Photo</col-md-3>-->
<!--    <col-md-9>Profile Info</col-md-9>-->
<!--  </div>-->
<!--</div>-->

<script type="text/javascript">
// secondary navbar scroll
  $(document).ready(function() {
    $(window).on('scroll', function() {
      var scrolltop = $(this).scrollTop();
      if(scrolltop >= 480) {
        $('.secondary-navbar').addClass('secondary-navbar-scrolled');
        $('.enquiry-container').fadeIn(250);
      }
      else {
        $('.secondary-navbar').removeClass('secondary-navbar-scrolled');
        $('.enquiry-container').fadeIn(250);
      }
    });
  });

// // modal
//   var modal = document.getElementById('imageModal');
//   var img = document.getElementById("hero-image");
//   img.onclick = function() {
//     modal.style.display = "block";
//   }
  
//   var span = document.getElementsByClassName("close")[0];
//   span.onclick = function() {
//     modal.style.display = "none";
//   }
  
//   window.onclick = function(event) {
//     if (event.target == modal) {
//       modal.style.display = "none";
//     }
//   }
</script>