<!--complete-->

<%= form_for([@conversation, @conversation.messages.new], 
                     remote: true) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row">
    
    <div class="col-xs-10">
      <div class="message-container">
        
        <%= f.text_area :content, 
            rows: 3,
            placeholder: "Send a personal message.", 
            class: "form-control message-form-control" %>
            
        <%= f.hidden_field :user_id, value: current_user.id %>
        
        <table class="message-detail">
          <tr>
            
            <td class="message-date-container">
              <span class="message-date">
                <%= Time.now.strftime("%D") %>
              </span>
            </td>
            
            <td>
              <%= f.submit "Deliver my message", 
                           class: "message-post" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="col-xs-2">
      <div class="message-avatar message-avatar-right">
        <%= image_tag current_user.avatar.url %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    var avatar = $('.message-avatar-right');
    
    avatar.imagefill(); 
  })
</script>