<!--completed-->
<!--<= Message.first.created_at.strftime("%A, %d %b") %>-->
<!--<= message.created_at.strftime("%A, %d %b") %>-->

<% if message.user_id == current_user.id %>

  <div class="row">
  
    <div class="col-xs-2">
      
      <% if current_user.dealership.present? %>
        <div class="message-avatar message-avatar-left avatar-general", 
             style="background-image: url(
                     '<%= current_user.dealership.photo.url() %>')">
        </div>
      
      <% else %>
        <!--<(perc)= link_to user_path(current_user) do %>-->
          <div class="message-avatar message-avatar-left avatar-general", 
               style="background-image: url(
                       '<%= current_user.avatar.url(:thumb) %>')">
          </div>
        <!--<(perc) end %>-->
      <% end %>
    </div>
  
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= sanitize message.content %>
        </p>
        
        <span class="message-date">
          <%= message.created_at.strftime("%-l:%M%p") %>
        </span>
      </div>
    </div>
  </div>

<% else %>
  
  <div class="row">
    
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= sanitize message.content %>
        </p>
        
        <span class="message-date">
          <%= message.created_at.strftime("%-l:%M%p") %>
        </span>
      </div>
    </div>
    
    <div class="col-xs-2">
            
      <% if @other.id == @conversation.sender_id && 
              @conversation.is_sender_anonymous == true %>
        
        <div class="message-avatar message-avatar-right avatar-general", 
             style="background-image: url(https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/avatar.jpg)">
        </div>
        
      <% else %>
      
        <% if current_user.dealership.present? %>
          <div class="message-avatar message-avatar-right avatar-general", 
               style="background-image: url(
                       '<%= current_user.dealership.photo.url() %>')">
          </div>
        
        <% else %>
          <%= link_to user_path(@other) do %>
            <div class="message-avatar message-avatar-right avatar-general", 
                 style="background-image: url(
                         '<%= @other.avatar.url(:thumb) %>')">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>