<!--completed-->

<% if message.user_id == current_user.id %>

  <div class="row">
  
    <div class="col-xs-2">
      <%= image_tag(current_user.avatar.url, 
                    class: "message-avatar message-avatar-left") %>
    </div>
  
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= message.content %>
        </p>
        
        <span class="message-date">
          <%= message.message_time %>
        </span>
      </div>
    </div>
  </div>

<% else %>
  
  <div class="row">
    
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= message.content %>
        </p>
        
        <span class="message-date">
          <%= message.message_time %>
        </span>
      </div>
    </div>
    
    <div class="col-xs-2">
      <%= image_tag(@other.avatar.url, 
                    class: "message-avatar message-avatar-right") %>
    </div>
  </div>
  <% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    var messageAvatar = $('.message-avatar');
    
    messageAvatar.imagefill();
  })
</script>