<!--completed-->
<!--<= Message.first.created_at.strftime("%A, %d %b") %>-->
<!--<= message.created_at.strftime("%A, %d %b") %>-->

<% if message.user_id == current_user.id %>

  <div class="row">
  
    <div class="col-xs-2">
      <div class="message-avatar message-avatar-left">
        <%= link_to (image_tag current_user.avatar.url), 
                    user_path(current_user) %>
      </div>
    </div>
  
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= message.content %>
        </p>
        
        <span class="message-date">
          <%= message.created_at.strftime("%-l:%M%p") %>
        </span>
      </div>
    </div>
  </div>

<% else %>
  
  <div class="row">
    
    <div class="col-xs-10">
      <div class="message-container">
        
        <p class="message-comment">
          <%= message.content %>
        </p>
        
        <span class="message-date">
          <%= message.created_at.strftime("%-l:%M%p") %>
        </span>
      </div>
    </div>
    
    <div class="col-xs-2">
      <div class="message-avatar message-avatar-right">
        <%= link_to (image_tag @other.avatar.url), 
                    user_path(@other) %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    
      var messageAvatar = $('.message-avatar');
      
      messageAvatar.imagefill(); 
  })
</script>