<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox", conversations_path, class: "nav-active" %></li>
      <li><%= link_to "Your Garage", vehicles_path %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-xs-4 messages-info">
        
        <div class="messages-info-recipient">
          
          <div class="recipient-avatar">
            <%= link_to (image_tag @other.avatar.url), 
                         user_path(@other) %>
          </div>
          
          <div class='recipient-username'>
            <%= link_to @other.name,
                        user_path(@other) %>
          </div>
          
          <% if @other.residence.present? %>
            <span class="recipient-city">
              <%= @other.residence %>
            </span>
          <% end %>
        
          <% if @other.phone_number.present? %>
            <%= link_to @other.phone_number.phony_formatted(spaces: '-'), 
                        '#', 
                        class: "recipient-phone" %>
          <% end %>
  
          <% if @other.description.present? %>
          
            <p class="recipient-description">
              <%= @other.description %>
            </p>
            
            <span class="recipient-expand">+ More</span>
          <% end %>
        </div>
        
        <% if @conversation.appointments.exists? %>
          <div class="messages-info-requests">
            
            <% if @conversation.appointments.where(
                    "buyer_id = ? AND date >= ?",
                    @other.id,
                    Time.now
                  ).exists? %>
              
              <div class="requests-received">
                    
                <h2 class="requests-title">
                  Requests Received
                  (<%= @conversation.appointments.where(
                         "buyer_id = ? AND date >= ?",
                         @other.id,
                         Time.now
                       ).count %>)
                </h2>
                
                <ol class="requests-list">
                  <% @conversation.appointments.where(
                       "buyer_id = ? AND date >= ?",
                       @other.id,
                       Time.now
                     ).each do |appointment| %>
                     
                    <li id="request-item-<%= appointment.id %>" 
                        class="request-item">
                      <table class="request-item-content">
                        <tr>
                          
                          <td class="request-item-detail">
                            
                            <%= link_to appointment.vehicle.listing_name,
                                        appointment.vehicle, 
                                        class: "request-item-vehicle" %>
                            
                            <span class="request-item-date">
                              <%= appointment.date.strftime(
                                    "%A, %d %b (%-l:%M%p)"
                                  ) %>
                            </span>
                          </td>
                          
                          <td class="request-item-status-container">
                            <span class="request-item-status">
                              <%= appointment.status.capitalize %>
                            </span>
                          </td>
                        </tr>
                      </table>  
                    </li>
                  <% end %>
                </ol>
              </div>
            <% end %>
          
            <% if @conversation.appointments.where(
                    "buyer_id = ? AND date >= ?",
                    current_user.id,
                    Time.now
                  ).exists? %>
              
              <div class="requests-sent">
                    
                <h2 class="requests-title">
                  Requests Sent
                  (<%= @conversation.appointments.where(
                         "buyer_id = ? AND date >= ?",
                         current_user.id,
                         Time.now
                       ).count %>)
                </h2>
                
                <ol class="requests-list">
                  <% @conversation.appointments.where(
                       "buyer_id = ? AND date >= ?",
                       current_user.id,
                       Time.now
                     ).each do |appointment| %>
                     
                    <li id="request-item-<%= appointment.id %>" 
                        class="request-item">
                      <table class="request-item-content">
                        <tr>
                          
                          <td class="request-item-detail">
                            
                            <%= link_to appointment.vehicle.listing_name,
                                        appointment.vehicle, 
                                        class: "request-item-vehicle" %>
                            
                            <span class="request-item-date">
                              <%= appointment.date.strftime(
                                    "%A, %d %b (%-l:%M%p)"
                                  ) %>
                            </span>
                          </td>
                          
                          <td class="request-item-status-container">
                            <span class="request-item-status">
                              <%= appointment.status.capitalize %>
                            </span>
                          </td>
                        </tr>
                      </table>  
                    </li>
                  <% end %>
                </ol>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <div class="col-xs-8">

        <% if @conversation.appointments.exists?(
                status: 'pending', seller_id: current_user.id
              ) %>
          <div class="test-drive-response">
            
            <h1 class="test-drive-response-title">
              Respond to <%= @other.name %>'s 
              <%= pluralize_without_count(
                    @conversation.appointments.where(
                      status: 'pending', seller_id: current_user.id
                    ).count, "request"
                  ) %>
            </h1>
            
            <span class="test-drive-response-info">
              <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
              Respond within 24 hours to maintain your response rate
            </span>
            
            <ol class="test-drive-response-list">
              <% @conversation.appointments.where(
                    status: 'pending', seller_id: current_user.id
                 ).each do |appointment| %>
                  
                <li id="response-item-<%= appointment.id %>" 
                    class="response-item">
                  <table class="response-item-content">
                    <tr>
                      
                      <td class="response-detail">
                        
                        <%= link_to appointment.vehicle.listing_name,
                                    appointment.vehicle, 
                                    class: "response-vehicle" %>
                        
                        <span class="response-date">
                          <%= appointment.date.strftime(
                                "%A, %d %b (%-l:%M%p)"
                              ) %>
                        </span>
                      </td>
                      
                      <td class="response-buttons">
                        
                        <%= link_to "Accept",
                                    accept_vehicle_appointment_path(appointment.vehicle, appointment),
                                    method: :put,
                                    class: "btn btn-test-drive-accept" %>
          
                        <%= link_to "Decline",
                                    decline_vehicle_appointment_path(appointment.vehicle, appointment),
                                    method: :put,
                                    class: "btn btn-test-drive-decline" %>
                      </td>
                    </tr>
                  </table>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
        
        <%= render 'form' %>
        
        <div id="chat">
          <%= render @messages, locals: { conversation: @conversation } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= subscribe_to conversation_messages_path(@conversation) %>

<!--must login iot access-->
<!--change title-->
<!--add average rating-->
<!--switch var in javascript to new formatting-->
<!--report user/message-->
<!--link-to alignment/formatting-->
<!--why 3.5em for top and bottom padding-->