<!--complete-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path, class: "nav-active" %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-xs-4">
        <div class="messages-info">
          
          <div class="messages-info-avatar">
            <%= image_tag @other.avatar.url %>
          </div>

          <h1 class="messages-info-username"><%= @other.name %></h1>
          
          <% if @other.residence.present? %>
            <span class="messages-info-city">
              <%= @other.residence %>
            </span>
          <% end %>
        
          <% if @other.phone_number.present? %>
            <%= link_to @other.phone_number.phony_formatted(spaces: '-'), 
                        '#', 
                        class: "messages-info-phone" %>
          <% end %>

          <% if @other.description.present? %>
            <p class="messages-info-description">
              <%= @other.description %>
            </p>
            
            <span class="messages-info-expand">+ More</span>
          <% end %>
        </div>
      </div>
      
      <div class="col-xs-8">
        
        <%= render 'form' %>
        
        <div id="chat">
          <%= render @messages, locals: { conversation: @conversation } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= subscribe_to conversation_messages_path(@conversation) %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    var messagesInfoAvatar = $('.messages-info-avatar');

    messagesInfoAvatar.imagefill();

    // expand description
    var description   = $('.messages-info-description');
    var expand        = $('.messages-info-expand');
    var initialHeight = 100;

    description.each(function() {
      $.data(this, "realHeight", $(this).height());
    }).css({ overflow: "hidden", height: initialHeight + 'px' });
    
    expand.click(function(e) {
      e.preventDefault();
      
      if (description.hasClass("toggled")) {
        description.animate({ 
          height: initialHeight
        }, 600).removeClass("toggled");
        expand.html("+ More");
      } 
      
      else {
        description.animate({ 
          height: description.data("realHeight") 
        }, 600).addClass("toggled");
        expand.html("- Less");
      }
    });
  })
</script>

<!--must login iot access-->
<!--change title-->
<!--add average rating-->
<!--switch var in javascript to new formatting-->
<!--report user/message-->
<!--link-to alignment/formatting-->
<!--why 3.5em for top and bottom padding-->