<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path, class: "nav-active" %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-xs-4">
        <div class="messages-info">
          
          <%= image_tag(@other.avatar.url, class: "messages-info-avatar") %>

          <h1 class="messages-info-username"><%= @other.name %></h1>
          
          <% if @other.residence.present? %>
            <span class="messages-info-city">
              <%= @other.residence %>
            </span>
          <% end %>
        
          <% if @other.phone_number.present? %>
            <%= link_to @other.phone_number.phony_formatted(spaces: '-'), 
                        '#', 
                        class: "messages-info-phone" %>
          <% end %>

          <% if @other.description.present? %>
            <p class="messages-info-description">
              <%= @other.description %>
            </p>
            
            <span class="messages-info-expand">+ More</span>
          <% end %>
        </div>
      </div>
      
      <div class="col-xs-8">
        
        <% if @conversation.appointments.exists?(status: 'pending') %>
          <div class="test-drive-response">
            
            <h1 class="test-drive-response-title">
              Respond to <%= @other.name %>'s request
            </h1>
            
            <span class="test-drive-response-info">
              <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
              Respond within 24 hours to maintain your response rate
            </span>
            
            <div class="test-drive-response-buttons">
              
              <%= link_to "Accept",
                          accept_conversation_messages_path, 
                          class: "btn btn-test-drive-accept" %>

              <%= link_to "Decline",
                          decline_conversation_messages_path, 
                          class: "btn btn-test-drive-decline" %>
            </div>
          </div>
        <% end %>
        
        <%= render 'form' %>
        
        <div id="chat">
          <%= render @messages, locals: { conversation: @conversation } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= subscribe_to conversation_messages_path(@conversation) %>

<!--must login iot access-->
<!--change title-->
<!--add average rating-->
<!--switch var in javascript to new formatting-->
<!--report user/message-->
<!--link-to alignment/formatting-->
<!--why 3.5em for top and bottom padding-->