<!--complete-->
<!--buttons should not be used to issue get requests-->

<% provide(:title, "Profile Update") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li>
        <%= link_to "Profile", 
            edit_profile_path(current_user.profile), 
            class: "nav-active" %>
      </li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4">
        <div class="backend-instructions">
          
          <h2 class="backend-instructions-title">
            Profile
          </h2>
          
          <p class="backend-instructions-info">
            Dealership.com is built on relationships. Help other people get to 
            know you. Share your favorite car memory.
          </p>
          
          <%= button_to 'View Profile', 
                        profile_path, 
                        method: :get, 
                        class: "btn btn-tertiary" %>
        </div>
      </div>
      
      <div class="col-xs-8">
        <div class="profile-form">
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--https://rubygems.org/gems/validates_phone_number/versions/2.0.1-->