<!--complete-->

<% provide(:title, @vehicle_make.name) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="vehicle-make">
  <div class="vehicle-make-content">
    
    <div class="vehicle-make-hero", 
         style="background-image: url(
                 '<%= @vehicle_make.cover_photo_url %>')">
      <div class="vehicle-make-hero-detail">
        <span class="vehicle-make-hero-info">Discover</span>
        <h1 class="vehicle-make-hero-title"><%= @vehicle_make.name %></h1>
      </div>
    </div>
    
    <nav class="dropdown dropdown-backend visible-xs">
  
      <a href='#' class="dropdown-toggle" data-toggle="dropdown">
        Posts <b class="caret"></b>
      </a>
      
      <ul class="dropdown-menu">
        
        <li class="dropdown-active">
          <%= link_to "Posts", posts_vehicle_make_path %>
        </li>
        
        <li>
          <%= link_to "Discussions", discussions_vehicle_make_path %>
        </li>
      </ul>
    </nav>
    
    <div class="vehicle-make-posts">
      <div class="row">
        
        <div class="col-md-3">
          
          <ol class="vehicle-make-nav hidden-xs">
            
            <li class="vehicle-make-nav-active">
              <%= link_to "Posts", posts_vehicle_make_path %>
            </li>
            
            <li><%= link_to "Discussions", discussions_vehicle_make_path %></li>
          </ol>
          
          <nav class="dropdown dropdown-vehicle-makes-secondary">
  
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
              
              <i class="fa fa-search fa-lg" aria-hidden="true"></i>
              
              Select make 
            </a>
          
            <ol class="dropdown-menu">
              <% VehicleMake.all.each do |vehicle_make| %>
                <li>
                  <%= link_to vehicle_make.name, 
                              posts_vehicle_make_path(vehicle_make) %>
                </li>
              <% end %>
            </ol>
          </nav>
        </div>
        
        <div class="col-md-8 vehicle-make-posts-list">
  
          <% if @vehicle_make.posts.exists? %>
            <ol class="vehicle-make-posts-list-content">
              <%= render @vehicle_make.posts.order(created_at: :desc) %>
            </ol>
            
          <% else %>
            <p class="empty-list-info">
              Be the first to post!
            </p>
          <% end %>
        </div>
        
        <div class="col-md-1">
          <!--intentionally left empty-->
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to new_post_path(vehicle_make_id: @vehicle_make.id), 
            class: "single-action" do %>
  <i class='fa fa-pencil fa-lg single-action-icon'></i>
<% end %>