<!--completed-->

<!--read more... link-->

<li id="discussion-item-<%= discussion.id %>" class="discussion-item">
  
  <div class="visible-xs">
    
    <%= link_to discussion.title, discussion, class: "discussion-item-title" %>
    
    <div class="row vertical-align discussion-item-user">
      
      <div class="col-xs-4">
        <%= link_to user_path(discussion.user) do %>
          <div class="discussion-item-avatar avatar-general", 
               style="background-image: url(
                       '<%= discussion.user.avatar.url(:thumb) %>')">
          </div>
        <% end %>
      </div>
      
      <div class="col-xs-8">
        
        <%= link_to discussion.user, class: "discussion-item-name" do %> 
          <%= discussion.user.name %>
        <% end %>
        
        <span class="discussion-item-time">
          <%= time_ago_in_words(discussion.created_at).capitalize %> ago 
        </span>
      </div>
    </div>
  </div>
  
  <div class="row vertical-align discussion-item-user hidden-xs">
    
    <div class="col-md-2 avatar-and-online">
      
      <%= link_to user_path(discussion.user) do %>
        <div class="discussion-item-avatar avatar-general", 
             style="background-image: url(
                     '<%= discussion.user.avatar.url(:thumb) %>')">
        </div>
      <% end %>
      
      <% if discussion.user.online? %>
        <div class="online online-lg-secondary"></div>
      <% end %>
    </div>
    
    <div class="col-md-10">
      
      <%= link_to discussion.title, discussion, 
                  class: "discussion-item-title" %>
      
      <%= link_to discussion.user, class: "discussion-item-name" do %> 
        <%= discussion.user.name %>
      <% end %>
        
      <span class="discussion-item-time">
        · <%= time_ago_in_words(discussion.created_at).capitalize %> ago 
      </span>
    </div>
  </div>
  
  <p class="discussion-item-content"><%= discussion.content %></p>
  
  <%= link_to discussion do %>
    <span class="discussion-item-expand">Read more...</span> 
  <% end %>
  
  <div class="discussion-item-stats">
    
    <div class="stats-content">
      <%= discussion.cached_votes_up %> 
      <i class="fa fa-thumbs-o-up fa-lg stats-icon" aria-hidden="true"></i>
    </div>

    <div class="stats-content">
      <%= discussion.discussion_comments.count %> 
      <i class="fa fa-comment-o fa-lg stats-icon" aria-hidden="true"></i>
    </div>
  </div>
</li>