<li id="forum-search-item-<%= discussion.id %>" class="forum-search-item">
  
  <div class="visible-xs">
    
    <%= link_to discussion.title, discussion, class: "forum-item-title" %>
    
    <div class="row forum-item-mobile-detail">
      
      <div class="col-xs-4">
        <%= link_to user_path(discussion.user) do %>
          <div class="forum-search-avatar avatar-general", 
               style="background-image: url(
                       '<%= discussion.user.avatar.url(:thumb) %>')">
          </div>
        <% end %>
      </div>
      
      <div class="col-xs-8">
        
        <%= link_to discussion.user, class: "forum-item-name" do %> 
          <%= discussion.user.name %>
        <% end %>
        
        <span class="forum-item-time">
          <%= time_ago_in_words(discussion.created_at).capitalize %> ago 
        </span>
      </div>
    </div>
  </div>
  
  <div class="row vertical-align forum-item-header hidden-xs">
    
    <div class="col-md-2">
      <%= link_to user_path(discussion.user) do %>
        <div class="forum-search-avatar avatar-general", 
             style="background-image: url(
                     '<%= discussion.user.avatar.url(:thumb) %>')">
        </div>
      <% end %>
    </div>
    
    <div class="col-md-10">
      
      <%= link_to discussion.title, discussion, class: "forum-item-title" %>
      
      <%= link_to discussion.user, class: "forum-item-name" do %> 
        <%= discussion.user.name %>
      <% end %>
        
      <span class="forum-item-time">
        · <%= time_ago_in_words(discussion.created_at).capitalize %> ago 
      </span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2">
      <!--intentionally left empty-->
    </div>
    
    <div class="col-md-10">
      
      <p class="forum-item-content"><%= discussion.content %></p>
  
      <%= link_to "Read more...", discussion, class: "forum-item-expand" %>
      
      <div class="forum-item-stats">
        
        <div class="stats-content">
          <%= discussion.get_likes.size %> 
          <i class="fa fa-thumbs-o-up fa-lg stats-icon" aria-hidden="true"></i>
        </div>
    
        <div class="stats-content">
          <%= discussion.discussion_comments.count %> 
          <i class="fa fa-comment-o fa-lg stats-icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</li>