<!--are partials within partials acceptable-->
<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  
  <span class="user">
    <%= link_to comment.user.name, comment.user %> wrote:
  </span>
  <span class="timestamp"><%= comment.created_at %></span>
  <span class="title"><%= comment.title %></span>
  <span class="content"><%= comment.content %></span>
  <span class="likes"><%= comment.likes %></span>
  <span class="replies"><%= comment.replies.count %></span>
</li>

<% if comment.replies.any? %>
    <ol class="replies">
      <%= render @replies %>
    </ol>
  <% end %>
  <% if logged_in? %>
    <div class="reply-form">
      <!--<= render 'replies/reply_form' %>-->
      <%= form_for(@reply) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.text_area :content, 
            placeholder: "Tell us the details here." %>
            
        <%= f.hidden_field :comment_id, value: comment.id %>
        
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>