<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Your Garage", vehicles_path, class: "nav-active" %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Garage <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Your Garage", vehicles_path, class: "dropdown-active" %></li>
    <li><%= link_to "Showroom",    test_drives_path %></li>
    <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav"> 
          
        <h2 class="sidenav-title">
          Your Garage
        </h2>
        
        <ul class="sidenav-list">
          
          <li>
            <%= link_to vehicles_path do %>
              Vehicles (<%= current_user.vehicles.count %>)
            <% end %>
          </li>
          
          <li>
            <%= link_to autoparts_path, class: "sidenav-active" do %>
              Parts (<%= @autoparts.count %>)
            <% end %>
          </li>
          
          <li>
            <%= link_to customers_path do %>
              Customers  
              (<%= Appointment.where("seller_id = ? AND date >= ?",
                                     current_user.id,
                                     Time.now).count %>)
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-md-8">
        
        <% if @autoparts.exists? %>
          <ol class="backend-list">
            <%= render @autoparts %>
          </ol>
        
        <% else %>
          <p class="empty-list-info">
            No listings posted
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>