<h1>You Received An Answer! | Motominion</h1>

<p>Hi <%= @answer.question.user.first_name %>,</p>

<p>
  You just received an answer from 
  <strong><%= @answer.user.first_name %></strong> 
  for your question about 
  <strong><%= @answer.question.vehicle.listing_name %></strong>: 
  <%= @answer.question.content %> 
  Click on the link below to view the details:
</p>

<%= link_to "View Answer", questions_url %>