<% provide(:title, 'Dealer Signup') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="dealer-form-background">
  
  <div class="dealer-form">
    
    <div class="col-md-5 dealer-form-content">
      
      <div class="dealer-form-detail">
        
        <h1 class="dealer-form-title">Location</h1>
        
        <h2 class="dealer-form-subtitle">
          So that consumers can find you...
        </h2>
        
        <p class="dealer-form-info">
          Please include the address of your dealership.
        </p>
        
        <%= form_for @dealership do |f| %> 
        
          <%= f.text_field :street_address, 
                           placeholder: "Street address", 
                           class: 'form-control 
                                   form-control-primary 
                                   signup-form-control',
                           required: true %>
                                  
          <%= f.text_field :building, 
                           placeholder: "Apt., bldg. (optional)", 
                           class: 'form-control 
                                   form-control-primary 
                                   signup-form-control' %>
          
          <div class="row">
            
            <div class="col-md-6">
              <%= f.text_field :city, 
                               placeholder: "City", 
                               class: 'form-control 
                                       form-control-primary 
                                       signup-form-control',
                               required: true %>
            </div>
            
            <div class="col-md-6">  
              <%= f.text_field :state, 
                               placeholder: "State Code", 
                               class: 'form-control 
                                       form-control-primary 
                                       signup-form-control',
                               required: true %>
            </div>
          </div>
          
          <%= hidden_field_tag :redirect_location, logo_dealership_path %>
  
          <%= f.submit "Save", class: "btn btn-tertiary" %>
        <% end %>
      </div>
    </div>
  
    <div class="col-md-7">
      <!--intentionally left empty-->
    </div>
  </div>
  
  <div class="dealer-form-photo hidden-xs"></div>
</div>