<% provide(:title, 'Admin') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_profile' %>
      </div>
      
      <div class="col-md-8">
        
        <%= button_to "Upload Dealer Vehicles", upload_path %>
        
        <h3>Overview</h3>
        
        <%= column_chart Impression.where('created_at > ?', 30.days.ago).group_by_day(:created_at, format: "%d %B").count,
                         colors: ["#38b2a6"] %>

        <% Dealership.all.each do |dealership| %>
        
          <h3><%= dealership.dealership_name %></h3>
          
          <%= column_chart Impression.where('created_at > ? AND dealership_id = ?', 30.days.ago, dealership.id).group_by_day(:created_at, format: "%d %B").count,
                           colors: ["#38b2a6"] %>
        <% end %>
      </div>
    </div>
  </div>
</div>