<!--completed-->

<% provide(:title, 'Insights') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_profile' %>
      </div>
      
      <div class="col-md-8">
        <h3>Visits By Day</h3>
        <%= area_chart @vehicle_views.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
      </div>
    </div>
  </div>