<!--completed-->

<% provide(:title, "Performance") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_performance' %>
      </div>
      
      <div class="col-md-8">
        <% if @vehicles.exists? %>

          <ol class="backend-list">
            <%= render partial:    'inventory_item',
                       collection: @vehicles,
                       as:         :vehicle %>
          </ol>
          
          <%= will_paginate @vehicles, 
              previous_label: 
                '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
              next_label: 
                '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
              inner_window: 1, 
              outer_window: 0 %>
        
        <% else %>
          <div class="empty-list">
            <p class="empty-list-info">
              No listings posted
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>