<!--completed-->

<% other = conversation.sender == 
           current_user ? conversation.recipient : conversation.sender %>
           
<%= link_to conversation_messages_path(conversation), 
            class: "conversation-link" do %>
   
  <li id="conversation-item-<%= conversation.id %>" class="conversation-item">           
    <table class="conversation-item-content">
      <tr>
        
        <td>
          <div class="conversation-avatar">
            <%= image_tag other.avatar.url %>
          </div>
        </td>
        
        <td>
          <div class="conversation-detail">
            
            <p class="conversation-name"><%= other.name %></p>
            
            <p class="conversation-date">
              <%= conversation.updated_at.strftime("%D") %>
            </p>
          </div>
        </td>
        
        <td class="conversation-content-container">
          <p class="conversation-content">
            <% if conversation.messages.exists? %>
              <%= conversation.messages.last.content %>
            <% else %>
              (No Messages)
            <% end %>
          </p>
        </td>
        
        <td>
          <!--<p class="conversation-appointment">-->
          <!--  <(perc)= pluralize(conversation.appointments.count, "Request") %>-->
          <!--</p>-->
          
          <%= link_to archive_conversation_path(conversation), 
                      method: :put do %>
            <span class="conversation-delete-link">
              <i class="fa fa-archive" aria-hidden="true"></i>
              Archive
            </span>
          <% end %>
        </td>
      </tr>
    </table>
  </li>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    
      var conversationAvatar = $('.conversation-avatar');
      
      conversationAvatar.imagefill(); 
  })
</script>

<!--simplify conversation and messages relationship (mailboxer gem)-->
<!--stay gray after selected-->
<!--should be logged in IOT delete (check controller)-->
<!--are these ordered based on most recent?-->