<!--complete-->

<% other = conversation.sender == 
           current_user ? conversation.recipient : conversation.sender %>
           
<% if conversation.messages.exists? %>    

  <%= link_to conversation_messages_path(conversation), 
              class: "conversation-link" do %>
     
    <li id="conversation-item-<%= conversation.id %>" class="conversation-item">           
      <table class="conversation-item-content">
        <tr>
          
          <td>
            <div class="conversation-avatar">
              <%= image_tag other.avatar.url %>
            </div>
          </td>
          
          <td>
            <div class="conversation-detail">
              
              <p class="conversation-name"><%= other.name %></p>
              
              <p class="conversation-date">
                <%= conversation.messages.last.message_time %>
              </p>
            </div>
          </td>
          
          <td class="conversation-content-container">
            <p class="conversation-content">
              <%= conversation.messages.last.content %>
            </p>
          </td>
          
          <td>
            <!--<(perc)= link_to @conversation, -->
            <!--            method: :delete, -->
            <!--            data: { confirm: "Are you sure?" } do %>-->
            <!--  <span class="conversation-delete-link">-->
            <!--    <i class="fa fa-times" aria-hidden="true"></i>-->
            <!--    Delete-->
            <!--  </span>-->
            <!--<(perc) end %>-->
          </td>
        </tr>
      </table>
    </li>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    var avatar = $('.conversation-avatar');
    
    avatar.imagefill(); 
  })
</script>

<!--simplify conversation and messages relationship (mailboxer gem)-->
<!--stay gray after selected-->
<!--should be logged in IOT delete (check controller)-->
<!--are these ordered based on most recent?-->