<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path, class: "nav-active" %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-xs-4">
        <div class="backend-instructions">
          
          <% @conversations.each do |conversation| %>
            <% @conversation_count =+ 1 if conversation.messages.exists? %>
          <% end %>
          
          <h2 class="backend-instructions-title">
            Messages (<%= @conversation_count %>)
          </h2>
          
          <p class="backend-instructions-info">
            When customers contact you or send you test drive requests, you will
            see their messages here.
          </p>
        </div>
      </div>
      
      <div class="col-xs-8">
        <% if @conversations.any? %>
          <ol class="backend-list">
            <%= render @conversations %>
          </ol>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--must login iot access-->
<!--what if there are no messages-->
<!--number should only indicate new messages-->
<!--simplify conversation_count-->