<!--completed-->

<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox", conversations_path, class: "nav-active" %></li>
      <li><%= link_to "Your Garage", vehicles_path %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
      
      <div class="col-xs-4 sidenav">

        <h2 class="sidenav-title">
          Inbox
        </h2>
        
        <ul class="sidenav-list">
          
          <li>
            <%= link_to conversations_path, class: "sidenav-active" do %>
              Messages
            <% end %>
          </li>
          
          <li>
            <%= link_to questions_path do %>
              Questions
              (<%= Question.where(vehicle_id: current_user.vehicles).count %>)
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-xs-8">
        
        <ul class="nav nav-tabs inbox-tabs">
          
          <li class="active">
            <a href="#primary_messages" data-toggle="tab">
              Primary (<%= @conversations_primary.count %>)
            </a>
          </li>
          
          <li>
            <a href="#archived_messages" data-toggle="tab">
              Archived (<%= @conversations_archived.count %>)
            </a>
          </li>
        </ul>
      
        <div class="tab-content inbox-tab-content">
          
          <div class="tab-pane fade active in" id="primary_messages">
            
            <% if @conversations_primary.exists? %>
              <ol class="backend-list">
                <%= render partial:    "conversation_primary", 
                           collection: @conversations_primary, 
                           as:         :conversation %>              
              </ol>
            
            <% else %>
              <!--<div class="empty-list">-->
              
                <!--<i class="fa fa-envelope-o fa-4x empty-list-icon" -->
                <!--   aria-hidden="true"></i>-->
                   
                <p class="empty-list-info">
                  No messages yet
                </p>
              <!--</div>-->
            <% end %>
          </div>
          
          <div class="tab-pane fade" id="archived_messages">
            
            <% if @conversations_archived.exists? %>
              <ol class="backend-list">
                <%= render partial:    "conversation_archived", 
                           collection: @conversations_archived, 
                           as:         :conversation %>
              </ol>
            
            <% else %>
              <!--<div class="empty-list">-->
              
                <!--<i class="fa fa-envelope-o fa-4x empty-list-icon" -->
                <!--   aria-hidden="true"></i>-->
                   
                <p class="empty-list-info">
                  No messages yet
                </p>
              <!--</div>-->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--must login iot access-->
<!--what if there are no messages-->
<!--number should only indicate new messages-->
<!--simplify conversation_count-->