<!--must login iot access-->
<% provide(:title, "Inbox") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'shared/hero_secondary' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <%= link_to "Inbox",       
            conversations_path, 
            class: "nav-active" %>
      </li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Profile",     profile_path %></li>
      <li><%= link_to "Account",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="sales-management-container">
  <div class="messages-panel">
    <span class="panel-header">Messages (0 new)</span>
    <div class="panel-body">
      <% @conversations.each do |conversation| %>
        <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
        <%= link_to conversation_messages_path(conversation) do %>
          <div class="message-summary row">
            <div class="col-md-2">
              <%= gravatar_for other %>
            </div>
            <div class="col-md-3">
              <%= other.name %><br>
              <%= conversation.messages.last.message_time %>
            </div>
            <div class="col-md-7">
              <%= conversation.messages.last.content %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>