<!--completed-->

<%= form_for @user do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="update-panel">
    
    <h2 class="panel-title">Profile Photo</h2>

    <div class="row vertical-align panel-body">
        
      <div class="col-xs-4">
        <div class="row">
          
          <div class="col-md-11 avatar-container">
            <%= image_tag @user.avatar.url, class: "avatar" %>
          </div>
          
          <div class="col-md-1">
            <!--intentioanlly left empty-->
          </div>
        </div>
      </div>
      
      <div class="col-xs-8">
        
        <p class="avatar-instructions-text">
          Clear frontal face photos are an important way for sellers and 
          buyers to learn about each other. 
        </p>
        
        <div class="button-container">
          
          <div class="avatar-instructions-button">
            Upload Photo
          </div>
          
          <%= f.file_field :avatar, class: "avatar-upload" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="update-panel">
    
    <h2 class="panel-title">Required</h2>

    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :name %>

          <%= f.text_field :name, 
                           placeholder: @user.name, 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :email %>

          <%= f.text_field :email, 
                           placeholder: @user.name, 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
      
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :password %>

          <%= f.text_field :password, 
                           placeholder: "Password", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :password_confirmation, "Confirmation" %>

          <%= f.text_field :password_confirmation,
                           placeholder: "Confirmation", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
    
    <div class="checkbox-inline">
      
      <%= f.check_box :is_subscribed, class: "checkbox" %>
      
      <%= f.label :is_subscribed, 
                  "Tick here if you would like to receive our email newsletter 
                   which contains more information about our services, offers, 
                   or promotions.",
                  class: "checkbox-label" %>
    </div>
  </div>
  
  <div class="update-panel last">
    
    <h2 class="panel-title">Optional</h2>

    <div class="form-group form-group-primary">
      
      <%= f.label :description, "Describe Yourself" %>

      <%= f.text_area :description, 
                      rows: 5,
                      placeholder: (@user.description.present? ? 
                                    @user.description : "Mototrova is built on relationships. Help other people get to know you."), 
          class: 'form-control form-control-primary' %>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :phone_number, "Phone Number" %>

          <%= f.text_field :phone_number, 
                           placeholder: "Phone number", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :residence, "City" %>

          <%= f.text_field :residence, 
                           placeholder: "E.g. Detroit, MI / Chicago, IL", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :school %>

          <%= f.text_field :school, 
                           placeholder: "University of Michigan", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :work %>

          <%= f.text_field :work, 
                           placeholder: "Company name or job title", 
                           class: 'form-control form-control-primary' %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "Save Changes", class: "btn btn-primary btn-update" %>      
<% end %>