<%= form_for(@user) do |f| %>

  <div class="signup-form">
    <%= render 'shared/error_messages', object: @user %>
      
    <%= f.text_field :name, :placeholder => "Name", class: 'form-control' %>
        
    <%= f.email_field :email, :placeholder => "Email address", 
        class: 'form-control' %>
        
    <%= f.password_field :password, :placeholder => "Password",
        class: 'form-control' %>
        
    <%= f.password_field :password_confirmation, :placeholder => "Confirmation", 
        class: 'form-control' %>
  </div>
  
  <div class="terms-container">    
    <div class="terms-text">
      <span class="checkbox">
        Tick here if you would like to receive our email newsletter which 
        contains more information about our services, offers, or promotions.
      </span>
      <span class="checkbox">
        I confirm that I have read and accepted the Terms of Use, Acceptable Use
        Policy, Privacy Policy, and Cookie Policy and that I consent to the 
        collection, storage, use, processing, and transfer of my personal data as
        stated in the Privacy Policy.
      </span>
    </div>
    <%= f.submit yield(:button_text), class: "btn-signup" %>
    <p>Already have an account? <%= link_to "Log in", login_path %> </p>
  </div>
      
<% end %>