<%= form_for @user do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <%= link_to "/auth/google", 
              class: "btn btn-social-auth" do %>
              
      <i class="fa fa-google fa-lg" aria-hidden="true"></i> 
      
      Sign up with Google
  <% end %>
  
  <div class="login-alternative">
    <span class="login-alternative-text">Or</span>
    <div class="login-alternative-line"></div>
  </div>
  
  <%= f.text_field :first_name, 
                   placeholder: "First name", 
                   class: 'form-control 
                           form-control-primary
                           signup-form-control' %>
                           
  <%= f.text_field :last_name, 
                   placeholder: "Last name", 
                   class: 'form-control 
                           form-control-primary
                           signup-form-control' %>
      
  <%= f.email_field :email,
                    placeholder: "Email address", 
                    class: 'form-control 
                            form-control-primary
                            signup-form-control' %>
      
  <%= f.password_field :password, 
                       placeholder: "Password",
                       class: 'form-control 
                               form-control-primary
                               signup-form-control' %>
      
  <%= f.password_field :password_confirmation, 
                       placeholder: "Password confirmation", 
                       class: 'form-control 
                               form-control-primary
                               signup-form-control' %>
  
  <% if @token != nil %>
    <%= f.hidden_field :invitation_token, value: @token %>
  <% end %>
  
  <%= f.submit "Create Account", class: "btn btn-primary" %>
  
  <div class="login-links-container">
    <p class="login-link-text">
      
      Already have an account? 
      
      <%= link_to "Log in", 
                  login_path,
                  class: "login-link" %>
    </p>
  </div>
<% end %>