<!--complete-->

<% @user.vehicles.each do |vehicle| %>

  <li id="other-user-listing-<%= vehicle.id %>" class="vehicle-item">
    <div class="row vehicle-item-summary">

      <div class="col-xs-4 summary-carousel-container">
        <%= link_to vehicle, target: "_blank" do %>
        
          <div id="summary-carousel-<%= vehicle.id %>" 
               class="carousel listing-summary-carousel" 
               data-interval="false">
            
            <div class="carousel-inner">
              
              <div class="item active">
                <img src="<%= vehicle.photos[0].image.url() if 
                              vehicle.photos.length > 0 %>">
              </div>
              
              <div class="item">
                <img src="<%= vehicle.photos[1].image.url() if 
                              vehicle.photos.length > 1 %>">
              </div>
          
              <div class="item">
                <img src="<%= vehicle.photos[2].image.url() if 
                              vehicle.photos.length > 2 %>">
              </div>
          
              <div class="item">
                <img src="<%= vehicle.photos[3].image.url() if 
                              vehicle.photos.length > 3 %>">
              </div>
              
              <div class="item">
                <img src="<%= vehicle.photos[4].image.url() if 
                              vehicle.photos.length > 4 %>">
              </div>
              
              <div class="item">
                <img src="<%= vehicle.photos[5].image.url() if 
                              vehicle.photos.length > 5 %>">
              </div>
              
              <div class="item">
                <img src="<%= vehicle.photos[6].image.url() if 
                              vehicle.photos.length > 6 %>">
              </div>
              
              <div class="item">
                <img src="<%= vehicle.photos[7].image.url() if 
                              vehicle.photos.length > 7 %>">
              </div>
            </div>
          </div>
        <% end %>
        
        <a href="#summary-carousel-<%= vehicle.id %>" data-slide="prev">
          <i class="fa fa-chevron-left fa-2x btn-summary-carousel-left" 
             aria-hidden="true"></i>
        </a>
        
        <a href="#summary-carousel-<%= vehicle.id %>" data-slide="next">
          <i class="fa fa-chevron-right fa-2x btn-summary-carousel-right" 
             aria-hidden="true"></i>
        </a>
      </div>
    
      <div class="col-xs-6 summary-detail">
        <%= link_to vehicle, 
                    class: "summary-detail-content", 
                    target: "_blank" do %>
            
          <p class="summary-detail-title"><%= vehicle.listing_name %></p>
          
          <p class="summary-detail-seller">
            <%= vehicle.user.name %> · 
            <span id="average-rating-<%= vehicle.id %>"></span>
          </p>
          
          <p class="summary-detail-info"><%= vehicle.summary %></p>
        <% end %>
        
        <% if logged_in? && 
              !current_user.favorite_vehicles.exists?(vehicle_id:
                                                      vehicle.id) %>
                  
          <%= link_to favorite_vehicle_path(vehicle), 
                      method: :put do %>
            <span class="summary-detail-link">
              
              <i class="fa fa-heart summary-detail-link-icon" 
                 aria-hidden="true"></i>
                 
              Add to Wish List
            </span>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-xs-2 summary-price">
        <%= link_to vehicle, 
                    class: "summary-price-content", 
                    target: "_blank" do %>
            
          <p class="summary-price-title">$<%= vehicle.price %></p>
          
          <%= button_to "View", 
                        vehicle, 
                        class: "btn btn-secondary", 
                        method: :get %>
        <% end %>
      </div>
    </div>
    
    <!--<div class="vehicle-item-deal">-->
    <!--  <(perc)= link_to vehicle, -->
    <!--      class: "vehicle-item-deal-content", -->
    <!--      target: "_blank" do %>-->
          
    <!--    <i class="fa fa-shopping-basket deal-detail-icon" -->
    <!--       aria-hidden="true"></i>-->
           
    <!--    <span class="deal-detail-title">1 Additional Product</span> -->
        
    <!--    <span class="deal-detail-info">Spoiler at reduced cost</span> -->
    <!--  <(perc) end %>-->
    <!--</div>-->
  </li>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      // rating
      var averageRating = $('#average-rating-<%= vehicle.id %>');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= vehicle.average_rating %>
      });
    });
  </script>
<% end %>