<li id="wish-list-item-<%= vehicle.id %>" 
    class="col-md-6 search-item shortlist-item-<%= current_user.
                                                     favorite_vehicles.
                                                     where(vehicle: vehicle).
                                                     first.
                                                     vehicle_id %>">
  
  <div class="search-item-image">
    
    <%= link_to vehicle, target: "_blank" do %>
      <div class="search-item-image-content", 
           style="background-image: url('<%= vehicle.photos[0].image.url() if 
                                             vehicle.photos.length > 0 %>')">
        
      </div>
    <% end %>
    
    <% if vehicle.user.dealership_id.present? %>
      <div class="special-offer" 
           id="search-item-special-offer-<%= vehicle.id %>">
        
        <i class="fa fa-lg fa-tag special-offer-icon"></i>
        
        <div type="button" 
             class="special-offer-button" 
             data-id="<%= vehicle.id %>"
             data-toggle="modal" 
             data-target="#modal-special-offer">
          Special Offer
        </div>
      </div>
    <% end %>
  </div>
  
  <%= link_to vehicle, target: "_blank" do %>
    <div class="row">
      
      <div class="col-xs-3 search-item-user">
        <div class="search-item-user-content">
          <div class="avatar-and-online">
          
            <div class="search-item-avatar avatar-general", 
                 style="background-image: url(
                       '<%= vehicle.user.avatar.url(:thumb) %>')">
            </div>
        
            <% if vehicle.user.online? %>
              <div class="online online-lg-primary hidden-xs"></div>
            <% end %>
          </div>
        </div>
      </div>
    
      <div class="col-xs-9">
        <div class="search-item-info">
        
          <span class="search-item-title">
            $<%= vehicle.price %> | <%= vehicle.listing_name %>
          </span>

          <div id="average-rating-search-item-<%= vehicle.id %>", 
               class="average-rating-search-item"></div>
          
          <span class="search-item-review-count">
            <%= pluralize(vehicle.reviews.count, "review") %>
          </span>
          
          <div class="feature-list">
            
            <i class="fa fa-lg fa-info-circle feature-list-icon"></i>
  
            <ol class="feature-list-content">
            
              <li>Vehicle Features</li>
            
              <% if vehicle.is_leather_seats %>
                <li>Leather Seats</li>
              <% end %>
              
              <% if vehicle.is_sunroof %>
                <li>Sunroof</li>
              <% end %>
              
              <% if vehicle.is_navigation_system %>
                <li>Navigation System</li>
              <% end %>
              
              <% if vehicle.is_dvd_entertainment_system %>
                <li>DVD Entertainment System</li>
              <% end %>
              
              <% if vehicle.is_bluetooth %>
                <li>Bluetooth</li>
              <% end %>
              
              <% if vehicle.is_leather_seats %>
                <li>Leather Seats</li>
              <% end %>
              
              <% if vehicle.is_backup_camera %>
                <li>Backup Camera</li>
              <% end %>
              
              <% if vehicle.is_remote_start %>
                <li>Remote Start</li>
              <% end %>
              
              <% if vehicle.is_tow_package %>
                <li>Tow Package</li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('#average-rating-search-item-<%= vehicle.id %>');
  
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= vehicle.average_rating %>
      });  
  });
</script>