<!--completed-->
<!--replace favorite_vehicle.vehicle with favorites? -->
<!--favorite_vehicle.vehicle needed for correct order-->

<% @user.favorite_vehicles.each do |favorite_vehicle| %>
  
  <li id="wish-list-item-<%= favorite_vehicle.id %>" 
      class="col-xs-6 wish-list-item">
    <%= link_to favorite_vehicle.vehicle, target: "_blank" do %>
      <div class="wish-list-item-content">
        
        <div class="wish-list-item-image", 
             style="background-image: url(
                     '<%= favorite_vehicle.vehicle.photos[0].image.url() if 
                          favorite_vehicle.vehicle.photos.length > 0 %>')">
        </div>
        
        <div class="row">
            
          <div class="col-xs-3 wish-list-item-user">
            <div class="wish-list-item-user-content">
              <div class="avatar-and-online">
                
                <div class="wish-list-item-avatar">
                  <%= image_tag favorite_vehicle.vehicle.user.avatar.url %>
                </div>
              
                <% if favorite_vehicle.vehicle.user.online? %>
                  <div class="online online-lg-primary"></div>
                <% end %>
              </div>
            </div>
          </div>
          
          <div class="col-xs-9">
            <div class="wish-list-item-info">
              
              <span class="wish-list-item-title">
                $<%= favorite_vehicle.vehicle.price %> | 
                <%= favorite_vehicle.vehicle.listing_name %>
              </span>
    
              <div id="average-rating-wish-list-item-<%= favorite_vehicle.id %>" 
                   class="average-rating-wish-list-item"></div>
              
              <span class="wish-list-item-review-count">
                <%= pluralize(favorite_vehicle.vehicle.reviews.count, 
                              "review") %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </li>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      // rating
      
        var averageRating = $('#average-rating-wish-list-item-<%= favorite_vehicle.id %>');
    
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= favorite_vehicle.vehicle.average_rating %>
        });  
    });
  </script>
<% end %>