<!--complete-->

<% provide(:title, 'Account') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li>
        <%= link_to "Account",     
            edit_user_path(current_user), 
            class: "nav-active" %>
      </li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4">
        <div class="backend-instructions">
          
          <h2 class="backend-instructions-title">Account Update</h2>
          
          <p class="backend-instructions-info account-info">
            Need to make changes? Alter the details of your account, here.
          </p>
          
          <%= button_to 'View Profile', 
                        user_path, 
                        method: :get, 
                        class: "btn btn-tertiary" %>
        </div>
      </div>
      
      <div class="col-xs-8">
        <div class="account-form">
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
</div>