<!--edit_user_path(current_user)-->

<% provide(:title, 'Account') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'shared/hero_secondary' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Garage",      vehicles_path %></li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Profile",     profile_path %></li>
      <li>
        <%= link_to "Account",     
            edit_user_path(current_user), 
            class: "nav-active" %>
      </li>
    </ul>
  </div>
</nav>

<div class="account">
  <div class="row account-content">
    
    <div class="col-md-4 account-instructions">
      <h2 class="account-instructions-title">Account Update</h2>
      <p class="account-instructions-info">
        Need to make changes? Alter the details of your account, here. 
        customers.
      </p>
    </div>
    
    <div class="col-md-8 account-form">
      <%= render 'edit_form' %>
    </div>
  </div>
</div>