<% provide(:title, "Account") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_account' %>
      </div>
      
      <div class="col-md-8">
        
        <!--<div class="card"></div>-->
        
        <%= form_tag('/add_card', method: "post", id: "add-card") do %>
          
          <label>
            <span>Name</span>
            <input name="cardholder-name" class="field" placeholder="Jane Doe" />
          </label>
          
          <label>
            <span>Card</span>
            <div id="card-element" class="field"></div>
          </label>
          
          <div class="outcome">
            <div class="error" role="alert"></div>
          </div>
          
          <% if current_user.stripe_id %>
            <button type="submit" class="btn btn-primary">Update Card</button>
          <% else %>
            <button type="submit" class="btn btn-primary">Add Card</button>
          <% end %>

          <!--<div class="row">-->
            
          <!--  <div class="col-md-8 form-group">-->
          <!--    <label>Card Number</label>-->
          <!--    <input type="text" name="number" class="form-control form-control-primary"/>-->
          <!--  </div>-->
            
          <!--  <div class="col-md-4 form-group">-->
          <!--    <label>Expiration</label>-->
          <!--    <input type        = "text" -->
          <!--           placeholder = "MM / YY" -->
          <!--           name        = "expiry" -->
          <!--           class       = "form-control form-control-primary"/>-->
          <!--  </div>-->
          <!--</div>-->
          
          <!--<div class="row">-->
            
          <!--  <div class="col-md-8 form-group">-->
          <!--    <label>Name</label>-->
          <!--    <input type="text" name="name" class="form-control form-control-primary"/>-->
          <!--  </div>-->
            
          <!--  <div class="col-md-4 form-group">-->
          <!--    <label>CVV</label>-->
          <!--    <input type="text" name="cvv" class="form-control form-control-primary"/>-->
          <!--  </div>-->
            
          <!--  <(perc) if current_user.stripe_id.blank? %>-->
          <!--    <button class="btn btn-primary">Add Card</button>-->
          <!--  <(perc) else %>-->
          <!--    <button class="btn btn-primary">Update Card</button>-->
          <!--  <(perc) end %>-->
          <!--</div>-->
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    
    var stripe   = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
    var elements = stripe.elements();
    var card     = elements.create('card', {
      
      hidePostalCode: true,
      
      style: {
        base: {
          iconColor:  '#F99A52',
          color:      '#32315E',
          lineHeight: '48px',
          fontWeight: 400,
          fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
          fontSize:   '15px',
    
          '::placeholder': {
            color: '#CFD7DF',
          }
        },
      }
    });
    
    card.mount('#card-element');
    
    function setOutcome(result) {
      
      var errorElement = document.querySelector('.error');

      errorElement.classList.remove('visible');
    
      if (result.token) {
        
        var form = $('#add-card');
        
        form.append($('<input type="hidden" name="stripeToken">').val(result.token.id));
        form.get(0).submit();
      } 
      
      else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }
    
    card.on('change', function(event) {
      setOutcome(event);
    });
    
    $('#add-card').on('submit', function(e) {
      
      e.preventDefault();
      
      var extraDetails = {
        name: $('input[name=cardholder-name]').value
      };
      
      stripe.createToken(card, extraDetails).then(setOutcome);
    });
    
    // var card = new Card({
    //   form: '#add-card',
    //   container: '.card'
    // })
  })
</script>