<% provide(:title, 'Profile Photo') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="credentials">
  <h1 class="credentials-title">Just a few details...</h1>
  <%= render 'profile_pic_form' %>
</div>