<!--completed-->

<!--completed-->

<% provide(:title, "Shortlist") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'purchases/modal_purchase' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="shortlist-results">
  
  <div id="shortlist-map"></div>
  
  <div class="shortlist-results-background">
    <div class="shortlist-list-container">
      <div class="row">
        
        <div class="col-md-4 hidden-xs">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-8 shortlist-list-content">
          
          <% if @purchases.exists? %>
            <div class="shortlist-purchases">
              <ol class="row backend-list">
                <%= render partial:    "purchases/purchase", 
                           collection: @purchases %>
              </ol>
            </div>
          <% end %>
          
          <div class="shortlist-test-drives">
            
            <span class="shortlist-title">
              Test Drives (<%= @test_drives.count %>)
            </span>              
            
            <% if @test_drives.exists? %>
              <ol class="row test-drives">
                <%= render partial:    "appointments/test_drive", 
                           collection: @test_drives %>
              </ol>
              
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                
                <button type="submit"
                        class="empty-shortlist empty-shortlist-a">

                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      Schedule A Test Drive
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Keep track of your test drives; we'll forward any new requests to 
                      dealers.
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Begin Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span> 
                  </div>

                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-a.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
          
          <div class="shortlist-loves">

            <span class="shortlist-title">
              Love It! (<%= @loved_items.count %>)
            </span>
            
            <% if @loved_items.exists? %>
              <ol class="row search-items">
                <%= render partial: "shortlist_item",
                           collection: @loved_items %>
              </ol>
            
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
                <button type="submit"
                        class="empty-shortlist empty-shortlist-b">
                  
                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      Make Space In The Garage
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Add bikes that you can't do without. You'll be needing
                      more room...
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Begin Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-b.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
          
          <div class="shortlist-loves">
            
            <% if @liked_items.exists? %>
              <ol class="row search-items">
                <%= render partial: "shortlist_item",
                           collection: @liked_items %>
              </ol>
            
            <% else %>
              <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
                <button type="submit"
                        class="empty-shortlist empty-shortlist-c">
                  
                  <div class="empty-shortlist-detail">
                    
                    <span class="empty-shortlist-title">
                      You've Caught My Eye
                    </span>
                    
                    <span class="empty-shortlist-subtitle">
                      Add vehicles that you'd like to have another look at.
                    </span>
                    
                    <span class="empty-shortlist-info">
                      Start Your Search
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/shortlist-c.png",
                                class: "empty-shortlist-image") %>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shortlist-nav-mobile visible-xs">

  <div class="shortlist-nav-grid shortlist-nav-grid-active">
    <i class="fa 
              fa-lg
              fa-th-large 
              shortlist-nav-grid-icon 
              shortlist-nav-grid-icon-active" 
       aria-hidden="true"></i> 
  </div>
  
  <div class="shortlist-nav-map shortlist-nav-map-inactive">
    <i class="fa 
              fa-lg
              fa-map-marker 
              shortlist-nav-map-icon
              shortlist-nav-map-icon-inactive" 
       aria-hidden="true"></i> 
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // shortlist results height
      
      var shortlistResults           = $('.shortlist-results');
      var shortlistResultsBackground = $('.shortlist-results-background');
      
      if ( $(window).width() <= 768 ) {    
        shortlistResults.height(shortlistResultsBackground.outerHeight());
      }
    
    // map
    
      var hoverMarkerIcon = {
        url:    "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png",
        width:  32,
        height: 32
      };
      
      handler = Gmaps.build('Google');
      
      handler.buildMap({
        
        provider: {

          center:            new google.maps.LatLng(37.7749, -122.4194),
          zoom:              13,          
          maxZoom:           14,
          scrollwheel:       false,
          mapTypeControl:    false,
          streetViewControl: false,
          clickableIcons:    false,
          
          zoomControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
          },
          
          styles: [
            {
              "featureType": "landscape",
              "stylers": [
                { "hue": "#FFBB00" },
                { "saturation": 43.400000000000006 },
                { "lightness": 37.599999999999994 },
                { "gamma": 1 }
              ]
            },
            
            {
              "featureType": "road.highway",
              "stylers": [
                { "hue": "#FFC200" },
                { "saturation": -61.8 },
                { "lightness": 45.599999999999994 },
                { "gamma": 1 }
              ]
            },
      
            {
              "featureType": "road.arterial",
              "stylers": [
                { "hue": "#FF0300" },
                { "saturation": -100 },
                { "lightness": 51.19999999999999 },
                { "gamma": 1 }
              ]
            },
          
            {
              "featureType": "road.local",
              "stylers": [
                { "hue": "#FF0300" },
                { "saturation": -100 },
                { "lightness": 52 },
                { "gamma": 1 }
              ]
            },
          
            {
              "featureType": "water",
              "stylers": [
                { "hue": "#0078FF" },
                { "saturation": -13.200000000000003 },
                { "lightness": 2.4000000000000057 },
                { "gamma": 1 }
              ]
            },
          
            {
              "featureType": "poi",
              "stylers": [
                { "hue": "#00FF6A" },
                { "saturation": -1.0989010989011234 },
                { "lightness": 11.200000000000017 },
                { "gamma": 1 }
              ]
            }
          ]
        },
            
        internal: {
          id: 'shortlist-map'
        }
      }, function() {
        
        if ( $(window).width() > 768 ) { 
          markers = handler.addMarkers(<%= raw @hash.to_json %>,
                                       { clickable: false }) }
        
        else {
          markers = handler.addMarkers(<%= raw @hash.to_json %>,
                                       { clickable: true }) }
                                       
        _.each(<%= raw @hash.to_json %>, function(json, index) {
          
          var hoverMarker = {};
          
          hoverMarker.marker = void 0;
          json.marker = markers[index];
          
          $(".shortlist-item-" + json.id).on("mouseover", function() {
            
            hoverMarker = {
              lat: json.lat,
              lng: json.lng,
              picture: hoverMarkerIcon
            };
            
            handler.removeMarker(json.marker);
            hoverMarker.marker = handler.addMarker(hoverMarker);
          }).on("mouseout", function() {
            handler.removeMarker(hoverMarker.marker);
            json.marker = handler.addMarker(json);
          });
        });

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  });
  
  fbq('track', 'AddToWishlist');
</script>