<!--complete-->

<% provide(:title, @user.name) %>

<header class="header-fixed-hidden">
  <%= render 'layouts/header_profile' %>
</header>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="hero-profile"></div>

<div class="user-summary">
  <div class="user-summary-content">
    <div class="row">
      
      <div class="col-xs-8">
        <div class="row vertical-align">
          
          <div class="col-xs-4 user-summary-avatar-container">
            <div class="user-summary-avatar">
              <%= image_tag @user.avatar.url %>
            </div>
          </div>
          
          <div class="col-xs-8">
            
            <h1 class="user-summary-name"><%= @user.name %></h1>
            
            <p class="user-summary-info">
              <%= @user.residence + " · " if !@user.residence.blank?%> 
              <span class="average-rating"></span>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-xs-4">
        <!--intentionally left empty-->
      </div>
    </div>
  </div>
</div>

<div class="profile-overview">
  <div class="profile-overview-content">
    <div class="row">
      
      <div class="col-xs-8">
        <div class="profile-overview-text">
        
          <p class="profile-overview-info"><%= @user.description %></p>
          
          <div class="profile-overview-phone">
            <span class="phone-title">Phone Number</span>
            <%= link_to "1-888-555-5555", '#', class: "phone-link" %>
          </div>
        </div>
      </div>
        
      <div class="col-xs-4">
        <div class="profile-reviews">
          
          <span class="profile-reviews-title">Some Background...</span>
          
          <p class="profile-reviews-info">
            Read <%= @user.name %>'s reviews!
          </p>
          
          <%= button_to "Reviews", 
                        '#', 
                        class: "btn btn-secondary", 
                        method: :get %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-details">
  <div class="profile-details-content">
    <div class="row">
      
      <div class="col-xs-8">
        <div class="profile-static">
        
          <div class="profile-details-listings">
            
            <h2 class="profile-details-title">
              Listings (<%= @user.vehicles.count %>)
            </h2>
            
            <%= render 'listings' %>
          </div>
          
          <div class="profile-details-wish-lists">
            <h2 class="profile-details-title">Wish Lists (2)</h2>
            <%= render 'wish_lists' %>
          </div>
        </div>
      </div>
      
      <div class="col-xs-4" id="profile-scrolled">
        
        <% if (!@user.residence.blank?) or 
              (!@user.school.blank?) or 
              (!@user.work.blank?) %>
          
          <div class="profile-scrolled-content">
          
            <div class="optional-scrolled">
              <table class="optional-scrolled-detail">
                
                <tr>
                  
                  <td>
                    <span class="optional-scrolled-title">Phone</span>
                  </td>
                  
                  <td>
                    <%= link_to "1-888-555-5555", 
                                '#', 
                                class: "optional-scrolled-link" %>
                  </td>
                </tr>
                
                <% if (!@user.residence.blank?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">City</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.residence %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if (!@user.school.blank?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">School</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.school %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if (!@user.work.blank?) %>
                  <tr>
                    
                    <td>
                      <span class="optional-scrolled-title">Work</span>
                    </td>
                    
                    <td>
                      <span class="optional-scrolled-info">
                        <%= @user.work %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(window).on('scroll', function() {
      
      // fixed header
      var fixedHeader = $('.header-fixed-hidden');
      
      var scrolltop = $(this).scrollTop();
      if(scrolltop >= 655) {
        fixedHeader.fadeIn(250);
      }
      else if(scrolltop <= 650) {
        fixedHeader.fadeOut(250);
      }
      
      // fixed info
      var profileScrolled = $('#profile-scrolled');
      
      profileScrolled.stick_in_parent({ offset_top: 50 });
    });
  
    // parallax-scroll
    var scrollHeroImage = $('.hero-profile');
    
    scrollHeroImage.parallax ({
      imageSrc: '/assets/cover-photo.jpeg'
    });
    
    // image scaling
    var headerProfileAvatar = $('.header-profile-avatar');
    var userSummaryAvatar   = $('.user-summary-avatar');
    
    headerProfileAvatar.imagefill();
    userSummaryAvatar.imagefill(); 
  })
</script>

<!--report user-->