<% provide(:title, "New Purchase") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="purchase">
  <div class="purchase-content">
    
    <div class="purchase-hero", 
         style="background-image: url(
                 '<%= @purchase.vehicle.photos[0].image.url() if 
                      @purchase.vehicle.photos.length > 0 %>')">
      
      <div class="purchase-hero-price-container">
        <span class="purchase-hero-price">
          $<%= @purchase.vehicle.actual_price %>
        </span>
      </div>
      
      <div class="purchase-hero-title hidden-xs">
        <div class="row vertical-align">
        
          <div class="col-md-2 avatar-and-online">
            
            <%= link_to User.find(@purchase.seller_id) do %>
              <div class="purchase-hero-avatar avatar-general", 
                   style="background-image: url(
                           '<%= User.
                                  find(@purchase.seller_id).
                                  avatar.
                                  url(:thumb) %>')">
              </div>
            <% end %>

            <% if User.find(@purchase.seller_id).online? %>
              <div class="online online-lg-primary"></div>
            <% end %>
          </div>
          
          <div class="col-md-10">
            
            <%= link_to @purchase.vehicle.listing_name, 
                        @purchase.vehicle,
                        class: "purchase-hero-heading" %>
            
            <%= link_to User.find(@purchase.seller_id).full_name, 
                        User.find(@purchase.seller_id),
                        class: "purchase-hero-subheading" %>
            
            <span> · </span>
                        
            <span class="average-rating"></span>
          </div>
        </div>
      </div>
    </div>
    
    <%= render 'dropdown' %>
    
    <div class="purchase-form">
      <div class="row">
    
        <div class="col-md-3"> 
          <%= render 'sidenav' %>
        </div>
        
        <div class="col-md-8 col-md-offset-1">
          <%= form_for @purchase do |f| %>
          
            <div class="form-group">
                
              <%= f.label :residence_type, "Residence Type" %>
              
              <div class="form-element">
                
                <%= f.select :residence_type, 
                             [ "Apartment (Rental)", "Apartment (Purchased)",
                               "Single Family Home (Rental)", 
                               "Single Family Home (Purchased)"],
                             { include_blank: true, 
                               prompt: "Select residence type" }, 
                             { required: true,
                               class: "form-control select-primary" } %>
                      
                <i class="fa fa-home fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                <i class="fa fa-caret-down fa-lg form-caret" 
                   aria-hidden="true"></i>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :monthly_payment, "Monthly Payment" %>
                
                <div class= "input-group">
                  
                  <div class="input-group-addon">$</div>
                  
                  <%= f.text_field :monthly_payment, 
                                   placeholder: "Eg. 2 000", 
                                   class: "form-control form-control-primary",
                                   required: true %>
                </div>
              </div>
            
              <div class="col-md-6 form-group">
    
                <%= f.label :time_at_address, "Time at Address" %>
                
                <div class= "input-group">
                  
                  <%= f.text_field :time_at_address, 
                                   placeholder: "Eg. 2", 
                                   class: "form-control form-control-primary",
                                   required: true %>
                      
                  <div class="input-group-addon">year(s)</div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
  
              <%= f.label :date_of_birth, "Date of Birth" %>
              
              <div class="form-element">
        
                <%= f.text_field :date_of_birth, 
                                 placeholder: "Select date of birth", 
                                 id: "purchase-dob",
                                 class: "form-control form-control-secondary",
                                 required: true %>
                    
                <i class="fa fa-calendar-o fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                <i class="fa fa-caret-down fa-lg form-caret" 
                   aria-hidden="true"></i>
              </div>
            </div>
            
            <%= f.submit "Save", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= @purchase.vehicle.average_rating %>
      });
  });
</script>