<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li class="nav-active"><%= link_to "Your Garage", vehicles_path %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs-block">

  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Garage <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li class="dropdown-active"><%= link_to "Your Garage", vehicles_path %></li>
    <li><%= link_to "Showroom",    test_drives_path %></li>
    <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4">
         
        <h2 class="sidenav-title">
          Your Garage
        </h2>
        
        <ul class="sidenav-list">
          
          <li>
            <%= link_to vehicles_path do %>
              Vehicles (<%= current_user.vehicles.count %>)
            <% end %>
          </li>
          
          <li>
            <%= link_to customers_path do %>
              Customers  
              (<%= Appointment.where("seller_id = ? AND date >= ?",
                                     current_user.id,
                                     Time.now).count %>)
            <% end %>
          </li>
          
          <li class="sidenav-active">
            <%= link_to orders_received_path do %>
              Orders (<%= Purchase.
                            where(seller_id: current_user.id).
                            where.not(processed_at: nil).
                            count %>)
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-md-8">
        
        <table class="receipt">
          <tr>
            
            <td class="receipt-detail">
              
              <span class="receipt-primary-info">
                <%= @purchase.vehicle.year %>
                <%= @purchase.vehicle.vehicle_make.name %>
                <%= @purchase.vehicle.vehicle_model.name %>
              </span>
              
              <span class="receipt-secondary-info">
                Color: <%= @purchase.vehicle.color %>
              </span>
              
              <span class="receipt-secondary-info">
                Mileage: <%= @purchase.vehicle.mileage %>
              </span>
              
              <span class="receipt-secondary-info">
                VIN: <%= @purchase.vehicle.vin %>
              <span class="receipt-secondary-info">
              
              <span class="receipt-secondary-info">
                Dealer: 
                <%= Dealership.find(@purchase.seller.dealership_id).name %>
              </span>
            </td>
            
            <td class="receipt-price-symbol">
              <!--intentionally left empty-->
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">
                <%= @purchase.vehicle.price %>.00
              </span>
            </td>
          </tr>
          
          <tr>
            
            <td class="receipt-detail">
              <span class="receipt-primary-info">Dealer Discount</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">-</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">2005.00</span>
            </td>
          </tr>
          
          <tr>
            
            <td class="receipt-detail">
              <span class="receipt-primary-info">Online Discount</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">-</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">500.00</span>
            </td>
          </tr>
        </table>
        
        <table class="receipt">
          <tr>
            
            <td class="receipt-detail">
              <span class="receipt-primary-info">Subtotal</span>
            </td>
            
            <td class="receipt-price-symbol">
              <!--intentionally left empty-->
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">
                <%= @purchase.vehicle.price - 2005 - 500 %>.00
              </span>
            </td>
          </tr>
        </table>
        
        <table class="receipt">
          <tr>
            
            <td class="receipt-detail">
              <span class="receipt-primary-info">Down payment</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">-</span>
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">5000.00</span>
            </td>
          </tr>
        </table>
        
        <table class="receipt">
          <tr>
            
            <td class="receipt-detail">
              <span class="receipt-primary-info">Total due at signing</span>
            </td>
            
            <td class="receipt-price-symbol">
              <!--intentionally left empty-->
            </td>
            
            <td class="receipt-price-symbol">
              <span class="receipt-primary-info">$</span>
            </td>
            
            <td class="receipt-price">
              <span class="receipt-primary-info">0.00</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>