<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_showroom' %>
      </div>
      
      <div class="col-md-8">
        
        <!--<(perc)= @purchase.vehicle.listing_name %>-->
        <!--$998/mo finance for 72 months-->
        
        <table class="table-experiment">
          <tr>
            
            <td class="table-experiment-info">
              
              <span class="purchase-primary-info">
                <%= @purchase.vehicle.year %>
                <%= @purchase.vehicle.vehicle_make.name %>
                <%= @purchase.vehicle.vehicle_model.name %>
              </span>
              
              <span class="purchase-secondary-info">
                Color: <%= @purchase.vehicle.color %>
              </span>
              
              <span class="purchase-secondary-info">
                Mileage: <%= @purchase.vehicle.mileage %>
              </span>
              
              <span class="purchase-secondary-info">
                VIN: <%= @purchase.vehicle.vin %>
              <span class="purchase-secondary-info">
              
              <span class="purchase-secondary-info">
                Dealer: <%= Dealership.find(1).name %>
                <!--Dealer: <(perc)= Dealership.find(@purchase.vehicle.user.dealership_id).name %>-->
              </span>
            </td>
            
            <td>
              <span class="purchase-primary-info">
                $ <%= @purchase.vehicle.price %>.00
              </span>
            </td>
          </tr>
          
          <tr>
            
            <td>
              <span class="purchase-primary-info">Dealer Discount</span>
            </td>
            
            <td>
              <span class="purchase-primary-info">- $ 2005.00</span>
            </td>
          </tr>
          
          <tr>
            
            <td>
              <span class="purchase-primary-info">Online Discount</span>
            </td>
            
            <td>
              <span class="purchase-primary-info">- $ 500.00</span>
            </td>
          </tr>
        </table>
        
        <table class="table-experiment">
          <tr>
            
            <td>
              <span class="purchase-primary-info">Subtotal</span>
            </td>
            
            <td>
              <span class="purchase-primary-info">
                $ <%= @purchase.vehicle.price - 2005 - 500 %>.00
              </span>
            </td>
          </tr>
        </table>
        
        <table class="table-experiment">
          <tr>
            
            <td>
              <span class="purchase-primary-info">
                Down payment
              </span>
            </td>
            
            <td>
              <span class="purchase-primary-info">
                - $ 5000.00
              </span>
            </td>
          </tr>
        </table>
        
        <table class="table-experiment">
          <tr>
            
            <td>
              <span class="purchase-primary-info">Total due at signing</span>
            </td>
            
            <td><span class="purchase-primary-info">$ 0.00</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>