<%= form_for([@club, @invitation]) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group form-group-primary">
              
    <%= f.label :email %>
    
    <%= f.email_field :email, class: "form-control form-control-primary" %>
  </div>
  
  <div class="row">
    
    <div class="col-md-3">
      
      <%= f.submit "Send Invitation",
                    class: "btn btn-add-content" %>

      <%= link_to "Cancel",
                  club_path(@club), 
                  class: "btn btn-add-content-cancel" %>
    </div>
    
    <div class="col-md-9">
      <!--intentionally left blank-->
    </div>
  </div>
<% end %>