<%= form_for([@post, @post.responses.build]) do |f| %>

  <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
  
  <div class="row vertical-align post-response-header">
    
    <div class="col-md-2 col-xs-3 avatar-and-online">
      
      <div class="post-response-avatar">
        <%= link_to (image_tag current_user.avatar.url),
                    user_path(current_user) %>
      </div>
      
      <% if current_user.online? %>
        <div class="online online-md-quaternary hidden-xs"></div>
      <% end %>
    </div>
    
    <div class="col-md-10 col-xs-9">
      
      <%= link_to current_user, class: "post-response-title" do %> 
        <%= current_user.name %>
      <% end %>
      
      <span class="post-response-stats">
        <%= Time.now.strftime("%D") %>
      </span>
    </div>
  </div>
  
  <div class="post-response-form-container">
    <%= f.text_area :comment,
                    rows: 3,
                    placeholder: "Post a response", 
                    class: "form-control post-response-form-control" %>
                    
    <div class="post-response-post-container">
      <%= f.submit "Post my response", class: "post-response-post" %>
    </div>
  </div>
<% end %>