<li id="post-response-item-<% response.id %>" class="post-response-item">
  <div class="row vertical-align post-response-header">
    
    <div class="col-xs-2">
      <div class="post-response-avatar">
        <%= link_to (image_tag response.user.avatar.url),
                    user_path(response.user) %>
      </div>
    </div>
    
    <div class="col-xs-10">
      
      <%= link_to response.user.name, 
                  response.user, 
                  class: "post-response-title" %> 
        
      <span class="post-response-stats">
        
        <%= time_ago_in_words(response.created_at).capitalize %> ago ·
        
        <% if logged_in? && response.user == current_user %>
        
          <div class="post-response-edit">
                
            <%= link_to "Edit", 
                        edit_post_response_path(response.post, response) %>
          
            <%= link_to "Delete", 
                        [response.post, response], 
                        method: :delete, 
                        data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </span>
    </div>
  </div>
  
  <p class="post-response-info"><%= response.comment %></p>
</li>