<% provide(:title, "Edit Response") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="edit-response">
  
  <ol class="social-nav">
    
    <li class="hidden-xs">
      <%= link_to "Community Center", posts_path, class: "social-nav-link" %>
    </li>
    
    <% if !@post.club_id.nil? %>
      
      <li class="hidden-xs">
        
        <i class="fa fa-angle-right social-nav-separator" 
           aria-hidden="true"></i>
           
        <%= link_to "Car Clubs", clubs_path, class: "social-nav-link" %>
      </li>
      
      <li class="hidden-xs">
        
        <i class="fa fa-angle-right social-nav-separator" 
           aria-hidden="true"></i>
           
        <%= link_to Club.find(@post.club_id), class: "social-nav-link" do %>
          <%= Club.find(@post.club_id).name %>
        <% end %>
      </li>
    <% end %>
    
    <li>
      
      <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
           aria-hidden="true"></i>
      
      <i class="fa fa-angle-right social-nav-separator hidden-xs" 
         aria-hidden="true"></i>
      
      <%= link_to "Conversation", @post, class: "social-nav-link" %>
    </li>
    
    <li class="hidden-xs">
      
      <i class="fa fa-angle-right social-nav-separator" 
         aria-hidden="true"></i>
         
      <span class="social-nav-active">Edit Response</span>
    </li>
  </ol>
  
  <h1 class="edit-response-title">Edit Response</h1>
  
  <%= form_for([@post, @response]) do |f| %>
  
    <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
    
    <div class="form-group form-group-primary">
      
      <%= f.label :comment, "Post a response" %> 
      
      <%= f.text_area :comment, 
                      class: "form-control form-control-primary", 
                      rows: 3 %>
    </div>
    
    <div class="row">
      
      <div class="col-md-3">
        <%= f.submit "Update", class: "btn btn-new-post" %>
      </div>
      
      <div class="col-md-9">
        <!--intentionally left blank-->
      </div>
    </div>
  <% end %>
</div>