<% provide(:title, "Edit Response") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="edit-response">
  
  <div class="forum-nav">
    <%= link_to "Community Center", posts_path, class: "forum-nav-link" %>
  </div>
  
  <h1 class="edit-response-title">Edit Response</h1>
  
  <%= form_for([@post, @response]) do |f| %>
  
    <!--<(perc)= render 'shared/error_messages', object: f.object %>-->
    
    <div class="form-group form-group-primary">
      
      <%= f.label :comment, "Post a response" %> 
      
      <%= f.text_area :comment, 
                      class: "form-control form-control-primary", 
                      rows: 3 %>
    </div>
    
    <div class="row">
      
      <div class="col-md-3">
        <%= f.submit "Reply", class: "btn btn-new-post" %>
      </div>
      
      <div class="col-md-9">
        <!--intentionally left blank-->
      </div>
    </div>
  <% end %>
</div>