<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <%= form_for @personalized_search do |f| %>

          <%= render 'shared/error_messages', object: f.object %>
        
          <div class="update-panel">
      
            <h2 class="panel-title">Buyer's Profile</h2>
            
            <div class="panel-section">
              
              <h4 class="installed-options-title">Vehicle Type</h4>
              
              <div class="row">
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-a">
                  
                  <%= f.check_box :is_cafe_racer %>
                  
                  <%= f.label :is_cafe_racer do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Cafe Racer
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-b">
                  
                  <%= f.check_box :is_cruiser %>
                  
                  <%= f.label :is_cruiser do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Cruiser
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-c">
                  
                  <%= f.check_box :is_dual_sport %>
                  
                  <%= f.label :is_dual_sport do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Dirt Bike / Dual Sport
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                
                <div class="col-md-4
                            personalized-search-checkbox
                            personalized-search-checkbox-d">
                  
                  <%= f.check_box :is_mini_pocket %>
                  
                  <%= f.label :is_mini_pocket do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Mini / Pocket
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-e">
                  
                  <%= f.check_box :is_moped %>
                  
                  <%= f.label :is_moped do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Moped
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-f">
                  
                  <%= f.check_box :is_sportbike %>
                  
                  <%= f.label :is_sportbike do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Sportbike
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-g">
                  
                  <%= f.check_box :is_standard %>
                  
                  <%= f.label :is_standard do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Standard
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            personalized-search-checkbox
                            personalized-search-checkbox-h">
                  
                  <%= f.check_box :is_touring %>
                  
                  <%= f.label :is_touring do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Touring
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-i">
                  
                  <%= f.check_box :is_trike %>
                  
                  <%= f.label :is_trike do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Trike
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="panel-section">
              <div class="row">
                
                <div class="col-md-6">
                  <div class="form-group form-group-primary">
                    
                    <%= f.label :zip_code, "Location" %>
                    
                    <div class="form-element">
                      
                      <%= f.text_field :zip_code,
                                       placeholder: "Zip Code",
                                       class: "form-control
                                               form-control-tertiary" %>
                                                                  
                      <i class="fa fa-map-pin fa-lg form-icon" 
                         aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group form-group-primary">
                   
                    <%= f.label :max_distance, "&nbsp;".html_safe %>
                    
                    <div class="form-element">
                      
                    <%= f.select :max_distance,
                                 [ ["10 mi", 10], ["25 mi", 25], 
                                   ["50 mi", 50], ["75 mi", 75],
                                   ["100 mi", 100], ["150 mi", 150],
                                   ["250 mi", 250], ["400 mi", 400] ],
                                 { include_blank: true,
                                   prompt: "Nationwide" },
                                 class: "form-control select-primary" %>
                      
                      <i class="fa fa-bullseye fa-lg form-icon" 
                       aria-hidden="true"></i>
                       
                      <i class="fa fa-caret-down fa-lg form-caret" 
                         aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="panel-section">
                
              <h4 class="installed-options-title">Experience</h4>
              
              <div class="row">
                
                <div class="col-md-4
                            personalized-search-checkbox 
                            personalized-search-checkbox-a">
        
                  <%= f.check_box :is_beginner %>
                  
                  <%= f.label :is_beginner do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Beginner
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            personalized-search-checkbox 
                            personalized-search-checkbox-b">
        
                  <%= f.check_box :is_intermediate %>
                  
                  <%= f.label :is_intermediate do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Intermediate
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            personalized-search-checkbox 
                            personalized-search-checkbox-c">
        
                  <%= f.check_box :is_advanced %>
                  
                  <%= f.label :is_advanced do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Advanced
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        Click to Select
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="panel-section">
              <div class="row">
                
                <div class="col-md-6">
                  <div class="form-group form-group-search-parameter">

                    <%= f.label :price, "Max Price" %>
                    
                    <span id="edit_price_slider_val" class="slider-label">
                      $200000
                    </span>     
                    
                    <%= f.text_field :price, 
                                     id: 'edit_price_slider', 
                                     type: 'text',
                                     data: { 'slider-min'   => '0',
                                             'slider-max'   => '200000',
                                             'slider-step'  => '1',
                                             'slider-value' => 
                                               @personalized_search.price } %>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group form-group-search-parameter">
                    
                    <%= f.label :mileage, "Max Mileage" %>
                
                    <span id="edit_mileage_slider_val" class="slider-label">
                      300000 mi
                    </span>
                    
                    <%= f.text_field :mileage,
                                     id: 'edit_mileage_slider', 
                                     type: 'text',
                                     data: { 'slider-min'   => '0',
                                             'slider-max'   => '300000',
                                             'slider-step'  => '1',
                                             'slider-value' => 
                                               @personalized_search.mileage } %>
                  </div>
                </div>
                
                <!--<div class="col-md-4">-->
                <!--  <div class="form-group form-group-search-parameter">-->
                    
                <!--    <(perc)= f.label :year, "Earliest Year" %>-->
                    
                <!--    <span id="edit_year_slider_val" class="slider-label">1900</span>-->
                    
                <!--    <(perc)= f.text_field :year, -->
                <!--                     id: 'edit_year_slider', -->
                <!--                     type: 'text',-->
                <!--                     data: { 'slider-min'   => '1900',-->
                <!--                             'slider-max'   => '2016',-->
                <!--                             'slider-step'  => '1',-->
                <!--                             'slider-value' => -->
                <!--                               @personalized_search.year } %>-->
                <!--  </div>-->
                <!--</div>-->
              </div>
              
              <div class="panel-section">
                
                <h4 class="installed-options-title">Seats</h4>
                
                <div class="row">
                  
                  <div class="col-md-6
                              personalized-search-checkbox 
                              personalized-search-checkbox-a">
          
                    <%= f.check_box :is_one_seat %>
                    
                    <%= f.label :is_one_seat do %>   
                    
                      <div class="personalized-search-checkbox-text">
                        
                        <span class="personalized-search-checkbox-title">
                          One Seat
                        </span>
                        
                        <span class="personalized-search-checkbox-subtitle">
                          Click to Select
                        </span>
                      </div> 
                      
                      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                    class: "personalized-search-button-icon") %>
                    <% end %>
                  </div>
                  
                  <div class="col-md-6
                              personalized-search-checkbox 
                              personalized-search-checkbox-b">
          
                    <%= f.check_box :is_two_seats %>
                    
                    <%= f.label :is_two_seats do %>   
                    
                      <div class="personalized-search-checkbox-text">
                        
                        <span class="personalized-search-checkbox-title">
                          Two Seats
                        </span>
                        
                        <span class="personalized-search-checkbox-subtitle">
                          Click to Select
                        </span>
                      </div> 
                      
                      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                    class: "personalized-search-button-icon") %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="panel-section">
                  
                <h4 class="installed-options-title">Installed Options</h4>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :cruise_control %>
                    <%= f.label :cruise_control, "Cruise Control" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :am_fm %>
                    <%= f.label :am_fm, "AM / FM Radio" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :cb_radio %>
                    <%= f.label :cb_radio, "CB Radio" %> 
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :navigation_system %>
                    <%= f.label :navigation_system, "Navigation System" %>
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :heated_seats %>
                    <%= f.label :heated_seats, "Heated Seats" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :heated_hand_grips %>
                    <%= f.label :heated_hand_grips, "Heated Hand Grips" %>
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :alarm_system %>
                    <%= f.label :alarm_system, "Alarm System" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :saddlebags %>
                    <%= f.label :saddlebags %>  
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :trunk %>
                    <%= f.label :trunk %> 
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :tow_hitch %>
                    <%= f.label :tow_hitch, "Tow Hitch" %>
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <!--intentionally left empty-->
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :cycle_cover %>
                    <%= f.label :cycle_cover, "Cycle Cover" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <button type="submit"
                  class="btn-save-listing">
            
            <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
               aria-hidden="true"></i>
                      
            Save
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // sliders
      
      var editPriceSlider        = $('#edit_price_slider');
      var editPriceSliderValue   = $('#edit_price_slider_val');
      var editMileageSlider      = $('#edit_mileage_slider');
      var editMileageSliderValue = $('#edit_mileage_slider_val');
      var editYearSlider         = $('#edit_year_slider');
      var editYearSliderValue    = $('#edit_year_slider_val');
      
      editPriceSlider.slider();
      editMileageSlider.slider();
      editYearSlider.slider();
      
      editPriceSlider.on('slide', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      });
      editMileageSlider.on('slide', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slide', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
      
      editPriceSlider.on('slideStop', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      }); 
      editMileageSlider.on('slideStop', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slideStop', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
  });
</script>