<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar hidden-xs">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path,
                  class: "search-parameter-link
                          search-parameter-link-start" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/style.png" %>
        
        <span class="search-parameter-link-text-active">Style</span>
      <% end %>   
      
      <%= link_to price_personalized_search_path,
                  class: "search-parameter-link 
                          search-parameter-link-end" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/price.png" %>
      
        <span class="search-parameter-link-text-active">Price</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to mileage_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png" %> 
      
        <span class="search-parameter-link-text-active">Mileage</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to year_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png" %>  
        
        <span class="search-parameter-link-text-active">Year</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to installed_options_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/features.png" %>
        
        <span class="search-parameter-link-text-active">Features</span>
      <% end %>
    </div>
  </div>
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form-large">
    <%= form_for @personalized_search do |f| %>
      
      <div class="row">
                    
        <div class="col-md-4 installed-option">
          <%= f.check_box :cruise_control %>
          <%= f.label :cruise_control, "Cruise Control" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :am_fm %>
          <%= f.label :am_fm, "AM / FM Radio" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :cb_radio %>
          <%= f.label :cb_radio, "CB Raido" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :navigation_system %>
          <%= f.label :navigation_system, "Navigation System" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :heated_seats %>
          <%= f.label :heated_seats, "Heated Seats" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :heated_hand_grips %>
          <%= f.label :heated_hand_grips, "Heated Hand Grips" %>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :alarm_system %>
          <%= f.label :alarm_system, "Alarm System" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :saddlebags %>
          <%= f.label :saddlebags %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :trunk %>
          <%= f.label :trunk %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :tow_hitch %>
          <%= f.label :tow_hitch, "Tow Hitch" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :cycle_cover %>
          <%= f.label :cycle_cover, "Cycle Cover" %>  
        </div>
        
        <div class="col-md-4">
          <!--intentionally left empty-->
        </div>
      </div>

      <%= button_tag(type: "submit",
                     class: "next-button
                             personalized-search-button-a") do %>
        
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            View Results
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
  </div>
</div>