<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/style.png",
                      class: "search-parameter-icon
                              search-parameter-icon-start") %>
      <% end %>   
      
      <%= link_to price_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/price.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to mileage_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %> 
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to year_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>  
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to installed_options_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/features.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>
      <% end %>
    </div>
  </div>
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form-large">
    <%= form_for @personalized_search do |f| %>
      
      <div class="row">
                    
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_cruise_control %>
          <%= f.label :with_cruise_control, "Cruise Control" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_am_fm %>
          <%= f.label :with_am_fm, "AM / FM Radio" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_cb_radio %>
          <%= f.label :with_cb_radio, "CB Raido" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_navigation_system %>
          <%= f.label :with_navigation_system, "Navigation System" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_heated_seats %>
          <%= f.label :with_heated_seats, "Heated Seats" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_heated_hand_grips %>
          <%= f.label :with_heated_hand_grips, "Heated Hand Grips" %>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_alarm_system %>
          <%= f.label :with_alarm_system, "Alarm System" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_saddlebags %>
          <%= f.label :with_saddlebags, "Saddlebags" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_trunk %>
          <%= f.label :with_trunk, "Trunk" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_tow_hitch %>
          <%= f.label :with_tow_hitch, "Tow Hitch" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_cycle_cover %>
          <%= f.label :with_cycle_cover, "Cycle Cover" %>  
        </div>
        
        <div class="col-md-4">
          <!--intentionally left empty-->
        </div>
      </div>

      <%= button_tag(type: "submit",
                     class: "next-button
                             personalized-search-button-a") do %>
        
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            View Results
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
  </div>
</div>