<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar hidden-xs">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path,
                  class: "search-parameter-link
                          search-parameter-link-start" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/style.png" %>
        
        <span class="search-parameter-link-text-active">Style</span>
      <% end %>   
      
      <%= link_to manufacturer_personalized_search_path,
                  class: "search-parameter-link 
                          search-parameter-link-end" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/manufacturer.png" %>
      
        <span class="search-parameter-link-text-active">Manufacturer</span>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>      
      
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/location.png" %>  
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Location</span>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/cash.png" %>  
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Price</span>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      <%= link_to '#',
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png" %>
        
        <div class="search-parameter-icon-filter"></div>
        
        <span class="search-parameter-link-text-inactive">Mileage</span>
      <% end %>
    </div>
  </div>
  
  <h1 class="search-parameter-title-desktop hidden-xs">
    What manufacturers do you prefer?
  </h1>
  
  <div class="search-parameter-title-mobile visible-xs">
    <span class="search-parameter-title-content-mobile">
      Start Your Motorcycle Search
    </span>
  </div>

  <div class="search-parameter-form-large">
    
    <span class="search-parameter-form-info visible-xs">
      What manufacturers do you prefer?
    </span>
    
    <%= form_for @personalized_search do |f| %>

      <div class="personalized-search-block personalized-search-manufacturer">
                
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_aprilia, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_aprilia do %>   
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/aprilia-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Aprilia
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_bmw, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_bmw do %> 
            <div class="personalized-search-checkbox-background",
                  style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/bmw-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  BMW
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
 
          <%= f.check_box :is_can_am, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_can_am do %>  
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/can-am-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Can-Am
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>

        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">

          <%= f.check_box :is_ducati, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_ducati do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/ducati-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Ducati
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">

          <%= f.check_box :is_harley_davidson, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_harley_davidson do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/harley-davidson-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Harley-Davidson
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">

          <%= f.check_box :is_honda, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_honda do %>  
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/honda-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Honda
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>

        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_indian, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_indian do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/indian-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Indian
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_ktm, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_ktm do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/ktm-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  KTM
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_kawasaki, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_kawasaki do %>
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/kawasaki-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Kawasaki
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_kymco, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_kymco do %>
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/kymco-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  KYMCO
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
            
          <%= f.check_box :is_suzuki, class: "manufacturer-checkbox" %>
            
          <%= f.label :is_suzuki do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/suzuki-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Suzuki
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_triumph, class: "manufacturer-checkbox" %>
            
          <%= f.label :is_triumph do %>  
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/triumph-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Triumph
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_vespa, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_vespa do %>  
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/vespa-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Vespa
                </span>
              </div> 
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
            
          <%= f.check_box :is_victory, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_victory do %> 
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/victory-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Victory
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 
                    col-xs-6
                    personalized-search-checkbox">
          
          <%= f.check_box :is_yamaha, class: "manufacturer-checkbox" %>
          
          <%= f.label :is_yamaha do %>
            <div class="personalized-search-checkbox-background",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/yamaha-small.jpg')">
              
              <div class="personalized-search-checkbox-text">
                <span class="personalized-search-checkbox-title">
                  Yamaha
                </span>
              </div>
              
              <i class="fa 
                      fa-lg
                      fa-check-circle
                      personalized-search-checkbox-icon" 
                 aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="personalized-search-expand">
        <span class="personalized-search-expand-content">
          + More
        </span>
      </div>
        
      <%= hidden_field_tag :redirect_location, 
                           location_personalized_search_path(@personalized_search) %>

      <%= button_tag(type: "submit",
                     class: "next-button manufacturer-button") do %>
    
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            Continue to Location
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
    
    <div class="skip-this-step">
      <%= link_to all_manufacturers_personalized_search_path(@personalized_search),
                  method: :put,
                  class: "skip-this-step-content" do %>
        Skip this step
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>