<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <div class="matches-introduction">
          
          <span class="matches-introduction-title">
            Buyer Profile
          </span>
          
          <span class="matches-introduction-subtitle">
            <%= current_user.first_name %>, here we keep track of your 
            motorcycle preferences. Feel free to change your selections and 
            begin a new search at any time.
          </span>
        </div>
        
        <%= form_for @personalized_search do |f| %>

          <%= render 'shared/error_messages', object: f.object %>
            
            <div class="personalized-search-parameter">
              
              <span class="installed-options-title">Style</span>
              
              <div class="personalized-search-block">
  
                <div class="col-md-4
                            col-xs-6
                            personalized-search-checkbox
                            personalized-search-checkbox-a">
                  
                  <%= f.check_box :is_cafe_racer,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_cafe_racer do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Cafe Racer
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-b">
                  
                  <%= f.check_box :is_cruiser,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_cruiser do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Cruiser
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-c">
                  
                  <%= f.check_box :is_dual_sport,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_dual_sport do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Dirt Bike / Dual-Sport
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6
                            personalized-search-checkbox
                            personalized-search-checkbox-d">
                  
                  <%= f.check_box :is_mini_pocket,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_mini_pocket do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Mini / Pocket
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-e">
                  
                  <%= f.check_box :is_moped,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_moped do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Moped
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-f">
                  
                  <%= f.check_box :is_sportbike,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_sportbike do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Sportbike
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-g">
                  
                  <%= f.check_box :is_standard,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_standard do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Standard
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6
                            personalized-search-checkbox
                            personalized-search-checkbox-h">
                  
                  <%= f.check_box :is_touring,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_touring do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Touring
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            col-xs-6 
                            personalized-search-checkbox
                            personalized-search-checkbox-i">
                  
                  <%= f.check_box :is_trike,  
                                  class: "new-checkbox
                                          new-style-checkbox" %>
                  
                  <%= f.label :is_trike do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      <span class="personalized-search-checkbox-title">
                        Trike
                      </span>
                    </div> 
                    
                    <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                       aria-hidden="true"></i>
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="personalized-search-parameter">
              
              <span class="installed-options-title">Manufacturer</span>
              
              <div class="personalized-search-block 
                          personalized-search-manufacturer">
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_aprilia, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_aprilia do %>   
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/aprilia-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Aprilia
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_bmw, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_bmw do %> 
                    <div class="personalized-search-checkbox-background",
                          style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/bmw-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          BMW
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
         
                  <%= f.check_box :is_can_am, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_can_am do %>  
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/can-am-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Can-Am
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
        
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
        
                  <%= f.check_box :is_ducati, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_ducati do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/ducati-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Ducati
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
        
                  <%= f.check_box :is_harley_davidson, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_harley_davidson do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/harley-davidson-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Harley-Davidson
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
        
                  <%= f.check_box :is_honda, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_honda do %>  
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/honda-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Honda
                        </span>
                      </div> 
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
        
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_indian, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_indian do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/indian-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Indian
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_ktm, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_ktm do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/ktm-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          KTM
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_kawasaki, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_kawasaki do %>
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/kawasaki-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Kawasaki
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_kymco, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_kymco do %>
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/kymco-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          KYMCO
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                    
                  <%= f.check_box :is_suzuki, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                    
                  <%= f.label :is_suzuki do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/suzuki-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Suzuki
                        </span>
                      </div> 
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_triumph, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                    
                  <%= f.label :is_triumph do %>  
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/triumph-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Triumph
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_vespa, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_vespa do %>  
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/vespa-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Vespa
                        </span>
                      </div> 
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                    
                  <%= f.check_box :is_victory, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_victory do %> 
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/victory-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Victory
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            col-xs-6
                            personalized-search-checkbox">
                  
                  <%= f.check_box :is_yamaha, 
                                  class: "new-checkbox
                                          new-manufacturer-checkbox" %>
                  
                  <%= f.label :is_yamaha do %>
                    <div class="personalized-search-checkbox-background",
                         style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/yamaha-small.jpg')">
                      
                      <div class="personalized-search-checkbox-text">
                        <span class="personalized-search-checkbox-title">
                          Yamaha
                        </span>
                      </div>
                      
                      <i class="fa 
                              fa-lg
                              fa-check-circle
                              personalized-search-checkbox-icon" 
                         aria-hidden="true"></i>
                    </div>
                  <% end %>
                </div>
              </div>
              
              <div class="personalized-search-expand">
                <span class="personalized-search-expand-content">
                  + More
                </span>
              </div>
            </div>
            
            <div class="personalized-search-parameter">
              <div class="row">
                
                <div class="col-md-6">
                  <div class="form-group form-group-primary">
                    
                    <%= f.label :zip_code, "Location" %>
                    
                    <div class="form-element">
                      
                      <%= f.text_field :zip_code,
                                       placeholder: "Zip Code",
                                       class: "form-control
                                               form-control-tertiary",
                                       required: true %>
                                                                  
                      <i class="fa fa-map-pin fa-lg form-icon" 
                         aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group form-group-primary">
                   
                    <%= f.label :max_distance, "&nbsp;".html_safe, class: "hidden-xs" %>
                    
                    <div class="form-element">
                      
                    <%= f.select :max_distance,
                                 [ ["10 mi", 10], ["25 mi", 25], 
                                   ["50 mi", 50], ["75 mi", 75],
                                   ["100 mi", 100], ["150 mi", 150],
                                   ["250 mi", 250], ["400 mi", 400] ],
                                 { include_blank: true,
                                   prompt: "Nationwide" },
                                 { required: true,
                                   class: "form-control select-primary" } %>
                      
                      <i class="fa fa-bullseye fa-lg form-icon" 
                       aria-hidden="true"></i>
                       
                      <i class="fa fa-caret-down fa-lg form-caret" 
                         aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6">
                <div class="form-group">
                  
                  <%= f.label :price, "Max Price" %>
                  
                  <span id="new_price_slider_val" class="slider-label">
                    $50000
                  </span>
                  
                  <%= f.text_field :price, 
                                   id: 'new_price_slider', 
                                   type: 'text',
                                   data: { 'slider-min'   => '0',
                                           'slider-max'   => '50000',
                                           'slider-step'  => '1',
                                           'slider-value' => '50000' } %>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
        
                  <%= f.label :mileage, "Max Mileage" %>
              
                  <span id="new_mileage_slider_val" class="slider-label">
                    200000 mi
                  </span>
                  
                  <%= f.text_field :mileage,
                                   id: 'new_mileage_slider', 
                                   type: 'text',
                                   data: { 'slider-min'   => '0',
                                           'slider-max'   => '200000',
                                           'slider-step'  => '1',
                                           'slider-value' => '200000' } %>
                </div>
              </div>
            </div>

            <%= hidden_field_tag :redirect_to_show, true %>

            <%= button_tag(type: "submit",
                         class: "next-button new-save-button") do %>

              <div class="personalized-search-button-text">
                
                <span class="personalized-search-button-title">
                  Save
                </span>
                
                <span class="personalized-search-button-subtitle">
                  View Results
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
              </div>
  
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                            class: "personalized-search-button-icon") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // sliders
      
      var newPriceSlider        = $('#new_price_slider');
      var newPriceSliderValue   = $('#new_price_slider_val');
      var newMileageSlider      = $('#new_mileage_slider');
      var newMileageSliderValue = $('#new_mileage_slider_val');
      
      newPriceSlider.slider();
      newMileageSlider.slider();
      
      newPriceSlider.on('slide', function(slideEvt) {
      	newPriceSliderValue.text('$' + slideEvt.value);
      });
      newMileageSlider.on('slide', function(slideEvt) {
      	newMileageSliderValue.text(slideEvt.value + ' mi');
      });
      
      newPriceSlider.on('slideStop', function(slideEvt) {
      	newPriceSliderValue.text('$' + slideEvt.value);
      }); 
      newMileageSlider.on('slideStop', function(slideEvt) {
      	newMileageSliderValue.text(slideEvt.value + ' mi');
      });
  });
</script>