<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/style.png",
                      class: "search-parameter-icon
                              search-parameter-icon-start") %>
      <% end %>   
      
      <%= link_to price_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/price.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>
      <% end %>
    </div>
    
    <div class="search-parameter-incomplete">
      
      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png",
                    class: "search-parameter-icon
                            search-parameter-icon-end") %>  
      
      <div class="search-parameter-icon-filter 
                  search-parameter-icon-end"></div>
    </div>
    
    <div class="search-parameter-incomplete">
      
      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png",
                    class: "search-parameter-icon
                            search-parameter-icon-end") %>  
      
      <div class="search-parameter-icon-filter 
                  search-parameter-icon-end"></div>
    </div>
    
    <div class="search-parameter-incomplete">
      
      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/features.png",
                    class: "search-parameter-icon
                            search-parameter-icon-end") %>
      
      <div class="search-parameter-icon-filter 
                  search-parameter-icon-end"></div>
    </div>
  </div>
  
  <h1 class="search-parameter-title">What are you looking to pay?</h1>
  
  <div class="search-parameter-form-small">
    
    <%= form_for @personalized_search do |f| %>
                 <!--url: user_personalized_search_path(current_user) do |f| %>-->

      <div class="form-group form-group-search-parameter">
        
        <!--<(perc)= label_tag :price, "Max Price" %>-->
        
        <!--<(perc)= f.text_field :price, -->
        <!--                   placeholder: "Email address", -->
        <!--                   class: 'form-control form-control-primary' %>-->
        
        <%= f.label :price, "Max Price" %>
        
        <span id="personalized_price_slider_val" class="slider-label">
          <% if @personalized_search.price.present? %>
            $<%= @personalized_search.price %>
          <% else %>
            $200000
          <% end %>
        </span>
        
        <% if @personalized_search.price.present? %>
          <%= f.text_field :price, 
                           id: 'personalized_price_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '200000',
                                   'slider-step'  => '1',
                                   'slider-value' => 
                                     @personalized_search.price } %>
                                     
        <% else %>
          <%= f.text_field :price, 
                           id: 'personalized_price_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '200000',
                                   'slider-step'  => '1',
                                   'slider-value' => '200000' } %>
        <% end %>
      </div>
      
      <%= hidden_field_tag :redirect_location, 
            mileage_personalized_search_path(@personalized_search) %>
    
      <%= button_tag(type: "submit",
                     class: "next-button
                             personalized-search-button-a") do %>
                             
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            Continue to Mileage
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  
  // sliders
    
    var priceSlider         = $('#personalized_price_slider');
    var priceSliderValue    = $('#personalized_price_slider_val');
    
    priceSlider.slider();
    
    priceSlider.on('slide', function(slideEvt) {
    	priceSliderValue.text('$' + slideEvt.value);
    });
    
    priceSlider.on('slideStop', function(slideEvt) {
    	priceSliderValue.text('$' + slideEvt.value);
    });
    
  // Facebook  
  
    fbq('track', 'ViewContent');
</script>