<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <div class="matches-introduction">
          
          <span class="matches-introduction-title">
            Personalize Your Search
          </span>
      
          <span class="matches-introduction-subtitle">
            <%= current_user.first_name %>, we’ve grouped vehicles near 
            your location based on how well they match your preferences.
          </span>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance + 50 %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price + 1000 %>
                                 
              <button type="submit"
                      class="match-item match-item-a">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Your Best Bets
                  </span>
                  
                  <span class="match-item-subtitle">
                    The best combination of location, price, and mileage.
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-a.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
              
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
              
              <%= f.fields_for :with_manufacturer do |with_manufacturer_fields| %>
              
                <%= with_manufacturer_fields.hidden_field :is_aprilia,
                      value: @personalized_search.is_aprilia %>
                
                <%= with_manufacturer_fields.hidden_field :is_bmw,
                      value: @personalized_search.is_bmw %>
                
                <%= with_manufacturer_fields.hidden_field :is_can_am,
                      value: @personalized_search.is_can_am %>
                      
                <%= with_manufacturer_fields.hidden_field :is_ducati,
                      value: @personalized_search.is_ducati %>
                      
                <%= with_manufacturer_fields.hidden_field :is_harley_davidson,
                      value: @personalized_search.is_harley_davidson %>
                
                <%= with_manufacturer_fields.hidden_field :is_honda,
                      value: @personalized_search.is_honda %>
                
                <%= with_manufacturer_fields.hidden_field :is_indian,
                      value: @personalized_search.is_indian %>
                
                <%= with_manufacturer_fields.hidden_field :is_ktm,
                      value: @personalized_search.is_ktm %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kawasaki,
                      value: @personalized_search.is_kawasaki %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kymco,
                      value: @personalized_search.is_kymco %>
                
                <%= with_manufacturer_fields.hidden_field :is_suzuki,
                      value: @personalized_search.is_suzuki %>
                
                <%= with_manufacturer_fields.hidden_field :is_triumph,
                      value: @personalized_search.is_triumph %>
                      
                <%= with_manufacturer_fields.hidden_field :is_vespa,
                      value: @personalized_search.is_vespa %>
                      
                <%= with_manufacturer_fields.hidden_field :is_victory,
                      value: @personalized_search.is_victory %>
                
                <%= with_manufacturer_fields.hidden_field :is_yamaha,
                      value: @personalized_search.is_yamaha %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>

              <button type="submit"
                      class="match-item match-item-b">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Matches Everything
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-b.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
              
              <button type="submit"
                      class="match-item match-item-c">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    All Manufacturers
                  </span>
                  
                  <span class="match-item-subtitle">
                    Includes motorcycles from every major manufacturer
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-c.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
              
              <%= f.fields_for :with_manufacturer do |with_manufacturer_fields| %>
              
                <%= with_manufacturer_fields.hidden_field :is_aprilia,
                      value: @personalized_search.is_aprilia %>
                
                <%= with_manufacturer_fields.hidden_field :is_bmw,
                      value: @personalized_search.is_bmw %>
                
                <%= with_manufacturer_fields.hidden_field :is_can_am,
                      value: @personalized_search.is_can_am %>
                      
                <%= with_manufacturer_fields.hidden_field :is_ducati,
                      value: @personalized_search.is_ducati %>
                      
                <%= with_manufacturer_fields.hidden_field :is_harley_davidson,
                      value: @personalized_search.is_harley_davidson %>
                
                <%= with_manufacturer_fields.hidden_field :is_honda,
                      value: @personalized_search.is_honda %>
                
                <%= with_manufacturer_fields.hidden_field :is_indian,
                      value: @personalized_search.is_indian %>
                
                <%= with_manufacturer_fields.hidden_field :is_ktm,
                      value: @personalized_search.is_ktm %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kawasaki,
                      value: @personalized_search.is_kawasaki %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kymco,
                      value: @personalized_search.is_kymco %>
                
                <%= with_manufacturer_fields.hidden_field :is_suzuki,
                      value: @personalized_search.is_suzuki %>
                
                <%= with_manufacturer_fields.hidden_field :is_triumph,
                      value: @personalized_search.is_triumph %>
                      
                <%= with_manufacturer_fields.hidden_field :is_vespa,
                      value: @personalized_search.is_vespa %>
                      
                <%= with_manufacturer_fields.hidden_field :is_victory,
                      value: @personalized_search.is_victory %>
                
                <%= with_manufacturer_fields.hidden_field :is_yamaha,
                      value: @personalized_search.is_yamaha %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance + 50 %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
              
              <button type="submit"
                      class="match-item match-item-d">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Expand Location
                  </span>
                  
                  <span class="match-item-subtitle">
                    Increase search radius by 50 miles
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-d.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
              
              <%= f.fields_for :with_manufacturer do |with_manufacturer_fields| %>
              
                <%= with_manufacturer_fields.hidden_field :is_aprilia,
                      value: @personalized_search.is_aprilia %>
                
                <%= with_manufacturer_fields.hidden_field :is_bmw,
                      value: @personalized_search.is_bmw %>
                
                <%= with_manufacturer_fields.hidden_field :is_can_am,
                      value: @personalized_search.is_can_am %>
                      
                <%= with_manufacturer_fields.hidden_field :is_ducati,
                      value: @personalized_search.is_ducati %>
                      
                <%= with_manufacturer_fields.hidden_field :is_harley_davidson,
                      value: @personalized_search.is_harley_davidson %>
                
                <%= with_manufacturer_fields.hidden_field :is_honda,
                      value: @personalized_search.is_honda %>
                
                <%= with_manufacturer_fields.hidden_field :is_indian,
                      value: @personalized_search.is_indian %>
                
                <%= with_manufacturer_fields.hidden_field :is_ktm,
                      value: @personalized_search.is_ktm %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kawasaki,
                      value: @personalized_search.is_kawasaki %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kymco,
                      value: @personalized_search.is_kymco %>
                
                <%= with_manufacturer_fields.hidden_field :is_suzuki,
                      value: @personalized_search.is_suzuki %>
                
                <%= with_manufacturer_fields.hidden_field :is_triumph,
                      value: @personalized_search.is_triumph %>
                      
                <%= with_manufacturer_fields.hidden_field :is_vespa,
                      value: @personalized_search.is_vespa %>
                      
                <%= with_manufacturer_fields.hidden_field :is_victory,
                      value: @personalized_search.is_victory %>
                
                <%= with_manufacturer_fields.hidden_field :is_yamaha,
                      value: @personalized_search.is_yamaha %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price + 1000 %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
              
              <button type="submit"
                      class="match-item match-item-e">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Pay A Bit More
                  </span>
                  
                  <span class="match-item-subtitle">
                    Increase budget by $1000
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-e.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-12">
            
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
              <%= f.fields_for :with_style do |with_style_fields| %>
              
                <%= with_style_fields.hidden_field :is_cafe_racer,
                      value: @personalized_search.is_cafe_racer %>
                
                <%= with_style_fields.hidden_field :is_cruiser,
                      value: @personalized_search.is_cruiser %>
                
                <%= with_style_fields.hidden_field :is_dual_sport,
                      value: @personalized_search.is_dual_sport %>
                
                <%= with_style_fields.hidden_field :is_mini_pocket,
                      value: @personalized_search.is_mini_pocket %>
                
                <%= with_style_fields.hidden_field :is_moped,
                      value: @personalized_search.is_moped %>
                
                <%= with_style_fields.hidden_field :is_sportbike,
                      value: @personalized_search.is_sportbike %>
                
                <%= with_style_fields.hidden_field :is_standard,
                      value: @personalized_search.is_standard %>

                <%= with_style_fields.hidden_field :is_touring,
                      value: @personalized_search.is_touring %>
                
                <%= with_style_fields.hidden_field :is_trike,
                      value: @personalized_search.is_trike %>
              <% end %>
              
              <%= f.fields_for :with_manufacturer do |with_manufacturer_fields| %>
              
                <%= with_manufacturer_fields.hidden_field :is_aprilia,
                      value: @personalized_search.is_aprilia %>
                
                <%= with_manufacturer_fields.hidden_field :is_bmw,
                      value: @personalized_search.is_bmw %>
                
                <%= with_manufacturer_fields.hidden_field :is_can_am,
                      value: @personalized_search.is_can_am %>
                      
                <%= with_manufacturer_fields.hidden_field :is_ducati,
                      value: @personalized_search.is_ducati %>
                      
                <%= with_manufacturer_fields.hidden_field :is_harley_davidson,
                      value: @personalized_search.is_harley_davidson %>
                
                <%= with_manufacturer_fields.hidden_field :is_honda,
                      value: @personalized_search.is_honda %>
                
                <%= with_manufacturer_fields.hidden_field :is_indian,
                      value: @personalized_search.is_indian %>
                
                <%= with_manufacturer_fields.hidden_field :is_ktm,
                      value: @personalized_search.is_ktm %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kawasaki,
                      value: @personalized_search.is_kawasaki %>
                      
                <%= with_manufacturer_fields.hidden_field :is_kymco,
                      value: @personalized_search.is_kymco %>
                
                <%= with_manufacturer_fields.hidden_field :is_suzuki,
                      value: @personalized_search.is_suzuki %>
                
                <%= with_manufacturer_fields.hidden_field :is_triumph,
                      value: @personalized_search.is_triumph %>
                      
                <%= with_manufacturer_fields.hidden_field :is_vespa,
                      value: @personalized_search.is_vespa %>
                      
                <%= with_manufacturer_fields.hidden_field :is_victory,
                      value: @personalized_search.is_victory %>
                
                <%= with_manufacturer_fields.hidden_field :is_yamaha,
                      value: @personalized_search.is_yamaha %>
              <% end %>
                  
              <%= f.fields_for :with_distance do |with_distance_fields| %>
              
                <%= with_distance_fields.hidden_field :zip_code,
                      value: @personalized_search.zip_code %>
                      
                <%= with_distance_fields.hidden_field :max_distance,
                      value: @personalized_search.max_distance %>
              <% end %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
                                 
              <button type="submit"
                      class="match-item match-item-f">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    A Bit Of Wear
                  </span>
                  
                  <span class="match-item-subtitle">
                    Include motorcycles with higher mileage
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-f.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>