<% provide(:title, "Personalized Search") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <h1 class="search-parameter-title">How old is too old?</h1>
  
  <div class="search-parameter-form">
    <%= form_for @personalized_search do |f| %>
      
      <div class="form-group form-group-search-parameter">
        
        <%= f.label :year, "Earliest Year" %>
          
        <span id="personalized_year_slider_val" class="slider-label">
          <% if @personalized_search.year.present? %>
            <%= @personalized_search.year %>
          <% else %>
            1900
          <% end %>
        </span>
        
        <% if @personalized_search.year.present? %>
          <%= f.text_field :year, 
                           id: 'personalized_year_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '1900',
                                   'slider-max'   => '2016',
                                   'slider-step'  => '1',
                                   'slider-value' => 
                                     @personalized_search.year } %>
        
        <% else %>
          <%= f.text_field :year, 
                           id: 'personalized_year_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '1900',
                                   'slider-max'   => '2016',
                                   'slider-step'  => '1',
                                   'slider-value' => '1900' } %>
        <% end %>
      </div>
      
      <%= hidden_field_tag :redirect_location, 
            installed_options_personalized_search_path(@personalized_search) %>
    
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        
        Next
        
        <i class="fa fa-arrow-right search-parameter-next"></i>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  
  // sliders
    
    var yearSlider         = $('#personalized_year_slider');
    var yearSliderValue    = $('#personalized_year_slider_val');
    
    yearSlider.slider();
    
    yearSlider.on('slide', function(slideEvt) {
    	yearSliderValue.text(slideEvt.value);
    });
    
    yearSlider.on('slideStop', function(slideEvt) {
    	yearSliderValue.text(slideEvt.value);
    });
</script>