<head>
  <style type="text/css" media="screen">
  
    .email {
      background-color: #f9f9f9;
      max-width: 600px;
      margin: 0 auto;
    }
    
    .email-header {
      background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/email-header.jpg');
      background-color: #f9f9f9;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 125px;
      opacity: 0.6;
      position: relative;
    }
    
    .email-header-content {
      width: 100%;
      height: 125px;
      background: linear-gradient(rgba(249, 249, 249, 0), #f9f9f9);
      position: absolute;
      bottom: 0;
    }
    
    .email-body {
      padding: 3em 4em 2em;
    }
    
    .email-title {
      text-align: right;
      width: 210px;
      margin: 0 auto 2.5em
    }
    
    .email-title-image {
      height: 40px;
      float: left;
    }
    
    .email-title-text {
      font-size: 1.9em;
      line-height: 40px;
      color: #4c4c4c;
      margin: 0;
      display: inline-block;
    }
    
    .email-subject {
      font-size: 1.05em;
      text-align: center;
      color: #4c4c4c;
      margin: 0 0 1.5em;
    }
    
    .email-info-top,
    .email-message-content,
    .email-info-bottom {
      font-size: 1em;
      line-height: 1.5;
      color: #63656a !important;
    }
    
    .email-info-top {
      margin: 0 0 1.5em;
    }
    
    .email-message-content {
      margin: 0;
    }
    
    .email-info-bottom {
      margin: 2em 0 0.5em
    }
    
    .email-message {
      background-color: white;
      border: 1px solid #e7e7e7;
      border-radius: 2px;
      box-shadow: 0 2px 16px 0 rgba(76, 76, 76, 0.08);
      padding: 1.25em 1.5em;
    }
    
    .email-link {
      font-weight: bold;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      color: white !important;
      background-color: #5bbb9a;
      border-radius: 2px;
      box-shadow: 0 3px 24px 0 #c8c9cb;
      width: 185px;
      height: 50px;
      margin: 2em auto 0;
      display: block;
    }
    
    .email-footer {
      font-size: 0.95em;
      text-align: center;
      color: #63656a;
      border-top: 1px solid #e7e7e7;
      padding-top: 3em;
      margin-top: 3em
    }
    
    .email-footer-social {
      height: 28px;
      margin: 0 0 1.5em;
      position: relative;
    }
    
    .email-footer-social-list {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .email-footer-social-item {
      display: inline-block;
      margin-left: 1em;
    }
    
    .email-footer-info {
      margin-bottom: 1em;
      display: block
    }
    
    .first,
    .last {
      margin: 0 !important;
    }
    
    @media (max-width: 768px) {
      
      .email-header {
        height: 75px;
      }
      
      .email-header-content {
        height: 75px;
      }
      
      .email-body { 
        padding: 2em 1em;
      }
      
      .email-title {
        width: 165px;
        margin-bottom: 2em;
      }
      
      .email-title-image {
        height: 30px;
      }
      
      .email-title-text {
        font-size: 1.5em;
        line-height: 30px;
      }
      
      .email-subject,
      .email-info-top,
      .email-message-content,
      .email-info-bottom {
        font-size: 0.95em;
      }
      
      .email-message {
        padding: 0.75em 1em;
      }
      
      .email-footer {
        font-size: 0.9em;
      }
    }
  </style>
</head>

<body>
  <div class="email">
    
    <div class="email-header">
      <div class="email-header-content"></div>
    </div>
    
    <div class="email-body">
      
      <div class="email-title">
        
        <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/motominion-logo.png",
             class="email-title-image">
             
        <h1 class="email-title-text">
          motominion
        </h1>
      </div>
  
      <div>
      
        <h2 class="email-subject">
          <%= @sender.first_name %> sent you a message...
        </h2>
        
        <p class="email-info-top">
          
          Good news, 
          
          <% if @recipient.dealership.present? %>
            <%= @recipient.dealership.name %>!
          <% else %>
            <%= @recipient.first_name %>!
          <% end %>
          
          You just received a message from 
          
          <strong><%= @sender.first_name %> <%= @sender.last_name %></strong>:
        </p>
        
        <div class="email-message">
          <p class="email-message-content">
            <%= sanitize @message %>
          </p>
        </div>
        
        <p class="email-info-bottom">
          To view the full details of the message and to reply back, click the 
          link below! Be sure to respond promptly; your overall rating on 
          Motominion is based, in part, on your response rate.
        </p>
      
        <%= link_to "Reply to #{@sender.first_name}",
                    conversation_messages_url(@conversation), 
                    class: "email-link" %>
      </div>
      
      <div class="email-footer">
        
        <div class="email-footer-social">
          <ul class="email-footer-social-list">
          
            <li class="email-footer-social-item first">
              <%= link_to 'https://www.facebook.com/MotominionMotorcycles/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/facebook.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://twitter.com/motominion',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/twitter.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://www.linkedin.com/company/motominion/about/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/linkedin.png">
              <% end %>
            </li>
            
            <li class="email-footer-social-item">
              <%= link_to 'https://www.instagram.com/motominion_motorcycles/',
                          target: "_blank" do %>
                <img src="https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/instagram.png">
              <% end %>
            </li>
          </ul>
        </div>
        
        <span class="email-footer-info">
          This is an automated mailing from Motominion. 
        </span>
        
        <span class="email-footer-info">
          
          You registered on Motominion at: <%= @recipient.email %>. 
          
          </br> 
          
          <%= link_to "Unsubscribe", 
                      '#',
                      { style: "color: #63656a;" } %> 
                      
          from personalized recommendations and price and availability changes. 
        </span>
        
        <span class="email-footer-info">
          Motominion, Inc.
          </br>
          8 10th St., Ste 1505 • San Francisco, CA 94103 
        </span>
        
        <span class="email-footer-info last">
          Copyright © 2019 Motominion. All rights reserved.
        </span>
        </p>
      </div>
    </div>
  </div>
</body>