<!--read more... link-->

<li id="forum-item-<%= post.id %>" class="forum-item">
  
  <div class="row vertical-align forum-item-header">
    
    <div class="col-xs-2">
      <div class="forum-item-avatar">
        <%= link_to (image_tag post.user.avatar.url),
                    user_path(post.user) %>
      </div>
    </div>
    
    <div class="col-xs-10">
      
      <%= link_to post.title, post, class: "forum-item-title" %>
      
      <%= link_to post.user, class: "forum-item-name" do %> 
        <%= post.user.name %>
      <% end %>
        
      <span class="forum-item-time">
        · <%= time_ago_in_words(post.created_at).capitalize %> ago 
      </span>
    </div>
  </div>
  
  <p class="forum-item-content"><%= post.content %></p>
  
  <%= link_to post do %>
    <span class="forum-item-expand">Read more...</span> 
  <% end %>
  
  <div class="forum-item-stats">
    
    <div class="stats-content">
      <%= post.cached_votes_up %> 
      <i class="fa fa-thumbs-o-up fa-lg stats-icon" aria-hidden="true"></i>
    </div>

    <div class="stats-content">
      <%= post.responses.count %> 
      <i class="fa fa-comment-o fa-lg stats-icon" aria-hidden="true"></i>
    </div>
  </div>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    
      var forumItemAvatar = $('.forum-item-avatar');
      
      forumItemAvatar.imagefill(); 
  })
</script>