<% provide(:title, params[:post]) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="forum-search">
  
  <div class="forum-nav">
    <%= link_to "Community Center", posts_path, class: "forum-nav-link" %>
  </div>
  
  <div class="row">
    
    <div class="col-md-4 col-md-push-8">
      
      <%= form_tag search_posts_path, 
                   method: :get, 
                   class: "search-form-forum" do %>
                   
        <i class="fa fa-search fa-lg search-bar-primary-icon" 
           aria-hidden="true"></i>
          
        <%= text_field_tag :post, 
                           params[:post], 
                           placeholder: "Search the community", 
                           class: "form-control 
                                   search-form-control 
                                   typeahead" %>
                           
        <%= submit_tag "Search", class: "btn-forum" %>
      <% end %>
    </div>
    
    <div class="col-md-8 col-md-pull-4">
      <h1 class="forum-search-title">Results for '<%= params[:post] %>'</h1>
    </div>
  </div>
  
  <span class="forum-search-size">
    <% if @posts.count < 10 %>
      1 - <%= @posts.count %> of <%= @posts.count %> discussions
    <% else %>
      1 - 10 of <%= @posts.count %> discussions
    <% end %>
  </span>
  
  <% if @posts.any? %>
    <ol class="forum-search-list">
      <%= render partial:    "forum_search_item", 
                 collection: @posts,
                 as:         :post %>
    </ol>
    
  <% else %>
    <p class="empty-list-info">
      Empty search query; Please enter one or more keywords and try again.
    </p>
  <% end %>
  
  <%= will_paginate @posts, 
                    previous_label: 
                      '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
                    next_label: 
                      '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
                    inner_window: 1, 
                    outer_window: 0 %>
</div>