<% provide(:title, params[:post]) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="forum-search">
  
  <ol class="social-nav">
    
    <li>
      
      <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
         aria-hidden="true"></i>
           
      <%= link_to "Community Center", posts_path, class: "social-nav-link" %>
    </li>
    
    <li class="hidden-xs">
      
      <i class="fa fa-angle-right social-nav-separator" 
         aria-hidden="true"></i>
         
      <span class="social-nav-active">Search</span>
    </li>
  </ol>
  
  <div class="row">
    
    <div class="col-md-4 col-md-push-8">
      <%= render 'search_form' %>
    </div>
    
    <div class="col-md-8 col-md-pull-4">
      <h1 class="forum-search-title">Results for '<%= params[:post] %>'</h1>
    </div>
  </div>
  
  <span class="forum-search-size">
    <% if @posts.count < 10 %>
      1 - <%= @posts.count %> of <%= @posts.count %> discussions
    <% else %>
      1 - 10 of <%= @posts.count %> discussions
    <% end %>
  </span>
  
  <% if @posts.any? %>
    <ol class="forum-search-list">
      <%= render partial:    "forum_search_item", 
                 collection: @posts,
                 as:         :post %>
    </ol>
    
  <% else %>
    <p class="empty-list-info">
      Empty search query; Please enter one or more keywords and try again.
    </p>
  <% end %>
  
  <%= will_paginate @posts, 
                    previous_label: 
                      '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
                    next_label: 
                      '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
                    inner_window: 1, 
                    outer_window: 0 %>
</div>