<% provide(:title, @post.title) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="post">
  
  <ol class="social-nav">
    
    <% if @post.club_id.nil? %>
    
      <li>
        
        <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
           aria-hidden="true"></i>
        
        <%= link_to "Community Center", posts_path, class: "social-nav-link" %>
      </li>
    
    <% else %>
    
      <li class="hidden-xs">
        <%= link_to "Community Center", posts_path, class: "social-nav-link" %>
      </li>
      
      <li class="hidden-xs">
        
        <i class="fa fa-angle-right social-nav-separator" 
           aria-hidden="true"></i>
           
        <%= link_to "Car Clubs", clubs_path, class: "social-nav-link" %>
      </li>
      
      <li>
        
        <i class="fa fa-angle-left social-nav-separator-mobile visible-xs" 
           aria-hidden="true"></i>
        
        <i class="fa fa-angle-right social-nav-separator hidden-xs" 
           aria-hidden="true"></i>
           
        <%= link_to Club.find(@post.club_id), class: "social-nav-link" do %>
          <%= Club.find(@post.club_id).name %>
        <% end %>
      </li>
    <% end %>
    
    <li class="hidden-xs">
      
      <i class="fa fa-angle-right social-nav-separator" 
         aria-hidden="true"></i>
         
      <span class="social-nav-active">Conversation</span>
    </li>
  </ol>
  
  <div class="row">
    
    <div class="col-md-4 col-md-push-8">
      <%= render 'search_form' %>
    </div>
    
    <div class="col-md-8 col-md-pull-4">
      <h1 class="post-title"><%= @post.title %></h1>
    </div>
  </div>
    
  <div class="post-content">
    <div class="row vertical-align post-header">
    
      <div class="col-md-2 col-xs-3 avatar-and-online">
        
        <div class="post-avatar">
          <%= link_to (image_tag @post.user.avatar.url),
                      user_path(@post.user) %>
        </div>
        
        <% if @post.user.online? %>
          <div class="online online-lg-tertiary hidden-xs"></div>
        <% end %>
      </div>
      
      <div class="col-md-10 col-xs-9">
        
        <%= link_to @post.user.name, @post.user, class: "post-name" %> 

        <span>
          
          <%= time_ago_in_words(@post.created_at).capitalize %> ago
          
          <% if logged_in? && @post.user == current_user %>
                          
            ·
            
            <div class="post-edit">
               
              <%= link_to "Edit", edit_post_path(@post) %>
            
              <%= link_to "Delete", 
                          post_path(@post), 
                          method: :delete, 
                          data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
        </span>
      </div>
    </div>
    
    <p class="post-info"><%= @post.content %></p>
    
    <div class="post-votes">
        
      <div class="vote-count">
        <%= @post.cached_votes_up %>
      </div>
      
      <div class="vote-icon">
        
        <% if logged_in? %>
        
          <% if current_user.liked? @post %>
          
            <%= link_to unlike_post_path(@post), 
                        method: :get, 
                        class:  "unlike-post",
                        remote: true  do %>
                        
              <i class="fa fa-thumbs-o-up fa-lg unlike-icon" aria-hidden="true">
              </i>
            <% end %>
                        
          <% else %>
          
            <%= link_to like_post_path(@post), 
                        method: :get, 
                        class:  "like-post",
                        remote: true do %>
              
              <i class="fa fa-thumbs-o-up fa-lg like-icon" aria-hidden="true">
              </i>
            <% end %>
          <% end %>
        
        <% else %>
          <i class="fa fa-thumbs-o-up fa-lg like-icon" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    
    <h2 class="post-responses-title">
      <%= pluralize(@post.responses.count, "Reply") %>
    </h2>
    
    <div class="post-responses">
    
      <% if @post.responses.exists? %>
        <ol class="post-responses-list">
          <%= render @post.responses %>
        </ol>
      <% end %>
        
      <% if logged_in? %>
        <%= render 'responses/form' %>
      <% end %>
    </div>
  </div>   
</div>