<% provide(:title, @post.title) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="post">
  
  <div class="forum-nav">
    <%= link_to "Community Center", posts_path, class: "forum-nav-link" %>
  </div>
  
  <div class="row">
    
    <div class="col-xs-8">
      <h1 class="post-title"><%= @post.title %></h1>
    </div>
    
    <div class="col-xs-4">
      
      <%= form_tag search_posts_path, 
                   method: :get, 
                   class: "search-form-forum" do %>
                   
        <i class="fa fa-search fa-lg search-bar-primary-icon" 
           aria-hidden="true"></i>
          
        <%= text_field_tag :post, 
                           params[:post], 
                           placeholder: "Search the community", 
                           class: "form-control typeahead" %>
                           
        <%= submit_tag "Search", class: "btn-forum" %>
      <% end %>
    </div>
  </div>
    
  <div class="post-content">
    <div class="row vertical-align post-header">
    
      <div class="col-xs-2">
        <div class="post-avatar">
          <%= link_to (image_tag @post.user.avatar.url),
                      user_path(@post.user) %>
        </div>
      </div>
      
      <div class="col-xs-10">
        
        <%= link_to @post.user.name, @post.user, class: "post-name" %> 

        <span>
          
          <%= time_ago_in_words(@post.created_at).capitalize %> ago ·
          
          <% if logged_in? && @post.user == current_user %>
            <div class="post-edit">
              
              <%= link_to "Edit", edit_post_path(@post) %>
            
              <%= link_to "Delete", 
                          post_path(@post), 
                          method: :delete, 
                          data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
        </span>
      </div>
    </div>
    
    <p class="post-info"><%= @post.content %></p>
    
    <div class="post-votes">
        
      <div class="vote-count">
        <%= @post.get_likes.size %>
      </div>
      
      <div class="vote-icon">
        
        <% if logged_in? %>
        
          <% if current_user.liked? @post %>
          
            <%= link_to unlike_post_path(@post), 
                        method: :get, 
                        class:  "unlike-post",
                        remote: true  do %>
                        
              <i class="fa fa-thumbs-o-up fa-lg unlike-icon" aria-hidden="true">
              </i>
            <% end %>
                        
          <% else %>
          
            <%= link_to like_post_path(@post), 
                        method: :get, 
                        class:  "like-post",
                        remote: true do %>
              
              <i class="fa fa-thumbs-o-up fa-lg like-icon" aria-hidden="true">
              </i>
            <% end %>
          <% end %>
        
        <% else %>
          <i class="fa fa-thumbs-o-up fa-lg like-icon" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    
    <h2 class="post-responses-title">
      <%= pluralize(@post.responses.count, "Reply") %>
    </h2>
    
    <div class="post-responses">
    
      <% if @post.responses.exists? %>
        <ol class="post-responses-list">
          <%= render @post.responses %>
        </ol>
      <% end %>
        
      <% if logged_in? %>
        <%= render 'responses/form' %>
      <% end %>
    </div>
  </div>   
</div>