<!--completed-->

<%= form_for @vehicle, html: { multipart: true } do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="basics">
    <div class="row">
      
      <div class="col-xs-4">
        
        <h2 class="basics-title">The Basics</h2>
        
        <p class="basics-info">
          Start with the basics.
        </p>
      </div>
      
      <div class="col-xs-8">
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :vehicle_make_id, "Make" %>
            
            <div class="form-element">
              
              <%= f.collection_select :vehicle_make_id,
                                      VehicleMake.order(:name),
                                      :id,
                                      :name,
                                      { include_blank: true, 
                                        prompt: "Select make" },
                                      class: "form-control select-secondary" %>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-xs-6 form-group">
  
            <%= f.label :vehicle_model_id, "Model" %>
            
            <div class="form-element">
              
              <%= f.grouped_collection_select :vehicle_model_id, 
                                              VehicleMake.order(:name),
                                              :vehicle_models,
                                              :name,
                                              :id,
                                              :name,
                                              { prompt: "Select model", 
                                                include_blank: true }, 
                                              class: "form-control 
                                                      select-secondary" %>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :year %>
            
            <div class="form-element">
              
              <%= f.select :year, 
                           1981..(Time.zone.now.year + 1),
                           { include_blank: true, prompt: "Select year" }, 
                           class: "form-control select-primary" %>
                  
              <i class="fa fa-calendar-o fa-lg form-icon" 
                 aria-hidden="true"></i>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
          
          <div class="col-xs-6 form-group">

            <%= f.label :vin, "VIN" %>
            
            <%= f.text_field :vin, 
                             placeholder: "Eg. VA4T58201DB390436", 
                             class: "form-control form-control-primary" %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :price %>
            
            <div class= "input-group">
              
              <div class="input-group-addon">$</div>
              
              <%= f.text_field :price, 
                               placeholder: "Eg. 100 000", 
                               class: "form-control form-control-primary" %>
            </div>
          </div>
              
          <div class="col-xs-6 form-group">

            <%= f.label :mileage %>
            
            <div class= "input-group">
              
              <%= f.text_field :mileage, 
                               placeholder: "Eg. 25 000", 
                               class: "form-control form-control-primary" %>
                  
              <div class="input-group-addon">km</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="details">
    <div class="row">
      
      <div class="col-xs-4">
        
        <h2 class="details-title">The Details</h2>
        
        <p class="details-info">
          Now, the details. Tell us a bit more about Robert Downshift Jr.
        </p>
      </div>
      
      <div class="col-xs-8">
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :body_style, "Body Style" %>
            
            <div class="form-element">
              
              <%= f.select :body_style, 
                           [ "Convertible", "Coupe", "Crossover", "Hatchback", 
                             "Minivan", "Off-Road", "Pickup", "Sedan", "SUV", 
                             "Van", "Wagon" ],
                           { include_blank: true, prompt: "Select body style" },
                           class: "form-control select-primary" %>
                  
              <i class="fa fa-car fa-lg form-icon" 
                 aria-hidden="true"></i>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
          
          <div class="col-xs-6 form-group">

            <%= f.label :color %>
            
            <div class="form-element">
              
              <%= f.select :color, 
                           [ "Black", "Blue", "Brown", "Gold", "Gray", "Green", 
                             "Orange", "Pink", "Purple", "Red", "Silver", 
                             "Teal", "Unknown", "White", "Yellow" ],
                           { include_blank: true, prompt: "Select color" }, 
                           class: "form-control select-primary" %>
                  
              <i class="fa fa-paint-brush fa-lg form-icon" 
               aria-hidden="true"></i>
               
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :seating_capacity, "Seating Capacity" %>
            
            <div class="form-element">
              
              <%= f.select :seating_capacity,
                           [ ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], 
                             ["7", 7], ["8", 8], ["9+", 9] ],
                           { include_blank: true,
                             prompt: "Select seating capacity" },
                           class: "form-contol select-primary" %>
                  
              <i class="fa fa-users fa-lg form-icon" 
                 aria-hidden="true"></i>
                   
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
          
          <div class="col-xs-6 form-group">

            <%= f.label :fuel_type, "Fuel Type" %>
            
            <div class="form-element">
              
              <%= f.select :fuel_type, 
                           [ "Biodiesel", "Compressed Natural Gas", "Diesel", 
                             "Electric", "Flex Fuel", "Gasoline", "Hybrid", 
                             "Propane"],
                           { include_blank: true, prompt: "Select fuel type" }, 
                           class: "form-control select-primary" %>
                  
              <i class="fa fa-leaf fa-lg form-icon" 
                 aria-hidden="true"></i>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :transmission %>
            
            <div class="form-element">
              
              <%= f.select :transmission, 
                           [ "Automatic", "Manual" ],
                           { include_blank: true,
                             prompt: "Select transmission" }, 
                           class: "form-control select-primary" %>
                  
              <i class="fa fa-cogs fa-lg form-icon" 
                 aria-hidden="true"></i>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-xs-6 form-group">

            <%= f.label :drivetrain %>
            
            <div class="form-element">
              
              <%= f.select :drivetrain, 
                           [ "Front-Wheel Drive", "Rear-Wheel Drive", "4X2", 
                             "Four-Wheel Drive", "All-Wheel Drive" ],
                           { include_blank: true, prompt: "Select drivetrain" }, 
                           class: "form-control select-primary" %>
                
              <i class="fa fa-wrench fa-lg form-icon" 
                 aria-hidden="true"></i>
                 
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="installed-options">
          
          <span class="installed-options-title">Installed Options</span>
          
          <ul class="installed-options-list">
            
            <li>
              <%= f.check_box :is_backup_camera %>
              <%= f.label :is_backup_camera, "Backup Camera" %> 
            </li>
            
            <li>
              <%= f.check_box :is_bluetooth %>
              <%= f.label :is_bluetooth, "Bluetooth" %> 
            </li>
            
            <li>
              <%= f.check_box :is_dvd_entertainment_system %>
              <%= f.label :is_dvd_entertainment_system, 
                          "DVD Entertainment System" %> 
            </li>
            
            <li>
              <%= f.check_box :is_leather_seats %>
              <%= f.label :is_leather_seats, "Leather Seats" %>
            </li>
            
            <li>
              <%= f.check_box :is_navigation_system %>
              <%= f.label :is_navigation_system, "Navigation System" %> 
            </li>
            
            <li>
              <%= f.check_box :is_remote_start %>
              <%= f.label :is_remote_start, "Remote Start" %> 
            </li>
            
            <li>
              <%= f.check_box :is_sunroof %>
              <%= f.label :is_sunroof, "Sunroof" %>       
            </li>
            
            <li>
              <%= f.check_box :is_tow_package %>
              <%= f.label :is_tow_package, "Tow Package" %>          
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="finalize">
    <div class="row">
      
      <div class="col-xs-4">
        
        <h2 class="finalize-title">Finalize</h2>
        
        <p class="finalize-info">
          Complete your listing. Listings appear best when exactly 8 photos have 
          been uploaded.
        </p>
      </div>
      
      <div class="col-xs-8">
        
        <div class="form-group">
          
          <%= f.label :listing_name, "Listing Name" %>
          
          <%= f.text_field :listing_name, 
                           placeholder: "Eg. Jaguar F-Type", 
                           class: "form-control form-control-primary" %>
        </div>
      
        <div class="form-group">
          
          <%= f.label :summary %>
          
          <%= f.text_area :summary, 
                          rows: 3,
                          placeholder: "Eg. Based on the XK convertible.", 
                          class: "form-control form-control-primary" %>
        </div>
    
        <div class="form-group">
          
          <%= f.label :sellers_notes, "Seller's Notes" %>
          
          <%= f.text_area :sellers_notes,
                          rows: 3,
                          placeholder: "Eg. Now selling at reduced cost.", 
                          class: "form-control form-control-primary" %>
        </div>
        
        <div id="photos">
          <%= render 'photos/list' %>
        </div>
        
        <div class="photos-button">
          
          <button class="btn btn-secondary btn-file">Add Photos</button>
          
          <%= file_field_tag "images[]", 
                             class: "multi with-preview maxsize-1000",
                             maxlength: "8",
                             accept: "jpg|gif|png",
                             type: :file  %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="about-you">
    <div class="row">
      
      <div class="col-xs-4">
        
        <h2 class="about-you-title">About You</h2>
        
        <p class="about-you-info">
          Include your address and availability so that buyers know when and 
          where to book a test drive. For safety, your address will be hidden 
          from a customer until you accept his / her test drive request.
        </p>
      </div>
      
      <div class="col-xs-8">
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :street_address, "Street Address" %>
            
            <%= f.text_field :street_address, 
                             placeholder: "Eg. 3 Lower River Dr.", 
                             class: "form-control form-control-primary" %>
          </div>
          
          <div class="col-xs-6 form-group">

            <%= f.label :apartment, "Apt., Bldg. (Optional)" %>
            
            <%= f.text_field :apartment, 
                             placeholder: "Eg. Building 6", 
                             class: "form-control form-control-primary" %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-xs-6 form-group">

            <%= f.label :city %>
            
            <%= f.text_field :city, 
                             placeholder: "Eg. Louisville", 
                             class: "form-control form-control-primary" %>
          </div>
          
          <div class="col-xs-6 form-group">

            <%= f.label :state, "State / Province" %>
            
            <%= f.text_field :state, 
                             placeholder: "Eg. KY", 
                             class: "form-control form-control-primary" %>
          </div>
        </div>
        
        <div class="availabilities">
          
          <span class="availabilities-title">Availabilities</span>
          
          <%= f.fields_for :availabilities do |availability| %>
            <%= render 'availability_fields', f: availability %>
          <% end %>
            
          <div class="links">
            <%= link_to_add_association "+ Add Availability", 
                                        f, 
                                        :availabilities %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%= f.hidden_field :bumped_at,  value: Time.now %>
  
  <div class="row submit-vehicle">
    
    <div class="col-xs-4">
      <!--intentionally left blank-->
    </div>
    
    <div class="col-xs-8">
      <%= f.submit "Submit Details", class: "submit btn btn-secondary" %>
    </div>
  </div>
<% end %>