<div id="map-item-<%= vehicle.id %>" class="map-item">
  
  <div class="search-item-image">
    
    <%= link_to vehicle, target: "_blank" do %>
      <div class="map-item-image-content", 
           style="background-image: url('<%= vehicle.photos[0].image.url() if 
                                             vehicle.photos.length > 0 %>')">
        
      </div>
    <% end %>
    
    <%= link_to favorite_vehicle_path(vehicle), 
              method: :put do %>
      <i class="fa fa-2x fa-heart-o wish-list-icon" aria-hidden="true"></i>
    <% end %>
    
    <!--<(perc) if vehicle.dealership_id.present? %>-->
      <div class="special-offer" 
           id="search-item-special-offer-<%= vehicle.id %>">
        
        <span class="special-offer-score">
          <%= vehicle.listing_score.overall_score %>
        </span>
        
        <span class="special-offer-description">Listing Score</span>
        
        <!--<i class="fa fa-lg fa-tag special-offer-icon"></i>-->
        
        <!--<div type="button" -->
        <!--     class="special-offer-button" -->
        <!--     data-id="<(perc)= vehicle.id %>"-->
        <!--     data-toggle="modal" -->
        <!--     data-target="#modal-special-offer">-->
        <!--  Special Offer-->
        <!--</div>-->
      </div>
    <!--<(perc) end %>-->
  </div>
  
  <%= link_to vehicle, target: "_blank" do %>
    <div class="row">
      
      <div class="col-xs-3 map-item-user">
        <div class="search-item-user-content">
          
          <% if vehicle.user.present? %>
            <div class="avatar-and-online">
            
              <div class="map-item-avatar avatar-general", 
                   style="background-image: url(
                         '<%= vehicle.user.avatar.url(:thumb) %>')">
              </div>
          
              <% if vehicle.user.online? %>
                <div class="online online-lg-primary hidden-xs"></div>
              <% end %>
            </div>
          
          <% else %>
            <div class="map-item-avatar avatar-general", 
                 style="background-image: url(
                       '<%= vehicle.dealership.photo.url() %>')">
            </div>
          <% end %>
        </div>
      </div>
    
      <div class="col-xs-9">
        <div class="search-item-info">
        
          <span class="search-item-title">
            
            $<%= vehicle.actual_price %> |
            
            <% if vehicle.listing_name.present? %>
              <%= vehicle.listing_name %>
              
            <% else %>
              <%= vehicle.year %> <% vehicle.vehicle_make.name %>
              <%= vehicle.vehicle_model.name %>
            <% end %>
          </span>

          <div id="average-rating-search-item-<%= vehicle.id %>", 
               class="average-rating-search-item"></div>
          
          <span class="search-item-review-count">
            <%= pluralize(vehicle.reviews.count, "review") %>
          </span>
          
          <div class="feature-list">
            
            <i class="fa fa-lg fa-info-circle feature-list-icon"></i>
  
            <ol class="feature-list-content">
            
              <li>Motorcycle Features</li>
            
              <% if vehicle.cruise_control %>
                <li>Cruise Control</li>
              <% end %>
              
              <% if vehicle.am_fm %>
                <li>AM / FM Radio</li>
              <% end %>
              
              <% if vehicle.navigation_system %>
                <li>Navigation System</li>
              <% end %>
              
              <% if vehicle.heated_seats %>
                <li>Heated Seats</li>
              <% end %>
              
              <% if vehicle.heated_hand_grips %>
                <li>Heated Hand Grips</li>
              <% end %>
              
              <% if vehicle.alarm_system %>
                <li>Alarm System</li>
              <% end %>
              
              <% if vehicle.saddlebags %>
                <li>Saddlebags</li>
              <% end %>
              
              <% if vehicle.trunk %>
                <li>Trunk</li>
              <% end %>
              
              <% if vehicle.tow_hitch %>
                <li>Tow Hitch</li>
              <% end %>
              
              <% if vehicle.cycle_cover %>
                <li>Cycle Cover</li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('#average-rating-search-item-<%= vehicle.id %>');
  
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= vehicle.average_rating %>
      });  
  });
</script>