<li class="modal-buy-online-item">
  <%= link_to new_purchase_path(vehicle_id: @vehicle.id, 
                                seller_id:  dealer.id),
              class: "modal-buy-online-link" do %>
    <div class="dealer-select">
      <div class="row vertical-align">
        
        <div class="col-md-3 avatar-and-online">
          <div class="dealer-select-avatar avatar-general",
               style="background-image: url(
                       '<%= dealer.avatar.url(:thumb) %>')">
          </div>
        </div>
        
        <div class="col-md-9 dealer-select-info">

          <span class="dealer-select-name">
            <%= dealer.full_name %>
          </span>
                      
          <span class="average-rating"></span>
          
          <span class="dealer-select-reviews">
             · <%= pluralize(@vehicle.reviews.count, "review") %>
          </span>
        </div>
      </div>
    </div>          
  <% end %>
</li>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= @vehicle.average_rating %>
      });
  });
</script>