<div class="modal" id="modal-buy-online" role="dialog">
  
  <div class="modal-buy-online-header">
    
    <i class="fa fa-times fa-lg modal-buy-online-close" 
       aria-hidden="true"></i>
    
    <div class="row modal-buy-online-header-content vertical-align">
      
      <div class="col-md-4">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/dealer-select.png") %>
      </div>
      
      <div class="col-md-8">
        <h1 class="modal-buy-online-title">Select An Associate</h1>
      </div>
    </div>
  </div>
  
  <div class="modal-buy-online-body">
    <div class="modal-buy-online-body-content">
      
      <h2 class="modal-buy-online-subtitle">
        At Motominion, we believe in the power of the consumer.
      </h2>
      
      <span class="modal-buy-online-info">
        Select the dealer that you would most like to work with.
      </span>
      
      <ol class="modal-buy-online-list">
        <li class="modal-buy-online-item">
          
          <% if current_user && 
                  @vehicle.purchases.where(email: current_user.email).exists? %>
            <%= link_to basics_purchase_path(@vehicle.purchases.first),
                        class: "modal-buy-online-link" do %>
              <div class="dealer-select">
                <div class="row vertical-align">
                  
                  <div class="col-md-3 avatar-and-online">
                    
                    <div class="dealer-select-avatar avatar-general",
                         style="background-image: url(
                                 '<%= @vehicle.user.avatar.url(:thumb) %>')">
                    </div>
                    
                    <!--<(perc) if @vehicle.user.online? %>-->
                    <!--  <div class="online online-lg-primary hidden-xs"></div>-->
                    <!--<(perc) end %>-->
                  </div>
                  
                  <div class="col-md-9 dealer-select-info">
      
                    <span class="dealer-select-name hidden-xs">
                      <%= @vehicle.user.full_name %>
                    </span>
                                
                    <span class="average-rating"></span>
                    
                    <span class="dealer-select-reviews">
                       · <%= pluralize(@vehicle.reviews.count, "review") %>
                    </span>
                  </div>
                </div>  
              </div>
            <% end %>
          
          <% else %>
            <%= link_to new_purchase_path(vehicle_id: @vehicle.id),
                        class: "modal-buy-online-link" do %>
              <div class="dealer-select">
                <div class="row vertical-align">
                  
                  <div class="col-md-3 avatar-and-online">
                    
                    <div class="dealer-select-avatar avatar-general",
                         style="background-image: url(
                                 '<%= @vehicle.user.avatar.url(:thumb) %>')">
                    </div>
                    
                    <!--<(perc) if @vehicle.user.online? %>-->
                    <!--  <div class="online online-lg-primary hidden-xs"></div>-->
                    <!--<(perc) end %>-->
                  </div>
                  
                  <div class="col-md-9 dealer-select-info">
      
                    <span class="dealer-select-name hidden-xs">
                      <%= @vehicle.user.full_name %>
                    </span>
                                
                    <span class="average-rating"></span>
                    
                    <span class="dealer-select-reviews">
                       · <%= pluralize(@vehicle.reviews.count, "review") %>
                    </span>
                  </div>
                </div>
              </div>          
            <% end %>
          <% end %>
        </li>
      </ol>
    </div>
  </div>
</div>
          
        
              