<li id="related-vehicle-mobile-<%= related_vehicle_mobile.id %>" 
    class="col-xs-3 related-vehicle-mobile">
  
  <%= link_to related_vehicle_mobile, target: "_blank" do %>
  
    <div class="related-vehicle-mobile-image", 
         style="background-image: url(
                 '<%= related_vehicle_mobile.photos[0].image.url() if 
                      related_vehicle_mobile.photos.length > 0 %>'
                )">
    </div>
    
    <% if related_vehicle_mobile.dealership.present? %>
      <span class="certified">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        Certified
      </span>
    <% else %>
      <span class="private">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        Private
      </span>
    <% end %>
    
    <span class="related-vehicle-mobile-price">
      <% if related_vehicle_mobile.actual_price.present? %>
        | $<%= related_vehicle_mobile.actual_price %> 
      <% elsif related_vehicle_mobile.msrp.present? %>
        | $<%= related_vehicle_mobile.msrp %>
      <% end %>
    </span>
    
    <span class="related-vehicle-mobile-name">
      <%= related_vehicle_mobile.listing_name %>
    </span>
  <% end %>
</li>