<!--completed-->

<% @reviews.order("id desc").each do |r| %>

  <li id="review-item-<%= r.id %>" class="row review-item">
    
    <div class="col-md-4">
      <div class="row">
        
        <div class="col-md-3">
          <!--intentionally left empty-->
        </div>
        
        <%= link_to r.reviewer, 
                    class: "col-md-9 
                            review-author 
                            review-author-clickable 
                            vertical-align" do %>
          
          <div class="avatar-and-online">
            
            <div class="author-avatar avatar-general", 
                 style="background-image: url(
                         '<%= r.reviewer.avatar.url(:thumb) %>')">
            </div>
            
            <% if r.reviewer.online? %>
              <div class="online online-md-secondary hidden-xs"></div>
            <% end %>
          </div>

          <span class="author-name"><%= r.reviewer.full_name %></span>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="review-container">
  
        <span class="review-title visible-xs"><%= r.title %></span>
  
        <div class="review-rating">
          <div id="stars-<%= r.id %>"></div>
        </div>
        
        <span class="review-title hidden-xs"><%= r.title %></span>
        
        <span class="review-date"><%= r.created_at.strftime("%D") %></span>
        
        <p id="review-comment-<%= r.id %>"
           class="review-comment">
          <%= r.comment %>
        </p>
        
        <div class="review-controls">
          
          <span id="review-expand-<%= r.id %>" 
                class="review-expand">
            + More
          </span>
          
          <%= link_to "Remove my review", 
                      [@vehicle, r], 
                      method: :delete, 
                      data: { confirm: "Are you sure?" } if 
                            current_user && current_user == r.reviewer %>
          
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
  </li>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      // rating
      
        var stars = $('#stars-<%= r.id %>');
    
        stars.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= r.rating %>
        });
      
      // expand review
    
        var reviewComment = $('#review-comment-<%= r.id %>');
        var reviewExpand  = $('#review-expand-<%= r.id %>');
  
        function em(input) {
          var emSize = parseFloat($("body").css("font-size"));
          return (emSize * input);
        }
        
        if (reviewComment.height() >= em(5.5)) {
          
          reviewComment.each(function() {
            $.data(this, "realHeight", $(this).height());
          }).css({ overflow: "hidden", height: '5.5em' });
          
          reviewExpand.css({display: "block"});
          
          reviewExpand.click(function(e) {
            
            e.preventDefault();
            
            if (reviewComment.hasClass("toggled")) {
              reviewComment.animate({ 
                height: '5.5em'
              }, 600).removeClass("toggled");
              reviewExpand.html("+ More");
            } 
            
            else {
              reviewComment.animate({ 
                height: reviewComment.data("realHeight") 
              }, 600).addClass("toggled");
              reviewExpand.html("- Less");
            }
          });
        }
    })
  </script>
<% end %>

<% @google_reviews.each do |r| %>

  <li id="google-review-item-<%= r.id %>" class="row review-item">
    
    <div class="col-md-4">
      <div class="row">
        
        <div class="col-md-3">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-9 vertical-align">
          
          <div class="google-author-avatar", 
               style="background-image: url(
                       '<%= r.profile_photo_url %>')">
          </div>
          
          <span class="author-name"><%= r.author_name %></span>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="review-container">
        
        <span class="review-title visible-xs">
          Review from <%= r.author_name %>
        </span>
        
        <div class="review-rating">
          <div id="google-stars-<%= r.id %>"></div>
        </div>
        
        <span class="review-title hidden-xs">
          Review from <%= r.author_name %>
        </span>

        <span class="review-date"><%= Time.at(r.time).strftime('%D') %></span>

        <p id="google-review-comment-<%= r.id %>" class="review-comment">
          <%= r.text %>
        </p>
        
        <div class="review-controls">
          
          <span id="google-review-expand-<%= r.id %>" 
                class="review-expand">
            + More
          </span>
          
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
  </li>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      // rating
      
        var stars = $('#google-stars-<%= r.id %>');
    
        stars.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= r.rating %>
        });
      
      // expand review
    
        var googleReviewComment = $('#google-review-comment-<%= r.id %>');
        var googleReviewExpand  = $('#google-review-expand-<%= r.id %>');
  
        function em(input) {
          var emSize = parseFloat($("body").css("font-size"));
          return (emSize * input);
        }
        
        if (googleReviewComment.height() >= em(5.5)) {
          
          googleReviewComment.each(function() {
            $.data(this, "realHeight", $(this).height());
          }).css({ overflow: "hidden", height: '5.5em' });
          
          googleReviewExpand.css({display: "block"});
          
          googleReviewExpand.click(function(e) {
            
            e.preventDefault();
            
            if (googleReviewComment.hasClass("toggled")) {
              googleReviewComment.animate({ 
                height: '5.5em'
              }, 600).removeClass("toggled");
              googleReviewExpand.html("+ More");
            } 
            
            else {
              googleReviewComment.animate({ 
                height: googleReviewComment.data("realHeight") 
              }, 600).addClass("toggled");
              googleReviewExpand.html("- Less");
            }
          });
        }
    })
  </script>
<% end %>