<%= form_for_filterrific @filterrific, 
                         html: 
                           { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  
  <div class="vehicle-make-and-model-filters">
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_make_id, "Motorcycle" %>
          
          <div class="form-element"> 
          
            <%= f.collection_select(:with_vehicle_make_id,
                                    VehicleMake.all,
                                    :id,
                                    :name,
                                    { include_blank: true,
                                      prompt: "All makes" },
                                    id: "vehicle-make-search-filters",
                                    class: "form-control select-secondary") %>
                                            
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_model_id, "&nbsp;".html_safe %>
          
          <div class="form-element">
            <%= f.grouped_collection_select(:with_vehicle_model_id,
                                            VehicleMake.order(:name),
                                            :vehicle_models,
                                            :name,
                                            :id,
                                            :name,
                                            { include_blank: 'All models' },
                                            id: "vehicle-model-search-filters",
                                            class: "form-control 
                                                    select-secondary") %>
                                                    
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <%= f.fields_for :with_distance do |with_distance_fields| %>
      
        <div class="col-md-6">
          <div class="form-group form-group-primary">
            
            <%= f.label :zip_code, "Location" %>
            
            <div class="form-element">
              
              <%= with_distance_fields.text_field :zip_code,
                                                  placeholder: "ZIP Code",
                                                  class: "form-control
                                                          form-control-tertiary" %>
                                                          
              <i class="fa fa-map-pin fa-lg form-icon" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group form-group-primary">
           
            <%= f.label :max_distance, "&nbsp;".html_safe %>
            
            <div class="form-element">
              
              <%= with_distance_fields.select :max_distance,
                                              [ ["10 mi", 10], ["25 mi", 25], 
                                                ["50 mi", 50], ["75 mi", 75],
                                                ["100 mi", 100], ["150 mi", 150],
                                                ["250 mi", 250], ["400 mi", 400] ],
                                              { include_blank: true,
                                                prompt: "Nationwide" },
                                              class: "form-control select-primary" %>
              
              <i class="fa fa-bullseye fa-lg form-icon" 
               aria-hidden="true"></i>
               
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-6">
      <div class="form-group form-group-primary">
          
        <%= f.label :with_condition, "Condition" %>
        
        <div class="form-element">
          
          <%= f.select :with_condition, 
                       [ "New", "Pre-Owned" ],
                       { include_blank: true,
                         prompt: "New / Pre-Owned" },
                       class: "form-control select-secondary" %>
             
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group form-group-primary">
          
        <%= f.label :with_dealer, "Seller Type" %>
        
        <div class="form-element">
          
          <%= f.select :with_dealer, 
                       [ "Dealer", "Private" ],
                       { include_blank: true,
                         prompt: "Dealer / Private" },
                       class: "form-control select-secondary" %>
             
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="slider-filters">
    <div class="row">
      
      <div class="col-md-6 mileage">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_mileage_numeric_lte, "Max Mileage" %>
          
          <span id="mileage_slider_val" class="slider-label">
            200000 mi
          </span>
          
          <%= f.text_field :with_mileage_numeric_lte,
                           id: 'mileage_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '200000',
                                   'slider-step'  => '1',
                                   'slider-value' => '200000' } %>
        </div>
      </div>
      
      <div class="col-md-6 price">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_actual_price_lte, "Max Price" %>
          
          <span id="price_slider_val" class="slider-label">
            $50000
          </span>
          
          <%= f.text_field :with_actual_price_lte, 
                           id: 'price_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '50000',
                                   'slider-step'  => '1',
                                   'slider-value' => '50000' } %>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6 year">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_year_gte, "Earliest Year" %>
          
          <span id="year_slider_val" class="slider-label">1900</span>
          
          <%= f.text_field :with_year_gte, 
                           id: 'year_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '1900',
                                   'slider-max'   => '2016',
                                   'slider-step'  => '1',
                                   'slider-value' => '1900' } %>
        </div>
      </div>
      

      <div class="col-md-6 engine-size">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_engine_size_gte, "Min Engine Size" %>
          
          <span id="engine_size_slider_val" class="slider-label">
            50 cc
          </span>
          
          <%= f.text_field :with_engine_size_gte,
                           id: 'engine_size_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '50',
                                   'slider-max'   => '2294',
                                   'slider-step'  => '1',
                                   'slider-value' => '50' } %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dropdown-filters">
    
    <div class="row">
      
      <div class="col-md-6 body-style">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_body_style, "Style and Engine" %>
          
          <div class="form-element">
            
            <%= f.select :with_body_style, 
                         [ "Cafe Racer", "Cruiser", "Dirt Bike / Dual-Sport", 
                           "Mini / Pocket", "Moped", "Sportbike", "Standard", 
                           "Touring", "Trike" ],
                         { include_blank: true,
                           prompt: "Body style" },
                         class: "form-control select-primary" %>
                
            <i class="fa fa-motorcycle fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 color">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_color, "&nbsp;".html_safe %>
          
          <div class="form-element">
            
            <%= f.select :with_color, 
                         [ "Black", "Blue", "Brown", "Gold", "Gray", "Green", 
                           "Orange", "Pink", "Purple", "Red", "Silver", "Teal", 
                           "Unknown", "White", "Yellow" ],
                         { include_blank: true,
                           prompt: "Color" },
                         class: "form-control select-primary" %>

            <i class="fa fa-paint-brush fa-lg form-icon" 
               aria-hidden="true"></i>
             
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
       
      <div class="col-md-6 engine-type">
        <div class="form-group form-group-primary">
          
          <div class="form-element">
            
            <%= f.select :with_engine_type, 
                         [ "Single", "Parallel-Twin", "Inline-Three",
                           "Inline-Four", "V-Twin", "V4", "Flat-Twin / Boxer", 
                           "L-Twin", "Other", "Unknown" ],
                         { include_blank: true,
                           prompt: "Engine type" },
                         class: "form-control select-primary" %>

            <i class="fa fa-cogs fa-lg form-icon" 
               aria-hidden="true"></i>
             
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6 fuel-type">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= f.select :with_fuel_type, 
                         [ "Electric", "Gasoline" ],
                         { include_blank: true,
                           prompt: "Fuel type" },
                         class: "form-control select-primary" %>

            <i class="fa fa-leaf fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="installed-options installed-options-filters">
    
    <h4 class="installed-options-title">Installed Options</h4>
    
    <div class="row">
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_cruise_control %>
        <%= f.label :with_cruise_control, "Cruise Control" %> 
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_am_fm %>
        <%= f.label :with_am_fm, "AM / FM Radio" %> 
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_cb_radio %>
        <%= f.label :with_cb_radio, "CB Radio" %> 
      </div>
    </div>
    
    <div class="row"> 
    
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_navigation_system %>
        <%= f.label :with_navigation_system, "Navigation System" %>
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_heated_seats %>
        <%= f.label :with_heated_seats, "Heated Seats" %> 
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_heated_hand_grips %>
        <%= f.label :with_heated_hand_grips, "Heated Hand Grips" %> 
      </div>
    </div> 
    
    <div class="row">
        
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_alarm_system %>
        <%= f.label :with_alarm_system, "Alarm System" %>       
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_saddlebags %>
        <%= f.label :with_saddlebags, "Saddlebags" %>          
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_trunk %>
        <%= f.label :with_trunk, "Trunk" %> 
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_tow_hitch %>
        <%= f.label :with_tow_hitch, "Tow Hitch" %>
      </div>
      
      <div class="col-md-4">
        <!--intentionally left empty-->
      </div>
      
      <div class="col-md-4 installed-option">
        <%= f.check_box :with_cycle_cover %>
        <%= f.label :with_cycle_cover, "Cycle Cover" %> 
      </div>
    </div> 
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <%= f.submit "Apply", class: "btn btn-apply-filters" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to("Reset", 
                  reset_filterrific_url, 
                  class: "btn btn-cancel-filters") %>
    </div>
    
    <div class="col-md-4">
      <div class="btn btn-cancel-filters">Cancel</div>
    </div>
  </div>
  
  <!--<div>-->
  <!--  Sorted by-->
  <!--  <(perc)= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>-->
  <!--</div>-->
<% end %>