<%= form_for_filterrific @filterrific, 
                         html: 
                           { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  
  <div class="vehicle-make-and-model-filters">
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_make_id, "Motorcycle" %>
          
          <div class="form-element"> 
          
            <%= f.collection_select(:with_vehicle_make_id,
                                    VehicleMake.all,
                                    :id,
                                    :name,
                                    { include_blank: true,
                                      prompt: "All makes" },
                                    id: "vehicle-make-search-filters",
                                    class: "form-control select-secondary") %>
                                            
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_model_id, "&nbsp;".html_safe %>
          
          <div class="form-element">
            <%= f.grouped_collection_select(:with_vehicle_model_id,
                                            VehicleMake.order(:name),
                                            :vehicle_models_above_zero,
                                            :name,
                                            :id,
                                            :name_with_count,
                                            { include_blank: 'All models' },
                                            id: "vehicle-model-search-filters",
                                            class: "form-control 
                                                    select-secondary") %>
                                                    
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <%= f.fields_for :with_distance do |with_distance_fields| %>
      
        <div class="col-md-6">
          <div class="form-group form-group-primary">
            
            <%= f.label :zip_code, "Location" %>
            
            <div class="form-element">
              
              <%= with_distance_fields.text_field :zip_code,
                                                  placeholder: "ZIP Code",
                                                  class: "form-control
                                                          form-control-tertiary" %>
                                                          
              <i class="fa fa-map-pin fa-lg form-icon" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group form-group-primary">
           
            <%= f.label :max_distance, "&nbsp;".html_safe %>
            
            <div class="form-element">
              
              <%= with_distance_fields.select :max_distance,
                                              [ ["10 mi", 10], ["25 mi", 25], 
                                                ["50 mi", 50], ["75 mi", 75],
                                                ["100 mi", 100], ["150 mi", 150],
                                                ["250 mi", 250], ["400 mi", 400] ],
                                              { include_blank: true,
                                                prompt: "Nationwide" },
                                              class: "form-control select-primary" %>
              
              <i class="fa fa-bullseye fa-lg form-icon" 
               aria-hidden="true"></i>
               
              <i class="fa fa-caret-down fa-lg form-caret" 
                 aria-hidden="true"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-6">
      <div class="form-group form-group-primary">
          
        <%= f.label :with_condition, "Condition" %>
        
        <div class="form-element">
          
          <%= f.select :with_condition, 
                       [ "New", "Pre-Owned" ],
                       { include_blank: true,
                         prompt: "New / Pre-Owned" },
                       class: "form-control select-secondary" %>
             
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group form-group-primary">
          
        <%= f.label :with_dealer, "Seller Type" %>
        
        <div class="form-element">
          
          <%= f.select :with_dealer, 
                       [ "Dealer", "Private" ],
                       { include_blank: true,
                         prompt: "Dealer / Private" },
                       class: "form-control select-secondary" %>
             
          <i class="fa fa-caret-down fa-lg form-caret" 
             aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dropdown-filters">
    
    <div class="row">
      
      <div class="col-md-6 body-style">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_body_style, "Style and Engine" %>
          
          <div class="form-element">
            
            <%= f.select :with_body_style, 
                         [ "Cafe Racer", "Cruiser", "Dirt Bike / Dual-Sport", 
                           "Mini / Pocket", "Moped", "Sportbike", "Standard", 
                           "Touring", "Trike" ],
                         { include_blank: true,
                           prompt: "Body style" },
                         class: "form-control select-primary" %>
                
            <i class="fa fa-motorcycle fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 color">
        <!-- intentionally left blank -->
      </div>
    </div>
  </div>
  
  <div class="slider-filters">
    <div class="row">
      
      <div class="col-md-6 mileage">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_mileage_numeric_lte, "Max Mileage" %>
          
          <span id="mileage_slider_val" class="slider-label">
            <% if @filterrific.with_mileage_numeric_lte.present? %>
              <%= @filterrific.with_mileage_numeric_lte %> mi
            <% else %>
              200000 mi
            <% end %>
          </span>
          
          <% if @filterrific.with_mileage_numeric_lte.present? %>
            <%= f.text_field :with_mileage_numeric_lte,
                             id: 'mileage_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '200000',
                                     'slider-step'  => '1',
                                     'slider-value' => @filterrific.
                                                   with_mileage_numeric_lte } %>
        
          <% else %>
            <%= f.text_field :with_mileage_numeric_lte,
                             id: 'mileage_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '200000',
                                     'slider-step'  => '1',
                                     'slider-value' => '200000' } %>

          <% end %>
        </div>
      </div>
      
      <div class="col-md-6 price">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_actual_price_lte, "Max Price" %>
          
          <span id="price_slider_val" class="slider-label">
            <% if @filterrific.with_actual_price_lte.present? %>
              $<%= @filterrific.with_actual_price_lte %>
            <% else %>
              $50000
            <% end %>
          </span>
          
          <% if @filterrific.with_actual_price_lte.present? %>
            <%= f.text_field :with_actual_price_lte, 
                             id: 'price_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '50000',
                                     'slider-step'  => '1',
                                     'slider-value' => @filterrific.
                                                      with_actual_price_lte } %>
          
          <% else %>
            <%= f.text_field :with_actual_price_lte, 
                             id: 'price_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '50000',
                                     'slider-step'  => '1',
                                     'slider-value' => '50000' } %>

          <% end %>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6 year">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_year_gte, "Earliest Year" %>
          
          <span id="year_slider_val" class="slider-label">
            <% if @filterrific.with_year_gte.present? %>
              <%= @filterrific.with_year_gte %>
            <% else %>
              1990
            <% end %>
          </span>
          
          <% if @filterrific.with_year_gte.present? %> 
            <%= f.text_field :with_year_gte, 
                             id: 'year_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '1990',
                                     'slider-max'   => '2019',
                                     'slider-step'  => '1',
                                     'slider-value' => @filterrific.
                                                       with_year_gte } %>
          
          <% else %>
            <%= f.text_field :with_year_gte, 
                             id: 'year_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '1990',
                                     'slider-max'   => '2019',
                                     'slider-step'  => '1',
                                     'slider-value' => '1990' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <%= f.submit "Apply", class: "btn btn-apply-filters" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to("Reset", 
                  reset_filterrific_url, 
                  class: "btn btn-cancel-filters") %>
    </div>
    
    <div class="col-md-4">
      <div class="btn btn-cancel-filters">Cancel</div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  
  $(document).ready(function() {
  
    // dependent dropdown
      
      var vehicleModelSearchFilters    = $('#vehicle-model-search-filters');
      var vehicleMakeSearchFilters     = $('#vehicle-make-search-filters');
      var vehicle_model_search_filters = vehicleModelSearchFilters.html();
  
      if ( vehicleMakeSearchFilters.val() == '' ) {
        vehicleModelSearchFilters.prop("disabled", true);
      }
      
      else {
        
        vehicleMakeSearchFilters.prepend("<option value=''>All makes</option>");
                                      
        var vehicle_make_search_filters = $('#vehicle-make-search-filters :selected').text();
        var escaped_vehicle_make_search_filters = 
          vehicle_make_search_filters.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_filters = 
          $(vehicle_model_search_filters).
            filter("optgroup[label=" + escaped_vehicle_make_search_filters + "]").
            html();
        
        if (options_filters) {
          vehicleModelSearchFilters.html("<option value=''>All models</option>" +
                                         "<option value=''></option>" +
                                         options_filters);
          vehicleModelSearchFilters.prop("disabled", false);
        } 
        
        else {
          vehicleModelSearchFilters.empty();
          vehicleModelSearchFilters.html("<option value=''>All models</option>");
          vehicleModelSearchFilters.prop("disabled", true);
        }
      }
      
      vehicleMakeSearchFilters.change(function() {
        
        var vehicle_make_search_filters = $('#vehicle-make-search-filters :selected').text();
        var escaped_vehicle_make_search_filters = 
          vehicle_make_search_filters.
            replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        var options_filters = 
          $(vehicle_model_search_filters).
            filter("optgroup[label=" + escaped_vehicle_make_search_filters + "]").
            html();
        
        if (options_filters) {
          vehicleModelSearchFilters.html("<option value=''>All models</option>" +
                                         "<option value=''></option>" +
                                         options_filters);
          vehicleModelSearchFilters.prop("disabled", false);
        } 
        
        else {
          vehicleModelSearchFilters.empty();
          vehicleModelSearchFilters.html("<option value=''>All models</option>");
          vehicleModelSearchFilters.prop("disabled", true);
        }
      });
  });
</script>