<!--<(perc)= search_field @search, -->
<!--    remote: true, -->
<!--    url: search_vehicles_path, -->
<!--    method: :get do |f| %>-->
    
<%= form_tag search_vehicles_path, 
             method: :get do %>
        
  <%= hidden_field_tag :vehicle_make_id,  params[:vehicle][:vehicle_make_id] %>
  
  <%= hidden_field_tag :vehicle_model_id, params[:vehicle][:vehicle_model_id] %>
  
  <%= hidden_field_tag :city,             params[:city] %>

  <div class="slider-filters">
    <div class="row">
      
      <div class="col-md-4 year">
        <div class="form-group form-group-primary">
          
          <%= label_tag :year_gteq, "Earliest Year" %>
          
          <span id="year_slider_val" class="slider-label">1900</span>
          
          <%= text_field_tag :year_gteq, 
                             nil,
                             id: 'year_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '1900',
                                     'slider-max'   => '2016',
                                     'slider-step'  => '1',
                                     'slider-value' => '1900' } %>
              <!--:onChange => "javascript: this.form.commit.click()" %>-->
        </div>
      </div>
      
      <div class="col-md-4 price">
        <div class="form-group form-group-primary">
          
          <%= label_tag :price_lteq, "Max Price" %>
          
          <span id="price_slider_val" class="slider-label">
            $200000
          </span>
          
          <%= text_field_tag :price_lteq, 
                             nil,
                             id: 'price_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '200000',
                                     'slider-step'  => '1',
                                     'slider-value' => '200000' } %>
              <!--:onchange => "javascript: this.form.commit.click()" %>-->
        </div>
      </div>
      
      <div class="col-md-4 mileage">
        <div class="form-group form-group-primary">
          
          <%= label_tag :mileage_lteq, "Max Mileage" %>
          
          <span id="mileage_slider_val" class="slider-label">
            300000 km
          </span>
          
          <%= text_field_tag :mileage_lteq,
                             nil,
                             id: 'mileage_slider', 
                             type: 'text',
                             data: { 'slider-min'   => '0',
                                     'slider-max'   => '300000',
                                     'slider-step'  => '1',
                                     'slider-value' => '300000' } %>
              <!--:onchange => "javascript: this.form.commit.click()" %>-->
        </div>
      </div>
    </div>
  </div>
  
  <div class="dropdown-filters">
    <div class="row">
      
      <!--<div class="col-md-4 vehicle-condition">-->
      <!--  <h4 class="vehicle-condition-title">Vehicle Condition</h4>-->
      <!--  <ul class="vehicle-condition-list">-->
      <!--    <li>-->
      <!--      <(perc)= radio_button_tag 'q[vehicle_condition_eq]', 'new', false, -->
      <!--          :onclick => "javascript: this.form.commit.click()" (perc)>-->
      <!--      <(perc)= label_tag(:q_vehicle_condition_eq_new, "New", :value => 'New') %>-->
      <!--    </li>-->
      <!--    <li>-->
      <!--      <(perc)= radio_button_tag 'q[vehicle_condition_eq]', 'old', false, -->
      <!--          :onclick => "javascript: this.form.commit.click()" (perc)>-->
      <!--      <(perc)= label_tag(:q_vehicle_condition_eq_old, "Old", :value => 'Old') %>-->
      <!--    </li>-->
      <!--  </ul>-->
      <!--</div>-->
      
      <div class="col-md-4 body-style">
        <div class="form-group form-group-primary">
          
          <%= label_tag :body_style_eq, "Style and Engine" %>
          
          <div class="form-element">
            
            <%= select_tag :body_style_eq, 
                           options_for_select(["Convertible", "Coupe", 
                             "Crossover", "Hatchback", "Minivan", "Pickup", 
                             "Sedan", "SUV", "Van", "Wagon"]),
                           prompt: "Body style",
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-car fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 color">
        <div class="form-group form-group-primary">
          <%= label_tag :color_eq, "&nbsp;".html_safe %>
          
          <div class="form-element">
            
            <%= select_tag :color_eq, 
                           options_for_select(["Black", "Blue", "Brown", "Gold", 
                             "Gray", "Green", "Orange", "Pink", "Purple", "Red", 
                             "Silver", "Teal", "Unknown", "White", "Yellow"]),
                           prompt: "Color", 
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-paint-brush fa-lg form-icon" 
               aria-hidden="true"></i>
             
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 seating-capacity">
        <div class="form-group form-group-primary">
          
          <%= label_tag :seating_capacity_gteq, "&nbsp;".html_safe %>
          
          <div class="form-element">
            
            <%= select_tag :seating_capacity_gteq, 
                           options_for_select([["2", 2], ["3", 3], ["4", 4], 
                             ["5", 5], ["6", 6], ["7", 7], ["8", 8], 
                             ["9+", 9]]),
                           prompt: "Seating",
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-users fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      
      <div class="col-md-4 transmission">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= select_tag :transmission_eq, 
                           options_for_select(["Automatic", "Manual"]),
                           prompt: "Transmission",
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-cogs fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>  
        </div>
      </div>
      
      <div class="col-md-4 fuel-type">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= select_tag :fuel_type_eq, 
                           options_for_select(["Biodiesel", 
                             "Compressed Natural Gas", "Diesel", "Electric", 
                             "Flex Fuel", "Gasoline", "Hybrid", "Propane"]),
                           prompt: "Fuel type",
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-leaf fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 drivetrain">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= select_tag :drivetrain_eq, 
                           options_for_select(["All-Wheel Drive", 
                             "Front-Wheel Drive", "Rear-Wheel Drive", 
                             "Four-Wheel Drive", "4X2"]),
                           prompt: "Drivetrain",
                           class: "form-control select-primary" %>
                <!--:onChange => "javascript: this.form.commit.click()" %>-->
                
            <i class="fa fa-wrench fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="installed-options checkbox-filters">
    
    <h4 class="installed-options-title">Installed Options</h4>
    
    <ul class="installed-options-list">
      
      <!--<li>-->
      <!--  <(perc)= f.check_box :is_autonomy %>-->
      <!--  <(perc)= f.label :is_autonomy, "Autonomy" %>         -->
      <!--</li>-->
      
      <li>
        <%= check_box_tag :is_backup_camera %>
        <%= label_tag :is_backup_camera, "Backup Camera" %> 
      </li>
      
      <li>
        <%= check_box_tag :is_bluetooth %>
        <%= label_tag :is_bluetooth, "Bluetooth" %> 
      </li>
      
      <li>
        <%= check_box_tag :is_dvd_entertainment_system %>
        <%= label_tag :is_dvd_entertainment_system, 
                      "DVD Entertainment System" %> 
      </li>
      
      <li>
        <%= check_box_tag :is_leather_seats %>
        <%= label_tag :is_leather_seats, "Leather Seats" %>
      </li>
      
      <li>
        <%= check_box_tag :is_navigation_system %>
        <%= label_tag :is_navigation_system, "Navigation System" %> 
      </li>
      
      <li>
        <%= check_box_tag :is_remote_start %>
        <%= label_tag :is_remote_start, "Remote Start" %> 
      </li>
      
      <li>
        <%= check_box_tag :is_sunroof %>
        <%= label_tag :is_sunroof, "Sunroof" %>       
      </li>
      
      <li>
        <%= check_box_tag :is_tow_package %>
        <%= label_tag :is_tow_package, "Tow Package" %>          
      </li>
    </ul>
  </div>
  
  <%= submit_tag "Apply Filters", class: "btn btn-apply-filters" %>
<% end %>

<button class="btn btn-cancel-filters">Cancel</button>
    
<div class="filter-button-filler"></div>