<h2 class="sidenav-title">
  New Listing
</h2>

<ul class="sidenav-list">
  
  <li class="<%= 'sidenav-active' if current_page?(basics_vehicle_path) %>">
    <%= link_to basics_vehicle_path do %>
      <table>
        <tr>
          
          <td class="sidenav-check">
            <i class="fa fa-check"></i>
          </td>
          
          <td>
            Basics
          </td>
        </tr>
      </table>
    <% end %>
  </li>
  
  <li class="<%= 'sidenav-active' if current_page?(details_vehicle_path) %>">
    <%= link_to details_vehicle_path do %>
      <table>
        <tr>
          
          <td class="sidenav-check">
            <% if !@vehicle.body_style.blank? %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
          
          <td>
            Details
          </td>
        </tr>
      </table>
    <% end %>
  </li>
  
  <li class="<%= 'sidenav-active' if current_page?(photos_vehicle_path) %>">
    <%= link_to photos_vehicle_path do %>
      <table>
        <tr>
          
          <td class="sidenav-check">
            <% if !@vehicle.photos.blank? %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
          
          <td>
            Photos
          </td>
        </tr>
      </table>
    <% end %>
  </li>
  
  <% if current_user.dealership_id.blank? %>
    <li class="<%= 'sidenav-active' if current_page?(about_you_vehicle_path) %>">
      <%= link_to about_you_vehicle_path do %>
        <table>
          <tr>
            
            <td class="sidenav-check">
              <% if !@vehicle.address.blank? %>
                <i class="fa fa-check"></i>
              <% end %>
            </td>
            
            <td>
              About You
            </td>
          </tr>
        </table>
      <% end %>
    </li>
  <% end %>
</ul>