<!--completed-->

<!--completed-->

<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      
      <% if @vehicle.dealership.present? %>
        
        <li class="nav-active"> 
          <%= link_to "Performance", 
              performance_dealership_path(current_user.dealership) %>
        </li>
        
      <% else %>
      
        <li><%= link_to "Shortlist", shortlist_user_path %></li>
        
        <li>
          <%= link_to "Matches", 
              personalized_search_path(current_user.personalized_search) %>
        </li>
        
        <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <% end %>
      
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <% if @vehicle.dealership.present? %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Performance <b class="caret"></b>
    </a>
      
  <% else %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Your Listings <b class="caret"></b>
    </a>
  <% end %>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    
    <% if @vehicle.dealership.present? %>
      
      <li class="dropdown-active"> 
        <%= link_to "Performance", 
            performance_dealership_path(current_user.dealership) %>
      </li>
      
    <% else %>
    
      <li><%= link_to "Shortlist",   shortlist_user_path %></li>
      
      <li>
        <%= link_to "Matches",     
                    personalized_search_path(current_user.personalized_search) %>
      </li>
      
      <li class="dropdown-active">
        <%= link_to "Your Listings", vehicles_path %>
      </li>
    <% end %>
    
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
        
      <div class="col-md-3 purchase-info">
        <div class="purchase-info-content">
          
          <div class="purchase-info-avatar avatar-general",
               style="background-image: url(
                 '<%= @vehicle.photos[0].image.url() if 
                      @vehicle.photos.length > 0 %>'">
          </div>
          
          <div class="purchase-info-title">
            <%= @vehicle.year %>
            <%= @vehicle.vehicle_make.name %> 
            <%= @vehicle.vehicle_model.name %>
          </div>
          
          <span class="purchase-info-price">
            $ <%= @vehicle.actual_price %>
          </span>
          
          <span class="purchase-info-time">
            <% if @vehicle.posted_at.present? %>
              Posted <%= time_ago_in_words(@vehicle.posted_at) %> ago
            <% else %>
              Not posted yet
            <% end %>
          </span>
        </div>
      </div>
      
      <div class="col-md-8 col-md-offset-1">
        
        <% if @vehicle.dealership.present? %>
          <%= link_to inventory_dealership_path(@vehicle.dealership), 
                      class: "vehicles-return" do %>
            <i class="fa fa-angle-left"></i>
            Return to Inventory
          <% end %>
        
        <% else %>
          <%= link_to vehicles_path, class: "vehicles-return" do %>
            <i class="fa fa-angle-left"></i>
            Return to Your Listings
          <% end %>
        <% end %>
        
        <div class="row-modified performance-indicators">
          
          <div class="col-md-3-modified col-xs-6-modified">
            <div class="performance-indicator performance-indicator-a">
              <div class="performance-indicator-detail">
                
                <span class="performance-indicator-title">78</span>
                
                <span class="performance-indicator-info">
                  Average Score
                </span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3-modified col-xs-6-modified">
            <div class="performance-indicator performance-indicator-b">
              <div class="performance-indicator-detail">
                <span class="performance-indicator-title">45</span>
                <span class="performance-indicator-info">Shortlists</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3-modified col-xs-6-modified">
            <div class="performance-indicator performance-indicator-c">
              <div class="performance-indicator-detail">
                <span class="performance-indicator-title">73</span>
                <span class="performance-indicator-info">Test Drives</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3-modified col-xs-6-modified">
            <div class="performance-indicator performance-indicator-d">
              <div class="performance-indicator-detail">
                <span class="performance-indicator-title">3</span>
                <span class="performance-indicator-info">Purchases</span>
              </div>
            </div>
          </div>
        </div>
        
        <p class="chart-summary">
          In the last 30 days, vehicles in your inventory have been viewed 
          a total of 30 times:
        </p>

        <%= column_chart @vehicle.impressions.group_by_day(:created_at, format: "%d %B").count,
                         colors: ["#38b2a6"] %>
        
        <% if current_user.dealership_id.present? %>
        
          <div class="shortlist-purchases">
            
            <div class="search-introduction">
            
              <div class="search-introduction-static">
                
                <div class="row vertical-align">
                  
                  <div class="col-md-2">
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/purchase.png",
                                  class: "search-introduction-static-image
                                          hidden-xs") %>
                  </div>
                  
                  <div class="col-md-10">
                    
                    <span class="search-introduction-static-title">
                      Orders (<%= @orders.count %>)
                    </span>
                
                    <p class="search-introduction-static-info">
                      If any customers have ordered the vehicle online, you can
                      view the details here.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <% if @orders.exists? %>
              <ol class="row backend-list">
                <%= render partial:    "purchases/order", 
                           collection: @orders %>
              </ol>
              
            <% else %>
              <div class="empty-list">
                <p class="empty-list-info">
                  No orders received
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
        
        <div class="shortlist-test-drives">
        
          <div class="search-introduction">
          
            <div class="search-introduction-static">
              
              <div class="row vertical-align">
                
                <div class="col-md-2">
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/test-drives-large.png",
                                class: "search-introduction-static-image
                                        hidden-xs") %>
                </div>
                
                <div class="col-md-10">
                  
                  <span class="search-introduction-static-title">
                    Test Drives (<%= @test_drives.count %>)
                  </span>
              
                  <p class="search-introduction-static-info">
                    When a customer asks to test drive your vehicle, we make 
                    sure to track the details below. Respond to each customer by
                    clicking on the request. Reply promptly; the sooner you get
                    back to the customer, the better your overall rating.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
          <% if @test_drives.exists? %>
            <ol class="row test-drives">
              <%= render partial:    "appointments/customer_consumer_activity", 
                         collection: @test_drives,
                         as:         :customer %>
            </ol>
            
          <% else %>
            <div class="empty-list">
              <p class="empty-list-info">
                No test drive requests received
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>