<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li class="nav-active"><%= link_to "Your Garage", vehicles_path %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Garage <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li class="dropdown-active"><%= link_to "Your Garage", vehicles_path %></li>
    <li><%= link_to "Showroom",    test_drives_path %></li>
    <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'sidenav' %>
      </div>
      
      <div class="col-md-8">
        <%= form_for @vehicle do |f| %>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Vehicle Description</h2>
            
            <div class="form-group">
            
              <%= f.label :listing_name, "Listing Name" %>
              
              <%= f.text_field :listing_name, 
                               placeholder: "Eg. Triumph Bonneville 900", 
                               class: "form-control form-control-primary",
                               required: true %>
            </div>
          
            <div class="form-group">
              
              <%= f.label :summary %>
              
              <%= f.text_area :summary, 
                              rows: 3,
                              placeholder: "Eg. Features a parallel-twin four-stroke engine.", 
                              class: "form-control form-control-primary",
                              required: true %>
            </div>
        
            <div class="form-group">
              
              <%= f.label :sellers_notes, "Seller's Notes" %>
              
              <%= f.text_area :sellers_notes,
                              rows: 3,
                              placeholder: "Eg. Now selling at reduced cost.", 
                              class: "form-control form-control-primary" %>
            </div>
          </div>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Features</h2>
        
            <div class="row">
            
              <div class="col-md-6 form-group">
    
                <%= f.label :body_style, "Body Style" %>
                
                <div class="form-element">
                  
                  <%= f.select :body_style, 
                               [ "Classic / Vintage", "Cruiser", "Dual-Sport", 
                                 "Mini / Pocket", "Moped", "Sportbike", 
                                 "Standard", "Touring", "Trike" ],
                               { include_blank: true, 
                                 prompt: "Select body style" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-car fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :color %>
                
                <div class="form-element">
                  
                  <%= f.select :color, 
                               [ "Black", "Blue", "Brown", "Gold", "Gray", 
                                 "Green", "Orange", "Pink", "Purple", "Red", 
                                 "Silver", "Teal", "Unknown", "White", 
                                 "Yellow" ],
                               { include_blank: true, prompt: "Select color" }, 
                               { required: true, 
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-paint-brush fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :engine_type, "Engine Type" %>
                
                <div class="form-element">
                  
                  <%= f.select :engine_type, 
                               [ "Single", "Parallel-Twin", "Inline-Three",
                                 "Inline-Four", "V-Twin", "V4", 
                                 "Flat-Twin / Boxer", "L-Twin", "Other",
                                 "Unknown" ],
                               { include_blank: true, 
                                 prompt: "Select engine type" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-cogs fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
                
                <%= f.label :engine_size, "Engine Size" %>
                  
                <div class= "input-group">
                  
                  <%= f.text_field :engine_size, 
                                   placeholder: "Eg. 900", 
                                   class: "form-control form-control-primary" %>
                      
                  <div class="input-group-addon">cc</div>
                </div>
              </div>
            </div>
    
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :fuel_type, "Fuel Type" %>
                
                <div class="form-element">
                  
                  <%= f.select :fuel_type, 
                               [ "Electric", "Gasoline" ],
                               { include_blank: true, 
                                 prompt: "Select fuel type" }, 
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-leaf fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
    
              <div class="col-md-6 form-group">
                <!--intentionally left empty-->
              </div>
            </div>
            
            <div class="installed-options">
              
              <span class="installed-options-title">Installed Options</span>
              
              <ul class="installed-options-list">
                
                <li>
                  <%= f.check_box :is_cruise_control %>
                  <%= f.label :is_cruise_control, "Cruise Control" %> 
                </li>
                
                <li>
                  <%= f.check_box :is_am_fm %>
                  <%= f.label :is_am_fm, "AM / FM Radio" %> 
                </li>
                
                <li>
                  <%= f.check_box :is_cb_radio %>
                  <%= f.label :is_cb_radio, "CB Radio" %> 
                </li>
                
                <li>
                  <%= f.check_box :is_navigation_system %>
                  <%= f.label :is_navigation_system, "Navigation System" %>
                </li>
                
                <li>
                  <%= f.check_box :is_heated_seats %>
                  <%= f.label :is_heated_seats, "Heated Seats" %> 
                </li>
                
                <li>
                  <%= f.check_box :is_heated_hand_grips %>
                  <%= f.label :is_heated_hand_grips, "Heated Hand Grips" %> 
                </li>
                
                <li>
                  <%= f.check_box :is_alarm_system %>
                  <%= f.label :is_alarm_system, "Alarm System" %>       
                </li>
                
                <li>
                  <%= f.check_box :is_saddlebags %>
                  <%= f.label :is_saddlebags, "Saddlebags" %>
                </li>
                
                <li>
                  <%= f.check_box :is_trunk %>
                  <%= f.label :is_trunk, "Trunk" %>
                </li>
                
                <li>
                  <%= f.check_box :is_cycle_cover %>
                  <%= f.label :is_cycle_cover, "Cycle Cover" %>
                </li>
              </ul>
            </div>
          </div>
          
          <% if current_user.dealership_id.present? %>
            <div class="update-panel">
              
              <h2 class="panel-title">Upgrades</h2>
              
              <p class="panel-instructions">
                Drive consumer satisfaction and increase revenue by offering
                additional services to consumers.
              </p>
              
              <%= f.fields_for :upgrades do |upgrade| %>
                <%= render 'upgrade_fields', f: upgrade %>
              <% end %>
                
              <div class="links">
                <%= link_to_add_association "+ Add Upgrade", 
                                            f, 
                                            :upgrades %>
              </div>
            </div>
          <% end %>
          
          <%= f.hidden_field :bumped_at,  value: Time.now %>
            
          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>