<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_your_listings' %>
      </div>
      
      <div class="col-md-8">
        
        <% if @vehicles.exists? %>
          <ol class="backend-list">
            <%= render @vehicles %>
          </ol>
        
        <% else %>
          <div class="empty-list">
            <p class="empty-list-info">
              No listings posted
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>