<% provide(:title, "New Listing") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
      <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Listings <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Shortlist",   shortlist_user_path(current_user) %></li>
    <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
    <li class="dropdown-active">
      <%= link_to "Your Listings", vehicles_path %>
    </li>
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <%= render 'form' %>
  </div>
</div>