<!--completed-->

<% provide(:title, "Vehicle Search") %>

<header class="header-fixed-visible">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="search-summary">
  <div class="search-summary-content">
    
    <h1 class="search-summary-title"><%= params[:vehicle]%></h1>
    
    <h2 class="search-summary-info">
      <%= pluralize(@vehicles.count, "vehicle") %> found near 
      <%= params[:city] %>
    </h2>
  </div>
</div>

<div class="search-results">
  
  <div id="search-map"></div>
  
  <div class="search-results-background">
    <div class="search-list-container">
      <div class="row">
        
        <div class="col-xs-4">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-xs-8 search-list-content">
          
          <div class="search-filters">
            <%= render 'search_filters' %>
          </div>
          
          <div class="search-items-container">
            
            <!--<div class="filter-controls">-->
              
            <!--  <button class="btn-filters">-->
            <!--    <i class="fa fa-sliders fa-lg filters-icon" -->
            <!--       aria-hidden="true"></i>Filters-->
            <!--  </button>-->
              
            <!--  <div class="form-group form-group-primary search-sort">-->
                
            <!--    <label for="sort">Sort By:</label>-->
                
            <!--    <div class="form-element-primary">-->
                  
            <!--      <select class="form-control search-sort-form-control" id="sort">-->
            <!--        <option><(perc)= link_to "Nearest", '#' %></option>-->
            <!--        <option><(perc)= link_to "Most Popular", '#' %></option>-->
            <!--        <option><(perc)= link_to "Lowest Price", :sort => "price" %></option>-->
            <!--      </select>-->
                  
            <!--      <i class="fa fa-caret-down fa-lg form-caret" -->
            <!--         aria-hidden="true"></i>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
            
            <% if @vehicles.any? %>
              <ol class="search-items">
                <%= render 'search_item' %>
              </ol>
            <% end %>
            
            <div class="search-advice">
              <div class="search-advice-content">
                <div class="row vertical-align">

                  <div class="col-xs-2">
                    <i class="fa fa-comments-o fa-4x advice-icon" 
                       aria-hidden="true"></i>
                  </div>
                  
                  <div class="col-xs-7">
                    
                    <h2 class="advice-title">
                      Need free advice? Talk to our team!
                    </h2>
                    
                    <p class="advice-info">
                      Our experts can help you find the perfect vehicle.
                    </p>
                  </div>
                  
                  <div class="col-xs-3">
                    <%= link_to "Get In Touch", 
                                new_enquiry_path, 
                                class: "btn btn-green" %>
                  </div>
                </div>
              </div>
            </div>
            
            <%= will_paginate @vehicles, 
                previous_label: 
                  '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
                next_label: 
                  '<i class="fa fa-arrow-right" aria-hidden="true"></i>',
                inner_window: 1, 
                outer_window: 0 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  
    // map
    
      var hoverMarkerIcon = {
        url:    "/assets/map-marker-aqua.png",
        width:  32,
        height: 32
      };
      
      handler = Gmaps.build('Google');
      
      handler.buildMap({
        
        provider: {
          
          maxZoom:           14,
          scrollwheel:       false,
          mapTypeControl:    false,
          streetViewControl: false,
          
          zoomControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
          }
        },
        
        internal: {
          id: 'search-map'
        }
      }, function() {
        
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        
        _.each(<%=raw @hash.to_json %>, function(json, index) {
          var hoverMarker = {};
          
          hoverMarker.marker = void 0;
          json.marker = markers[index];
          
          $("#vehicle-item-" + json.id).on("mouseover", function() {
            
            hoverMarker = {
              lat: json.lat,
              lng: json.lng,
              picture: hoverMarkerIcon
            };
            
            handler.removeMarker(json.marker);
            hoverMarker.marker = handler.addMarker(hoverMarker);
          }).on("mouseout", function() {
            handler.removeMarker(hoverMarker.marker);
            json.marker = handler.addMarker(json);
          });
        });
        
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    
    // filters
    // var filtersButton        = $('.btn-filters');
    // var cancelButton         = $('.btn-cancel');
    // var searchFilters        = $('.search-filters');
    // var searchItemsContainer = $('.search-items-container')

    // filtersButton.click(function() {
    //   // searchFilters.slideToggle();
    //   // searchItemsContainer.slideToggle();
    // });
    
    // cancelButton.click(function() {
    //   searchFilters.slideToggle();
    //   searchItemsContainer.slideToggle();
    // });
    
    // sliders
    // var priceSlider        = $('#price_slider');
    // var mileageSlider      = $('#mileage_slider');
    // var yearSlider         = $('#year_slider');
    // var priceSliderValue   = $('#price_slider_val');
    // var mileageSliderValue = $('#mileage_slider_val');
    // var yearSliderValue    = $('#year_slider_val');
    
    // priceSlider.slider();
    // mileageSlider.slider();
    // yearSlider.slider();
    
    // priceSlider.on('slide', function(slideEvt) {
    // 	priceSliderValue.text('$' + slideEvt.value);
    // });
    // mileageSlider.on('slide', function(slideEvt) {
    // 	mileageSliderValue.text(slideEvt.value + ' km');
    // });
    // yearSlider.on('slide', function(slideEvt) {
    // 	yearSliderValue.text(slideEvt.value);
    // });
    
    // priceSlider.on('slideStop', function(slideEvt) {
    // 	priceSliderValue.text('$' + slideEvt.value);
    // });
    // mileageSlider.on('slideStop', function(slideEvt) {
    // 	mileageSliderValue.text(slideEvt.value + ' km');
    // });
    // yearSlider.on('slideStop', function(slideEvt) {
    // 	yearSliderValue.text(slideEvt.value);
    // });
  });
</script>

<!--title modification-->
<!--https://www.elastic.co/guide/en/elasticsearch/reference/current/_installation.html-->