<!--completed-->

<% provide(:title, @vehicle.listing_name) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'modal_appointment' %>

<% if @vehicle.sold_at.present? %>
  <div class="ribbon-vehicle">SOLD</div>
<% end %>

<div class="hero-listing" 
     data-parallax="scroll" 
     data-image-src="<%= @photos[0].image.url() if @photos.length > 0 %>"
     data-speed="0.3" 
     data-bleed="10">
</div>

<%= render 'modal' %>

<div class="listing-navbar">
  <div class="listing-navbar-content">
    <div class="row">
    
      <div class="col-md-8">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Vehicle Details",  '#vehicle-details' %></li>
            <li><%= link_to "Gallery",          '#gallery' %></li>
            <li><%= link_to "Reviews",          '#reviews' %></li>
            <li><%= link_to "Map and Brochure", '#map-and-brochure' %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-md-4 hidden-xs">
        <div class="listing-navbar-button">
        
          <div class="navbar-price-container">
            <p class="navbar-price-visible">$<%= @vehicle.price %></p>
          </div>
          
          <% if @vehicle.user.dealership_id.present? %>
          
            <% if current_user && 
                  @vehicle.purchases.where(email: current_user.email).exists? %>
              <%= link_to basics_purchase_path(@vehicle.purchases.first), 
                          class: "btn-navbar-contact-hidden" do %>
                          
                <i class="fa fa-shopping-cart listing-navbar-icon" 
                   aria-hidden="true"></i>
                
                Buy Now
              <% end %>

            <% else %>
              <%= link_to new_purchase_path(vehicle_id: @vehicle.id), 
                          class: "btn-navbar-contact-hidden" do %>
                          
                <i class="fa fa-shopping-cart listing-navbar-icon" 
                   aria-hidden="true"></i>
                
                Buy Now
              <% end %>
            <% end %>
          
          <% else %>
            <div class="btn-navbar-share-hidden">
              $<%= @vehicle.price %>
            </div>
          <% end %>
          
          <!--<div class="single-action">-->
          <!--  <= form_for @conversation, -->
          <!--               url: conversations_path(@conversation), -->
          <!--               method: :post do |f| %>-->
                     
          <!--    <= f.hidden_field :sender_id,          value: current_user.id if -->
          <!--                                                   current_user %>-->
              
          <!--    <= f.hidden_field :recipient_id,       value: @user.id %>-->
              
          <!--    <= f.hidden_field :sender_archived,    value: false %>-->
            
          <!--    <= f.hidden_field :recipient_archived, value: false %>-->
              
          <!--    <= button_tag(class: "hidden-xs") do %>-->
          <!--      <i class='fa fa-comments-o single-action-icon'></i>-->
          <!--    < end %>-->
          <!--  < end %>-->
          <!--</div>-->
          
          <!--<(perc)= form_for @conversation, -->
          <!--             url: conversations_path(@conversation), -->
          <!--             method: :post do |f| %>-->
                       
          <!--  <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
          <!--                                                 current_user %>-->
            
          <!--  <(perc)= f.hidden_field :recipient_id,       value: @user.id %>-->
            
          <!--  <(perc)= f.hidden_field :sender_archived,    value: false %>-->

          <!--  <(perc)= f.hidden_field :recipient_archived, value: false %>-->
            
          <!--  <(perc)= f.submit "Chat with " + @user.first_name, -->
          <!--               class: "btn-navbar-contact-hidden" %>-->
          <!--<(perc) end %>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vehicle-overview">
  <div class="vehicle-overview-content">
    <div class="row">
    
      <div class="col-md-7">
        <div class="vehicle-overview-text">
          
          <div class="vehicle-overview-title">
            
            <h1 class="vehicle-overview-heading visible-xs">
              <%= @vehicle.listing_name %>
            </h1>
            
            <div class="row vertical-align">
            
              <div class="col-md-2 col-xs-4 avatar-and-online">
                
                <%= link_to user_path(@vehicle.user) do %>
                  <div class="vehicle-overview-avatar avatar-general", 
                       style="background-image: url(
                               '<%= @vehicle.user.avatar.url(:thumb) %>')">
                  </div>
                <% end %>

                <% if @vehicle.user.online? %>
                  <div class="online online-lg-primary hidden-xs"></div>
                <% end %>
              </div>
              
              <div class="col-md-10 col-xs-8">

                <h1 class="vehicle-overview-heading hidden-xs">
                  <%= @vehicle.listing_name %>
                </h1>
                
                <%= link_to @vehicle.user.full_name, 
                            @vehicle.user,
                            class: "vehicle-overview-subheading" %>
                
                <span class="hidden-xs"> · </span>
                            
                <span class="average-rating"></span>
              </div>
            </div>
          </div>
          
          <!--<(perc) if logged_in? && -->
          <!--      !current_user.favorite_vehicles.exists?(vehicle_id:-->
          <!--                                              @vehicle.id) %>-->
                                                        
            <%= link_to favorite_vehicle_path(@vehicle), 
                        class: "vehicle-overview-link",
                        method: :put do %>
                        
              <i class="fa fa-heart-o" 
                 aria-hidden="true"></i> 
                   
              Add to Wish List
            <% end %>
          <!--<(perc) end %>-->
          
          <p class="vehicle-overview-description"><%= @vehicle.summary %></p>

          <!--<div class="vehicle-overview-products">-->
              
          <!--  <span class="products-title">Add to Wish List</span>-->
            
          <!--  <(perc)= link_to "Spoiler at Reduced Cost", -->
          <!--              '#', -->
          <!--              class: "products-link" %>-->
          <!--</div>-->
        </div>
      </div>
      
      <div class="col-md-4 col-md-offset-1">
  
        <div class="appointment hidden-xs">
          
          <%= render "conversations/appointment_form" %>

          <!--<(perc) if logged_in? && -->
          <!--      !current_user.favorite_vehicles.exists?(vehicle_id:-->
          <!--                                              @vehicle.id) %>-->
                    
          <!--  <(perc)= link_to favorite_vehicle_path(@vehicle), -->
          <!--              class: "btn btn-tertiary btn-wish-list" do %>-->
                          
          <!--      <i class="fa fa-heart-o" -->
          <!--         aria-hidden="true"></i> -->
                   
          <!--      Add to Wish List-->
          <!--  <(perc) end %>-->
          <!--<(perc) end %>-->

          <!--<(perc)= link_to 'Purchase',-->
          <!--            new_vehicle_payment_path(@vehicle),-->
          <!--            class: "btn btn-tertiary" %>-->
        </div>
        
        <div class="vehicle-reviews">
          
          <span class="vehicle-reviews-title">Need Some Advice?</span>
          
          <p class="vehicle-reviews-info">
            Read <%= @vehicle.user.first_name %>'s reviews!
          </p>
          
          <%= link_to user_path(@vehicle.user, anchor: "profile-reviews"), 
                      class: "btn btn-secondary" do %>
          
            Reviews
            
            <i class="fa fa-arrow-right next-button-icon" 
               aria-hidden="true"></i> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vehicle-details">
  <div class="vehicle-details-content">
    <div class="row">

      <div class="col-md-7">
        <!--<div class="vehicle-details-text">-->
        
          <div id="specifications">
            
            <h3 class="vehicle-details-title">Specifications</h3>
            
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    
                    <td class="specifications-table-column">Type</td>
                    
                    <td>
                      <strong>
                        <%= @vehicle.vehicle_make.name %>
                        <%= @vehicle.vehicle_model.name %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Body Style</td>
                    <td><strong><%= @vehicle.body_style %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Color</td>
                    <td><strong><%= @vehicle.color %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Year</td>
                    <td><strong><%= @vehicle.year %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Mileage</td>
                    <td><strong><%= @vehicle.mileage %> mi</strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    <td class="specifications-table-column">VIN</td>
                    <td>
                      <strong>
                        <% if @vehicle.vin.present? %>
                          <%= @vehicle.vin %>
                        <% else %>
                          Unavailable
                        <% end %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Seating</td>
                    <td><strong><%= @vehicle.seating_capacity %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Transmission</td>
                    <td><strong><%= @vehicle.transmission %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Fuel Type</td>
                    <td><strong><%= @vehicle.fuel_type %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Drivetrain</td>
                    <td><strong><%= @vehicle.drivetrain %></strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div id="features">
            
            <h3 class="vehicle-details-title">Features</h3>
            
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_leather_seats %>">
                    
                    <td class="features-table-column">
                      <!--intentionally left empty-->
                    </td>
                    
                    <td><strong>Leather Seats</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_sunroof %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>Sunroof</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_navigation_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>Navigation System</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_dvd_entertainment_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-television" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>DVD Entertainment System</strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_bluetooth %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-bluetooth-b" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>Bluetooth</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_backup_camera %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>Backup Camera</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_remote_start %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-key" aria-hidden="true"></i>
                    </td>
                    
                    <td><strong>Remote Start</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_tow_package %>">
                    
                    <td class="features-table-column">
                      <!--intentionally left empty-->
                    </td>
                    
                    <td><strong>Tow Package</strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div id="pricing">
            <h3 class="vehicle-details-title">Pricing</h3>
            <p class="vehicle-details-info">$<%= @vehicle.price %></p>
          </div>
          
          <% if @vehicle.sellers_notes.present? %>
            <div id="sellers-notes">
              <h3 class="vehicle-details-title">Seller's Notes</h3>
              <p class="vehicle-details-info"><%= @vehicle.sellers_notes %></p>
            </div>
          <% end %>
          
          <% if @vehicle.availabilities.exists? %>
            <div id="availability">
              
              <h3 class="vehicle-details-title">General Availability</h3>
              
              <div class="row">
                <%= render partial:    "availability", 
                           collection: @availabilities %>
              </div>
            </div>
          <% end %>
        <!--</div>-->
      </div>
      
      <div class="col-md-1">
        <!--intentionally left empty-->
      </div>
      
      <div id="vehicle-scrolled" class="col-md-4">
        
        <% if logged_in? || @vehicle.questions.exists? %>
          <div class="vehicle-scrolled-content">
              
            <div class="questions-title">
              <span class="questions-title-content">
                Questions (<%= @vehicle.questions.count %>)
              </span>
            </div>
            
            <div class="questions">
              <div class="questions-info">
                
                <%= render 'questions/form' if logged_in? %>
                
                <% if @vehicle.questions.exists? %>
                  <ol class="questions-list">
                    <%= render @questions %>
                  </ol>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <!--<div class="appointment-scrolled">-->
        <!--  <(perc)= link_to '#vehicle-overview', -->
        <!--      class: "btn btn-primary btn-primary-scrolled" do %>-->
            <!--<i class="fa fa-arrow-up up-button-icon" -->
            <!--   aria-hidden="true"></i> -->
        <!--    Test Drive-->
        <!--  <(perc) end %>-->
        <!--</div>-->
        
        <!--<div class="products-scrolled">-->
        <!--  <span class="products-scrolled-title">1 Additional Product</span>-->
        <!--  <(perc)= link_to "View Details", '#', class: "products-scrolled-link" %>-->
        <!--  <p class="products-scrolled-info">Spoiler at reduced cost</p>-->
        <!--</div>-->

        <!--<(perc)= link_to '#' do %>-->
        <!--  <p class="wish-list-scrolled">-->
        <!--    <i class="fa fa-heart wish-list-link-icon" aria-hidden="true"></i>-->
        <!--    Add to Wish List-->
        <!--  </p>-->
        <!--<(perc) end %>-->
      </div>
    </div>
  </div>
</div>

<div id="gallery">
  <div class="row gallery-row-primary">
    
    <div class="col-md-4 col-xs-6 gallery-photo-container">
      <% if @photos.length > 0 %>
        <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
          <img class="gallery-photo" src="<%= @photos[0].image.url()%>">
        </a>
      <% end %>
    </div>
    
    <div class="col-md-8 col-xs-6">
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 1 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[1].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 3 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[3].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-6 hidden-xs gallery-photo-container">
          <% if @photos.length > 5 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[5].image.url()%>">
            </a>
          <% end %>
        </div> 
      </div>
      
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 2 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[2].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 4 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[4].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 6 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[6].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 7 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[7].image.url()%>">
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div id="reviews">
  <div class="reviews-content">
    
    <h2 class="reviews-title">Reviews</h2>
    
    <% if @reviews.exists? %>
      <div class="row reviews-summary">
        
        <div class="col-md-4">
          
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                <%= @vehicle.average_rating %>
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                (based on <%= pluralize(@reviews.count, "review") %>)
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <!--<div class="pros-cons-list">-->
            
          <!--  <h3 class="reviews-subheading">Pros</h3>-->
            
          <!--  <ul class="pros-cons-list-content">-->
          <!--    <li>Security & safety (51)</li>-->
          <!--    <li>Location (45)</li>-->
          <!--    <li>Management / staff (40)</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
        
        <div class="col-md-4">
          <!--<div class="pros-cons-list">-->
            
          <!--  <h3 class="reviews-subheading">Cons</h3>-->
            
          <!--  <ul class="pros-cons-list-content">-->
          <!--    <li>Value for money (11)</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
      </div>
      
      <%= render 'reviews/form' if @tested && !@hasReview %>
      
      <ol class="reviews-list">
        <%= render 'reviews_list' %>
      </ol>
      
    <% else %>
    
      <% if @tested && !@hasReview %>
        <%= render 'reviews/form' %>
      
      <% else %>
        <div class="empty-list">
          
          <i class="fa fa-balance-scale fa-4x empty-list-icon" 
             aria-hidden="true"></i>
             
          <p class="empty-list-info">No reviews for this vehicle yet</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-and-brochure">
  <div class="row map-and-brochure-content">

    <div class="col-xs-12" id="vehicle-map"></div>
    
    <!--<(perc)= link_to "http://www.jaguar.com/Images/ebrochure_f-type_17MY_tcm76-271771.pdf", -->
    <!--              target: "_blank" do %>-->
    <!--  <div class="col-xs-6 brochure-image">-->
    <!--    <div class="brochure-detail">-->
    <!--      <h2 class="brochure-detail-title">Jaguar F-Type</h1>-->
    <!--      <h3 class="brochure-detail-info">View Brochure</h5>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--<(perc) end %>-->
  </div>
</div>

<!--<= link_to new_club_path, class: "single-action hidden-xs" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--< end %>-->

<div class="single-action">
  <%= form_for @conversation, 
               url: conversations_path(@conversation), 
               method: :post do |f| %>
           
    <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                   current_user %>
    
    <%= f.hidden_field :recipient_id,       value: @user.id %>
    
    <%= f.hidden_field :sender_archived,    value: false %>
  
    <%= f.hidden_field :recipient_archived, value: false %>
    
    <%= button_tag(class: "single-action-button hidden-xs") do %>
      <i class='fa fa-lg fa-comments-o single-action-icon'></i>
    <% end %>
  <% end %>
</div>

<div class='multi-action visible-xs'>
  
  <button class='action-button'><i class='fa fa-plus fa-lg'></i></button>
  
  <ul class='actions'>
    
    <li>
      <%= link_to new_purchase_path(vehicle_id: @vehicle.id) do %>
        <i class='fa fa-credit-card'></i>
      <% end %> 
    </li>
    
    <li class="btn-appointment-mobile">
      <a>
        <i class='fa fa-calendar-check-o'></i>
      </a>
    </li>
    
    <li>
      <a>
        <%= form_for @conversation, 
                     url: conversations_path(@conversation), 
                     method: :post do |f| %>
                 
          <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                         current_user %>
          
          <%= f.hidden_field :recipient_id,       value: @user.id %>
          
          <%= f.hidden_field :sender_archived,    value: false %>
      
          <%= f.hidden_field :recipient_archived, value: false %>
          
          <%= button_tag(class: "btn-message-mobile") do %>
            <i class='fa fa-comments-o'></i>
          <% end %>
        <% end %>
      </a>
    </li>
  </ul>
</div>

<!--<(perc)= link_to new_club_path, class: "single-action" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--<(perc) end %>-->

<!--<div class="message-button visible-xs">-->
<!--  <(perc)= form_for @conversation, -->
<!--                       url: conversations_path(@conversation), -->
<!--                       method: :post do |f| %>-->
                       
<!--    <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                   current_user %>-->
    
<!--    <(perc)= f.hidden_field :recipient_id,       value: @user.id %>-->
    
<!--    <(perc)= f.hidden_field :sender_archived,    value: false %>-->
  
<!--    <(perc)= f.hidden_field :recipient_archived, value: false %>-->
    
<!--    <(perc)= button_tag type: 'submit', class: "btn-message" do %>-->
<!--      <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>-->
<!--    <(perc) end %>-->
<!--  <(perc) end %>-->
<!--</div>-->
    
<!--<div class="btn-primary btn-appointment-mobile btn visible-xs">-->
<!--  Book A Test Drive-->
<!--</div>-->

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= @vehicle.average_rating %>
      });
    
    // map
    
      handler = Gmaps.build('Google');
      
      handler.buildMap({ 
        
        provider: {
          
          maxZoom:        15,
          scrollwheel:    false,
          mapTypeControl: false,
          
          zoomControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
          },
          
          streetViewControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
          }, 
        },
        
        internal: {
          id: 'vehicle-map'
        }
      }, function() {
        
        markers = handler.addCircles( [{
                    lat: <%= @vehicle.latitude %>, 
                    lng: <%= @vehicle.longitude %>, 
                    radius: 700
                  }], { 
                    strokeColor: '#38b2a6',
                    fillColor: '#38b2a6',
                    strokeWeight: 2 
                  });
        
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  });
</script>

<!--<div class="similar-vehicles">-->
<!--  <div class="similar-vehicles-content">-->
    
<!--    <h2 class="similar-vehicles-title">Similar Vehicles</h2>-->
    
<!--    <h3 class="similar-vehicles-subheading">-->
<!--      <(perc)= @vehicle.listing_name %> not quite right? Check out these similar -->
<!--          vehicles.-->
<!--    </h3>-->
    
<!--    <(perc)= render 'similar_vehicles_list' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="related-discoveries">-->
<!--  <div class="related-discoveries-content">-->
    
<!--    <h2 class="related-discoveries-title">Related Discoveries</h2>-->
    
<!--    <h3 class="related-discoveries-subheading">Discover top content</h3>-->
    
<!--    <= render 'related_discoveries_list' %>-->
<!--  </div>-->
<!--</div>-->