<!--complete-->

<% provide(:title, @vehicle.listing_name) %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="hero-listing"></div>

<div class="listing-navbar">
  <div class="listing-navbar-content">
    <div class="row">
    
      <div class="col-xs-8">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Vehicle Details",  '#vehicle-details' %></li>
            <li><%= link_to "Gallery",          '#gallery' %></li>
            <li><%= link_to "Reviews",          '#reviews' %></li>
            <li><%= link_to "Map and Brochure", '#map-and-brochure' %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-xs-4">
        <div class="listing-navbar-button">
        
          <div class="navbar-price-container">
            <p class="navbar-price-visible">$<%= @vehicle.price %></p>
          </div>
          
          <% if !current_user.nil? %>
            <%= button_to "Contact Seller", 
                          conversations_path(sender_id: current_user.id, 
                                             recipient_id: @user.id), 
                          class: "btn-navbar-contact-hidden", 
                          method: :post %>
                          
          <% else %>
            <%= button_to "Contact Seller", 
                          login_path, 
                          class: "btn-navbar-contact-hidden", 
                          method: :get %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vehicle-overview">
  <div class="vehicle-overview-content">
    <div class="row">
    
      <div class="col-xs-8">
        <div class="vehicle-overview-text">
          <div class="row vertical-align vehicle-overview-title">
          
            <div class="col-xs-2">
              <div class="vehicle-overview-avatar">
                <%=link_to profile_path(@vehicle.user), method: :get do %>
                  <%= image_tag @vehicle.user.profile.avatar.url %>
                <% end %>
              </div>
            </div>
            
            <div class="col-xs-10">
              
              <h1 class="vehicle-overview-heading">
                <%= @vehicle.listing_name %>
              </h1>
              
              <p class="vehicle-overview-subheading">
                <%= @vehicle.user.name %> · <span class="average-rating"></span>
              </p>
            </div>
          </div>
          
          <p class="vehicle-overview-description"><%= @vehicle.summary %></p>
          
          <div class="vehicle-overview-products">
            
            <span class="products-title">1 Additional Product</span>
            
            <%= link_to "Spoiler at Reduced Cost", 
                        '#', 
                        class: "products-link" %>
          </div>
        </div>
      </div>
      
      <div class="col-xs-4">
  
        <div class="appointment">
          
          <%= render 'appointments/form' %>
          
          <%= button_to favorite_vehicle_path(@vehicle), 
                        class: "btn btn-tertiary", 
                        method: :put do %>
              <i class="fa fa-heart-o" 
                 aria-hidden="true"></i> 
              Add to Wish List
          <% end %>
          
          <%= link_to 'Purchase',
                      new_vehicle_payment_path(@vehicle),
                      # new_vehicle_payment_path(@vehicle), 
                      class: "btn btn-tertiary" %>
        </div>
        
        <div class="vehicle-reviews">
          
          <span class="vehicle-reviews-title">Need Some Help?</span>
          
          <p class="vehicle-reviews-info">Read our vehicle reviews!</p>
          
          <%= button_to '#', class: "btn btn-secondary", method: :get do %>
              Reviews
              <i class="fa fa-arrow-right next-button-icon" 
                 aria-hidden="true"></i> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vehicle-details">
  <div class="vehicle-details-content">
    <div class="row">

      <div class="col-xs-8">
        <div class="vehicle-details-text">
        
          <div class="specifications">
            
            <h3 class="vehicle-details-title">Specifications</h3>
            
            <div class="row">
              
              <div class="col-xs-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    <td>Vehicle Condition</td>
                    <td><strong><%= @vehicle.vehicle_condition %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Body Style</td>
                    <td><strong><%= @vehicle.body_style %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Color</td>
                    <td><strong><%= @vehicle.color %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Year</td>
                    <td><strong><%= @vehicle.year %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Mileage</td>
                    <td><strong><%= @vehicle.mileage %></strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-xs-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    <td>VIN</td>
                    <td><strong><%= @vehicle.vin %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Seating</td>
                    <td><strong><%= @vehicle.seating_capacity %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Transmission</td>
                    <td><strong><%= @vehicle.transmission %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Fuel Type</td>
                    <td><strong><%= @vehicle.fuel_type %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Drivetrain</td>
                    <td><strong><%= @vehicle.drivetrain %></strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div class="features">
            
            <h3 class="vehicle-details-title">Features</h3>
            
            <div class="row">
              
              <div class="col-xs-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_leather_seats %>">
                    <td><!--intentionally left empty--></td>
                    <td><strong>Leather Seats</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_sunroof %>">
                    <td><i class="fa fa-umbrella" aria-hidden="true"></i></td>
                    <td><strong>Sunroof</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_navigation_system %>">
                    <td><i class="fa fa-map-signs" aria-hidden="true"></i></td>
                    <td><strong>Navigation System</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_dvd_entertainment_system %>">
                    <td><i class="fa fa-television" aria-hidden="true"></i></td>
                    <td><strong>DVD Entertainment System</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_bluetooth %>">
                    <td><i class="fa fa-bluetooth-b" 
                           aria-hidden="true"></i></td>
                    <td><strong>Bluetooth</strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-xs-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_backup_camera %>">
                    <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    <td><strong>Backup Camera</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                             !@vehicle.is_remote_start %>">
                    <td><i class="fa fa-key" aria-hidden="true"></i></td>
                    <td><strong>Remote Start</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                             !@vehicle.is_tow_package %>">
                    <td><!--intentionally left empty--></td>
                    <td><strong>Tow Package</strong></td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.is_autonomy %>">
                    <td><!--intentionally left empty--></td>
                    <td><strong>Autonomy</strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div class="pricing">
            <h3 class="vehicle-details-title">Pricing</h3>
            <p class="vehicle-details-info">From $<%= @vehicle.price %></p>
          </div>
          
          <div class="sellers-notes">
            <h3 class="vehicle-details-title">Seller's Notes</h3>
            <p class="vehicle-details-info"><%= @vehicle.sellers_notes %></p>
          </div>
        </div>
      </div>
      
      <div class="col-xs-4" id="links-scrolled">
        <div class="links-scrolled-content">
          
          <div class="appointment-scrolled">
            <%= link_to '#vehicle-overview', 
                class: "btn btn-primary btn-primary-scrolled" do %>
              <!--<i class="fa fa-arrow-up up-button-icon" -->
              <!--   aria-hidden="true"></i> -->
              Test Drive
            <% end %>
          </div>
          
          <div class="products-scrolled">
            <span class="products-scrolled-title">1 Additional Product</span>
            <%= link_to "View Details", '#', class: "products-scrolled-link" %>
            <p class="products-scrolled-info">Spoiler at reduced cost</p>
          </div>
        </div>
        
        <!--<(perc)= link_to '#' do %>-->
        <!--  <p class="wish-list-scrolled">-->
        <!--    <i class="fa fa-heart wish-list-link-icon" aria-hidden="true"></i>-->
        <!--    Add to Wish List-->
        <!--  </p>-->
        <!--<(perc) end %>-->
      </div>
    </div>
  </div>
</div>

<div id="gallery">
  <div class="row gallery-row-primary">
    
    <div class="col-xs-4 gallery-photo-container">
      <% if @photos.length > 0 %>
        <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
          <img class="gallery-photo" 
               src="<%= @photos[0].image.url()%>">
        </a>
      <% end %>
    </div>
    
    <div class="col-xs-8">
      <div class="row gallery-row-secondary">
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 1 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[1].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 2 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[2].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-6 gallery-photo-container">
          <% if @photos.length > 3 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[3].image.url()%>">
            </a>
          <% end %>
        </div> 
      </div>
      
      <div class="row gallery-row-secondary">
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 4 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[4].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 5 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[5].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 6 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[6].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 gallery-photo-container">
          <% if @photos.length > 7 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" 
                   src="<%= @photos[7].image.url()%>">
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div id="reviews">
  <div class="reviews-content">
    
    <h2 class="reviews-title">Reviews</h2>
    
    <% if @reviews.count == 0 %>
    
      <% if @booked && !@hasReview %>
        <%= render 'reviews/form' %>
      
      <% else %>
        <div class="no-reviews">
          <i class="fa fa-balance-scale fa-4x no-reviews-icon" 
             aria-hidden="true"></i>
          <p class="no-reviews-info">No reviews for this vehicle, yet</p>
        </div>
      <% end %>
      
    <% else %>
      <div class="row reviews-summary">
        
        <div class="col-xs-4">
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                <%= @vehicle.average_rating %>
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                (based on <%= pluralize(@reviews.count, "review") %>)
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Pros</h3>
            
            <ul class="pros-cons-list-content">
              <li>Security & safety (51)</li>
              <li>Location (45)</li>
              <li>Management / staff (40)</li>
            </ul>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Cons</h3>
            
            <ul class="pros-cons-list-content">
              <li>Value for money (11)</li>
            </ul>
          </div>
        </div>
      </div>
      
      <%= render 'reviews/form' if @booked && !@hasReview %>
      
      <% @reviews.order("id desc").each do |r| %>
        <div class="row review-item">
          
          <div class="col-xs-4">
            <div class="row">
              
              <div class="col-xs-3">
                <!--intentionally left empty-->
              </div>
              
              <%= link_to r.user, 
                          class: "col-xs-9 
                                  review-author 
                                  review-author-clickable 
                                  vertical-align" do %>
              
                <div class="author-avatar">
                  <%= image_tag @vehicle.user.profile.avatar.url %>
                </div>
                
                <span class="author-name"><%= r.user.name %></span>
              <% end %>
            </div>
          </div>
          
          <div class="col-xs-8">
            <div class="review-container">
        
              <div class="review-rating">
                <div class="average-rating"></div>
              </div>
              
              <span class="review-title">
                <%= r.title %>
              </span>
              
              <span class="review-date">
                <%= r.created_at.strftime("%D") %>
              </span>
              
              <p class="review-comment">
                <%= r.comment %>
              </p>
              
              <div class="review-remove">
                <%= link_to "Remove my review", 
                            [@vehicle, r], 
                            method: :delete, 
                            data: { confirm: "Are you sure?" } if 
                                  current_user && current_user == r.user %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-and-brochure">
  <div class="row map-and-brochure-content">
    
    <div class="col-xs-6" id="vehicle-map"></div>
    
    <%= link_to "http://www.jaguar.com/Images/ebrochure_f-type_17MY_tcm76-271771.pdf", 
                  target: "_blank" do %>
      <div class="col-xs-6 brochure-image">
        <div class="brochure-detail">
          <h2 class="brochure-detail-title">Jaguar F-Type</h1>
          <h3 class="brochure-detail-info">View Brochure</h5>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'modal' %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // parallax-scroll
    var scrollHeroImage = $('.hero-listing');

    scrollHeroImage.parallax ({
      imageSrc: '<%= @photos[0].image.url() if @photos.length > 0 %>'
    });
    
    // fixed listing navbar
    var listingNavbar       = $('.listing-navbar');
    var price               = $('.navbar-price-visible');
    var contactSellerButton = $('.btn-navbar-contact-hidden');

    $(window).scroll(function() {
      var scrolltop = $(this).scrollTop();
      if(scrolltop >= 480) {
        listingNavbar.addClass('listing-navbar-scrolled');
        price.addClass('navbar-price-hidden');
        contactSellerButton.addClass('btn-navbar-contact-visible');
      }
      else {
        listingNavbar.removeClass('listing-navbar-scrolled');
        price.removeClass('navbar-price-hidden');
        contactSellerButton.removeClass('btn-navbar-contact-visible');
      }
    });
    
    // smooth scroll navbar
    var listingNavbarLink = $('.listing-navbar li a');
    
    listingNavbarLink.click(function(evn){
        evn.preventDefault();
        $('html,body').scrollTo(this.hash, this.hash); 
    });
    
    // active navbar anchors
    var listingNavbarAnchor = $(".listing-navbar li")
    var aChildren           = listingNavbarAnchor.children();
    var aArray              = [];
    
    for (var i=0; i < aChildren.length; i++) {    
      var aChild = aChildren[i];
      var ahref  = $(aChild).attr('href');
      
      aArray.push(ahref);
    }

    $(window).scroll(function(){
      var windowPos     = $(window).scrollTop();
      var windowHeight  = $(window).height();
      var docHeight     = $(document).height();

      for (var i=0; i < aArray.length; i++) {
        var theID     = aArray[i];
        var divPos    = ( $(theID).offset().top - 1 );
        var divHeight = $(theID).height();
        
        if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
          $("a[href='" + theID + "']").addClass("nav-active");
        } 
        else {
          $("a[href='" + theID + "']").removeClass("nav-active");
        }
      }
    });
    
    // image scaling
    var vehicleOverviewAvatar = $('.vehicle-overview-avatar');
    var galleryPhotoContainer = $('.gallery-photo-container');
    var authorAvatar          = $('.author-avatar');
    
    vehicleOverviewAvatar.imagefill();
    galleryPhotoContainer.imagefill();
    authorAvatar.imagefill();
    
    // reviews
    var stars         = $('#stars');
    var averageRating = $('.average-rating');
  
    stars.raty({
      path:      '/assets',
      scoreName: 'review[rating]'
    });
    
    averageRating.raty({
      path:     '/assets',
      readOnly: true,
      score:    <%= @vehicle.average_rating %>
    });

    // fixed links
    var linksScrolled = $('#links-scrolled');
    
    linksScrolled.stick_in_parent({ offset_top: 50 });

    // smooth scroll
    var appointmentScrolledButton = $(".btn-primary-scrolled")
    
    appointmentScrolledButton.click(function(evn){
      evn.preventDefault();
      $('html, body').scrollTo(this.hash, this.hash); 
    });
    
    // map
    handler = Gmaps.build('Google');
    
    handler.buildMap({ 
      provider: {
        disableDefaultUI: true
      }, 
      internal: {
        id: 'vehicle-map'
      }
    }, function() {
      markers = handler.addMarkers([
        {
          lat: <%= @vehicle.latitude %>,
          lng: <%= @vehicle.longitude %>,
          picture: {
            url: "/assets/map-marker-aqua.png",
            width:  32,
            height: 32
          },
        }
      ]);
  
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

<!--<div class="similar-vehicles">-->
<!--  <div class="similar-vehicles-content">-->
    
<!--    <h2 class="similar-vehicles-title">Similar Vehicles</h2>-->
    
<!--    <h3 class="similar-vehicles-subheading">-->
<!--      <(perc)= @vehicle.listing_name %> not quite right? Check out these similar -->
<!--          vehicles.-->
<!--    </h3>-->
    
<!--    <(perc)= render 'similar_vehicles_list' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="related-discoveries">-->
<!--  <div class="related-discoveries-content">-->
    
<!--    <h2 class="related-discoveries-title">Related Discoveries</h2>-->
    
<!--    <h3 class="related-discoveries-subheading">Discover top content</h3>-->
    
<!--    <= render 'related_discoveries_list' %>-->
<!--  </div>-->
<!--</div>-->

<!--rating not showing up-->
<!--reviews for seller, not vehicle-->
<!--adjust getting images from matrix-->