<!--completed-->

<!--<(perc) if @vehicle.listing_name.present? %>-->
  <% provide(:title, @vehicle.listing_name) %>
<!--<(perc) else %>-->
<!--  <(perc) provide(:title, @vehicle.year @vehicle.vehicle_make.name -->
<!--                     @vehicle.vehicle_model.name) %>-->
<!--<(perc) end %>-->

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'modal_test_drive_mobile' %>

<% if @vehicle.dealership.present? %>

  <div class="modal" id="modal-dealer-select-desktop" role="dialog">
    <%= render "modal_dealer_select_desktop" %>
  </div>
  
  <div class="modal" id="modal-dealer-select-mobile" role="dialog">
    <%= render "modal_dealer_select_mobile" %>
  </div>

  <div class="modal" id="modal-buy-online-desktop" role="dialog">
    <%= render "modal_buy_online_desktop" %>
  </div>
  
  <div class="modal" id="modal-buy-online-mobile" role="dialog">
    <%= render "modal_buy_online_mobile" %>
  </div>
<% end %>

<% if @vehicle.sold_at.present? %>
  <div class="ribbon-vehicle">SOLD</div>
<% end %>

<div class="hero-listing" 
     data-parallax="scroll" 
     data-image-src="<%= @photos[0].image.url() if @photos.length > 0 %>"
     data-speed="0.3" 
     data-bleed="10"
     data-z-index="0">
  <div class="hero-listing-score-container hidden-xs">
    
    <span class="hero-listing-score-number">
      <%= @vehicle.listing_score.overall_score %>
    </span>
    
    <span class="hero-listing-score-text">Listing Score</span>
  </div>
</div>

<%= render 'modal' %>

<div class="listing-navbar">
  <div class="listing-navbar-content">
    <div class="row">
    
      <div class="col-md-8">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Vehicle Details", '#vehicle-details' %></li>
            <li><%= link_to "Gallery",         '#gallery' %></li>
            <li><%= link_to "Reviews",         '#reviews' %></li>
            <li><%= link_to "Map and Forums",  '#map-and-brochure' %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-md-4 hidden-xs">
        <div class="listing-navbar-button">
        
          <div class="navbar-price-container">
            <p class="navbar-price-visible">$<%= @vehicle.actual_price %></p>
          </div>
          
          <% if @vehicle.dealership.present? %>
          
            <div class="btn-navbar-contact-hidden btn-buy-online">
              
              <i class="fa fa-shopping-cart listing-navbar-icon" 
                 aria-hidden="true"></i>
              
              Buy Online
            </div>
          
          <% else %>
            <%= form_for @conversation, 
                         url: conversations_path(@conversation), 
                         method: :post do |f| %>
                       
              <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                             current_user %>
              
              <%= f.hidden_field :recipient_id,       value: @user.id %>
              
              <%= f.hidden_field :sender_archived,    value: false %>
  
              <%= f.hidden_field :recipient_archived, value: false %>
              
              <%= button_tag(class: "btn-navbar-contact-hidden") do %>

                <i class="fa fa-shopping-cart listing-navbar-icon" 
                   aria-hidden="true"></i>
                
                Buy Online
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @conversation do |f| %>
  
  <% if @vehicle.dealership.present? %>
    <div class="modal" id="modal-test-drive-desktop" role="dialog">
      
      <div class="modal-test-drive-desktop-header">
        
        <i class="fa fa-times fa-lg modal-test-drive-desktop-close" 
           aria-hidden="true"></i>
        
        <div class="row modal-test-drive-desktop-header-content vertical-align">
          
          <div class="col-md-4">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/dealer-select.png") %>
          </div>
          
          <div class="col-md-8">
            <h1 class="modal-test-drive-desktop-title">Select An Associate</h1>
          </div>
        </div>
      </div>
      
      <div class="modal-test-drive-desktop-body">
        <div class="modal-test-drive-desktop-body-content">
          
          <h2 class="modal-test-drive-desktop-subtitle">
            At Mototrova, we believe in the power of the consumer.
          </h2>
          
          <span class="modal-test-drive-desktop-info">
            Select the dealer that you would most like to work with.
          </span>
          
          <div class="modal-test-drive-scroll">
            
            <i class="fa fa-lg fa-chevron-left modal-test-drive-left"></i>
    
            <i class="fa fa-lg fa-chevron-right modal-test-drive-right"></i>
            
            <ol class="modal-test-drive-list">
              <% @vehicle.dealership.users.each do |dealer| %>
                <li class="modal-test-drive-item">
  
                  <%= f.hidden_field :recipient_id, value: dealer.id %>
                  
                  <%= button_tag(class: "test-drive-button") do %>
                    <div class="row vertical-align">
                      
                      <div class="col-md-3 avatar-and-online">
                        
                        <div class="test-drive-avatar avatar-general",
                             style="background-image: url(
                                     '<%= dealer.avatar.url(:thumb) %>')">
                        </div>
                        
                        <!--<(perc) if @vehicle.user.online? %>-->
                        <!--  <div class="online online-lg-primary hidden-xs"></div>-->
                        <!--<(perc) end %>-->
                      </div>
                      
                      <div class="col-md-9 test-drive-info">
                
                        <span class="test-drive-name hidden-xs">
                          <%= dealer.full_name %>
                        </span>
                                    
                        <span class="average-rating"></span>
                        
                        <span class="test-drive-reviews">
                           · <%= pluralize(@vehicle.reviews.count, "review") %>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div id="vehicle-overview">
    <div class="vehicle-overview-content">
      <div class="row">
      
        <div class="col-md-7">
          <div class="vehicle-overview-text">
            
            <div class="vehicle-overview-title">
              
              <h1 class="vehicle-overview-heading visible-xs">
                <%= @vehicle.listing_name %>
              </h1>
              
              <div class="row vertical-align">
              
                <div class="col-md-2 col-xs-2">
                  
                  <% if @vehicle.dealership.present? %>
                    <%= link_to @vehicle.dealership do %>
                      <div class="vehicle-overview-avatar avatar-general"
                           style="background-image: url(
                                   '<%= @vehicle.dealership.photo.url() %>')">
                      </div>
                    <% end %>
                    
                  <% else %>
                    <%= link_to @vehicle.user do %>
                      <div class="vehicle-overview-avatar avatar-general"
                           style="background-image: url(
                                   '<%= @vehicle.user.avatar.url(:thumb) %>')">
                      </div>
                    <% end %>
                  <% end %>
                </div>
                
                <div class="col-md-10 col-xs-10">
  
                  <h1 class="vehicle-overview-heading hidden-xs">
                    <%= @vehicle.listing_name %>
                  </h1>
                  
                  <div class="vehicle-overview-subheading">
                    
                    <% if @vehicle.dealership.present? %>
                      <%= link_to @vehicle.dealership.dealership_name, 
                                  @vehicle.dealership,
                                  class: "vehicle-overview-subheading-content" %>
  
                    <% else %>
                      <%= link_to @vehicle.user.full_name, 
                                  @vehicle.user,
                                  class: "vehicle-overview-subheading-content" %>
                    <% end %>
                          
                    <span class="hidden-xs"> · </span>
                          
                    <span class="average-rating"></span>
                  </div>
                </div>
              </div>
            </div>
  
            <p class="vehicle-overview-description">
              <%= @vehicle.description_clean %>
            </p>
            
            <div class="vehicle-overview-views">
              <div class="row vertical-align">
                
                <div class="col-md-2 col-xs-1">
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/creativity-large.png", 
                                class: "hidden-xs") %>
                                
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/creativity-small.png", 
                                class: "visible-xs") %>
                </div>
                
                <div class="col-md-10 col-xs-11">
                  <p class="vehicle-overview-views-info">
                    
                    <strong>
                      <% if @vehicle.dealership.present? %>
                        This
                      <% else %>
                        <%= @vehicle.user.first_name %>'s 
                      <% end %>
                      motorcycle is on people's minds.
                    </strong>
                    
                    <br>
                    
                    It's received 500+ views this week.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-md-offset-1">
    
          <div class="appointment hidden-xs">
            
            <%= f.hidden_field :sender_id,           value: current_user.id if 
                                                            current_user %>
            
            <% if @vehicle.user.present? %>
            
              <%= f.hidden_field :recipient_id,      
                                 value: @vehicle.user.id %>
                                 
              <%= f.hidden_field :next_contributor_id, 
                                 value: @vehicle.user.id %>
            <% end %>
            
            <%= f.hidden_field :is_sender_anonymous, value: false %>
            
            <%= f.hidden_field :latest_message_read, value: false %>
            
            <%= f.hidden_field :sender_archived,     value: false %>
            
            <%= f.hidden_field :recipient_archived,  value: false %>
          
            <%= f.fields_for :appointments, Appointment.new do |ff| %>
            
              <% if @vehicle.dealership.present? || 
                      @vehicle.availabilities.exists? %>
                <a class="availability-link">Click for availability</a>
              <% end %>
            
              <div class="form-element form-element-availability">
                  
                <%= ff.text_field :date, 
                                  placeholder: "Test Drive", 
                                  id: "appointment-time",
                                  class: "form-control form-control-secondary" %>
                    
                <i class="fa fa-calendar-o fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                <i class="fa fa-caret-down fa-lg form-caret" 
                   aria-hidden="true"></i>
              </div>
              
              <%= ff.hidden_field :status,              value: "pending" %>
              
              <% if @vehicle.user.present? %>
                <%= ff.hidden_field :seller_id,         value: @vehicle.user.id %>
              <% end %>
              
              <%= ff.hidden_field :buyer_id, value: current_user.id if current_user %>
              
              <%= ff.hidden_field :vehicle_id,          value: @vehicle.id %>
            <% end %>
            
            <% if @vehicle.dealership.present? %>
              <div class="btn btn-tertiary btn-appointment">
                Book!
              </div>
              
            <% else %>
              <%= f.submit "Book!", 
                           class: "btn btn-tertiary btn-appointment" %>
            <% end %>
          </div>
          
          <div class="vehicle-reviews hidden-xs">
            
            <span class="vehicle-reviews-title">Need Some Advice?</span>
            
            <% if @vehicle.dealership.present? %>
              
              <p class="vehicle-reviews-info">
                Read reviews of <%= @vehicle.dealership.dealership_name %>!
              </p>
                
              <%= link_to @vehicle.dealership, 
                          class: "btn btn-secondary" do %>
          
                Reviews
                
                <i class="fa fa-arrow-right next-button-icon" 
                   aria-hidden="true"></i> 
              <% end %>
              
            <% else %>
              
              <p class="vehicle-reviews-info">
                Read <%= @vehicle.user.first_name %>'s reviews!
              </p>
              
              <%= link_to user_path(@vehicle.user, anchor: "profile-reviews"), 
                      class: "btn btn-secondary" do %>
          
                Reviews
                
                <i class="fa fa-arrow-right next-button-icon" 
                   aria-hidden="true"></i> 
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="vehicle-details">
  <div class="vehicle-details-content">
    <div class="row">

      <div class="col-md-7">
        <!--<div class="vehicle-details-text">-->
        
          <div id="specifications">
            
            <h3 class="vehicle-details-title">Specifications</h3>
            
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    
                    <td class="specifications-table-column">Type</td>
                    
                    <td>
                      <strong>
                        
                        <% if @vehicle.vehicle_make.present? && 
                              @vehicle.vehicle_model.present? %>
                          <%= @vehicle.vehicle_make.name %>
                          <%= @vehicle.vehicle_model.name %>
                          
                        <% else %>
                          <%= @vehicle.vehicle_make_name %>
                          <%= @vehicle.vehicle_model_name %>
                        <% end %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Body Style</td>
                    <td><strong><%= @vehicle.body_style %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Color</td>
                    <td><strong><%= @vehicle.color %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Year</td>
                    <td><strong><%= @vehicle.year %></strong></td>
                  </tr>
                  
                  <tr>
                    <td>Mileage</td>
                    <td><strong><%= @vehicle.mileage_numeric %> mi</strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">

                  <tr>
                    <td class="specifications-table-column">VIN</td>
                    <td>
                      <strong>
                        <% if @vehicle.vin.present? %>
                          <%= @vehicle.vin %>
                        <% else %>
                          Unavailable
                        <% end %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    
                    <td>Engine</td>
                    
                    <td>
                      <strong>
                        <% if @vehicle.engine_type == "Unknown" %>
                          Unavailable
                        <% else %>
                          <%= @vehicle.engine_type %>
                        <% end %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    
                    <td>Size</td>
                    
                    <td>
                      <strong>
                        <% if @vehicle.engine_size.present? %>
                          <%= @vehicle.engine_size %> cc
                        <% else %>
                          Unavailable
                        <% end %>
                      </strong>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Fuel Type</td>
                    <td><strong><%= @vehicle.fuel_type %></strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div id="features">
            
            <h3 class="vehicle-details-title">Features</h3>
            
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cruise_control %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                    </td>
                    
                    <td>Cruise Control</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.am_fm %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-signal" aria-hidden="true"></i>
                    </td>
                    
                    <td>AM / FM Radio</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cb_radio %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-microphone" aria-hidden="true"></i>
                    </td>
                    
                    <td>CB Radio</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.navigation_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </td>
                    
                    <td>Navigation System</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.heated_seats %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-thermometer-three-quarters" 
                         aria-hidden="true"></i>
                    </td>
                    
                    <td>Heated Seats</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.heated_hand_grips %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-fire" aria-hidden="true"></i>
                    </td>
                    
                    <td>Heated Hand Grips</td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.alarm_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </td>
                    
                    <td>Alarm System</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.saddlebags %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </td>
                    
                    <td>Saddlebags</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.trunk %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </td>
                    
                    <td>Trunk</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.tow_hitch %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-plug" aria-hidden="true"></i>
                    </td>
                    
                    <td>Tow Hitch</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cycle_cover %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </td>
                    
                    <td>Cycle Cover</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          <div id="listing-score">
          
            <h3 class="vehicle-details-title">Listing Score Breakdown</h3>
            
            <table class="vehicle-details-table">
              
              <tr>
                
                <% if @vehicle.listing_score.location_score == 3 ||
                      @vehicle.listing_score.location_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                  
                  <td>
                    Listing location is an exact address.
                  </td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.features_score == 3 ||
                      @vehicle.listing_score.features_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                  
                  <td>Features are properly noted.</td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.spec_score == 3 ||
                      @vehicle.listing_score.spec_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>Specifications are properly noted.</td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.vin_score == 3 ||
                      @vehicle.listing_score.vin_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>VIN is properly noted.</td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.certified_dealer_score == 3 ||
                      @vehicle.listing_score.certified_dealer_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>
                    Vehicle is being sold by a certified dealer.
                  </td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.direct_listing_score == 3 ||
                      @vehicle.listing_score.direct_listing_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>
                    Dealer sends a direct listing feed.  
                  </td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.test_drive_score == 3 ||
                      @vehicle.listing_score.test_drive_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>
                    Seller accepts test drive requests on demand.
                  </td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.photos_score == 3 ||
                      @vehicle.listing_score.photos_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>
                    Listing has plenty of photos of the bike.
                  </td>
                <% end %>
              </tr>
              
              <tr>
                
                <% if @vehicle.listing_score.recently_posted_score == 3 ||
                      @vehicle.listing_score.recently_posted_score == 2 %>
                      
                  <td>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </td>
                
                  <td>
                    Listing was recently posted or "bumped".
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
          
          <div id="availability">
            
            <% if @vehicle.dealership.present? %>
          
              <h3 class="vehicle-details-title">Hours of Operation</h3>
          
              <div class="row">
                
                <div class="col-md-6">
                  <table class="vehicle-details-table">
                    <tr>
                    
                      <td class="specifications-table-column">Monday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Monday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Monday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Monday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                    
                    <tr>
                      
                      <td>Tuesday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Tuesday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Tuesday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Tuesday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                    
                    <tr>
                      
                      <td>Wednesday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Wednesday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Wednesday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Wednesday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                    
                    <tr>
                      
                      <td>Thursday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Thursday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Thursday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Thursday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                  </table>
                </div>
                
                <div class="col-md-6">
                  <table class="vehicle-details-table">
                    
                    <tr>
                      
                      <td class="specifications-table-column">Friday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Friday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Friday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Friday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                    
                    <tr>
                      
                      <td>Saturday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Saturday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Saturday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Saturday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                    
                    <tr>
                      
                      <td>Sunday</td>
                      
                      <td><strong>
                        
                        <% if @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Sunday").
                                first.
                                is_closed == true %> 
                          Closed
                          
                        <% else %>
                        
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Sunday").
                                first.
                                open_time.
                                strftime("%-l:%M%p") %> - 
                          
                          <%= @vehicle.
                                dealership.
                                business_hours.
                                where(day: "Sunday").
                                first.
                                close_time.
                                strftime("%-l:%M%p") %>
                        <% end %>
                      </strong></td>
                    </tr>
                  </table>
                </div>
              </div>
              
            <% elsif @vehicle.availabilities.exists? %>
            
              <h3 class="vehicle-details-title">General Availability</h3>
              
              <div class="row">
                <%= render partial:    "availability", 
                           collection: @availabilities %>
              </div>
            <% end %>
          </div>

          <% if @vehicle.dealership.present? %>
            <div class="negotiate btn-negotiate-dealer hidden-xs">
              <div class="row vertical-align">
              
                <div class="col-md-2">
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-large.png") %>
                </div>
                  
                <div class="col-md-10">
                  <p class="negotiate-info">
                    
                    <strong>
                      
                      Make 
                      
                      <% if @vehicle.user.present? %>
                        <%= @vehicle.user.first_name %>
                        
                      <% else %>
                        <%= @vehicle.dealership.dealership_name %>
                      <% end %>
                      
                      an offer.
                    </strong>
                    
                    <br>
                    
                    Your identity will remain anonymous until an offer is 
                    accepted.
                  </p>
                </div>
              </div>
            </div>
            
          <% else %>
            <%= form_for @conversation, 
                         url: conversations_path(@conversation), 
                         method: :post do |f| %>
                     
              <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                             current_user %>
              
              <%= f.hidden_field :recipient_id,       value: @user.id %>
              
              <%= f.hidden_field :sender_archived,    value: false %>
            
              <%= f.hidden_field :recipient_archived, value: false %>
              
              <%= button_tag(class: "btn-negotiate-private hidden-xs") do %>
                <div class="negotiate">
                  <div class="row vertical-align">
                    
                    <div class="col-md-2">
                      <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-large.png") %>
                    </div>
                    
                    <div class="col-md-10">
                      <p class="negotiate-info">
                        
                        <strong>
                          Make <%= @vehicle.user.first_name %> an offer.
                        </strong>
                        
                        <br>
                        
                        Your identity will remain anonymous until an offer is 
                        accepted.
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>  

          <div class="vehicle-details-test-drive visible-xs">
            <div class="row vertical-align">
              
              <div class="col-xs-1">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/test-drives-small.png" ) %>
              </div>
              
              <div class="col-xs-11">
                <p class="vehicle-details-test-drive-info">
                  <strong>Book A Test Drive</strong>
                  <br>
                  Interested in this vehicle? Book a test drive, instantly!
                </p>
              </div>
            </div>
          </div>
          
          <% if @vehicle.dealership.present? %>  
            <div class="vehicle-details-purchase visible-xs">
              <div class="row vertical-align">
                
                <div class="col-xs-1">
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-small.png" ) %>
                </div>
                
                <div class="col-xs-11">
                  <p class="vehicle-details-purchase-info">
                    <strong>Make A Purchase</strong>
                    <br>
                    Complete our online paperwork and reserve this vehicle for
                    purchase for 72 hours.
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <!--</div>-->
      </div>
      
      <div class="col-md-1">
        <!--intentionally left empty-->
      </div>
      
      <div id="vehicle-scrolled" class="col-md-4">
        
        <!--<(perc) if logged_in? || @vehicle.questions.exists? %>-->
          <div class="vehicle-scrolled-content">
              
            <div class="questions-title">
              <span class="questions-title-content">
                Questions (<%= @vehicle.questions.count %>)
              </span>
            </div>
            
            <div class="questions">
              <div class="questions-info-container">
                
                <span class="questions-info">
                  
                  Have a question for 
                  
                  <% if @vehicle.dealership.present? %>
                    <%= @vehicle.dealership.dealership_name %>
                    
                  <% else %>
                    <%= @vehicle.user.first_name %>
                  <% end %>
                  
                  that might help other buyers, too? Don't be shy!
                </span>
                
                <%= render 'questions/form' %>
                
                <% if @vehicle.questions.exists? %>
                  <ol class="questions-list">
                    <%= render @questions %>
                  </ol>
                <% end %>
              </div>
            </div>
          </div>
          
          <div class="shortlist-scrolled hidden-xs">
            
            <span class="shortlist-scrolled-info">
              Add motorcycles to your shortlist by tapping "Love It" or "Maybe"
              to compare later.
            </span>
            
            <table  class="shortlist-buttons">
              <tr>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, is_loved: true),
                              class: "btn-shortlist add-to-wish-list",
                              method: :put do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    Love It!
                  <% end %>
                </td>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, is_liked: true),
                              class: "btn-shortlist add-to-wish-list",
                              method: :put do %>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Maybe
                  <% end %>
                </td>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, 
                                                    is_disliked: true),
                              class: "btn-shortlist",
                              method: :put do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Nope
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
          
          <!--<(perc)= link_to favorite_vehicle_path(@vehicle), -->
          <!--            class: "vehicle-scrolled-link",-->
          <!--            method: :put do %>-->
                      
          <!--  <i class="fa fa-heart-o" -->
          <!--    aria-hidden="true"></i> -->
                 
          <!--  Add to Shortlist-->
          <!--<(perc) end %>-->
            
        <!--<div class="appointment-scrolled">-->
        <!--  <(perc)= link_to '#vehicle-overview', -->
        <!--      class: "btn btn-primary btn-primary-scrolled" do %>-->
        <!--    <i class="fa fa-arrow-up up-button-icon" -->
        <!--       aria-hidden="true"></i> -->
        <!--    Test Drive-->
        <!--  <(perc) end %>-->
        <!--</div>-->
        
        <!--<div class="products-scrolled">-->
        <!--  <span class="products-scrolled-title">1 Additional Product</span>-->
        <!--  <(perc)= link_to "View Details", '#', class: "products-scrolled-link" %>-->
        <!--  <p class="products-scrolled-info">Spoiler at reduced cost</p>-->
        <!--</div>-->

        <!--<(perc)= link_to '#' do %>-->
        <!--  <p class="wish-list-scrolled">-->
        <!--    <i class="fa fa-heart wish-list-link-icon" aria-hidden="true"></i>-->
        <!--    Add to Wish List-->
        <!--  </p>-->
        <!--<(perc) end %>-->
      </div>
    </div>
  </div>
</div>

<div id="gallery">
  <div class="row gallery-row-primary">
    
    <div class="col-md-4 col-xs-6 gallery-photo-container">
      <% if @photos.length > 0 %>
        <a caption="<= @vehicle.listing_name %>" href='javascript:void(0)'>
          <img class="gallery-photo" src="<%= @photos[0].image.url() %>">
        </a>
      <% end %>
    </div>
    
    <div class="col-md-8 col-xs-6">
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 1 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[1].image.url() %>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 3 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[3].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-6 hidden-xs gallery-photo-container">
          <% if @photos.length > 5 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[5].image.url()%>">
            </a>
          <% end %>
        </div> 
      </div>
      
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 2 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[2].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 4 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[4].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 6 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[6].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 7 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[7].image.url()%>">
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div id="reviews">
  <div class="reviews-content">
    
    <h2 class="reviews-title">Reviews</h2>
    
    <% if @reviews.present? || @google_reviews.present? %>
      <div class="row reviews-summary">
        
        <div class="col-md-4">
          
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                <%= GooglePlaces::Client.
                      new(ENV['GOOGLE_API_KEY']).
                      spot(@vehicle.dealership.google_place_id).
                      rating %>
                <!--<(perc)= @vehicle.average_rating %>-->
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                (based on <%= pluralize(@google_reviews.count, "review") %>)
                <!--(based on <= pluralize(@reviews.count + @google_reviews.count, -->
                <!--                "review") %>)-->
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Pros</h3>
            
            <ul class="pros-cons-list-content">
              <!--<li>Security & safety (51)</li>-->
              <!--<li>Location (45)</li>-->
              <!--<li>Management / staff (40)</li>-->
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Cons</h3>
            
            <ul class="pros-cons-list-content">
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
      </div>
      
      <%= render 'reviews/form' if @tested && !@hasReview %>
      
      <ol class="reviews-list">
        <%= render 'reviews_list' %>
      </ol>
      
    <% else %>
    
      <% if @tested && !@hasReview %>
        <%= render 'reviews/form' %>
      
      <% else %>
        <div class="empty-list">
          
          <i class="fa fa-balance-scale fa-4x empty-list-icon" 
             aria-hidden="true"></i>
             
          <p class="empty-list-info">No reviews for this motorcycle yet</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-and-brochure">
  <div class="row map-and-brochure-content">
    
    <% if @vehicle.dealership.present? %>
      <div class="vehicle-map-address">
        <strong>
          <%= @vehicle.dealership.dealership_name %>
        </strong>
          <br>
        <%= @vehicle.street_address %>, <!--<(perc)= @vehicle.building %>-->
          <br>
        <%= @vehicle.city %>, <%= @vehicle.state %> 
      </div>
    <% end %>
    
    <div class="col-md-6" id="vehicle-map">
    </div>
    
    <%= link_to posts_vehicle_make_path(@vehicle.vehicle_make),
                class: "brochure",
                target: "_blank" do %>
      <div class="col-md-6 brochure-image",
           style="background-image: url(
                '<%= @vehicle.vehicle_make.cover_photo_url %>')">
        <div class="brochure-detail">
          
          <h2 class="brochure-detail-title">
            
            <% if @vehicle.vehicle_make.present? && 
                  @vehicle.vehicle_model.present? %>
              <%= @vehicle.vehicle_make.name %>
              <%= @vehicle.vehicle_model.name %>
              
            <% else %>
              <%= @vehicle.vehicle_make_name %>
              <%= @vehicle.vehicle_model_name %>
            <% end %>
          </h1>
          
          <h3 class="brochure-detail-info">Community Forums</h5>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--<= link_to new_club_path, class: "single-action hidden-xs" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--< end %>-->
<% if @vehicle.dealership.present? %>
  <div class="single-action btn-negotiate-dealer">
    <i class='fa fa-lg fa-comments-o single-action-icon'></i>
  </div>

<% else %>
  <div class="single-action">
    <%= form_for @conversation, 
                 url: conversations_path(@conversation), 
                 method: :post do |f| %>
             
      <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                     current_user %>
      
      <%= f.hidden_field :recipient_id,       value: @user.id %>
      
      <%= f.hidden_field :sender_archived,    value: false %>

      <%= f.hidden_field :recipient_archived, value: false %>
    
      <%= button_tag(class: "single-action-button") do %>
        <i class='fa fa-lg fa-comments-o single-action-icon'></i>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="shortlist-nav visible-xs">
  <div class="row">
    
    <%= link_to favorite_vehicle_path(@vehicle, is_loved: true),
                class: "col-xs-4 btn-shortlist-nav add-to-wish-list",
                method: :put do %>
      <i class="fa fa-heart-o btn-shortlist-nav-icon" aria-hidden="true"></i>
      Love It!
    <% end %>

    <%= link_to favorite_vehicle_path(@vehicle, is_liked: true),
                class: "col-xs-4 
                        btn-shortlist-nav 
                        btn-shortlist-nav-middle
                        add-to-wish-list",
                method: :put do %>
      <i class="fa fa-check btn-shortlist-nav-icon" aria-hidden="true"></i>
      Maybe
    <% end %>
    
    <%= link_to favorite_vehicle_path(@vehicle, is_disliked: true),
                class: "col-xs-4 btn-shortlist-nav",
                method: :put do %>
      <i class="fa fa-trash-o btn-shortlist-nav-icon" aria-hidden="true"></i>
      Nope
    <% end %>
  </div>
</div>

<!--<div class='multi-action visible-xs'>-->
  
<!--  <button class='action-button'><i class='fa fa-plus fa-lg'></i></button>-->
  
<!--  <ul class='actions'>-->
    
<!--    <li>-->
<!--      <(perc)= link_to new_purchase_path(vehicle_id: @vehicle.id) do %>-->
<!--        <i class='fa fa-credit-card'></i>-->
<!--      <(perc) end %> -->
<!--    </li>-->
    
<!--    <li class="btn-appointment-mobile">-->
<!--      <a>-->
<!--        <i class='fa fa-calendar-check-o'></i>-->
<!--      </a>-->
<!--    </li>-->
    
<!--    <li>-->
<!--      <a>-->
<!--        <(perc)= form_for @conversation, -->
<!--                     url: conversations_path(@conversation), -->
<!--                     method: :post do |f| %>-->
                 
<!--          <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                         current_user %>-->
          
<!--          <(perc) if @vehicle.user.present? %>-->
<!--            <(perc)= f.hidden_field :recipient_id,     value: @user.id %>-->
<!--          <(perc) end %>-->
          
<!--          <(perc)= f.hidden_field :sender_archived,    value: false %>-->
      
<!--          <(perc)= f.hidden_field :recipient_archived, value: false %>-->
          
<!--          <(perc)= button_tag(class: "btn-message-mobile") do %>-->
<!--            <i class='fa fa-comments-o'></i>-->
<!--          <(perc) end %>-->
<!--        <(perc) end %>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<(perc)= link_to new_club_path, class: "single-action" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--<(perc) end %>-->

<!--<div class="message-button visible-xs">-->
<!--  <(perc)= form_for @conversation, -->
<!--                       url: conversations_path(@conversation), -->
<!--                       method: :post do |f| %>-->
                       
<!--    <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                   current_user %>-->
    
<!--    <(perc)= f.hidden_field :recipient_id,       value: @user.id %>-->
    
<!--    <(perc)= f.hidden_field :sender_archived,    value: false %>-->
  
<!--    <(perc)= f.hidden_field :recipient_archived, value: false %>-->
    
<!--    <(perc)= button_tag type: 'submit', class: "btn-message" do %>-->
<!--      <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>-->
<!--    <(perc) end %>-->
<!--  <(perc) end %>-->
<!--</div>-->
    
<!--<div class="btn-primary btn-appointment-mobile btn visible-xs">-->
<!--  Book A Test Drive-->
<!--</div>-->

<script type="text/javascript">

  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      averageRating.raty({
        path:     '/assets',
        readOnly: true,
        score:    <%= GooglePlaces::Client.
                        new(ENV['GOOGLE_API_KEY']).
                        spot(@vehicle.dealership.google_place_id).
                        rating %>
        // score:    <(perc)= @vehicle.average_rating %>
      });
    
    // map
      
      handler = Gmaps.build('Google');
      
      handler.buildMap({ 
        
        provider: {
          
          maxZoom:        15,
          scrollwheel:    false,
          mapTypeControl: false,
          
          zoomControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
          },
          
          streetViewControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
          }, 
        },
        
        internal: {
          id: 'vehicle-map'
        }
      }, function() {
        
        <% if @vehicle.dealership.present? %>
          markers = handler.addMarkers([
                      {
                        lat: <%= @vehicle.latitude %>,
                        lng: <%= @vehicle.longitude %>,
                        picture: {
                          url:    "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/map-marker-aqua.png",
                          width:  32,
                          height: 32
                        }
                      }
                    ]);
        
        <% else %>
          markers = handler.addCircles( [{
                      lat: <%= @vehicle.latitude %>, 
                      lng: <%= @vehicle.longitude %>, 
                      radius: 700
                    }], { 
                      strokeColor: '#38b2a6',
                      fillColor: '#38b2a6',
                      strokeWeight: 2 
                    });
        <% end %>
        
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  });
</script>

<!--<div class="similar-vehicles">-->
<!--  <div class="similar-vehicles-content">-->
    
<!--    <h2 class="similar-vehicles-title">Similar Vehicles</h2>-->
    
<!--    <h3 class="similar-vehicles-subheading">-->
<!--      <(perc)= @vehicle.listing_name %> not quite right? Check out these similar -->
<!--          vehicles.-->
<!--    </h3>-->
    
<!--    <(perc)= render 'similar_vehicles_list' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="related-discoveries">-->
<!--  <div class="related-discoveries-content">-->
    
<!--    <h2 class="related-discoveries-title">Related Discoveries</h2>-->
    
<!--    <h3 class="related-discoveries-subheading">Discover top content</h3>-->
    
<!--    <= render 'related_discoveries_list' %>-->
<!--  </div>-->
<!--</div>-->