<!--completed-->

<!--<(perc) if @vehicle.listing_name.present? %>-->
  <% provide(:title, @vehicle.listing_name) %>
<!--<(perc) else %>-->
<!--  <(perc) provide(:title, @vehicle.year @vehicle.vehicle_make.name -->
<!--                     @vehicle.vehicle_model.name) %>-->
<!--<(perc) end %>-->

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'modal_test_drive_mobile' %>

<% if @vehicle.dealership.present? %>

  <div class="modal" id="modal-dealer-select-desktop" role="dialog">
    <%= render "modal_dealer_select_desktop" %>
  </div>
  
  <div class="modal" id="modal-dealer-select-mobile" role="dialog">
    <%= render "modal_dealer_select_mobile" %>
  </div>

  <div class="modal" id="modal-buy-online-desktop" role="dialog">
    <%= render "modal_buy_online_desktop" %>
  </div>
  
  <div class="modal" id="modal-buy-online-mobile" role="dialog">
    <%= render "modal_buy_online_mobile" %>
  </div>
<% end %>

<% if @vehicle.sold_at.present? %>
  <div class="ribbon-vehicle">SOLD</div>
<% end %>

<div class="hero-listing-container">
  
  <div class="hero-request-quote-container btn-negotiate-dealer visible-xs">
    <span class="hero-request-quote-text">
      
      <% if @vehicle.actual_price.present? %>
        $ <%= @vehicle.actual_price %>
        
      <% elsif @vehicle.msrp.present? %>
        $ <%= @vehicle.msrp %>
        
      <% else %>
        Request Quote
        <i class="fa fa-angle-right hero-request-quote-icon" 
           aria-hidden="true"></i>
      <% end %>
    </span>
  </div>
  
  <div class="hero-listing" 
       data-parallax="scroll" 
       data-image-src="<%= @photos[0].image.url() if @photos.length > 0 %>"
       data-speed="0.3" 
       data-bleed="10"
       data-z-index="0">
    <div class="hero-listing-score-container hidden-xs">
      
      <span class="hero-listing-score-number">
        <%= @vehicle.listing_score.overall_score %>
      </span>
      
      <span class="hero-listing-score-text">Listing Score</span>
    </div>
  </div>
</div>

<%= render 'modal' %>

<div class="listing-navbar">
  <div class="listing-navbar-content">
    <div class="row">
    
      <div class="col-md-8">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Vehicle Details", '#vehicle-details' %></li>
            <li><%= link_to "Gallery",         '#gallery' %></li>
            <li><%= link_to "Reviews",         '#reviews' %></li>
            <li><%= link_to "Map and Forums",  '#map-and-brochure' %></li>
          </ul>
        </nav>
      </div>
      
      <div class="col-md-4 hidden-xs">
        <div class="listing-navbar-button">
        
          <div class="navbar-price-container">
            
            <% if @vehicle.actual_price.present? || @vehicle.msrp.present? %>
              <p class="navbar-price-visible">
                <% if @vehicle.actual_price.present? %>
                  $ <%= @vehicle.actual_price %>
                <% else %>
                  $ <%= @vehicle.msrp %>
                <% end %>
              </p>
            
            <% else %>
              <p class="navbar-quote-visible btn-negotiate-dealer">
                Quote
              </p>
            <% end %>
          </div>
          
          <% if @vehicle.dealership.present? && 
                ( @vehicle.actual_price.present? || @vehicle.msrp.present? ) %>
            
            <div class="btn-navbar-contact-hidden btn-buy-online">
              
              <i class="fa fa-shopping-cart listing-navbar-icon" 
                 aria-hidden="true"></i>
              
              Reserve Online
            </div>
          
          <% elsif @vehicle.dealership.present? %>
            
            <div class="btn-navbar-contact-hidden btn-negotiate-dealer">
              
              <i class="fa fa-tag listing-navbar-icon" 
                 aria-hidden="true"></i>
              
              Request Quote
            </div>
          
          <% else %>
            <%= form_for @conversation, 
                         url: conversations_path(@conversation), 
                         method: :post do |f| %>
                       
              <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                             current_user %>
              
              <%= f.hidden_field :recipient_id,       value: @user.id %>
              
              <%= f.hidden_field :sender_archived,    value: false %>
  
              <%= f.hidden_field :recipient_archived, value: false %>
              
              <%= button_tag(class: "btn-navbar-contact-hidden") do %>

                <i class="fa fa-shopping-cart listing-navbar-icon" 
                   aria-hidden="true"></i>
                
                Reserve Online
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @conversation do |f| %>
  
  <% if @vehicle.dealership.present? %>
    <div class="modal" id="modal-test-drive-desktop" role="dialog">
      
      <div class="modal-test-drive-desktop-header">
        
        <i class="fa fa-times fa-lg modal-test-drive-desktop-close" 
           aria-hidden="true"></i>
        
        <div class="row modal-test-drive-desktop-header-content vertical-align">
          
          <div class="col-md-4">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/dealer-select.png") %>
          </div>
          
          <div class="col-md-8">
            <h1 class="modal-test-drive-desktop-title">Select An Associate</h1>
          </div>
        </div>
      </div>
      
      <div class="modal-test-drive-desktop-body">
        <div class="modal-test-drive-desktop-body-content">
          
          <h2 class="modal-test-drive-desktop-subtitle">
            At Mototrova, we believe in the power of the consumer.
          </h2>
          
          <span class="modal-test-drive-desktop-info">
            Select the dealer that you would most like to work with.
          </span>
          
          <div class="modal-test-drive-scroll">
            
            <i class="fa fa-lg fa-chevron-left modal-test-drive-left"></i>
    
            <i class="fa fa-lg fa-chevron-right modal-test-drive-right"></i>
            
            <ol class="modal-test-drive-list">
              <% @vehicle.dealership.users.each do |dealer| %>
                <li class="modal-test-drive-item">
  
                  <%= f.hidden_field :recipient_id, value: dealer.id %>
                  
                  <%= button_tag(class: "test-drive-button") do %>
                    <div class="row vertical-align">
                      
                      <div class="col-md-3 avatar-and-online">
                        
                        <div class="test-drive-avatar avatar-general",
                             style="background-image: url(
                                     '<%= dealer.avatar.url(:thumb) %>')">
                        </div>
                        
                        <!--<(perc) if @vehicle.user.online? %>-->
                        <!--  <div class="online online-lg-primary hidden-xs"></div>-->
                        <!--<(perc) end %>-->
                      </div>
                      
                      <div class="col-md-9 test-drive-info">
                
                        <span class="test-drive-name hidden-xs">
                          <%= dealer.full_name %>
                        </span>
                                    
                        <span class="average-rating"></span>
                        
                        <span class="test-drive-reviews">
                          <% if @vehicle.dealership.present? %>
                            · <%= pluralize(@google_reviews.count, "review") %>
                          <% else %>
                            · <%= pluralize(@vehicle.reviews.count, "review") %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div id="vehicle-overview">
    <div class="vehicle-overview-content">
      <div class="row">
      
        <div class="col-md-7">
          <div class="vehicle-overview-text">
            
            <div class="vehicle-overview-title">
              
              <h1 class="vehicle-overview-heading visible-xs">
                <%= @vehicle.listing_name %>
              </h1>
              
              <div class="row vertical-align">
              
                <div class="col-md-2 col-xs-2">
                  
                  <% if @vehicle.dealership.present? %>
                    <%= link_to @vehicle.dealership do %>
                      <div class="vehicle-overview-avatar avatar-general"
                           style="background-image: url(
                                   '<%= @vehicle.dealership.photo.url() %>')">
                      </div>
                    <% end %>
                    
                  <% else %>
                    <%= link_to @vehicle.user do %>
                      <div class="vehicle-overview-avatar avatar-general"
                           style="background-image: url(
                                   '<%= @vehicle.user.avatar.url(:thumb) %>')">
                      </div>
                    <% end %>
                  <% end %>
                </div>
                
                <div class="col-md-10 col-xs-10">
  
                  <h1 class="vehicle-overview-heading hidden-xs">
                    <%= @vehicle.listing_name %>
                  </h1>
                  
                  <div class="vehicle-overview-subheading">
                    
                    <% if @vehicle.dealership.present? %>
                      <%= link_to @vehicle.dealership.dealership_name, 
                                  @vehicle.dealership,
                                  class: "vehicle-overview-subheading-content" %>
  
                    <% else %>
                      <%= link_to @vehicle.user.full_name, 
                                  @vehicle.user,
                                  class: "vehicle-overview-subheading-content" %>
                    <% end %>
                          
                    <span class="hidden-xs"> · </span>
                          
                    <span class="average-rating"></span>
                  </div>
                </div>
              </div>
            </div>
  
            <p class="vehicle-overview-description">
              <%= @vehicle.description_clean %>
            </p>
            
            <span class="vehicle-overview-expand">+ More</span>
            
            <div class="vehicle-overview-views">
              <div class="row vertical-align">
                
                <div class="col-md-2 col-xs-1">
                  
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/creativity-large.png", 
                                class: "hidden-xs") %>
                                
                  <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/creativity-small.png", 
                                class: "visible-xs") %>
                </div>
                
                <% if @vehicle.vehicle_views.count > 0 %>
                  <div class="col-md-10 col-xs-11">
                    <p class="vehicle-overview-views-info">
                      
                      <strong>
                        <% if @vehicle.dealership.present? %>
                          This
                        <% else %>
                          <%= @vehicle.user.first_name %>'s 
                        <% end %>
                        motorcycle is on people's minds.
                      </strong>
                      
                      <br>
                      
                      It's received 
                      <%= pluralize(@vehicle.vehicle_views.count, "view") %>.
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-md-offset-1">
    
          <div class="appointment hidden-xs">
            
            <% if @vehicle.user.present? %>
            
              <%= f.hidden_field :sender_id,           
                                  value: current_user.id if current_user %>
            
              <%= f.hidden_field :recipient_id, 
                                  value: @vehicle.user.id %>
                                 
              <%= f.hidden_field :next_contributor_id, 
                                  value: @vehicle.user.id %>

              <%= f.hidden_field :is_sender_anonymous, value: false %>
            
              <%= f.hidden_field :latest_message_read, value: false %>
            
              <%= f.hidden_field :sender_archived,     value: false %>
            
              <%= f.hidden_field :recipient_archived,  value: false %>
          
              <%= f.fields_for :appointments, Appointment.new do |ff| %>
            
                <% if @vehicle.availabilities.exists? %>
                  <a class="availability-link">Click for availability</a>
                <% end %>
                
                <!--@vehicle.dealership.present?-->
            
                <div class="form-element form-element-availability">
                    
                  <%= ff.text_field :date, 
                                    placeholder: "Test Drive", 
                                    id: "appointment-time",
                                    class: "form-control form-control-secondary" %>
                      
                  <i class="fa fa-calendar-o fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              
                <%= ff.hidden_field :status, value: "pending" %>
              
                <%= ff.hidden_field :seller_id, value: @vehicle.user.id %>

                <%= ff.hidden_field :buyer_id, 
                                    value: current_user.id if current_user %>
              
                <%= ff.hidden_field :vehicle_id, value: @vehicle.id %>
              <% end %>
            
              <%= f.submit "Book!", class: "btn btn-tertiary btn-appointment" %>
            
            <% else %>
            
              <%= f.hidden_field :sender_id,           
                                  value: current_user.id if current_user %>

              <%= f.hidden_field :is_sender_anonymous, value: false %>
            
              <%= f.hidden_field :latest_message_read, value: false %>
            
              <%= f.hidden_field :sender_archived,     value: false %>
            
              <%= f.hidden_field :recipient_archived,  value: false %>
              
              <%= f.fields_for :appointments, Appointment.new do |ff| %>
            
                <p class="test-drive-sidenav-info">
                  To book a drive, select a time and your preferred associate; 
                  <a class="hello">click for availability</a>.
                </p>

                <div class="form-element form-element-availability">
                    
                  <%= ff.text_field :date, 
                                    placeholder: "Test Drive", 
                                    id: "appointment-time",
                                    class: "form-control form-control-secondary" %>
                      
                  <i class="fa fa-calendar-o fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              
                <%= ff.hidden_field :status, value: "pending" %>
              
                <%= ff.hidden_field :seller_id, 
                                    value: @vehicle.dealership.users.first %>

                <%= ff.hidden_field :buyer_id, 
                                    value: current_user.id if current_user %>
              
                <%= ff.hidden_field :vehicle_id, value: @vehicle.id %>
                
                <div class="test-drive-sidenav-scroll-container">
                  <div class="test-drive-sidenav-scroll">
        
                    <i class="fa 
                              fa-chevron-left 
                              test-drive-sidenav-left"></i>
              
                    <i class="fa 
                              fa-chevron-right 
                              test-drive-sidenav-right"></i>
              
                    <ol class="test-drive-sidenav-list">
                      <%= render partial:    'test_drive_sidenav_item',
                                 collection: User.where(
                                               dealership_id: @vehicle.dealership_id
                                             ),
                                 as:         :dealer %>
                    </ol>
                  </div>
                </div>
              <% end %>
            
              <!--<div class="btn btn-tertiary btn-appointment">-->
              <!--  Book!-->
              <!--</div>-->
            <% end %>
          </div>
          
          <!--<div class="shortlist-scrolled hidden-xs">-->
            
          <!--  <span class="shortlist-scrolled-info">-->
          <!--    Add bikes to your shortlist by tapping "Love It" or "Maybe"-->
          <!--    to compare later.-->
          <!--  </span>-->
            
          <!--  <table  class="shortlist-buttons">-->
          <!--    <tr>-->
              
          <!--      <td class="shortlist-button">-->
          <!--        <(perc)= link_to favorite_vehicle_path(@vehicle, is_loved: true),-->
          <!--                    class: "btn-shortlist add-to-wish-list",-->
          <!--                    method: :put do %>-->
          <!--          <i class="fa fa-heart-o" aria-hidden="true"></i>-->
          <!--          Love It!-->
          <!--        <(perc) end %>-->
          <!--      </td>-->
                
          <!--      <td class="shortlist-button">-->
          <!--        <(perc)= link_to favorite_vehicle_path(@vehicle, is_liked: true),-->
          <!--                    class: "btn-shortlist add-to-wishlist",-->
          <!--                    method: :put do %>-->
          <!--          <i class="fa fa-check" aria-hidden="true"></i>-->
          <!--          Maybe-->
          <!--        <(perc) end %>-->
          <!--      </td>-->
                
          <!--      <td class="shortlist-button">-->
          <!--        <(perc)= link_to favorite_vehicle_path(@vehicle, -->
          <!--                                          is_disliked: true),-->
          <!--                    class: "btn-shortlist",-->
          <!--                    method: :put do %>-->
          <!--          <i class="fa fa-trash-o" aria-hidden="true"></i>-->
          <!--          Nope-->
          <!--        <(perc) end %>-->
          <!--      </td>-->
          <!--    </tr>-->
          <!--  </table>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="vehicle-details">
  <div class="vehicle-details-content">
    <div class="row">

      <div class="col-md-7">

        <div id="specifications">
          
          <h3 class="vehicle-details-title">Specifications</h3>
          
          <span class="vehicle-details-table-title">General</span>
          
          <table class="vehicle-details-table">

            <% if @vehicle.vehicle_make.present? || 
                  @vehicle.vehicle_make_name.present? %>
              <tr>
                
                <td class="vehicle-details-table-subtitle">Type</td>
                
                <td>
                  <strong>
                    <% if @vehicle.vehicle_make.present? %>
                      <%= @vehicle.vehicle_make.name %>
                      <%= @vehicle.vehicle_model.name if @vehicle.vehicle_model.present? %>
                      <%= @vehicle.trim_details if @vehicle.trim_details.present? %>
                    <% else %>
                      <%= @vehicle.vehicle_make_name %>
                      <%= @vehicle.vehicle_model_name if @vehicle.vehicle_make_name.present? %>
                      <%= @vehicle.trim_details if @vehicle.trim_details.present? %>
                    <% end %>
                  </strong>
                </td>
              </tr>
            <% end %>
                
            <% if @vehicle.vehicle_model.present? ||
                  @vehicle.body_style.present? %>
              <tr>
                
                <td>Body Style</td>
                
                <td>
                  <strong>
                    <% if @vehicle.vehicle_model.present? %>
                      <%= @vehicle.vehicle_model.vehicle_type %>
                    <% elsif @vehicle.body_style.present? %>
                      <%= @vehicle.body_style %>
                    <% end %>
                  </strong>
                </td>
              </tr>
            <% end %>
            
            <% if @vehicle.color.present? %>    
              <tr>
                <td>Color</td>
                <td><strong><%= @vehicle.color %></strong></td>
              </tr>  
            <% end %>
            
            <% if @vehicle.year.present? %>    
              <tr>
                <td>Year</td>
                <td><strong><%= @vehicle.year %></strong></td>
              </tr>
            <% end %>
            
            <% if @vehicle.mileage_numeric.present? %>    
              <tr>
                <td>Mileage</td>
                <td><strong><%= @vehicle.mileage_numeric %> mi</strong></td>
              </tr>
            <% end %>
                
            <% if @vehicle.vin.present? %>
              <tr>
                <td>VIN</td>
                <td><strong><%= @vehicle.vin %></strong></td>
              </tr>
            <% end %>
            
            <% if @vehicle.stock_number.present? %>    
              <tr>
                <td>Stock No.</td>
                <td><strong><%= @vehicle.stock_number %></strong></td>
              </tr>
            <% end %>
          </table> 
          
          <% if @vehicle.engine.present? || @vehicle.engine_type.present? || 
                @vehicle.engine_size.present? || 
                @vehicle.displacement.present? || 
                @vehicle.compression_ratio.present? || 
                @vehicle.bore_stroke.present? || @vehicle.bore.present? || 
                @vehicle.stroke.present? || @vehicle.transmission.present? ||
                @vehicle.primary_drive.present? || 
                @vehicle.final_drive.present? %>
                
            <span class="vehicle-details-table-title">Engine</span>
              
            <table class="vehicle-details-table">
              
              <% if @vehicle.engine.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Engine</td>
                  <td><strong><%= @vehicle.engine %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.engine_type.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Engine Type</td>
                  <td><strong><%= @vehicle.engine_type %></strong></td>
                </tr>
              <% end %>
                  
              <% if @vehicle.engine_size.present? %>    
                <tr>
                  <td class="vehicle-details-table-subtitle">Engine Size</td>
                  <td><strong><%= @vehicle.engine_size %> cc</strong></td>
                </tr>
              <% end %>
                  
              <% if @vehicle.displacement.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Displacement</td>
                  <td><strong><%= @vehicle.displacement%></strong></td>
                </tr>
              <% end %>
                  
              <% if @vehicle.compression_ratio.present? %>
                <tr>
                  
                  <td class="vehicle-details-table-subtitle">
                    Compression Ratio
                  </td>
                  
                  <td><strong><%= @vehicle.compression_ratio %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.bore_stroke.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Bore X Stroke</td>
                  <td><strong><%= @vehicle.bore_stroke %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.bore.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Bore</td>
                  <td><strong><%= @vehicle.bore %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.stroke.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Stroke</td>
                  <td><strong><%= @vehicle.stroke %></strong></td>
                </tr>
              <% end %>
                
              <% if @vehicle.transmission.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Transmission</td>
                  <td><strong><%= @vehicle.transmission %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.primary_drive.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Primary Drive</td>
                  <td><strong><%= @vehicle.primary_drive %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.final_drive.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Final Drive</td>
                  <td><strong><%= @vehicle.final_drive %></strong></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          
          <% if @vehicle.fuel_type.present? || 
                @vehicle.fuel_system.present? || 
                @vehicle.fuel_capacity.present? %>
                
            <span class="vehicle-details-table-title">Fuel</span>
            
            <table class="vehicle-details-table">
              
              <% if @vehicle.fuel_type.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Fuel Type</td>
                  <td><strong><%= @vehicle.fuel_type %></strong></td>
                </tr>
              <% end %>
  
              <% if @vehicle.fuel_system.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Fuel System</td>
                  <td><strong><%= @vehicle.fuel_system %></strong></td>
                </tr>
              <% end %>
                  
              <% if @vehicle.fuel_capacity.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Fuel Capacity</td>
                  <td><strong><%= @vehicle.fuel_capacity %></strong></td>
                </tr>
              <% end %>  
            </table> 
          <% end %>
          
          <% if @vehicle.brakes.present? || @vehicle.front_brakes.present? ||
                @vehicle.rear_brakes.present? %>
          
            <span class="vehicle-details-table-title">Brakes</span>
            
            <table class="vehicle-details-table">
              
              <% if @vehicle.brakes.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Brakes</td>
                  <td><strong><%= @vehicle.brakes %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.front_brakes.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Front Brakes</td>
                  <td><strong><%= @vehicle.front_brakes %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.rear_brakes.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Rear Brakes</td>
                  <td><strong><%= @vehicle.rear_brakes %></strong></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          
          <% if @vehicle.suspension.present? || 
                @vehicle.front_suspension.present? ||
                @vehicle.rear_suspension.present? %>
            
            <span class="vehicle-details-table-title">Suspension</span>
            
            <table class="vehicle-details-table">
              
              <% if @vehicle.suspension.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Suspension</td>
                  <td><strong><%= @vehicle.suspension %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.front_suspension.present? %>
                <tr>
                  
                  <td class="vehicle-details-table-subtitle">
                    Front Suspension
                  </td>
                  
                  <td><strong><%= @vehicle.front_suspension %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.rear_suspension.present? %>
                <tr>
                  
                  <td class="vehicle-details-table-subtitle">
                    Rear Suspension
                  </td>
                  
                  <td><strong><%= @vehicle.rear_suspension %></strong></td>
                </tr>
              <% end %>
            </table>
          <% end %>  
          
          <% if @vehicle.tires.present? || @vehicle.front_tire.present? ||
                @vehicle.rear_tire.present? %>
                
            <span class="vehicle-details-table-title">Tires</span>
            
            <table class="vehicle-details-table">
                
              <% if @vehicle.tires.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Tires</td>
                  <td><strong><%= @vehicle.tires %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.front_tire.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Front Tire</td>
                  <td><strong><%= @vehicle.front_tire %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.rear_tire.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Rear Tire</td>
                  <td><strong><%= @vehicle.rear_tire %></strong></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          
          <% if @vehicle.dry_weight.present? || @vehicle.curb_weight.present? ||
                @vehicle.curb_weight.present? || @vehicle.rake_trail.present? ||
                @vehicle.rake.present? || @vehicle.trail.present? ||
                @vehicle.wheelbase.present? || 
                @vehicle.ground_clearance.present? ||
                @vehicle.seat_height.present? || 
                @vehicle.seat_height_unladen.present? ||
                @vehicle.seat_height_laden.present? %>
            
            <span class="vehicle-details-table-title">Dimensions</span>
            
            <table class="vehicle-details-table">
              
              <% if @vehicle.dry_weight.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Dry Weight</td>
                  <td><strong><%= @vehicle.dry_weight %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.curb_weight.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Curb Weight</td>
                  <td><strong><%= @vehicle.curb_weight %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.rake_trail.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Rake X Trail</td>
                  <td><strong><%= @vehicle.rake_trail %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.rake.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Rake</td>
                  <td><strong><%= @vehicle.rake %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.trail.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Trail</td>
                  <td><strong><%= @vehicle.trail %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.wheelbase.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Wheelbase</td>
                  <td><strong><%= @vehicle.wheelbase %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.ground_clearance.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Ground Clearance</td>
                  <td><strong><%= @vehicle.ground_clearance %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.seat_height.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Seat Height</td>
                  <td><strong><%= @vehicle.seat_height %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.seat_height_unladen.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Seat Height, Unladen</td>
                  <td><strong><%= @vehicle.seat_height_unladen %></strong></td>
                </tr>
              <% end %>
              
              <% if @vehicle.seat_height_laden.present? %>
                <tr>
                  <td class="vehicle-details-table-subtitle">Seat Height, Laden</td>
                  <td><strong><%= @vehicle.seat_height_laden %></strong></td>
                </tr>
              <% end %>  
            </table>
          <% end %>
        </div>

        <% if @vehicle.dealership.blank? %>      
          <div id="features">
            
            <h3 class="vehicle-details-title">Features</h3>
            
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cruise_control %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                    </td>
                    
                    <td>Cruise Control</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.am_fm %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-signal" aria-hidden="true"></i>
                    </td>
                    
                    <td>AM / FM Radio</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cb_radio %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-microphone" aria-hidden="true"></i>
                    </td>
                    
                    <td>CB Radio</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.navigation_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </td>
                    
                    <td>Navigation System</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.heated_seats %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-thermometer-three-quarters" 
                         aria-hidden="true"></i>
                    </td>
                    
                    <td>Heated Seats</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.heated_hand_grips %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-fire" aria-hidden="true"></i>
                    </td>
                    
                    <td>Heated Hand Grips</td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.alarm_system %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </td>
                    
                    <td>Alarm System</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.saddlebags %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </td>
                    
                    <td>Saddlebags</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.trunk %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </td>
                    
                    <td>Trunk</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.tow_hitch %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-plug" aria-hidden="true"></i>
                    </td>
                    
                    <td>Tow Hitch</td>
                  </tr>
                  
                  <tr class="<%= 'unavailable-feature' if 
                                 !@vehicle.cycle_cover %>">
                    
                    <td class="features-table-column">
                      <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </td>
                    
                    <td>Cycle Cover</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        <% end %>

        <div id="listing-score">
        
          <h3 class="vehicle-details-title">Listing Score Breakdown</h3>
          
          <p class="vehicle-details-info">
            This listing was posted 
            <%= time_ago_in_words(@vehicle.created_at) %> ago and has a score of 
            <span class="vehicle-details-info-red"><%= @vehicle.listing_score.overall_score %></span>. 
            The listing quality and dealership scores are 
            <span class="vehicle-details-info-red">outstanding</span>. 
            Some of the contributing factors are listed below.
          </p>
          
          <table class="vehicle-details-table">
            
            <tr>
              
              <% if @vehicle.listing_score.location_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
                
                <td>
                  Listing location is an exact address.
                </td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.features_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
                
                <td>Features are properly noted.</td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.spec_score >= 67 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>Specifications are properly noted.</td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.vin_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>VIN is properly noted.</td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.dealership.present? &&
                    @vehicle.listing_score.certified_dealer_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>
                  Vehicle is being sold by a certified dealer.
                </td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.dealership.present? &&
                    @vehicle.listing_score.direct_listing_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>
                  Dealer sends a direct listing feed.  
                </td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.test_drive_score == 100 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>
                  Seller accepts test drive requests on demand.
                </td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.photos_score >= 67 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>
                  Listing has plenty of photos of the bike.
                </td>
              <% end %>
            </tr>
            
            <tr>
              
              <% if @vehicle.listing_score.recently_posted_score >= 67 %>
                    
                <td>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </td>
              
                <td>
                  Listing was recently posted or "bumped".
                </td>
              <% end %>
            </tr>
          </table>
        </div>

        <div id="availability">
          
          <% if @vehicle.dealership.present? %>
        
            <h3 class="vehicle-details-title">Hours of Operation</h3>
        
            <div class="row">
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  <tr>
                  
                    <td class="specifications-table-column">Monday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Monday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Monday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Monday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                  
                  <tr>
                    
                    <td>Tuesday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Tuesday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Tuesday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Tuesday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                  
                  <tr>
                    
                    <td>Wednesday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Wednesday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Wednesday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Wednesday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                  
                  <tr>
                    
                    <td>Thursday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Thursday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Thursday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Thursday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                </table>
              </div>
              
              <div class="col-md-6">
                <table class="vehicle-details-table">
                  
                  <tr>
                    
                    <td class="specifications-table-column">Friday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Friday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Friday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Friday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                  
                  <tr>
                    
                    <td>Saturday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Saturday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Saturday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Saturday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                  
                  <tr>
                    
                    <td>Sunday</td>
                    
                    <td><strong>
                      
                      <% if @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Sunday").
                              first.
                              is_closed == true %> 
                        Closed
                        
                      <% else %>
                      
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Sunday").
                              first.
                              open_time.
                              strftime("%-l:%M%p") %> - 
                        
                        <%= @vehicle.
                              dealership.
                              business_hours.
                              where(day: "Sunday").
                              first.
                              close_time.
                              strftime("%-l:%M%p") %>
                      <% end %>
                    </strong></td>
                  </tr>
                </table>
              </div>
            </div>
            
          <% elsif @vehicle.availabilities.exists? %>
          
            <h3 class="vehicle-details-title">General Availability</h3>
            
            <div class="row">
              <%= render partial:    "availability", 
                         collection: @availabilities %>
            </div>
          <% end %>
        </div>

        <% if @vehicle.dealership.present? %>
          <div class="negotiate btn-negotiate-dealer hidden-xs">
            <div class="row vertical-align">
            
              <div class="col-md-2">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-large.png") %>
              </div>
                
              <div class="col-md-10">
                <p class="negotiate-info">
                  
                  <strong>
                    
                    Make 
                    
                    <% if @vehicle.user.present? %>
                      <%= @vehicle.user.first_name %>
                      
                    <% else %>
                      <%= @vehicle.dealership.dealership_name %>
                    <% end %>
                    
                    an offer.
                  </strong>
                  
                  <br>
                  
                  Your identity will remain anonymous until an offer is 
                  accepted.
                </p>
              </div>
            </div>
          </div>
          
        <% else %>
          <%= form_for @conversation, 
                       url: conversations_path(@conversation), 
                       method: :post do |f| %>
                   
            <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                           current_user %>
            
            <%= f.hidden_field :recipient_id,       value: @user.id %>
            
            <%= f.hidden_field :sender_archived,    value: false %>
          
            <%= f.hidden_field :recipient_archived, value: false %>
            
            <%= button_tag(class: "btn-negotiate-private hidden-xs") do %>
              <div class="negotiate">
                <div class="row vertical-align">
                  
                  <div class="col-md-2">
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-large.png") %>
                  </div>
                  
                  <div class="col-md-10">
                    <p class="negotiate-info">
                      
                      <strong>
                        Make <%= @vehicle.user.first_name %> an offer.
                      </strong>
                      
                      <br>
                      
                      Your identity will remain anonymous until an offer is 
                      accepted.
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>  

        <div class="vehicle-details-test-drive visible-xs">
          <div class="row vertical-align">
            
            <div class="col-xs-1">
              <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/test-drives-small.png" ) %>
            </div>
            
            <div class="col-xs-11">
              <p class="vehicle-details-test-drive-info">
                <strong>Book A Test Drive</strong>
                <br>
                Interested in this vehicle? Book a test drive, instantly!
              </p>
            </div>
          </div>
        </div>
        
        <% if @vehicle.dealership.present? %>  
          <div class="vehicle-details-purchase visible-xs">
            <div class="row vertical-align">
              
              <div class="col-xs-1">
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/deal-small.png" ) %>
              </div>
              
              <div class="col-xs-11">
                <p class="vehicle-details-purchase-info">
                  <strong>Make A Purchase</strong>
                  <br>
                  Complete our online paperwork and reserve this vehicle for
                  purchase for 72 hours.
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="col-md-1">
        <!--intentionally left empty-->
      </div>
      
      <div id="vehicle-scrolled" class="col-md-4">
          
        <div class="vehicle-scrolled-content hidden-xs">
            
          <div class="inquiry-title">
            <span class="inquiry-title-content">
              Get the Nitty Gritty
            </span>
          </div>
          
          <div class="inquiries">

            <p class="inquiries-info">
              What are you most curious about?
            </p>
            
            <% if logged_in? %>
            
              <%= form_for @conversation do |f| %>
                
                <%= f.fields_for :vehicle_inquiries, VehicleInquiry.new do |ff| %>
                  
                  <ul class="installed-options-list">
                    
                    <li>
                      <%= ff.check_box :price %>
                      <%= ff.label :price, "Pricing" %> 
                    </li>
                    
                    <li>
                      <%= ff.check_box :special_offers %>
                      <%= ff.label :special_offers, "Special Offers" %> 
                    </li>
                    
                    <li>
                      <%= ff.check_box :availability %>
                      <%= ff.label :availability, "Availability" %> 
                    </li>
                    
                    <li>
                      <%= ff.check_box :condition %>
                      <%= ff.label :condition, "Condition" %> 
                    </li>
                    
                    <li>
                      <%= ff.check_box :vehicle_history %>
                      <%= ff.label :vehicle_history, "Vehicle History" %> 
                    </li>
                    
                    <li>
                      <%= ff.check_box :test_drives %>
                      <%= ff.label :test_drives, "Schedule A Test Drive" %> 
                    </li>
                    
                    <%= ff.hidden_field :user_id, value: current_user.id %>
                    
                    <%= ff.hidden_field :vehicle_id, value: @vehicle.id %>
                  </ul>
                  
                  <%= ff.hidden_field :email, value: current_user.email %>
                  
                  <% if current_user.first_name.blank? ||
                        current_user.last_name.blank? %>
                    <div class="inquiries-contact">
                    
                    <div class="row">
        
                      <div class="col-xs-6">
                        <div class="form-group form-group-primary">
                          <%= ff.text_field :first_name, 
                                           placeholder: "First name", 
                                           class: 'form-control form-control-primary' %>
                        </div>
                      </div>
                      
                      <div class="col-xs-6">
                        <div class="form-group form-group-primary">
                          <%= ff.text_field :last_name, 
                                           placeholder: "Last name", 
                                           class: 'form-control form-control-primary' %>
                        </div>
                      </div>
                    </div>
                  
                  <% else %>
                  
                    <%= ff.hidden_field :first_name, 
                                        value: current_user.first_name %>
                                        
                    <%= ff.hidden_field :last_name, 
                                        value: current_user.last_name %>
                  <% end %>
                <% end %>

                <%= f.hidden_field :sender_id, value: current_user.id %>

                <%= f.hidden_field :is_sender_anonymous, value: false %>
              
                <%= f.hidden_field :latest_message_read, value: false %>
              
                <%= f.hidden_field :sender_archived,     value: false %>
              
                <%= f.hidden_field :recipient_archived,  value: false %>
                
                <% if @vehicle.dealership.present? %>
                  
                  <div class="test-drive-sidenav-scroll-container">
                    <div class="test-drive-sidenav-scroll">
          
                      <i class="fa 
                                fa-chevron-left 
                                test-drive-sidenav-left"></i>
                
                      <i class="fa 
                                fa-chevron-right 
                                test-drive-sidenav-right"></i>
                
                      <ol class="nitty-gritty-sidenav-list">
                        <%= render partial:    'nitty_gritty_item_logged_in',
                                   collection: User.where(
                                                 dealership_id: @vehicle.dealership_id
                                               ),
                                   as:         :dealer,
                                   locals:     { f: f } %>
                      </ol>
                    </div>
                  </div>
                
                <% else %>
                  <%= f.hidden_field :recipient_id, value: @vehicle.user.id %>
                  <%= f.submit "Submit", class: "btn btn-primary" %>
                <% end %>
              <% end %>
              
            <% else %>
              <%= form_for User.new do |f| %>

                <div class="row">
    
                  <div class="col-xs-6">
                    <div class="form-group form-group-primary">
                      <%= f.text_field :first_name, 
                                       placeholder: "First name", 
                                       class: 'form-control form-control-primary' %>
                    </div>
                  </div>
                  
                  <div class="col-xs-6">
                    <div class="form-group form-group-primary">
                      <%= f.text_field :last_name, 
                                       placeholder: "Last name", 
                                       class: 'form-control form-control-primary' %>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group form-group-primary">
                       <%= f.email_field :email, 
                                         placeholder: "Email address", 
                                         class: 'form-control 
                                                form-control-primary' %>
                    </div>
                  </div>
                </div>
                
                <%= f.fields_for :initiated_conversations, Conversation.new do |ff| %>
                
                  <%= ff.fields_for :vehicle_inquiries, VehicleInquiry.new do |fff| %>
                  
                    <ul class="installed-options-list">
                      
                      <li>
                        <%= fff.check_box :price %>
                        <%= fff.label :price, "Pricing" %> 
                      </li>
                      
                      <li>
                        <%= fff.check_box :special_offers %>
                        <%= fff.label :special_offers, "Special Offers" %> 
                      </li>
                      
                      <li>
                        <%= fff.check_box :availability %>
                        <%= fff.label :availability, "Availability" %> 
                      </li>
                      
                      <li>
                        <%= fff.check_box :condition %>
                        <%= fff.label :condition, "Condition" %> 
                      </li>
                      
                      <li>
                        <%= fff.check_box :vehicle_history %>
                        <%= fff.label :vehicle_history, "Vehicle History" %> 
                      </li>
                      
                      <li>
                        <%= fff.check_box :test_drives %>
                        <%= fff.label :test_drives, "Schedule A Test Drive" %> 
                      </li>
                      
                      <%= fff.hidden_field :user_id, value: 1 %>
                      
                      <%= fff.hidden_field :vehicle_id, value: @vehicle.id %>
                    </ul>
                    
                    <%= fff.hidden_field :email, value: "help@help.com" %>
                    
                    <%= fff.hidden_field :first_name, value: "Help" %>
                          
                    <%= fff.hidden_field :last_name, value: "Help" %>
                  <% end %>
                  
                  <%= ff.hidden_field :is_sender_anonymous, value: false %>
                
                  <%= ff.hidden_field :latest_message_read, value: false %>
                
                  <%= ff.hidden_field :sender_archived,     value: false %>
                
                  <%= ff.hidden_field :recipient_archived,  value: false %>
                
                  <% if @vehicle.dealership.present? %>
                    <div class="test-drive-sidenav-scroll-container">
                      <div class="test-drive-sidenav-scroll">
            
                        <i class="fa 
                                  fa-chevron-left 
                                  test-drive-sidenav-left"></i>
                  
                        <i class="fa 
                                  fa-chevron-right 
                                  test-drive-sidenav-right"></i>
                  
                        <ol class="nitty-gritty-sidenav-list">
                          <%= render partial:    'nitty_gritty_item_signed_out',
                                     collection: User.where(
                                                   dealership_id: @vehicle.dealership_id
                                                 ),
                                     as:         :dealer,
                                     locals:     { ff: ff } %>
                        </ol>
                      </div>
                    </div>
                  
                  <% else %>
                    <%= ff.hidden_field :recipient_id, value: @vehicle.user.id %>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                  <% end %>
                <% end %>
                
                <!--<(perc)= f.submit "Forward" %>-->
              <% end %>
            <% end %>

            <!--<(perc) if @vehicle.user.present? %>-->
            <!--  <(perc)= form_for User.new do |f| %>-->
                
            <!--    <(perc)= f.fields_for :conversations, Conversation.new do |ff| %>-->
            <!--      <div class="inquiries-options">-->
            <!--        <(perc)= ff.fields_for :messages, Message.new do |fff| %>-->
            <!--          <ul class="installed-options-list">-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_price %>-->
            <!--              <(perc)= fff.label :is_price, "Pricing" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_special_offers %>-->
            <!--              <(perc)= fff.label :is_special_offers, "Special Offers" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_availability %>-->
            <!--              <(perc)= fff.label :is_availability, "Availability" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_condition %>-->
            <!--              <(perc)= fff.label :is_condition, "Condition" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_vehicle_history %>-->
            <!--              <(perc)= fff.label :is_vehicle_history, "Vehicle History" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_test_drive %>-->
            <!--              <(perc)= fff.label :is_test_drive, "Schedule A Test Drive" %> -->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        <(perc) end %>-->
            <!--      </div>-->
            <!--    <(perc) end %>-->
                
            <!--    <div class="inquiries-contact">-->
                  
            <!--      <div class="row">-->
      
            <!--        <div class="col-md-6">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :first_name, -->
            <!--                             placeholder: "First name", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
                    
            <!--        <div class="col-md-6">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :last_name, -->
            <!--                             placeholder: "Last name", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
                    
            <!--      <div class="row">-->
                    
            <!--        <div class="col-md-12">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :email, -->
            <!--                             placeholder: "Email address", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
            <!--    </div>-->
                
            <!--    <(perc)= f.fields_for :conversations, Conversation.new do |ff| %>-->
                
            <!--    <(perc) end %>-->
            <!--  <(perc) end %>-->
            
            <!--<(perc) else %>-->
            <!--  <(perc)= form_for User.new do |f| %>-->
                
            <!--    <(perc)= f.fields_for :conversations, Conversation.new do |ff| %>-->
            <!--      <div class="inquiries-options">-->
            <!--        <(perc)= ff.fields_for :messages, Message.new do |fff| %>-->
            <!--          <ul class="installed-options-list">-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_price %>-->
            <!--              <(perc)= fff.label :is_price, "Pricing" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_special_offers %>-->
            <!--              <(perc)= fff.label :is_special_offers, "Special Offers" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_availability %>-->
            <!--              <(perc)= fff.label :is_availability, "Availability" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_condition %>-->
            <!--              <(perc)= fff.label :is_condition, "Condition" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_vehicle_history %>-->
            <!--              <(perc)= fff.label :is_vehicle_history, "Vehicle History" %> -->
            <!--            </li>-->
                        
            <!--            <li>-->
            <!--              <(perc)= fff.check_box :is_test_drive %>-->
            <!--              <(perc)= fff.label :is_test_drive, "Schedule A Test Drive" %> -->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        <(perc) end %>-->
            <!--      </div>-->
            <!--    <(perc) end %>-->
                
            <!--    <div class="inquiries-contact">-->
                  
            <!--      <div class="row">-->
      
            <!--        <div class="col-md-6">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :first_name, -->
            <!--                             placeholder: "First name", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
                    
            <!--        <div class="col-md-6">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :last_name, -->
            <!--                             placeholder: "Last name", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
                    
            <!--      <div class="row">-->
                    
            <!--        <div class="col-md-12">-->
            <!--          <div class="form-group form-group-primary">-->
            <!--            <(perc)= f.text_field :email, -->
            <!--                             placeholder: "Email address", -->
            <!--                             class: 'form-control form-control-primary' %>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
            <!--    </div>-->
                
            <!--    <(perc)= f.fields_for :conversations, Conversation.new do |ff| %>-->
                
            <!--      <p class="inquiries-info">-->
            <!--        Please select the associate you would most like to deal -->
            <!--        with.-->
            <!--      </p>-->
                
            <!--      <div class="test-drive-sidenav-scroll-container">-->
            <!--        <div class="test-drive-sidenav-scroll">-->
          
            <!--          <i class="fa -->
            <!--                    fa-chevron-left -->
            <!--                    test-drive-sidenav-left"></i>-->
                
            <!--          <i class="fa -->
            <!--                    fa-chevron-right -->
            <!--                    test-drive-sidenav-right"></i>-->
                
            <!--          <ol class="test-drive-sidenav-list">-->
            <!--            <(perc)= render partial:    'test_drive_sidenav_item',-->
            <!--                       collection: User.where(-->
            <!--                                     dealership_id: @vehicle.dealership_id-->
            <!--                                   ),-->
            <!--                       as:         :dealer %>-->
            <!--          </ol>-->
            <!--        </div>-->
            <!--      </div>-->
            <!--    <(perc) end %>-->
            <!--  <(perc) end %>-->

            
                
              <!--  <(perc) if logged_in? %>-->
                  
              <!--  <(perc) else %>-->
                  
              <!--  <(perc) end %>-->
                
              <!--  <span class="questions-info">-->
              <!--    Select your preferred associate.-->
              <!--  </span>-->
                
              <!--  <div class="test-drive-sidenav-scroll-container">-->
              <!--    <div class="test-drive-sidenav-scroll">-->
        
              <!--      <i class="fa -->
              <!--                fa-chevron-left -->
              <!--                test-drive-sidenav-left"></i>-->
              
              <!--      <i class="fa -->
              <!--                fa-chevron-right -->
              <!--                test-drive-sidenav-right"></i>-->
              
              <!--      <ol class="test-drive-sidenav-list">-->
              <!--        <(perc)= render partial:    'test_drive_sidenav_item',-->
              <!--                   collection: User.where(-->
              <!--                                 dealership_id: @vehicle.dealership_id-->
              <!--                               ),-->
              <!--                   as:         :dealer %>-->
              <!--      </ol>-->
              <!--    </div>-->
              <!--  </div>-->
              <!--<(perc) end %>-->
            <!--< end %>-->
            </div>
          </div>
          
          <div class="shortlist-scrolled hidden-xs">
            
            <span class="shortlist-scrolled-info">
              Add motorcycles to your shortlist by tapping "Love It" or "Maybe"
              to compare later.
            </span>
            
            <table  class="shortlist-buttons">
              <tr>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, is_loved: true),
                              class: "btn-shortlist add-to-wish-list",
                              method: :put do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    Love It!
                  <% end %>
                </td>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, is_liked: true),
                              class: "btn-shortlist add-to-wish-list",
                              method: :put do %>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Maybe
                  <% end %>
                </td>
                
                <td class="shortlist-button">
                  <%= link_to favorite_vehicle_path(@vehicle, 
                                                    is_disliked: true),
                              class: "btn-shortlist",
                              method: :put do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Nope
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
          
          <!--<(perc)= link_to favorite_vehicle_path(@vehicle), -->
          <!--            class: "vehicle-scrolled-link",-->
          <!--            method: :put do %>-->
                      
          <!--  <i class="fa fa-heart-o" -->
          <!--    aria-hidden="true"></i> -->
                 
          <!--  Add to Shortlist-->
          <!--<(perc) end %>-->
            
        <!--<div class="appointment-scrolled">-->
        <!--  <(perc)= link_to '#vehicle-overview', -->
        <!--      class: "btn btn-primary btn-primary-scrolled" do %>-->
        <!--    <i class="fa fa-arrow-up up-button-icon" -->
        <!--       aria-hidden="true"></i> -->
        <!--    Test Drive-->
        <!--  <(perc) end %>-->
        <!--</div>-->
        
        <!--<div class="products-scrolled">-->
        <!--  <span class="products-scrolled-title">1 Additional Product</span>-->
        <!--  <(perc)= link_to "View Details", '#', class: "products-scrolled-link" %>-->
        <!--  <p class="products-scrolled-info">Spoiler at reduced cost</p>-->
        <!--</div>-->

        <!--<(perc)= link_to '#' do %>-->
        <!--  <p class="wish-list-scrolled">-->
        <!--    <i class="fa fa-heart wish-list-link-icon" aria-hidden="true"></i>-->
        <!--    Add to Wish List-->
        <!--  </p>-->
        <!--<(perc) end %>-->
      </div>
    </div>
  </div>
</div>

<div id="gallery">
  <div class="row gallery-row-primary">
    
    <div class="col-md-4 col-xs-6 gallery-photo-container">
      <% if @photos.length > 0 %>
        <a caption="<= @vehicle.listing_name %>" href='javascript:void(0)'>
          <img class="gallery-photo" src="<%= @photos[0].image.url() %>">
        </a>
      <% end %>
    </div>
    
    <div class="col-md-8 col-xs-6">
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 1 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[1].image.url() %>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 3 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[3].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-6 hidden-xs gallery-photo-container">
          <% if @photos.length > 5 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[5].image.url()%>">
            </a>
          <% end %>
        </div> 
      </div>
      
      <div class="row gallery-row-secondary">
        
        <div class="col-md-3 gallery-photo-container">
          <% if @photos.length > 2 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[2].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 4 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[4].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-md-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 6 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[6].image.url()%>">
            </a>
          <% end %>
        </div>
        
        <div class="col-xs-3 hidden-xs gallery-photo-container">
          <% if @photos.length > 7 %>
            <a caption="<%= @vehicle.listing_name %>" href='javascript:void(0)'>
              <img class="gallery-photo" src="<%= @photos[7].image.url()%>">
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div id="reviews">
  <div class="reviews-content">
    
    <h2 class="reviews-title">Reviews</h2>
    
    <% if @reviews.present? || @google_reviews.present? %>
      <div class="row reviews-summary">
        
        <div class="col-md-4">
          
          <h3 class="reviews-subheading">Average Rating</h3>
          
          <div class="row vertical-align">
            
            <div class="col-xs-3">
              <div class="average-rating-number">
                
                <% if @vehicle.dealership.present? %> 
                  <%= @vehicle.dealership.google_place_rating %>
                <% else %>
                  <%= @vehicle.average_rating %>
                <% end %>
              </div>
            </div>
            
            <div class="col-xs-9">
              
              <div class="average-rating"></div>
              
              <span class="number-of-reviews">
                <% if @vehicle.dealership.present? %> 
                  (based on <%= pluralize(@google_reviews.count, "review") %>)
                <% else %>
                  (based on <%= pluralize(@vehicle.reviews.count, "review") %>)
                <% end %>
              </span> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Pros</h3>
            
            <ul class="pros-cons-list-content">
              <!--<li>Security & safety (51)</li>-->
              <!--<li>Location (45)</li>-->
              <!--<li>Management / staff (40)</li>-->
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="pros-cons-list">
            
            <h3 class="reviews-subheading">Cons</h3>
            
            <ul class="pros-cons-list-content">
              <li>None Listed Yet</li>
            </ul>
          </div>
        </div>
      </div>
      
      <%= render 'reviews/form' if @tested && !@hasReview %>
      
      <ol class="reviews-list">
        <%= render 'reviews_list' %>
      </ol>
      
    <% else %>
    
      <% if @tested && !@hasReview %>
        <%= render 'reviews/form' %>
      
      <% else %>
        <div class="empty-list">
          
          <i class="fa fa-balance-scale fa-4x empty-list-icon" 
             aria-hidden="true"></i>
             
          <p class="empty-list-info">No reviews for this motorcycle yet</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-and-brochure">
  <div class="row map-and-brochure-content">
    
    <% if @vehicle.dealership.present? %>
      <div class="vehicle-map-address">
        <strong>
          <%= @vehicle.dealership.dealership_name %>
        </strong>
          <br>
        <%= @vehicle.street_address %>, <!--<(perc)= @vehicle.building %>-->
          <br>
        <%= @vehicle.city %>, <%= @vehicle.state %> 
      </div>
    <% end %>
    
    <div class="col-md-6" id="vehicle-map">
    </div>
    
    <% if @vehicle.vehicle_make.present? %>
      <%= link_to posts_vehicle_make_path(@vehicle.vehicle_make),
                  class: "brochure",
                  target: "_blank" do %>
        <div class="col-md-6 brochure-image",
             style="background-image: url(
                  '<%= @vehicle.vehicle_make.cover_photo_url %>')">
          <div class="brochure-detail">
            
            <h2 class="brochure-detail-title">
              <%= @vehicle.vehicle_make.name %>
            </h2>
            
            <h3 class="brochure-detail-info">Community Forums</h3>
          </div>
        </div>
      <% end %>
    
    <% else %>
      <%= link_to discussions_path,
                  class: "brochure",
                  target: "_blank" do %>
        <div class="col-md-6 brochure-image",
             style="background-image: url(
                  'https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/dealer-basics.jpg')">
          <div class="brochure-detail">
            
            <h2 class="brochure-detail-title">
              Forums
            </h2>
            
            <h3 class="brochure-detail-info">
              Connect With Motorcycle Enthusiasts
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

  <div id="related-vehicles">
    
  <% if @related_vehicles.count == 3 %>
      <div class="related-vehicles-content hidden-xs">
        
        <h2 class="related-vehicles-title">
          Related Motorcycles
        </h2>
        
        <div class="related-vehicles-list">
          <ol class="related-vehicles-list-content">
            <%= render partial:    "related_vehicle",
                       collection: @related_vehicles %>
          </ol>
        </div>
      </div>
  <% end %>
  
  <% if @related_vehicles_mobile.count == 4 %>
      
      <div class="related-vehicles-content visible-xs">
        
        <h2 class="related-vehicles-title">
          Related Motorcycles
        </h2>
        
        <div class="related-vehicles-mobile">
          <ol class="related-vehicles-mobile-content">
            <%= render partial:    "related_vehicle_mobile",
                       collection: @related_vehicles_mobile %>
          </ol>
        </div>
      </div>
    <% end %>
</div>

<!--<= link_to new_club_path, class: "single-action hidden-xs" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--< end %>-->

<!--<(perc) if @vehicle.dealership.present? %>-->
<!--  <div class="single-action btn-negotiate-dealer">-->
<!--    <i class='fa fa-lg fa-comments-o single-action-icon'></i>-->
<!--  </div>-->

<!--<(perc) else %>-->
<!--  <div class="single-action">-->
<!--    <(perc)= form_for @conversation, -->
<!--                 url: conversations_path(@conversation), -->
<!--                 method: :post do |f| %>-->
             
<!--      <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                     current_user %>-->
      
<!--      <(perc)= f.hidden_field :recipient_id,       value: @user.id %>-->
      
<!--      <(perc)= f.hidden_field :sender_archived,    value: false %>-->

<!--      <(perc)= f.hidden_field :recipient_archived, value: false %>-->
    
<!--      <(perc)= button_tag(class: "single-action-button") do %>-->
<!--        <i class='fa fa-lg fa-comments-o single-action-icon'></i>-->
<!--      <(perc) end %>-->
<!--    <(perc) end %>-->
<!--  </div>-->
<!--<(perc) end %>-->

<% if @vehicle.dealership.present? %>
  <div class="request-details btn-negotiate-dealer visible-xs">
    Get the Nitty Gritty!
  </div>

<% else %>
  <!--<div class="single-action">-->
  <%= form_for @conversation, 
               url: conversations_path(@conversation), 
               method: :post do |f| %>
           
    <%= f.hidden_field :sender_id,          value: current_user.id if 
                                                   current_user %>
    
    <%= f.hidden_field :recipient_id,       value: @user.id %>
    
    <%= f.hidden_field :sender_archived,    value: false %>

    <%= f.hidden_field :recipient_archived, value: false %>
  
    <%= button_tag(class: "request-details-button visible-xs") do %>
      Get the Nitty Gritty!
    <% end %>
  <% end %>
  <!--</div>-->
<% end %>

<div class="shortlist-nav visible-xs">
  <div class="row">
    
    <%= link_to favorite_vehicle_path(@vehicle, is_loved: true),
                class: "col-xs-4 btn-shortlist-nav add-to-wish-list",
                method: :put do %>
      <i class="fa fa-heart-o btn-shortlist-nav-icon" aria-hidden="true"></i>
      Love It!
    <% end %>

    <%= link_to favorite_vehicle_path(@vehicle, is_liked: true),
                class: "col-xs-4 
                        btn-shortlist-nav 
                        btn-shortlist-nav-middle
                        add-to-wish-list",
                method: :put do %>
      <i class="fa fa-check btn-shortlist-nav-icon" aria-hidden="true"></i>
      Maybe
    <% end %>
    
    <%= link_to favorite_vehicle_path(@vehicle, is_disliked: true),
                class: "col-xs-4 btn-shortlist-nav",
                method: :put do %>
      <i class="fa fa-trash-o btn-shortlist-nav-icon" aria-hidden="true"></i>
      Nope
    <% end %>
  </div>
</div>

<!--<div class='multi-action visible-xs'>-->
  
<!--  <button class='action-button'><i class='fa fa-plus fa-lg'></i></button>-->
  
<!--  <ul class='actions'>-->
    
<!--    <li>-->
<!--      <(perc)= link_to new_purchase_path(vehicle_id: @vehicle.id) do %>-->
<!--        <i class='fa fa-credit-card'></i>-->
<!--      <(perc) end %> -->
<!--    </li>-->
    
<!--    <li class="btn-appointment-mobile">-->
<!--      <a>-->
<!--        <i class='fa fa-calendar-check-o'></i>-->
<!--      </a>-->
<!--    </li>-->
    
<!--    <li>-->
<!--      <a>-->
<!--        <(perc)= form_for @conversation, -->
<!--                     url: conversations_path(@conversation), -->
<!--                     method: :post do |f| %>-->
                 
<!--          <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                         current_user %>-->
          
<!--          <(perc) if @vehicle.user.present? %>-->
<!--            <(perc)= f.hidden_field :recipient_id,     value: @user.id %>-->
<!--          <(perc) end %>-->
          
<!--          <(perc)= f.hidden_field :sender_archived,    value: false %>-->
      
<!--          <(perc)= f.hidden_field :recipient_archived, value: false %>-->
          
<!--          <(perc)= button_tag(class: "btn-message-mobile") do %>-->
<!--            <i class='fa fa-comments-o'></i>-->
<!--          <(perc) end %>-->
<!--        <(perc) end %>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<(perc)= link_to new_club_path, class: "single-action" do %>-->
<!--  <i class='fa fa-group fa-lg single-action-icon'></i>-->
<!--<(perc) end %>-->

<!--<div class="message-button visible-xs">-->
<!--  <(perc)= form_for @conversation, -->
<!--                       url: conversations_path(@conversation), -->
<!--                       method: :post do |f| %>-->
                       
<!--    <(perc)= f.hidden_field :sender_id,          value: current_user.id if -->
<!--                                                   current_user %>-->
    
<!--    <(perc)= f.hidden_field :recipient_id,       value: @user.id %>-->
    
<!--    <(perc)= f.hidden_field :sender_archived,    value: false %>-->
  
<!--    <(perc)= f.hidden_field :recipient_archived, value: false %>-->
    
<!--    <(perc)= button_tag type: 'submit', class: "btn-message" do %>-->
<!--      <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>-->
<!--    <(perc) end %>-->
<!--  <(perc) end %>-->
<!--</div>-->
    
<!--<div class="btn-primary btn-appointment-mobile btn visible-xs">-->
<!--  Book A Test Drive-->
<!--</div>-->

<script type="text/javascript">

  // Facebook tracking
  
  // var content_ids_array = [];

  // for (var i = 1; i <= <(perc) Vehicle.count %>; i++) {
  //   content_ids_array.push(i.toString());
  // }
  
  fbq('track', 'ViewContent',
    {
      content_type: 'vehicle',
      content_ids: [ '<%= @vehicle.id.to_s %>' ]
    }
  );
  
  $(document).ready(function() {
    
    // rating
    
      var averageRating = $('.average-rating');
      
      <% if @vehicle.dealership.present? %> 
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= @vehicle.dealership.google_place_rating %>
        });
      
      <% else %> 
        averageRating.raty({
          path:     '/assets',
          readOnly: true,
          score:    <%= @vehicle.average_rating %>
        })
      <% end %>
      
    // map
      
      mapboxgl.accessToken = 'pk.eyJ1IjoibW90b21pbmlvbiIsImEiOiJjanA4eDMwN3AwNHoxM3VvNWpkMzJhbWF4In0.zFFkCLgxG2tCFjF_0_twpg';

      var map = new mapboxgl.Map({
                      container: 'vehicle-map',
                      style: 'mapbox://styles/mapbox/streets-v9',
                      center: [<%= @vehicle.longitude %>, <%= @vehicle.latitude %>],
                      zoom: 12
                    });
                
      map.on('load', function() {

        var el = document.createElement('div');
        
        el.className = 'marker';
        
        var marker = new mapboxgl.
                           Marker(el, { offset: [0, -23] }).
                           setLngLat([<%= @vehicle.longitude %>, <%= @vehicle.latitude %>]).
                           addTo(map);
      });
  });
</script>

<!--<div class="similar-vehicles">-->
<!--  <div class="similar-vehicles-content">-->
    
<!--    <h2 class="similar-vehicles-title">Similar Vehicles</h2>-->
    
<!--    <h3 class="similar-vehicles-subheading">-->
<!--      <(perc)= @vehicle.listing_name %> not quite right? Check out these similar -->
<!--          vehicles.-->
<!--    </h3>-->
    
<!--    <(perc)= render 'similar_vehicles_list' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="related-discoveries">-->
<!--  <div class="related-discoveries-content">-->
    
<!--    <h2 class="related-discoveries-title">Related Discoveries</h2>-->
    
<!--    <h3 class="related-discoveries-subheading">Discover top content</h3>-->
    
<!--    <= render 'related_discoveries_list' %>-->
<!--  </div>-->
<!--</div>-->