<!--complete-->

<% @vehicles.each do |vehicle| %>

  <% vehicle.appointments.each do |appointment| %>
    
    <% if appointment.date.future? %>
    
      <li id="customer-item-<%= appointment.id %>" class="customer-item">
        <table class="customer-item-content">
          <tr>
            
            <td>
              <%= link_to image_tag(appointment.user.avatar.url, 
                                    class: "customer-avatar"),
                          appointment.user %>
            </td>
            
            <td>
              <div class="customer-detail">
                <%= link_to appointment.user.name,
                            appointment.user, 
                            class: "customer-name" %> 
                      
                <%= link_to appointment.vehicle.listing_name,
                            appointment.vehicle,
                            class: "customer-listing" %>
              </div>
            </td>
            
            <td>
              <p class="customer-address"><%= appointment.vehicle.address %></p>
            </td>
            
            <td>
              <div class="customer-contact-container">
                
                <span class="contact-date">
                  <%= time_ago_in_words(appointment.date).capitalize %> away 
                  (<%= appointment.date.strftime("%D") %>)
                </span>
                
                <div class="contact-message">
                  <%= link_to conversations_path(sender_id:    current_user.id, 
                                                 recipient_id: appointment.user_id),
                              method: :post do %>
      
                      <i class="fa fa-paper-plane-o backend-customer-message-icon" aria-hidden="true"></i>
                      
                      Send A Message
                    </span>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </li>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() { 
    
    // image scaling
      var customerAvatar = $('.customer-avatar');

      customerAvatar.imagefill();
  });
</script>