<li id="customer-dashboard-item-<%= customer.id %>" 
    class="col-md-4 customer-item">
  <%= link_to conversation_messages_path(customer.conversation) do %>

    <div class="customer-item-content">
      
      <div class="customer-item-image", 
           style="background-image: url(
                   '<%= customer.buyer.avatar.url() %>')">
        <div class="customer-item-message">
          <i class="fa fa-lg fa-envelope-o customer-item-icon" 
             aria-hidden="true"></i>
        </div>
      </div>
      
      <div class="customer-item-detail">
        
        <span class="customer-item-countdown">
          In <%= time_ago_in_words(customer.date).titleize %>
        </span>
        
        <span class="customer-item-date">
          <%= customer.date.strftime("%A, %d %b (%-l:%M%p)") %>
        </span>
        
        <%= link_to customer.buyer.full_name,
                    customer.buyer,
                    class: "customer-item-link" %> ·
        
        <%= link_to customer.vehicle, class: "customer-item-link" do %>
          <%= customer.vehicle.year %>
          <%= customer.vehicle.vehicle_make.name %>
          <%= customer.vehicle.vehicle_model.name %>
        <% end %>
      </div>
      
      <div class="customer-item-status">
        <span class="customer-item-status-content <%= customer.status %>">
          <%= customer.status.capitalize %>
        </span>
      </div>
    </div>
  <% end %>
</li>