<!--completed-->

<%= form_for([@vehicle, @vehicle.appointments.new]) do |f| %>

  <a class="availability-link">Click for availability</a>
  
  <div class="form-element-secondary form-element-availability">
    
    <%= f.text_field :date, 
                     placeholder: "Test Drive", 
                     id: 'appointment-time',
                     class: 'form-control form-control-secondary' %>
        
    <i class="fa fa-calendar-o fa-lg form-icon" 
       aria-hidden="true"></i>
       
    <i class="fa fa-caret-down fa-lg form-caret" 
       aria-hidden="true"></i>
  </div>
  
  <%= f.hidden_field :status,     value: "pending" %>

  <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
  
  <%= f.submit "Book!", class: "btn btn-tertiary btn-appointment" %>
  
<% end %>