<!--completed-->
<!--are these ordered based on most recent?-->

<li id="test-drive-item-<%= test_drive.id %>" 
    class="col-md-6 test-drive-item shortlist-item-<%= current_user.
                                                       favorite_vehicles.
                                                       where(
                                                         vehicle: 
                                                         test_drive.vehicle).
                                                       first.
                                                       vehicle_id %>">
  <%= link_to conversation_messages_path(test_drive.conversation) do %>

    <div class="test-drive-item-content">
      
      <% if test_drive.vehicle.photos.length > 0 %>
        <div class="test-drive-item-image", 
             style="background-image: url(
                     '<%= test_drive.vehicle.photos[0].image.url() %>'">
          <div class="test-drive-item-message">
            <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>
          </div>
        </div>
        
      <% else %>
        <div class="test-drive-item-image", 
             style="background-image: url(
                     'https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/no-image-available.jpg'">
          <div class="test-drive-item-message">
            <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>
          </div>
        </div>
      <% end %>
      
      <div class="test-drive-item-detail">
        
        <span class="test-drive-item-countdown">
          In <%= time_ago_in_words(test_drive.date).titleize %>
        </span>
        
        <span class="test-drive-item-date">
          <%= test_drive.date.strftime("%A, %d %b (%-l:%M%p)") %>
        </span>
        
        <span class="test-drive-item-info">
          <%= test_drive.vehicle.listing_name %> · 
          <%= test_drive.seller.full_name %>
        </span>
        
        <span class="test-drive-item-info">
          <% if test_drive.status == "accepted" %>
            <%= test_drive.vehicle.address %>
          <% else %>
            Address revealed when request accepted
          <% end %>
        </span>
      </div>
      
      <div class="test-drive-item-status">
        <span class="test-drive-item-status-content <%= test_drive.status %>">
          <%= test_drive.status.capitalize %>
        </span>
      </div>
    </div>
  <% end %>
</li>