<% provide(:title, "Customers") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_secondary' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li>
        <%= link_to "Customers",
            customers_path,
            class: "nav-active" %>
      </li>
      <li><%= link_to "Test Drives", test_drives_path %></li>
      <li><%= link_to "Account",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="your-listings-container">
  <div class="row">
    <div class="col-md-3">
      <% @vehicles.each do |vehicle| %>
        <% @customer_count += vehicle.appointments.count %>
      <% end %>
      <h2>Your Appointments (<%= @customer_count %>)</h2>
      <h3>
        Your appointments will be displayed here. The body style, price,
        and appointments may not be displayed whilst the application is
        processing.
      </h3>
    </div>
    <div class="your-listings-list col-md-9">
      <ol class="vehicles">
        <%= render 'customer' %>
      </ol>
    </div>
  </div>
</div>