<% provide(:title, "Customers") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class = "secondary-navbar">
  <nav>
    <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Dashboard",         dashboard_path %></li>
        <li><%= link_to "Inbox",             conversations_path %></li>
        <li><%= link_to "Garage",            vehicles_path %></li>
        <li><%= link_to "Customers",         customers_path %></li>
        <li><%= link_to "Test Drives",       test_drives_path %></li>
        <li><%= link_to "Profile",           profile_path %></li>
        <li><%= link_to "Account",           edit_user_path(current_user) %></li>
    </ul>
  </nav>
</div>

<div class="sales-management-background"></div>

<div class="your-listings-container">
  <div class="row">
    <div class="col-md-3">
      <% @vehicles.each do |vehicle| %>
        <% @customer_count += vehicle.appointments.count %>
      <% end %>
      <h2>Your Appointments (<%= @customer_count %>)</h2>
      <h3>
        Your appointments will be displayed here. The body style, price,
        and appointments may not be displayed whilst the application is
        processing.
      </h3>
    </div>
    <div class="your-listings-list col-md-9">
      <ol class="vehicles">
        <%= render 'customer' %>
      </ol>
    </div>
  </div>
</div>

<script type="text/javascript">
// secondary navbar scroll
  $(document).ready(function() {
    $(window).on('scroll', function() {
      var scrolltop = $(this).scrollTop();
      if(scrolltop >= 50) {
        $('.secondary-navbar').addClass('secondary-navbar-scrolled');
      }
      else {
        $('.secondary-navbar').removeClass('secondary-navbar-scrolled');
      }
    });
  });
</script>

<!--<div class="row">-->
<!--  <div class="col-md-3">-->
<!--    <ul class="sidebar-list">-->
<!--      <li class="sidebar-item">-->
<!--        <(percentage)= link_to "Your Listings", vehicles_path, class: "sidebar-link" %>-->
<!--      </li>-->
<!--      <li class="sidebar-item">-->
<!--        <(percentage)= link_to "Your Appointments", your_appointments_path, class: "sidebar-link active" %>-->
<!--      </li>-->
<!--      <li class="sidebar-item">-->
<!--        <(percentage)= link_to "Shopping Cart", shopping_cart_path, class: "sidebar-link" %>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-md-9">-->
<!--    <div class="panel panel-default">-->
<!--      <div class="panel-heading">-->
<!--        Your Appointments-->
<!--      </div>-->
<!--      <div class="panel-body">-->
<!--        <(percentage) @vehicles.each do |vehicle| %>-->
        
<!--          <(percentage) vehicle.appointments.each do |appointment| %>-->
<!--            <div class="row">-->
<!--              <div class="col-md-2">-->
<!--                <(percentage)= appointment.date.try(:strftime, '%v') %>-->
<!--              </div>-->
<!--              <div class="col-md-6">-->
<!--                <(percentage)= link_to vehicle_path(appointment.vehicle) do %>-->
<!--                  <(percentage)= image_tag vehicle.photos[0].image.url(:small) if -->
<!--                      vehicle.photos.length > 0 %>-->
<!--                <(percentage) end %>-->
<!--              </div>-->
<!--              <div class="col-md-2">-->
                <!--<(remember percentage sign)= link_to user_path(appointment.user) do %>-->
                  <!--<(remember percentage sign)= image_tag gravatar_url(appointment.user), class: "img-circle gravatar-medium" %>-->
                <!--<(remember percentage sign) end %>-->
<!--              </div>-->
<!--              <div class="col-md-2 right">-->
<!--              </div>-->
<!--            </div>-->
<!--          <(percentage) end %>-->
          
<!--        <(percentage) end %>-->
        
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->