<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Dashboard",   dashboard_path %></li>
      <li><%= link_to "Inbox",       conversations_path %></li>
      <li><%= link_to "Your Garage", vehicles_path, class: "nav-active" %></li>
      <li><%= link_to "Showroom",    test_drives_path %></li>
      <li><%= link_to "Profile",     edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4 sidenav"> 
          
        <h2 class="sidenav-title">
          Your Garage
        </h2>
        
        <ul class="sidenav-list">
          
          <li>
            <%= link_to vehicles_path do %>
              Listings (<%= current_user.vehicles.count %>)
            <% end %>
          </li>
          
          <li>
            <%= link_to customers_path, class: "sidenav-active" do %>
              Customers (<%= @customers.count %>)
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-xs-8">
        
        <% if @customers.exists? %>
          <ol class="backend-list">
            <%= render partial: "customer", collection: @customers %>
          </ol>
        
        <% else %>
          <!--<div class="empty-list">-->
          
            <!--<i class="fa fa-handshake-o fa-4x empty-list-icon" -->
            <!--   aria-hidden="true"></i>-->
               
            <p class="empty-list-info">
              No test drives have been booked with customers.        
            </p>
          <!--</div>-->
        <% end %>
      </div>
    </div>
  </div>
</div>