<% provide(:title, "Garage") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'layouts/sidenav_your_garage' %>
      </div>
      
      <div class="col-md-8">
        
        <% if @customers.exists? %>
          <ol class="backend-list">
            <%= render partial: "customer", collection: @customers %>
          </ol>
        
        <% else %>
          <!--<div class="empty-list">-->
          
            <!--<i class="fa fa-handshake-o fa-4x empty-list-icon" -->
            <!--   aria-hidden="true"></i>-->
               
            <p class="empty-list-info">
              No test drives have been booked with customers.        
            </p>
          <!--</div>-->
        <% end %>
      </div>
    </div>
  </div>
</div>