<!--completed-->

<% provide(:title, "Showroom") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4">
        <%= render 'layouts/sidenav_showroom' %>
      </div>
      
      <div class="col-md-8">
        
        <% if @test_drives.exists? %>
          <ol class="test-drives">
            <%= render partial: "test_drive", collection: @test_drives %>
          </ol>
          
        <% else %>
          <!--<div class="empty-list">-->
          
            <!--<i class="fa fa-tachometer fa-4x empty-list-icon" -->
            <!--   aria-hidden="true"></i>-->
               
            <p class="empty-list-info">
              You have not booked any vehicles for a test drive.
            </p>
          <!--</div>-->
        <% end %>
      </div>
    </div>
  </div>
</div>