<!--completed-->

<% provide(:title, "Test Drives") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li>
        <%= link_to "Test Drives", 
                    test_drives_path, 
                    class: "nav-active" %>
      </li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4">
        <div class="backend-instructions">
          
          <h2 class="backend-instructions-title">
            Test Drives (<%= @test_drives.count %>)
          </h2>
          
          <p class="backend-instructions-info">
            Your test drives will be displayed here. A test drive will not be 
            displayed if the application is processing.
          </p>
        </div>
      </div>
      
      <div class="col-xs-8">
        <% if @test_drives.exists? %>
          <ol class="backend-list">
            <%= render 'test_drive' %>
          </ol>
        <% end %>
      </div>
    </div>
  </div>
</div>