<!--complete-->

<% provide(:title, "Test Drives") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'shared/hero_secondary' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Inbox",  conversations_path %></li>
      <li><%= link_to "Garage", vehicles_path %></li>
      <li>
        <%= link_to "Test Drives", 
            test_drives_path, 
            class: "nav-active" %>
      </li>
      <li><%= link_to "Profile", profile_path %></li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<div class="test-drives">
  <div class="test-drives-content">
    <div class="row">
    
      <div class="col-md-4">
        <div class="test-drives-instructions">
          
          <h2 class="test-drives-instructions-title">
            Test Drives (<%= @test_drives.count %>)
          </h2>
          
          <p class="your-listings-instructions-info">
            Your test drives will be displayed here. A test drive will not be 
            displayed if the application is processing.
          </p>
        </div>
      </div>
      
      <div class="col-md-8">
        <% if @test_drives.any? %>
          <ul class="test-drives-list">
            <%= render 'test_drive' %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>