<!--completed-->

<%= form_for([@vehicle, @vehicle.reviews.new]) do |f| %>

  <!--<(perc)= render 'shared/error_messages', object: f.object %>-->

  <div class="row review-item">
    
    <div class="col-xs-4">
      <div class="row">
        
        <div class="col-xs-3">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-xs-9 review-author vertical-align">
          
          <%= image_tag(current_user.avatar.url, class: "author-avatar") %>

          <span class="author-name"><%= current_user.name %></span>
        </div>
      </div>
    </div>
    
    <div class="col-xs-8">
      <div class="review-container">
        
        <div class="review-rating">
          <div class="stars"></div>
        </div>
        
        <%= f.text_field :title, 
                         placeholder: "Review title", 
                         class: "form-control review-title-form-control" %>
        
        <span class="review-date">
          <%= Time.now.strftime("%D") %>
        </span>
        
        <%= f.text_area :comment, 
                        rows: 3,
                        placeholder: "Review comments", 
                        class: "form-control review-comment-form-control" %>
        
        <%= f.hidden_field :vehicle_id,  value: @vehicle.id %>
        
        <%= f.hidden_field :reviewed_id, value: @vehicle.user.id %>
  
        <div class="review-post-container">
          <%= f.submit "Post my review", class: "review-post" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    
    // rating
    var stars = $('.stars');
  
    stars.raty({
      path:      '/assets',
      scoreName: 'review[rating]'
    });
  })
</script>

<!--apply ajax-->
<!--reviews code is in both form and in vehicle show-->