<%= form_for([@vehicle, @vehicle.reviews.new]) do |f| %>

  <div class="row review-item">
    
    <div class="col-md-4">
      <div class="row">
        
        <div class="col-md-3">
          <!--intentionally left empty-->
        </div>
        
        <div class="col-md-9 review-author vertical-align">
          
          <div class="author-gravatar">
            <%= gravatar_for(current_user, size: 40) %>
          </div>
          
          <span class="author-name"><%= current_user.name %></span>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="review-container">
        
        <div class="review-rating">
          <div id="user_stars"></div>
        </div>
        
        <%= f.text_field :title, 
            placeholder: "Review title", 
            class: "form-control review-title-form-control" %>
        
        <span class="review-date">
          <%= Time.now.strftime("%D") %>
        </span>
        
        <%= f.text_area :comment, 
            rows: 5,
            placeholder: "Review comments", 
            class: "form-control review-comment-form-control" %>
        
        <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
  
        <div class="review-post-container">
          <%= f.submit "Post my review", class: "review-post" %>
        </div>
        
        <!--<div class="review-remove">-->
        <!--    <= link_to "Remove my review", -->
        <!--                [@vehicle, r], -->
                         <!--class: "review-remove",-->
        <!--                method: :delete, -->
        <!--                data: { confirm: "Are you sure?" } if -->
        <!--                      current_user && current_user == r.user %>-->
        <!--  </div>-->
      </div>
    </div>
  </div>
<% end %>

<script>
  var userStars = $('#user_stars');

  userStars.raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>

<!--  <div class="col-md-8">-->
<!--    <div class="review-container">-->

<!--      <div class="review-details-rating">-->
<!--        <div class="average-rating"></div>-->
<!--      </div>-->
      
<!--      <span class="review-details-title">-->
<!--        I'm looking forward to the delivery date-->
<!--      </span>-->
      
<!--      <span class="review-details-date">-->
<!--        <= r.created_at.strftime("%D") %>-->
<!--      </span>-->
      
<!--      <p class="review-comment">-->
<!--        <= r.comment %>-->
<!--      </p>-->
      
<!--      <div class="review-remove">-->
<!--        <= link_to "Remove my review", -->
<!--                    [@vehicle, r], -->
                    <!--# class: "review-remove",-->
<!--                    method: :delete, -->
<!--                    data: { confirm: "Are you sure?" } if -->
<!--                          current_user && current_user == r.user %>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->