<% provide(:title, 'Profile') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      
      <li><%= link_to "Inbox", conversations_path %></li>
      
      <li><%= link_to "Garage", vehicles_path %></li>
      
      <li><%= link_to "Test Drives", test_drives_path %></li>
      
      <li>
        <%= link_to "Profile",     
                    edit_user_path(current_user), 
                    class: "nav-active" %>
      </li>
    </ul>
  </div>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-xs-4 sidenav">

        <h2 class="sidenav-title">
          Profile
        </h2>
        
        <ul class="sidenav-list">
          
          <li>
            <%= link_to "Edit Profile", edit_user_path(current_user) %>
          </li>
          
          <li>
            <%= link_to user_reviews_path, class: "sidenav-active" do %>
              Reviews (<%= @reviews_about_you.count %>)
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-xs-8">
        
        <!--<ul class="nav nav-tabs">-->
          
        <!--  <li class="active">-->
        <!--    <a href="#reviews_about_you" data-toggle="tab">-->
        <!--      Reviews About You (<(perc)= @reviews_about_you.count %>)-->
        <!--    </a>-->
        <!--  </li>-->
          
        <!--  <li>-->
        <!--    <a href="#reviews_by_you" data-toggle="tab">-->
        <!--      Reviews By You-->
        <!--    </a>-->
        <!--  </li>-->
        <!--</ul>-->
      
        <!--<div class="tab-content">-->
          
        <!--  <div class="tab-pane fade active in" id="reviews_about_you">-->
            
            <% if @reviews_about_you.exists? %>
              <ol class="backend-list">
                <%= render partial:    "review_about_you", 
                           collection: @reviews_about_you, 
                           as:         :review %>
              </ol>
              
            <% else %>
              <p class="empty-list-info">
                You have not received any reviews.
              </p>
            <% end %>
          </div>
          
        <!--  <div class="tab-pane fade" id="reviews_by_you">-->
            
        <!--    <(perc) if @reviews_by_you.exists? %>-->
        <!--      <ol class="backend-list">-->
        <!--        <(perc)= render partial:    "review_by_you", -->
        <!--                   collection: @reviews_by_you, -->
        <!--                   as:         :review %>-->
        <!--      </ol>-->
              
        <!--    <(perc) else %>-->
        <!--      <p class="empty-list-info">-->
        <!--        You have not posted any reviews.-->
        <!--      </p>-->
        <!--    <(perc) end %>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>