<!--complete-->

<% provide(:title, "Contact") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="contact">
  <div class="row">
  
    <div class="col-xs-8">
      
      <div class="contact-instuctions">
        
        <div class="contact-instructions-header vertical-align">
          <i class="fa fa-bullhorn fa-4x" aria-hidden="true"></i>
          <h1 class="contact-title">Give Us A Shout!</h1>
        </div>
        
        <p class="contact-info">
          We like to create things with fun, open-minded people. Feel free to say
          hello!
        </p>
      </div>
      
      <div class="contact-form">
        
        <%= render 'form' %>
        
        <p class="contact-legal">
          I have read and accept the 
            <%= link_to "Terms of Use",          '#' %>, 
            <%= link_to "Acceptable Use Policy", '#' %>, 
            <%= link_to "Privacy Policy",        '#' %>, 
          and 
            <%= link_to "Cookie Policy",         '#' %> 
          and I consent to the use of my data as stated in the 
            <%= link_to "Privacy Policy",        '#' %>.
        </p>
      </div> 
    </div>
    
    <div class="col-xs-4">
      
      <%= image_tag("contact-map.png", class: "contact-map") %>
    
      <div class="contact-address">
        <span class="location-detail">228 Park Ave S</span>
        <span class="location-detail">New York, NY 10003</span>
        <span class="location-detail">United States</span>
        <span class="location-detail">1-888-555-5555</span>

        <ul class="contact-social-media">
          <li>
            <%= link_to 'https://www.facebook.com/', target: "_blank" do %>
              <i class="fa fa-facebook fa-lg"></i>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://twitter.com/', target: "_blank" do %>
              <i class="fa fa-twitter fa-lg"></i>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.linkedin.com/', target: "_blank" do %>
              <i class="fa fa-linkedin fa-lg"></i>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.instagram.com/', target: "_blank" do %>
              <i class="fa fa-instagram fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--_form should be in shared-->