<!--completed-->

<div class="header-primary">
  <nav class="navbar">
    
    <%= link_to "DEALERSHIP.COM", root_path, class: "logo" %>
    
    <ul class="nav navbar-nav navbar-right">
      
      <% if logged_in? %>
      
        <li><%= link_to "List", new_vehicle_path %></li>
      
        <li><%= link_to "Messages", conversations_path %></li>
        
        <li class="dropdown">
          
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
             Help <b class="caret"></b>
          </a>
          
          <ul class="dropdown-menu">
            <li><%= link_to "How It Works", how_it_works_path %></li>
            <!--<li><(perc)= link_to "Help Center",  help_path %></li>-->
            <li><%= link_to "Contact Us",   new_enquiry_path %></li>
          </ul>
        </li>
        
        <li class="dropdown">
          
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %><b class="caret"></b>
          </a>
          
          <ul class="dropdown-menu">
            <li><%= link_to "Profile",  current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log Out",  logout_path, method: "delete" %></li>
          </ul>
        </li>
        
      <% else %>
      
        <li><%= link_to "List", new_vehicle_path %></li>
      
        <li class="dropdown">
          
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
             Help <b class="caret"></b>
          </a>
          
          <ul class="dropdown-menu">
            <li><%= link_to "How It Works", how_it_works_path %></li>
            <!--<li><(perc)= link_to "Help Center",  help_path %></li>-->
            <li><%= link_to "Contact Us",   new_enquiry_path %></li>
          </ul>
        </li>
        
        <li><%= link_to "Sign Up", signup_path %></li>
        
        <li><%= link_to "Log In",  login_path %></li>
      <% end %>
    </ul>
  </nav>
</div>