<div class="header-primary">
  <nav class="navbar">
    
    <%= link_to "MOTOMINION", root_path, class: "logo" %>
    
    <ul class="nav navbar-nav navbar-right">
      
      <% if logged_in? %>
      
        <li class="visible-xs">
          <i class="fa 
                    fa-search 
                    fa-lg 
                    header-icon
                    header-icon-mobile
                    header-icon-search" 
             aria-hidden="true"></i>
        </li>
        
        <li class="visible-xs">
          <i class="fa 
                    fa-bars 
                    fa-lg 
                    header-icon
                    header-icon-mobile
                    header-icon-menu" 
             aria-hidden="true"></i>
        </li>        
        
        <li class="hidden-xs">
          <%= link_to "List A Motorcycle", new_vehicle_path %>
        </li>
        
        <% if current_user.dealership.blank? %>
        
          <li class="hidden-xs">
            <%= link_to "Shortlist", shortlist_user_path(current_user) %>
          </li>
          
          <li class="hidden-xs">
            <% if current_user.personalized_search.present? %>
              <%= link_to "Matches", current_user.personalized_search %>
            <% else %>
              <%= link_to "Matches", start_personalized_searches_path %>
            <% end %>
          </li>
        <% end %>
        
        <li class="dropdown dropdown-frontend hidden-xs">
          
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
            <% if current_user.first_name.present? && current_user.dealership.blank? %>
              <%= current_user.first_name %> <b class="caret"></b>
            <% else %>
              My Account <b class="caret"></b>
            <% end %>
          </a>
          
          <ul class="dropdown-menu">
            
            <li><%= link_to "Dashboard",    dashboard_path %></li>
                        
            <li>
              <%= link_to conversations_path do %>
                 
                Inbox
                 
                <% if Conversation.where(
                        next_contributor_id: current_user.id,
                        latest_message_read: false
                      ).exists? %>
                      
                  <div class="notification"></div>
                <% end %>
              <% end %>
            </li>
            
            <li><%= link_to "Log Out",     logout_path, method: "delete" %></li>
          </ul>
        </li>
        
      <% else %>
      
        <li class="visible-xs">
          <i class="fa 
                    fa-search 
                    fa-lg 
                    header-icon
                    header-icon-mobile 
                    header-icon-search" 
             aria-hidden="true"></i>
        </li>
        
        <li class="visible-xs">
          <i class="fa 
                    fa-bars 
                    fa-lg 
                    header-icon
                    header-icon-mobile
                    header-icon-menu" 
             aria-hidden="true"></i>
        </li>   
        
        <li class="hidden-xs">
          <%= link_to "List A Motorcycle", new_vehicle_path %>
        </li>
        
        <li class="hidden-xs"><%= link_to "Log In",  login_path %></li>
      <% end %>
    </ul>
  </nav>
</div>