<!--completed-->

<div class="hero-primary">
  <div class="hero-primary-content">
    <div class="row hero-primary-content-align">
      
      <div class="col-md-9">
        <div class="row vertical-align">
      
          <div class="col-xs-3">
            <div class="hero-avatar-border">
              
              <% if current_user.dealership.present? %>
                <div class="hero-avatar avatar-general"
                     style="background-image: url(
                             '<%= current_user.dealership.photo.url() %>')">
                </div>
                
              <% else %>
                <div class="hero-avatar avatar-general", 
                     style="background-image: url(
                             '<%= current_user.avatar.url(:thumb) %>')">
                </div>
              <% end %>
            </div>
          </div>
          
          <div class="col-xs-9">
            
            <h1 class="hero-username">
              <% if current_user.full_name.present? && current_user.dealership.blank? %>
                <%= current_user.full_name %></h1>
              <% elsif current_user.dealership.present? %>
                <%= current_user.dealership.dealership_name %>
              <% else %>
                My Account
              <% end %>
            </h1>
            
            <% if current_user.online? %>
              <div class="online-name online-name-md hidden-xs"></div>
            <% end %>

            <% if current_user.phone_number.present? or 
                  current_user.email.present? %>
              <table>
                
                <% if current_user.phone_number.present? %>
                  <tr>
                    
                    <td>
                      <span class="hero-detail-title">Phone</span>
                    </td>
                    
                    <td>
                      <span class="hero-detail-info">
                        <%= current_user.phone_number.phony_formatted(
                              spaces: '-'
                            ) %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if current_user.email.present? %>
                  <tr>
                    
                    <td>
                      <span class="hero-detail-title">Email</span>
                    </td>
                    
                    <td>
                      <span class="hero-detail-info">
                        <%= current_user.email %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <!--<(perc) if @complete.present? %>-->
        <!--  <div class="listing-status">-->
        <!--    <span class="amount-complete"><(perc)= @complete %></span>-->
        <!--    <span class="status-description">Listing Complete</span>-->
        <!--  </div>-->
        <!--<(perc) end %>-->
      </div>
    </div>
  </div>
</div>