<!--complete-->

<div class="modal" id="modal-search" role="dialog">
  
  <header class="header-static-gray">
    <%= render 'layouts/header_secondary' %>
  </header>

  <div class="modal-search-body">
    <%= form_tag search_vehicles_path, 
                 method: :get, 
                 class: "modal-search-form" do %>
      
      <div class="form-element">
                   
        <%= collection_select :vehicle, 
                              :vehicle_make_id,
                              VehicleMake.all,
                              :id,
                              :name,
                              { include_blank: true,
                                prompt: "All makes" },
                              id: "vehicle-make-modal",
                              class: "form-control
                                      select-secondary" %>
           
        <i class="fa fa-caret-down fa-lg form-caret" 
           aria-hidden="true"></i>
      </div>
      
      <div class="form-element">
        
        <%= grouped_collection_select :vehicle, 
                                      :vehicle_model_id, 
                                      VehicleMake.order(:name),
                                      :vehicle_models,
                                      :name,
                                      :id,
                                      :name,
                                      { prompt: "All models",
                                        include_blank: true },
                                      id: "vehicle-model-modal",
                                      class: "form-control
                                              select-secondary" %>
                                              
        <i class="fa fa-caret-down fa-lg form-caret" 
           aria-hidden="true"></i>
      </div>
      
      <div class="form-element">
      
        <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
           aria-hidden="true"></i>
        
        <%= text_field_tag :city, 
                           params[:city], 
                           placeholder: "City (Eg. Windsor, ON)", 
                           class: "form-control 
                                   form-control-primary 
                                   typeahead" %>
      </div>
      
      <div>
        <%= submit_tag "Search", class: "btn btn-search" %>
      </div>
    <% end %>
  </div>
</div>