<!--complete-->

<div class="modal" id="modal-search" role="dialog">
  
  <header class="header-static-gray">
    <%= render 'layouts/header_secondary' %>
  </header>

  <div class="modal-search-body">
    <%= form_for_filterrific @filterrific,
                             url: search_vehicles_path,
                             html: {
                               id: "filterrific-no-ajax-auto-submit",
                               class: "modal-search-form"
                             } do |f| %>
      
      <div class="form-element">
                   
        <%= f.collection_select(:with_vehicle_make_id, 
                                VehicleMake.all,
                                :id,
                                :name,
                                { include_blank: true,
                                  prompt: "Select make" },
                                id: "vehicle-make-modal",
                                class: "form-control
                                        select-secondary") %>
           
        <i class="fa fa-caret-down fa-lg form-caret" 
           aria-hidden="true"></i>
      </div>
      
      <div class="form-element">
                   
        <%= f.grouped_collection_select(:with_vehicle_model_id, 
                                        VehicleMake.order(:name),
                                        :vehicle_models,
                                        :name,
                                        :id,
                                        :name,
                                        { include_blank: true,
                                          prompt: "Select model" },
                                        id: "vehicle-model-modal",
                                        class: "form-control
                                                select-secondary") %>
           
        <i class="fa fa-caret-down fa-lg form-caret" 
          aria-hidden="true"></i>
      </div>
      
      <div class="form-element">
      
        <i class="fa fa-map-pin fa-lg search-bar-primary-icon" 
          aria-hidden="true"></i>
        
        <%= f.text_field :with_zip_code, 
                         placeholder: "ZIP Code", 
                         class: "form-control 
                                 form-control-primary 
                                 typeahead" %>
      </div>
      
      <div>
        <%= submit_tag "Search", class: "btn btn-search" %>
      </div>
    <% end %>
  </div>
</div>