<!--complete-->

<div class="modal" id="modal-menu" role="dialog">
  
  <header class="header-static-gray">
    <%= render 'layouts/header_secondary' %>
  </header>
  
  <div class="modal-menu-body">
    <div class="modal-menu-body-content">
      
      <%= link_to new_vehicle_path, class: "btn btn-primary" do %>
        
        List A Motorcycle
        
        <i class="fa fa-arrow-right list-button-icon" 
           aria-hidden="true"></i> 
      <% end %>
      
      <ul class="modal-menu-nav">
        
        <% if logged_in? %>
        
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
          
          <li>
            <% if current_user.personalized_search.present? %>
              <%= link_to "Matches", current_user.personalized_search %>
            <% else %>
              <%= link_to "Matches", start_personalized_searches_path %>
            <% end %>
          </li>
          
          <!--<li><(perc)= link_to "Advice",    discussions_path %></li>-->
          <li><%= link_to "Log Out",   logout_path, method: "delete" %></li>
        
        <% else %>
          <!--<li><(perc)= link_to "Advice",    discussions_path %></li>-->
          <!--<li><(perc)= link_to "Sign Up",   signup_path %></li>-->
          <li><%= link_to "Log In",    login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>