<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li class="<%= 'nav-active' if current_page?(dashboard_path) %>">
        <%= link_to "Dashboard", dashboard_path %>
      </li>
      
      <li class="<%= 'nav-active' if 
        (current_page?(conversations_path) || 
         current_page?(questions_path)) %>">
        <%= link_to "Inbox", conversations_path %>
      </li>
      
      <% if current_user.dealership_id.present? %>
        <li class="<%= 'nav-active' if 
                       (current_page?(performance_dealership_path(current_user.dealership)) || 
                        current_page?(inventory_dealership_path(current_user.dealership)) )%>"> 
          <%= link_to "Performance", 
                      performance_dealership_path(current_user.dealership) %>
        </li>
        
      <% else %>
      
        <li class="<%= 'nav-active' if 
          current_page?(shortlist_user_path(current_user)) %>">
          <%= link_to "Shortlist", shortlist_user_path(current_user) %>
        </li>
        
        <% if current_user.personalized_search.present? %>
          <li class="<%= 'nav-active' if 
            (current_page?(personalized_search_path(current_user.
                                                    personalized_search)) ||
             current_page?(edit_personalized_search_path(current_user.
                                                         personalized_search))) %>">
            <%= link_to "Matches", current_user.personalized_search %>
          </li>
          
        <% else %>
          <li class="<%= 'nav-active' if 
            (current_page?(new_personalized_search_path) || 
             current_page?(start_personalized_searches_path)) %>">
            <%= link_to "Matches", start_personalized_searches_path %>
          </li>
        <% end %>

        <li class="<%= 'nav-active' if current_page?(vehicles_path) %>"> 
          <%= link_to "Your Listings", vehicles_path %>
        </li>
      <% end %>
      
      <li class="<%= 'nav-active' if 
        (current_page?(edit_user_path(current_user)) ||
        # current_page?(edit_dealership_path) ||
         current_page?(user_reviews_path(current_user))) %>">
        <%= link_to "Profile", edit_user_path(current_user) %>
      </li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs-block">
  
  <% if current_page?(dashboard_path) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Dashboard <b class="caret"></b>
    </a>
  <% end %>
  
  <% if (current_page?(conversations_path) || 
         current_page?(questions_path)) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Inbox <b class="caret"></b>
    </a>
  <% end %>
  
  <% if current_user.dealership_id.present? && 
        (current_page?(performance_dealership_path(current_user.dealership)) ||
         current_page?(inventory_dealership_path(current_user.dealership))) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Performance <b class="caret"></b>
    </a>
  <% end %>
  
  <% if current_page?(shortlist_user_path(current_user)) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Shortlist <b class="caret"></b>
    </a>
  <% end %>
  
  <% if ( current_user.personalized_search.present? && 
          ( current_page?(personalized_search_path(current_user.
                                                   personalized_search)) ||
            current_page?(edit_personalized_search_path(current_user.
                                                        personalized_search)) ) ) ||
        ( current_page?(new_personalized_search_path) ||
          current_page?(start_personalized_searches_path) ) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Matches <b class="caret"></b>
    </a>
  <% end %>
  
  <% if current_page?(vehicles_path) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Your Listings <b class="caret"></b>
    </a>
  <% end %>
  
  <% if (current_page?(edit_user_path(current_user)) || 
        # current_page?(edit_dealership_path) ||
         current_page?(user_reviews_path(current_user))) %>
    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
      Profile <b class="caret"></b>
    </a>
  <% end %>
  
  <ul class="dropdown-menu">
    
    <li class="<%= 'dropdown-active' if current_page?(dashboard_path) %>">
      <%= link_to "Dashboard", dashboard_path %>
    </li>
    
    <li class="<%= 'dropdown-active' if 
      (current_page?(conversations_path) || 
       current_page?(questions_path)) %>">
      <%= link_to "Inbox", conversations_path %>
    </li>
    
    <% if current_user.dealership_id.present? %>
      <li class="<%= 'dropdown-active' if 
        (current_page?(performance_dealership_path(current_user.dealership)) ||
         current_page?(inventory_dealership_path(current_user.dealership))) %>"> 
        <%= link_to "Performance", performance_dealership_path(current_user.dealership) %>
      </li>
    
    <% else %>
    
      <li class="<%= 'dropdown-active' if 
        current_page?(shortlist_user_path(current_user)) %>">
        <%= link_to "Shortlist", shortlist_user_path(current_user) %>
      </li>
      
      <% if current_user.personalized_search.present? %>
        <li class="<%= 'dropdown-active' if 
          (current_page?(personalized_search_path(current_user.
                                                  personalized_search)) ||
           current_page?(edit_personalized_search_path(current_user.
                                                       personalized_search))) %>">
          <%= link_to "Matches", current_user.personalized_search %>
        </li>
        
      <% else %>
        <li class="<%= 'dropdown-active' if 
          (current_page?(new_personalized_search_path) || 
           current_page?(start_personalized_searches_path)) %>">
          <%= link_to "Matches", start_personalized_searches_path %>
        </li>
      <% end %>
      
      <li class="<%= 'dropdown-active' if current_page?(vehicles_path) %>"> 
        <%= link_to "Your Listings", vehicles_path %>
      </li>
    <% end %>

    <li class="<%= 'dropdown-active' if 
      (current_page?(edit_user_path(current_user)) || 
       current_page?(user_reviews_path(current_user))) %>">
      <%= link_to "Profile", edit_user_path(current_user) %>
    </li>
  </ul>
</nav>