<h2 class="sidenav-title">
  Account
</h2>

<ul class="sidenav-list">
  
  <li class="<%= 'sidenav-active' if current_page?(payment_method_path) %>">
    <%= link_to "Payment Method", payment_method_path %>
  </li>
  
  <li class="<%= 'sidenav-active' if current_page?(payout_method_path) %>">
    <%= link_to "Payout Method", payout_method_path %>
  </li>
  
  <li class="<%= 'sidenav-active' if current_page?(payment_method_path) %>">
    <%= link_to "Notification Settings", payment_method_path %>
  </li>
</ul>